[2017-12-18 19:36] dlebauer commented on #213
@ebabaeian

I suspect some of what you are seeing is the most 'recent' files that show up by default in the web interface, but may not be finished processing (datasets are created and then populated). Probably the best place to start is using workbench (workbench.terraref.org) where you can explore the filesystem (e.g. using bash, R, python, or any environment from dockerhub.

* SWIR data products

[2017-12-22 14:48] NewcombMaria opened #214 "SWIR test scan at winter solstice for data quality check"
Objective:  test current data coming from the SWIR to earlier data to determine potential impacts due changes in the mirror.

There are scratches in the mirror in the SWIR hyperspectral instrument in the camera box.  Based on information from Headwall, scratches in the mirror in the SWIR have less impact on data quality compared to scratches in the VNIR mirror.  We are hoping that the scratches in

[2017-12-22 14:49] NewcombMaria commented on #214
![swir_test_targets_2017_12_21](https://user-images.githubusercontent.com/22008637/34302083-9d0a6fc2-e6ec-11e7-8211-1c6bdf114cc2.jpg)

[2017-12-31 23:13] NewcombMaria opened #215 "StereoTop image manual quality control check"
With the intention to catch any potential problems early and ensure that camera settings are optimized for downstream extractors I've been viewing a few images from the cache server.  Some images look overexposed to my eye, but I need input from others involved in computational processing and/or image analysis.   I converted images captured at 2 different time points yesterday to pdf using Octave

[2018-01-02 16:47] NewcombMaria commented on #215
Thanks @pless for input during the Tuesday project teleconference.  Much appreciated.  To my understanding of the discussion, these example images are a bit overexposed, however due to the use of a single setting that covers full sun and cloud cover, it's probably a good exposure setting for now.  Future goals:

- implement a system for different scripts/camera settings for days with different sun

[2018-01-04 15:10] NewcombMaria commented on #215
More example converted images from 3 January, mostly cloudy with intermittent sun:
At 12:30
![image](https://user-images.githubusercontent.com/22008637/34569556-663c8540-f126-11e7-99e6-3bfb5d7ad64a.png)

At 13:30 which must have been cloud-cover:
![image](https://user-images.githubusercontent.com/22008637/34569574-787124a0-f126-11e7-9ad0-a13aa11401f4.png)

[2018-01-10 21:32] craig-willis opened #216 "Revisit data publication requirements"
Related to https://github.com/terraref/reference-data/issues/106, meet to discuss publication requirements.

Originally we proposed to release data under CC-By thinking that that this would enforce citation and attribution. However, Dryad provides a compelling argument for releasing under CC-0: copyright isn't a good way for enforcing community norms of attribution, and CC-By adds barriers to reus

[2018-01-10 21:43] dlebauer commented on #216
@craig-willis should we meet with someone from the library who can advise us? [Here are notes](https://docs.google.com/document/d/1UtbhumdL9VPGaoVlkos_s2WkUvosZTBwJr2ea1UMCuk/edit) from a previous meeting with Sarah Williams and Heidi Imker about this topic.

[2018-01-11 22:30] dlebauer commented on #214
@NewcombMaria since Roger was decommissioned we stopped the Globus transfer for most of the past month and the latest raw SWIR data that we have is from Dec 4. However, we don't currently have a pipeline for processing it to useful data since it depends on the new radiometer for calibration.

For evaluation it can be run it through the hyperspectral pipeline, which is well documented here: https:/

[2018-01-11 22:33] dlebauer commented on #213
@ebabaeian have you been able to access the VNIR data? Can this issue be closed?

[2018-01-11 23:16] NewcombMaria commented on #214
Thanks @dlebauer .  We need at least a first-look data comparison as soon as possible between the data collected Dec 21, 2017 and the data reported in the Acceptance Test (Nov 10-12, 2016).  It makes most sense to use the same processing method that was used for the Nov 2016 data.  We need to know right away if there's an obvious problem with the data we are collecting, in which case we'll pull th

[2018-01-11 23:18] NewcombMaria commented on #214
We have the data on the cache server.  If we can get it transferred to @solmazhajmohammadi or @remotesensinglab directly from the cache server would it be possible to get a quick data review or comparison to earlier data from fall 2016?

[2018-01-12 00:42] remotesensinglab commented on #214
We will look at it ASAP. thanks

[2018-01-12 01:24] Paheding commented on #214
@NewcombMaria If we want to check the quality of the data ASAP, we can run an image quality index to every spectral band of SWIR data from 2017-12-21 and compare the results with Nov 10-12, 2016. I found the data captured on Nov 10-12, 2016 in Globus. Once the SWIR data from Dec. 21, 2017 are available, I can run the test and generate a comparison result.

[2018-01-12 14:39] NewcombMaria commented on #214
Thank you @Paheding and Wasit!  I looked at the field scanner Cache Server and there are 7 data folders from Dec 21.  This morning I'll download the folders and see if I can transfer them to either a google drive folder or box folder so you can access them.  The largest file in each folder is the raw file which might take time to transfer through google folders.  If there's a better transfer metho

[2018-01-12 15:03] max-zilla commented on #214
@NewcombMaria @Paheding  I just started a manual transfer via Globus of the 2017-12-21 SWIR data from gantry to NCSA. It's underway and I will update once done.

[2018-01-12 15:15] NewcombMaria commented on #214
Excellent!  Thanks @max-zilla

[2018-01-12 15:41] ebabaeian commented on #213
Hi D. Lebauer
Yes, I am downloading some VNIR and SWIR data for Dec 2017.

Thanks

[2018-01-12 15:47] #213 closed

[2018-01-12 17:32] Paheding commented on #214
@max-zilla Sounds good, thank you.

[2018-01-12 20:07] max-zilla commented on #214
The transfer has been completed. 216 GB, ~5 hours.

[2018-01-12 23:45] smarshall-bmr commented on #214
We were a bit confused by the massive transfer size here so we took a closer look at the data. It looks like the last data stripe 2017-12-21_12-59-48-385 went rouge and took a 204GB image. There's still a good scan near the beginning of the crazy stripe but I don't know how you'll isolate it.

[2018-01-13 05:37] dlebauer commented on #214
@remotesensinglab @Paheding if there is interest in processing a >200GB file let sign up for a user account at xsede.org and I can give you access to the bridges computer with a 1TB RAM node that can handle it in our current pipeline.

However @smarshall-bmr will easier if we can avoid files that large that require special hardware like this.

[2018-01-13 14:35] NewcombMaria commented on #214
@Paheding @remotesensinglab and @dlebauer there are 6 'good' data folders of normal size and I suggest only working with those data.  There's no need to process the massive data file in the folder with the latest time stamp for that day (Dec 21, 2017).  Apparently it looks like the camera never received a stop command and continued to take images in place at the end of the run.

We scanned the tar

[2018-01-13 14:57] Paheding commented on #214
@NewcombMaria @dlebauer  I found there are 5 folders have been uploaded to Globus after Dec. 4, see the images below. Shall I process the data from these 5 folders? If yes, we may not need the bridge computer.

![image](https://user-images.githubusercontent.com/24866799/34907125-528ed5b4-f83f-11e7-9bdf-cda9fe6edbe6.png)

[2018-01-13 15:31] NewcombMaria commented on #214
@Paheding the SWIR data from 2017-12-21 has the 'test scan' results when we set out the spectralon panels and other targets.  Within the 2017-12-21 folder there should be a total of 7 dataset folders with timestamps.  The last folder for the day has a raw data file that is unusually large, and that dataset can be ignored because it's too large to reasonable process.

The other dates (Dec 4, 6, 8,

[2018-01-17 22:11] Paheding commented on #214
@NewcombMaria I have conducted experiments to evaluate the quality of every spectral band. The evaluation score is shown in the following figure.

![image](https://user-images.githubusercontent.com/24866799/35069143-ee7c40bc-fb9e-11e7-9b4c-c4ba90b67730.png)

In this figure, the SWIR data are from '2016-11-14' and '2017-12-21'. As seen in this figure, the overall image quality tends to have the sim

[2018-01-18 13:50] NewcombMaria commented on #214
Thanks @Paheding.  Nice work.  We thought it would be good to compare dates when the spectralon panel was in the images, which is why we suggested the Nove 2016 date used in for the Acceptance Test report.  @solmazhajmohammadi and/or @dlebauer, are the raw data (SWIR images of panels) stored someplace different?  Can you direct Patrick to these data?

The quality index graph is interesting.  The 2

[2018-01-18 16:27] dlebauer opened #217 "Check season 2 management dates"
From: https://github.com/terraref/traitvis-webapp/pull/15
Any managements records that are not showing up are failing to pass two filters. The first is that the management_id must show up under the managements_treatments table of betydb, where the treatments are taken from the treatment_id attribute of the trait records for that experiment. When I looked into Season 2, I found that the following m

[2018-01-18 16:44] Paheding commented on #214
@NewcombMaria We will do in-depth analysis on the quality once we have the data from suggested date.

[2018-01-18 16:53] Paheding commented on #214
@NewcombMaria BTW, for the quality index shown in the figure, usually if the value above 10 indicates marginal or unacceptable image data.

[2018-01-18 17:23] dlebauer opened #218 "Mechanism for identifying data errors"
For data with known errors:

- add file named "ERROR" to file directories
- can be used for Summer 2017 FLIR as well as VNIR
- need script like for datasets in date range add ERROR file w/ some content: describe issue; point to github issue(s) if appropriate

[2018-01-18 17:50] dlebauer commented on #214
The raw file on the cache server is also 0; so we should put in an ERROR flag to these dates.

[2018-01-18 17:51] dlebauer commented on #218
Also some dates (Nov 10-12 2016) w/ 0B SWIR datasets: https://github.com/terraref/reference-data/issues/214#issuecomment-358727088

[2018-01-18 17:54] dlebauer commented on #214
@solmazhajmohammadi did you use data from Nov 10-12 2016 for the original data check? Here we have 0B files.

[2018-01-18 18:04] dlebauer commented on #214
from the acceptance test:

![image](https://user-images.githubusercontent.com/464871/35113452-10c3fce8-fc47-11e7-913d-bba67789bd0f.png)

from raw_data/SWIR/2016-11-10/ in our raw_data folder:

![image](https://user-images.githubusercontent.com/464871/35113591-9333d4f0-fc47-11e7-9722-61cdd49f7dd7.png)

[2018-01-18 19:49] smarshall-bmr commented on #215
I've been checking some images as well. I'm certainly tempted to back the exposure off now because this calibration was actually set up when the field had 100% cover with sorghum and I was looking to get good imaging down into the canopy. I'm not sure if people processing images would prefer using a single "consensus" exposure time like we are now or if it's better to change the exposure in the ea

[2018-01-18 22:13] Paheding opened #219 "Query sensor data file path using terrautils"
_Summary_: The general purpose is to use _terrautils.products_ to query the file path for given sensor name and site name, so that we can link the site locations between images and field measurements.  Current functions _terrautils.products_ can successfully return file path for sensor name 'Thermal IR GeoTIFFs Datasets' but did not work for 'RGB GeoTIFFs Datasets' and maybe others, so the questio

[2018-01-18 23:09] dlebauer commented on #215
@pless and @ZongyangLi ^^

[2018-01-19 14:16] max-zilla commented on #219
@jterstriep in the error above we just don't have a stream RGB GeoTIFFs Datasets for the 'MAC Field Scanner Season 1 Field Plot 515' plot, but we aren't catching that.

it works for valid plots in later seasons:
[code]

[2018-01-19 17:29] Paheding commented on #201
This issue can be referred to [https://github.com/terraref/reference-data/issues/219](url)

[2018-01-19 17:38] Paheding commented on #219
From [https://github.com/terraref/tutorials/blob/master/sensors/06-list-datasets-by-plot.md](url)
It looks like the currently available sensors are:

IR Surface Temperature
Thermal IR GeoTIFFs Datasets
flirIrCamera Datasets
(EL) sensor_weather_station
Irrigation Observations
Canopy Cover
Energy Farm Observations SE
(EL) sensor_par
scanner3DTop Datasets
Weather Observations
Energy Farm Observations

[2018-01-19 17:57] NewcombMaria opened #220 "SWIR metadata and focus setting"
Currently the SWIR metadata doesn't have an obvious option for describing manual changes to the focus setting.  The json metadata files have the following descriptors related to focus:

optics focal length [mm]:  "25"
optics focus setting: "2m"
optics focus apperture:  "2.0"   (metadata spelling)

Earlier this season @smarshall-bmr manually adjusted the focus on the SWIR camera itself (a physical

[2018-01-19 18:03] smarshall-bmr commented on #220
The refocus was part of the preseason cleaning and qc. Maybe we should include a "last service date" metadata field?

[2018-01-19 22:30] craig-willis commented on #216
Notes from earlier discussions

The original effort focused on Dryad with tentative agreement from the curator to support the remote dataset. However, after further review, we had two major concerns: CC0 license requirement for the data and the need to have a publication in process to submit the dataset.  PANGAE seemed to offer an alternative, but it again isn't clear whether they will support rem

[2018-01-21 04:51] dlebauer commented on #216
I don't think it matters that Pangaea is in Germany any more than Nature is in UK. But Dryad's motivation for using cc0 is compelling and I'll run it by the team.

[2018-01-22 18:48] dlebauer opened #221 "Review and update data product levels"
Some of the level 1 data products are really Level 2.

For example, the `*_ind.nc` files generated by the hyperspectral pipeline are currently found next to their parent  `*.nc` files, but should be moved to the Level 2 data products.

Creating this issue, and will add more examples as they come up.

[2018-01-23 00:03] dlebauer opened #222 "publish environmental logger data on THREDDS"
daily environmental logger files should be available via THREDDS. These files match the pattern

`terraref/sites/ua-mac/Level_1/envlog_netcdf/2017-08-26/envlog_netcdf_L1_ua-mac_*.nc`

where the * is YYYY-MM-DD

[2018-01-23 17:00] craig-willis commented on #216
Response from PANGAEA:

and in Google-translated English:

[2018-01-23 17:36] dlebauer commented on #216
Here is Dryad's rationale for using CC0, from http://datadryad.org/pages/faq#info-cc0 see also https://blog.datadryad.org/2011/10/05/why-does-dryad-use-cc0/

All data submitted to Dryad is released to the public domain under Creative Commons Zero (CC0), which reduces legal and technical impediments to the reuse of data by waiving copyright and related rights to the extent permitted by law. In most

[2018-01-23 17:52] craig-willis commented on #216
Apparently above response from PANGAEA was not meant to be public.  They are discussing supporting this type of dataset internally and will get back to us. We're not the first request, but they don't have any active examples.

[2018-01-23 23:38] dlebauer commented on #216
I created a repository with a draft manuscript https://github.com/terraref/terraref_data_paper

[2018-01-24 20:18] craig-willis opened #223 "Data publication"
This epic covers the data and paper publication.

[2018-01-24 20:18] craig-willis commented on #216
Closing this as we re-start work on https://github.com/terraref/reference-data/issues/106

[2018-01-24 20:18] #216 closed

[2018-01-24 20:45] Paheding commented on #190
@NewcombMaria I am just wondering about the temperature conversion. Shall I send you and Andy a sample output for performing conversion? And then, we can check if the recovered data are reasonable or not.

[2018-01-24 23:47] dlebauer commented on #220
That is a good idea to add a last service date to the fixed metadata - could you add the information to the SWIR fixed metadata and create a pull request? https://github.com/terraref/sensor-metadata/edit/master/sensors/SWIR/sensor_fixed_metadata.json

As long as you add and do not edit fields, the downstream pipeline shouldn't be affected.

[2018-01-24 23:50] dlebauer commented on #220
@smarshall-bmr do you know when the camera went out of focus?

[2018-01-24 23:57] #127 closed

[2018-01-25 14:34] NewcombMaria commented on #190
@Paheding it's good timing to connect with @anfrench about temperature conversion.  Andy is guiding our in-house FLIR calibration procedure and he is currently working on the data processing and analysis.  I'll connect you with Andy by email for now and we can update the github later with summary results.

[2018-01-25 15:33] NewcombMaria opened #224 "Different stereo cameras installed in camera box 2018-01-25"
After yesterday's hardware test for the stereo-vis y-axis velocity problem that has been ongoing during this current season 5, we determined that the problem has been caused by a fault with one or both of the stereo cameras.  Today Stuart, John, and I will replace both of the stereo cameras with two that had formerly been on the gantry side-arm, keeping the original lenses but replacing the camera

[2018-01-25 15:59] max-zilla commented on #224
@craig-willis FYI we should have this on radar.

[2018-01-25 16:54] dlebauer commented on #196
@NewcombMaria or @Andrade-Pedro can one of you provide a map with an outline of the irrigation areas?

[2018-01-25 17:10] dlebauer commented on #201
* @jterstriep has the docker container, will update documentation
* @craig-willis will deploy to workbench kubernetes

[2018-01-25 17:18] max-zilla commented on #224
This is the stereo RGB current fixed metadata:
https://github.com/terraref/sensor-metadata/blob/master/sensors/stereo/sensor_fixed_metadata.json

@craig-willis @dlebauer and I should discuss. we need to adjust this fixed JSON object to support by-date references so we can route the dataset to correct sensor metadata based on when the dataset was captured

[2018-01-25 17:24] max-zilla commented on #224
@smarshall-bmr should make a pull request with edits to this XML file:
https://github.com/terraref/lemnatec-fixed-metadata/blob/master/stereoCameraBox.xml

we will then update the JSON file and code to reflect these changes (supporting multiple date ranges/multiple calibrations)

[2018-01-25 17:44] dlebauer opened #225 "operational checklists, sensor maintenance logs, etc"
Need to consolidate spreadsheets, forms for gantry-side logging

* field book
* daily operational check list
* sensor maintenance
   * including problems, returns to factory, moving
   * calibration / reference scans

For each of these, define what information these need to contain (can be drafted as spreadsheet or form) .

Completion Criteria

* [x] define requirements
* [x] draft forms or spread

[2018-01-25 21:09] craig-willis commented on #216
A final update from PANGAEA:

[2018-01-26 04:38] NewcombMaria commented on #225
I can work on this with Stuart.

Requirements:
- The daily operational checklist is genuinely a 'list to be checked' daily to determine if components of the gantry and the camera box are functioning or showing signs of wear.  Purpose: early detection and documentation of issues that need attention.

- Camera/sensor maintenance log:  issues that are found when completing the operational checklist c

[2018-01-26 15:53] NewcombMaria commented on #196
@dlebauer these are images showing the water-deficit blocks during the August drought treatments in August (not to scale).  The areas outlined in red were water-limited (no irrigation) during the dates shown in the maps.  Areas not outlined in red (all other areas of the field) were well-watered during the dates shown in the maps.  The entire field area (216 m x 25.4 m) was well-watered from plant

[2018-01-26 22:22] dlebauer commented on #196
@NewcombMaria thanks. For the puposes of figuring out how to handle these:

* to confirm - were the border rows were always irrigated?
* how many zones are there? It looks like there are four zones plus the E/W border rows. Is this correct?
* are these zones somehow fixed?
    * will future irrigation treatments use these same zones?
* what names (if any) do you have for referring to the different

[2018-01-26 22:27] dlebauer commented on #196
On closer look, it appears that the edges aren't actually border rows ... do you know how wide they are?

[2018-01-26 22:51] NewcombMaria commented on #224
Latest update:  it turns out that the installation of the 2 alternative cameras did not result in a sustainable fix.  After time on the afternoon of 25 January the scan even with the new cameras faulted by server problems.  For a while today Stuart tried one old camera and one new camera and updated camera settings and it was working well for a while but just recently the server drops returned.  F

[2018-01-26 23:43] dlebauer commented on #196
In https://github.com/terraref/reference-data/issues/196#issuecomment-338015666 you say that the total area of the irrigated area is 216 m x 25.4 m = 5486m2, but when I combine all of our plots I get 214.7 x 24.4 = 5249m2

This is a view of the the SW and NW corners of the field with the 214.7 x 24.4 rectangle that includes all of the plots in orange.

![image](https://user-images.githubuserconten

[2018-01-27 00:29] NewcombMaria commented on #196
@dlebauer he full-field area (including buffer rows) that was irrigated from the start of the season to August 1 (103 dap) is 5486.4 m2 (=216 m x 25.4 m).  This is correct.  There are 54 planted/irrigated ranges and each ranges is exactly 4.0 m in length in the N-S axis.  54 x 4 m = 216 m.  The planted/irrigated width is 25.4 m (32 rows at 0.762 m spacing and 2 additional outer border rows on E an

[2018-01-27 00:33] NewcombMaria commented on #196
@dlebauer  these irrigation zones are not fixed.  They were planned mid-season for the purpose of the field campaign related to water-deficit stress effects on photosynthesis in Aug 2017.  They were blocks implemented after mid-season discussions with those who helped plan the August field campaign.

[2018-01-27 15:06] NewcombMaria commented on #196
@dlebauer I'm rethinking how you could have come up with 214.7 m in the N-S axis.  The plot on the northern end (range 54) include an alley, length 0.5 m.  Since all other plots are associated with an alley, we've been treating plots on the north end of the field the same.  That changes the field length to **215.2 m**, which is in fact the most accurate field length.  We learned after planting tha

[2018-01-29 19:46] NewcombMaria commented on #224
Data from the afternoon of 2018-01-24 through mid-day 2018-01-29 will need careful attention to edit metadata for data that should be kept, especially 2018-01-27, 01-28, and morning of 01-29 which are days/times with good data but with the serial number of one of the stereo cameras incorrect which will need to be edited in metadata.  Some times/days the data will need to be noted as ERROR when we

[2018-01-30 16:38] NewcombMaria opened #226 "SWIR and VNIR metadata errors need back-correction for X axis position"
Yesterday 29-Jan Stuart, John and I spent time examining hyperspectral data and importantly also examining the associated metadata.  We identified consistent metadata errors in the X axis position and also the timestamp for the hyperspectral data files.  It appears the X position is recorded at the previous short-axis scan (Y-axis), before the camera box actually moves to the actual X-axis positio

[2018-01-31 20:18] dlebauer commented on #226
@NewcombMaria a few questions:

* in the issue above there is no mention of the VNIR, although it is mentioned in the issue title. Does this apply to both?
* what is the process that you are using to identify if there is an issue? Is there a particular metadata field or other information that we can search for?

[2018-01-31 20:36] dlebauer commented on #224
@NewcombMaria so ... in the end the cameras were not switched? can we close this, or is there anything else we need to do?

[2018-01-31 21:03] NewcombMaria commented on #224
@dlebauer the only remaining item that needs follow-up is that the data and metadata from the afternoon of 2018-01-24 through mid-day 2018-01-29 needs either metadata correction for some data-sets or for other data-sets the data itself needs 'ERROR' notation.

Some of the scans that were run in that time-frame generated data that should either be deleted or marked clearly by "ERROR" (for example w

[2018-01-31 21:41] dlebauer commented on #224
@NewcombMaria thanks! if you could just provide a bulleted list of what needs to happen for what date ranges, we can implement.

[2018-01-31 21:57] NewcombMaria commented on #226
@dlebauer we are still in process of doing spot checks to determine which scans have X position errors (and associated timestamp errors) and whether it's always both SWIR and VNIR or maybe only SWIR for some scans.  Also Stuart will look at the script code for S4 scans to see when/where measurements were programmed to start.  This is what is know so far:

- Season 5 (current wheat experiment):  th

[2018-02-01 17:16] max-zilla commented on #219
We need to add an explicit message to indicate if files are missing (e.g. some Season 1 RGB GeoTIFFs) so it's clear what's an error and what is unavailable.

either @jterstriep or I should implement in terrautils.

[2018-02-02 14:36] NewcombMaria commented on #218
Scanner 3D laser data from the overnight scan 2018-01-29/2018-01-30 returned null data files (completely black) when the laser sensor was not enabled in the PLC.  The file directories can be flagged as "ERROR" from 2018-01-29 19:13 to 2018-01-30 04:13.

[2018-02-02 15:48] NewcombMaria commented on #224
@dlebauer here's a list by dates for StereoTop data files from StereoVis scans.  Let me know if you have follow-up questions:

- **2018-01-27 and 2018-01-28 and only the file directories before 11:45 on 2018-01-29**.  The data files are usable and are good data but metadata needs to be revised to change the serial number of the North camera.  It would be best if the file directories could be flagg

[2018-02-02 20:49] dlebauer opened #227 "Upload origin of BAP lines"
the [referenced_bap.txt](https://github.com/terraref/reference-data/files/1690786/referenced_bap.txt)
 file includes the location from which the BAP lines were collected. These are provided by @gpmorrisksu,

@em-bellis suggested that these might be useful downstream.

Options:

2. add to betydb misc. table https://github.com/PecanProject/bety/issues/505
3. add to cultivars notes
1. create sites fo

[2018-02-02 21:44] dlebauer commented on #194
Update: Season 4 had reversed E and W and was fixed here: https://github.com/terraref/computing-pipeline/issues/408#issuecomment-362716188

[2018-02-05 15:43] craig-willis commented on #201
@jterstriep I have this running on https://sensorquery.workbench.terraref.org.  I had to make one change to get the image to build and another because Workbench has different paths mapped for the TERRAREF_BASE.  Let me know what you think and if it's working as expected:

PR
https://github.com/terraref/service-products/pull/1

[2018-02-06 21:43] dlebauer opened #228 "Obsolete PlantCV extractors directories to delete"
@nfahlgren please confirm that the following should be deleted:

Under /sites/danforth:

* sites/danforth/derived_data
* raw_data/
   * helloMax
   * jdtest
    * test_snapshot_lt1
    * snapshot295351 (?)
* Level_1/plantcv/ <- not clear what level of hierarchy these should be in
  * lots of two-letter directories (de, df, e0, e1, e2, .... ???) that contain 4-5 snapshots each
  * PlantCV Extractor

[2018-02-06 22:22] nfahlgren commented on #228
@dlebauer I think everything you list can be deleted. I'm not sure what process created the two-letter directories but the ones I looked at were empty. The ddpscIndoorSuite data can be deleted, I don't think we need the pilot data anymore.

The TM015_5_051616 and TM015_5_052716 directories contain the outputs from Clowder for PlantCV run on each input dataset. We have the raw data organized into t

[2018-02-06 22:58] dlebauer commented on #228
If we delete all of the ddpscIndoorSuite data and the two-letter directories then the hierarchy makes sense. The exception is that `raw_data/` outputs go to `Level_1/plantcv`, but this isn't important if it makes sense to you.

To confirm:

[code]

keep:

[code]

[2018-02-06 23:23] dlebauer commented on #228
@nfahlgren does the above look okay? If so, I can ask @jdmaloney to delete

[2018-02-06 23:27] nfahlgren commented on #228
@dlebauer yeah, the plantcv directory is probably a bit unnecessary, but if we ever processed the Bellwether data with a second method then it would make sense. So I guess it's future proof :)

The above list of deletes and keeps looks correct to me.

[2018-02-07 01:45] dlebauer commented on #228
@jdmaloney can you delete these?

[2018-02-07 17:16] Paheding commented on #214
We have analyzed the recent SWIR data that associated with minor scratches,  it is found that there is no obvious abnormality in the data due to minor scratches in terms of spatial and spectral information. Here is a report of analysis regarding this issue:
[SWIR_Data_QC_Scratches.pdf](https://github.com/terraref/reference-data/files/1704075/SWIR_Data_QC_Scratches.pdf)

[2018-02-08 05:28] NewcombMaria commented on #214
Thank you @Paheding.  The summary report is excellent.  We'll discuss as a group, but based on your data quality assessment it looks like we can continue collecting SWIR data this season with confidence in the quality of data.  This is great news.  Many thanks!

[2018-02-08 16:13] max-zilla commented on #228
These were deleted: https://github.com/terraref/reference-data/issues/228

[2018-02-08 17:20] dlebauer opened #229 "Radiometer data errors"
Radiometer was generating 0s during Fall 2017 (e.g. Oct, Nov)

* Need to confirm which dates were 0s in original environmental logger files, prevent these from being processed
* Need to re-populate w/ ???? to enable hyperspectral pipeline

[2018-02-08 17:42] dlebauer commented on #214
Can we add an extractor (or build into hyperspectral pipeline) that runs qa/qc quality score ... 1) to find errors and 2) to quantify quality as metadata

[2018-02-11 19:59] NewcombMaria commented on #226
@craig-willis I've figured out a method worth testing to determine in high-throughput if the SWIR and VNIR x-axis positions are correct or not, with help on your end.  If this method seems reasonable, it could test it on hyperspectral datasets from this season (S5), starting end of November through current date.  It involves taking select information from the hyperpectral metadata json files, hype

[2018-02-11 23:10] NewcombMaria commented on #229
@dlebauer regarding the first task item:  the radiometer from the top boom was removed on 2017-10-13 (values = zero in cache), and returned to operational status sometime during the day of 2018-01-03.

[2018-02-14 15:40] NewcombMaria commented on #211
@dlebauer shape files for the current season 5 plot polygons are copied to the following directory:
https://drive.google.com/drive/folders/1h2Ipt1bQ8R8FJ18yKMHHpJ5uPmxIaZJx

There are separate files for whole plots (2-row plots) and single-row subplots.  These were created by Andy French and checked using UAV field mosaics.  The coordinate system is EPSG 32612; i.e. Datum is WGS84, Geodetic CRS is

[2018-02-15 17:59] Paheding commented on #190
Based on our discussion, the reference data for temperature evaluation: https://github.com/terraref/reference-data/issues/197

[2018-02-19 16:53] NewcombMaria opened #230 "FLIR temp conversion with window: results from in-house calibration"
@max-zilla and @dlebauer and others, the in-house FLIR tests in the controlled temperature room are complete, and @anfrench has done in-depth analyses resulting in two alternative methods to read raw FLIR data (DN or digital number values) and ambient temperature data and converts DN to temperatures.  The FLIR camera is installed in the camera box now and will be collecting data soon, after some c

[2018-02-20 14:36] max-zilla commented on #219
@Paheding pull request is here, if you are satisfied with it we can merge:
https://github.com/terraref/terrautils/pull/44

[code]

[2018-02-20 17:15] Paheding commented on #219
@max-zilla This is great. Thanks. We can merge.

[2018-02-21 15:45] #219 closed

[2018-02-21 20:33] max-zilla commented on #201
@craig-willis need a status update.

[2018-02-22 03:29] craig-willis commented on #201
PR is still open, waiting for feedback from @jterstriep

[2018-02-26 15:24] NewcombMaria commented on #225
@max-zilla and @dlebauer I'm been manually updating 2 spreadsheet logs since Feb-13 to cover daily operational checks and a log of issues/problems by day.  Please review when you get a chance and let me know if these formats will be useful on your end.

The daily checklist responses are categorical:  'checked' (implies operational status); 'not checked' (no info for that day); 'last checked ----'

[2018-03-01 00:50] ebabaeian opened #231 "Read VNIR raw data"
I have a problem with extracting VNIR data. When I download a VNIR raw file with ~ 28GB size and extract the compressed (tar) image I get a smaller size as ~8GB. Also this 8GB image has jpg format and when I open it in a software like ArcGIS I see a stretched image. Any thoughts for this? Thanks very much.

[2018-03-01 01:02] dlebauer commented on #231
Could you point to a specific file? Does this happen on multiple dates or just one? Could you post (copy-paste) a screen shot?

[2018-03-01 04:34] NewcombMaria commented on #231
@ebabaeian and @dlebauer the date of the VNIR file is important.  VNIR data from 2018-11-28 until about 2018-02-5 are good quality (as far as we know).  After about 2018-02-05 the VNIR camera started having problems and the data cubes are poor quality.  Headwall has been contacted and we will probably need to ship the camera off for repairs. Ebrahim, please let David know which date you are lookin

[2018-03-01 16:10] Paheding commented on #231
@ebabaeian @NewcombMaria For measure the image quality, I just uploaded an extractor yesterday that is designed to evaluate the quality of images with different spectral bands such as VNIR, SWIR, etc. The extractor will output a warning if the quality is below a threshold. The related Github issue: https://github.com/terraref/computing-pipeline/issues/413
Currently, we are trying to configure this

[2018-03-02 01:35] ebabaeian commented on #231
Hi @dlebauer @NewcombMaria
The image date that I downloaded was Feb 1, 2018. The date that we have SWIR data throughout the field. I only downloaded 3 VNIR swath associated with the location of the TDR sensors for soil moisture. All these three VNIR swaths are stretchered. The file format is "jpg' but with ~8GB size which is attached.

![vnir](https://user-images.githubusercontent.com/34657687/368

[2018-03-05 18:46] dlebauer opened #232 "Traits with no method name"
canopy height has 18635 records with no method

[code]
|n | trait | method |
|----|----|----|
|63900	|canopy_height	|Scanner 3d ply data to height|
|18635	|canopy_height	| |
|5839	|canopy_height	|ksu_plant_height|

These are generated by @zhenbinHU and @NewcombMaria

[code]

[2018-03-05 18:50] dlebauer commented on #232
For records generated by @zhenbinHU I will associate with the 'Scanner 3d ply data to height` method

[code]

And for those collected by @NewcombMaria I will associate with the trait `manual_canopy_height` https://terraref.ncsa.illinois.edu/bety/methods/6000000005

[code]

[2018-03-05 20:40] dlebauer opened #233 "Straightening out KSU 2016 experiments and treatments"
Two experiments from KSU 2016:

https://terraref.ncsa.illinois.edu/bety/api/v1/experiments?key=9999999999999999999999999999999999999999&name=~KSU

Two treatments from KSU 2016:

https://terraref.ncsa.illinois.edu/bety/api/v1/treatments?key=9999999999999999999999999999999999999999&name=~KSU

The records can be found here: https://gist.github.com/dlebauer/e15ca2bcda93e2523e13a891bde38b77

However, o

[2018-03-05 20:43] dlebauer commented on #233
[code]

[2018-03-05 21:40] dlebauer opened #234 "Canopy cover extractor should generate % in range [0,100]"
It appears that the canopy cover extractor generates values in the range [0, 1] but should generate values in the range [0, 100]

## TODO

* [x] update extractor
* [x] update existing traits*

[code]

[2018-03-06 16:48] dlebauer commented on #228
still need to `rm -rf terraref/sites/danforth/derived_data`

[2018-03-06 16:50] dlebauer commented on #228
looks like a bunch of other folders still exist (at least looking on Globus)

![image](https://user-images.githubusercontent.com/464871/37045714-3270563e-212c-11e8-8187-65c09cd9cdfb.png)

[2018-03-06 17:47] dlebauer opened #235 "Remove / change directories in raw_data and Level 1"
Need to clean up or resolve the following anomalies. Some may require separate issues - changes that are more difficult can be postponed to the next release.

1. [ ] scanner3DTop directories
   * These should be removed / replaced w/ laser3d_* folders
   * related: https://github.com/terraref/computing-pipeline/issues/412 and https://github.com/terraref/computing-pipeline/issues/389
2. [ ] ua-mac/

[2018-03-07 05:14] dlebauer commented on #234
* [ ] Need to also change when mean=1

[code]

[2018-03-08 15:20] dlebauer commented on #188
duplicate of https://github.com/terraref/reference-data/issues/186

[2018-03-08 15:20] #188 closed

[2018-03-08 19:03] dlebauer commented on #186
@ZongyangLi can you please review the output data? If you are logged in to BETYdb at https://terraref.ncsa.illinois.edu/bety you can download it from https://terraref.ncsa.illinois.edu/bety/search.csv?search=canopy+cover&include_unchecked=true

[2018-03-08 20:35] dlebauer opened #236 "bety not dumping"
I was trying to debug an issue with the bety.terraref server that is used as a clone of bety6 for the traitvis webapp and for workbench users to access a read-only copy of the trait data.

The database wasn't updating (the most recent 'updated_at' was Nov 2017) so I tried to re-populate the bety.terraref database manually. This didn't help. So I went into bety6 and checked the dump in /var/www/htm

[2018-03-12 16:02] robkooper commented on #236
Updated dump script, was using old argument that is no longer supported and would ignore rest of arguments. Now dumping correctly again.

Changed so that cronjob will send email to me when it fails, however this would not catch the errors above since it was silently ignoring command line arguments.

[2018-03-12 16:04] robkooper commented on #236
Monitoring could be fixed by using the [PEcAn monitoring page](http://pecan-dev.ncsa.illinois.edu/pecan/status.html).

[2018-03-14 19:53] max-zilla commented on #201
@jterstriep closed the PR but incorporated changes into his own.

https://github.com/terraref/service-products/pull/2

[2018-03-14 19:57] dlebauer commented on #201
Note that the web services that have been the topic of discussion here are not directly relevant here. The case here is that Maria has collected images in the field.

Next steps: @NewcombMaria where are these images so we can take a look at how to support this use case?
Do you have a table of image names and locations (or plot names)? If so, we can use this information to 1) organize the images by

[2018-03-15 05:17] NewcombMaria commented on #201
@dlebauer the handheld FlirTG1167 images are all within a google drive folder, copied into separate folders by date (7 dates), along with the spreadsheet for the FlirTG1167 data that already has been uploaded to BETYdb.
https://drive.google.com/drive/folders/1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY

The spreadsheet is also there:    Sorghum season4_StomatalRegulation_FlirTG167_7dates_8plots.xlsx
In the s

[2018-03-15 16:32] dlebauer commented on #201
Use case - two week stomatal conductance campaign, taken alongside porometer measurements.

next steps:

* [ ] move image files to appropriate folders on the file system
   * put in raw_data/FLIR_handheld/YYYY-MM-DD/plotname`
   * update file path in entities.notes

[2018-03-15 17:58] dlebauer commented on #201
Maria - to clarify, in the [Season4 Stomatal Regulation Campaign](https://drive.google.com/open?id=1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY) folder there are two spreadsheets with leaf temperature data:

* one with FLIRTG167 in the name: [Sorghum season4_StomatalRegulation_FlirTG167_7dates_8plots](https://drive.google.com/open?id=19VbYuQkhaAQvSsjSc-RVlxijm0cbgp1wzhg5Q9x0PFo)
* the other with ApogeeIRT in

[2018-03-15 18:31] dlebauer commented on #201
I did the following, which I believe will resolve this issue:

* put these images in globus under sites/ua-mac/raw_data/FLIR_TG167_handheld/YYYY-MM-DD
* updated paths from ea. trait record to image file (see [update queries](https://gist.github.com/dlebauer/4578a4478f95ca2dff3c174069ef3c92#file-update_flir_trait_notes-sql) and [how they were concatenated](https://docs.google.com/spreadsheets/d/1-f

[2018-03-15 19:03] NewcombMaria commented on #201
Thanks @dlebauer.  The thinking behind using the same method description ("Leaf surface temperature and stomatal conductance estimates using hand-held instruments') is that we deliberately followed the identical method using both instruments to be able to have independent instruments collecting data for estimates of leaf temp for cross-comparisons.  The handheld IRT model that was used (MI-230) ha

[2018-03-15 19:10] NewcombMaria commented on #201
@ the metadatafile.csv file looks great.  Thanks for transferring the images.  This issue can be closed.

[2018-03-15 19:10] #201 closed

[2018-03-15 19:10] dlebauer commented on #201
@NewcombMaria

Thanks for the explanation. Sorry that this is so obtuse, but I think this is a nice illustration of how the data is intended to be structured.

In this case, the methods field should be used to distinguish among the two instruments and the entity would be used to link measurements made on the same leaf (so the name could be named "replicate leaf 1 in plot xyz" or something along th

[2018-03-15 19:20] dlebauer opened #237 "disambiguate leaf temperature measurements from stomatal conductance campaign"
Following the discussion beginning in https://github.com/terraref/reference-data/issues/201#issuecomment-373468463

We need to use the methods field to distinguish if leaf temperature is measured by FLIR imager vs. Apogee sensor.

Steps:

* [ ] divide the method ["Leaf surface temperature and stomatal conductance estimates using hand-held instruments"](https://terraref.ncsa.illinois.edu/bety/metho

[2018-03-15 19:22] dlebauer commented on #201
@NewcombMaria see https://github.com/terraref/reference-data/issues/237

[2018-03-15 19:26] NewcombMaria commented on #237
@dlebauer to clarify quickly, the measurements were not taken on the same leaves.  There wasn't a way to practically move quickly and pick up different hand-held instruments while keeping track of which leaves were measured.  Sorry for any confusion.

I can work on methods separation when I have time (might be when there's a Field Scanner operator hired) but I'll get to it as soon as possible.

[2018-03-15 19:48] dlebauer commented on #186
needed to update output from fraction in range [0,1] to percent [0,100] https://github.com/terraref/reference-data/issues/234

[2018-03-15 19:54] dlebauer opened #238 "Canopy cover data should handle missing data"
Currently the canopy cover extractor runs on full field stitched images. However, it does not correctly handle missing data. Thus, on days with partial coverage the missing data weights the means toward 0, and we end up with plots in which the value of canopy cover is erratic, for example:

![image](https://user-images.githubusercontent.com/464871/37487684-55d5ba70-2860-11e8-80b8-755c011e90c2.png)

[2018-03-15 20:02] dlebauer commented on #234
extractor updated in https://github.com/terraref/extractors-stereo-rgb/pull/29

[2018-03-15 20:02] #234 closed

[2018-03-16 00:17] NewcombMaria commented on #230
In the recent calibration and troubleshooting efforts we've learned that the correct documentation for the FLIR camera is Model A655sc
On the website and in the metadata it's reported as FLIR model SC615.

We also now have a new window for the protective housing for the FLIR camera.  The new window (Part number T198233SP:  SP PROTECTIVE WINDOW ASSY Large) is approx 70mm diamter, measured on the in

[2018-03-16 17:32] dlebauer commented on #238
After discussing with @max-zilla today, it sounds like the canopy cover extractor can be re-run with existing updates that allow it to handle missing values.

[2018-04-04 14:52] dlebauer commented on #161
@pless can you comment on how or where this could be incorporated into the pipeline? Do we have sufficient data to parameterize the correction? Do we have the values of temperature that we need?

[2018-04-05 16:32] NewcombMaria commented on #215
Later in the season, on a day with passing clouds (15-March), images captured about 20 minutes apart (sun-exposure then cloud-cover).  15-March was also a day with wind.
![sun_wind_march15](https://user-images.githubusercontent.com/22008637/38378956-19d66c5e-38b4-11e8-87f9-2cefb9662f30.JPG)

![cloud_wind_march15](https://user-images.githubusercontent.com/22008637/38378968-2238e0de-38b4-11e8-891c-1

[2018-04-05 17:37] dlebauer opened #239 "Daily scan of standard calibration objects"
Our goal is to provide a daily sanity check and reference for all of the sensors.

Starting in the 2018 Sorghum season we will reserve one plot for calibration targets. This can be in the corner of the field and scanned prior to and optionally after each run.

* Choose one plot for the calibration objects
* place calibration targets in the plot each day and scan
    * these should be 2m below the

[2018-04-11 17:52] Paheding commented on #215
@NewcombMaria  Here is the quality score (QS) for a sample from March 15:
![image](https://user-images.githubusercontent.com/24866799/38633903-a08b68cc-3d86-11e8-83c4-87312ea55595.png)

**QS = 126.13**

Although there are many shadow regions, the image is pretty clear and thus the quality score is within a reasonable range.

[2018-04-12 14:17] NewcombMaria commented on #239
I've started a document in discussion with @JeffWhiteAZ that outlines specifics to be figured out:
 dimensions of the platform required to deploy the targets, and selection of targets, etc.  The document is available for review:
 https://docs.google.com/document/d/1NoeTRJZ-bxmeJUReBE_5Anmz8Rey6UeU6IrOV9aTAto/edit

[2018-04-18 22:24] NewcombMaria opened #240 "Update 'RAW Data File Count/File Size' report and logging database to include MAC weather station"
For first-level data-collection quality checks it would be helpful to include data files from the MAC weather station (the one on the tripod in the corner of the field) to the automated 'RAW Data File Count/File Size' report.

Recently we learned that there has been a problem with intermittent weather station logging or data transfer that extends a long time back (periodic data gaps).  And from 20

[2018-04-25 21:13] #236 closed

[2018-04-29 22:36] NewcombMaria commented on #239
We have a set of targets assembled focusing on the stereo-RGB for now until the SWIR, VNIR, and FLIR are back from repairs.  Comments and input on the targets are welcome.  They fit on a 40cm by 80 cm platform.
The plan is to deploy the targets on the west side of Range 52 during the day scans.  The image includes a couple small potted plants to help test exposure.
![image](https://user-images.git

[2018-05-02 20:48] NewcombMaria commented on #239
Here's a PDF conversion of the image capturing today's scan of the targets, after slight adjustments to camera settings.  Coordinates X = 202.3, Y = 20.5.  A few seedlings show up in the image.

Comments/input on settings called from the script (exposure, gain, focus-by-height adjustment) are most welcome.  Aperture is a manual setting.  Current setting "optics aperture setting (both)" = 6.7.
![im

[2018-05-02 21:54] dlebauer commented on #240
It would also be nice if the irrigation, weather, and environment logger showed up on the terra-logging interface http://terra-logging.ncsa.illinois.edu:3000/d/000000002/sensor-file-counts-and-size?from=now-6M&to=now&orgId=1

[2018-05-03 16:14] dlebauer commented on #239
@Paheding and @pless  what to add to evaluate focus? ... something like

![image](https://user-images.githubusercontent.com/464871/39589185-1cf90ba6-4ec3-11e8-8985-d2258fa0980f.png)

As of May 1, the targets are the plot named "MAC Field Scanner Season 5 Range 52 Column 2" (prior to this, they were in Column 3).

[2018-05-03 16:34] Paheding commented on #239
@dlebauer I can run evaluation in terms of focus, and comparison results over series times.

[2018-05-04 15:45] jdmaloney commented on #240
This is getting knocked out today.  I have stereoEast and stereoWest cleaned up already, will be getting weather added in and the changes made on the terra-logging site.

[2018-05-04 15:50] NewcombMaria commented on #240
Excellent.  Thanks.  For the MAC weather station data (corner of field) there is a pattern of gaps in the cache data folders that I don't understand.  From what I can tell, data are being continuously collected, but in the cache folders there are days with only a subset of data and then a day with no data.  I think something like 20-April and 27-April are empty folders, but most days in between ap

[2018-05-05 22:46] NewcombMaria commented on #225
@dlebauer and @craig-willis, following up on 3-May discussion I've created a Scan log and also started a log of Field activities in a new document and new format.

Scan log:  https://docs.google.com/spreadsheets/d/1dZYE6UbF9rmYuUNLkpUNJzXkc7kHPAZhoBxQtGuCUXc/edit#gid=1793149806

Field activities log:
https://docs.google.com/spreadsheets/d/1y5HqfuTm9OUNdST8UH2vcAiRjMgz2sWt1VoAqVfIe6I/edit#gid=42570

[2018-05-06 02:28] dlebauer commented on #225
Thanks - it looks great, I've made a few edits to use a more standardized date-time format

YYYY-MM-DD HH:MM

[2018-05-08 15:32] jdmaloney commented on #240
@NewcombMaria This is in the report now and @dlebauer on the dashboard too.  I re-ran this morning's report (hence the email that just went out) and things look good.  I'm closing this issue.

[2018-05-08 15:32] #240 closed

[2018-05-10 16:56] #225 closed

[2018-05-17 17:23] craig-willis opened #241 "Handle new position information for NDVI and PRI"
NDVI and PRI are ready for new season, but we have new calibration and offset information.  We need to update the offsets in the sensor fixed metadata. There are no extractors for these sensors.

[2018-05-17 21:59] dlebauer opened #242 "Environment logger Geostreams met data should be 5 min (not 5s) frequencies; netcdf should be available on thredds"
Per specification in https://github.com/terraref/computing-pipeline/issues/156#issuecomment-261286229 the geostreams met should have 5 min frequency. Currently the environment logger has 5 s frequency.

The high frequency data can be accessed in the environment logger netcdf files (@robkooper these should be available on the thredds server).

[2018-05-18 13:57] robkooper commented on #242
What is the path for these files on disk, I can add them to the script to generate the thredds database.

[2018-05-22 22:58] NewcombMaria opened #243 "First-pass QC for 2017 scan for stomatal regulation campaign"
@max-zilla following up on the Tue telecon discussion on field campaigns, it would be great to be able to view a full-field overview of the 2017 scan that ran with the box raised high with larger FOV for purpose of being able to cover the field quickly for thermal data.  The name of the script file is 'StomatalRegulation_Sorghum4_ranges0.33m.cs'.  I don't know exactly which dates, but likely dates

[2018-05-29 14:54] max-zilla commented on #243
The higher resolutions for 06/21 are still being generated, but the thumbnail is complete and on disk under ua-mac/Level_1/fullfield/2017-06-21 (see stomatalregulation TIF).

![screen shot 2018-05-29 at 9 52 30 am](https://user-images.githubusercontent.com/14166971/40666777-2be55652-6326-11e8-87e9-3eb8fb6d11f6.png)

There are gaps between the photos. The higher resolutions might make this more obv

[2018-05-29 15:52] max-zilla commented on #243
talked with @craig-willis about this. i was reminded that we store the camera FOV in fixed metadata in clowder as something that was not expected to change (like position in camera box, for example) so changed FOV settings, while they may be present in metadata.json files, are currently fetched from fixed md for processing. we will have to discuss refactoring pipeline to support variable FOV and r

[2018-05-31 18:27] #101 closed

[2018-05-31 18:28] #74 closed

[2018-05-31 20:38] craig-willis commented on #243
@max-zilla Please create follow-up issue to address FOV problem and close this if possible.

[2018-06-07 18:57] craig-willis commented on #44
Stale issue -- closing. Open a new issue if work remains.

[2018-06-07 18:57] #44 closed

[2018-06-07 18:58] craig-willis commented on #187
Stale issue -- closing. Open a new issue if work remains.

[2018-06-07 18:58] #187 closed

[2018-06-07 18:58] craig-willis commented on #179
Stale issue -- closing. Open a new issue if work remains.

[2018-06-07 18:58] #179 closed

[2018-06-07 18:58] #176 closed

[2018-06-07 18:59] #178 closed

[2018-06-07 19:00] craig-willis commented on #180
Sale issue - closing. Open a new issue if work remains.

[2018-06-07 19:00] #180 closed

[2018-06-07 19:00] #182 closed

[2018-06-07 19:14] #148 closed

[2018-06-13 14:57] max-zilla commented on #230
A branch has been created for this work:
https://github.com/terraref/extractors-multispectral/tree/flir2tif-temp-conversion

[2018-06-13 15:01] max-zilla commented on #243
Discussion has moved here: https://github.com/terraref/computing-pipeline/issues/456

[2018-06-13 15:01] #243 closed

[2018-06-13 18:12] craig-willis commented on #152
Stale issue, closing. Open a new issue if work remains

[2018-06-13 18:12] #152 closed

[2018-06-13 18:16] craig-willis commented on #183
Stale issue, closing. We will revisit RGB fullfield review for 2018.

[2018-06-13 18:16] #183 closed

[2018-06-13 18:16] craig-willis commented on #177
Stale issue, closing. Will revisit 2018 QC in new issue

[2018-06-13 18:16] #177 closed

[2018-06-13 18:28] craig-willis commented on #191
Stale issue. Will start new review process for 2018 in separate issue.

[2018-06-13 18:28] #191 closed

[2018-06-13 18:28] craig-willis commented on #185
Stale issue. Will create new review issue for 2018.

[2018-06-13 18:28] #185 closed

[2018-06-13 18:36] craig-willis commented on #118
Stale issue. No comments in last 2 months. If necessary, create new issues based on this discussion.

[2018-06-13 18:36] #118 closed

[2018-06-13 18:36] craig-willis commented on #86
Stale issue. No comments in last 2 months. If necessary, create new issues based on this discussion.

[2018-06-13 18:36] #86 closed

[2018-06-13 18:39] craig-willis commented on #67
@dlebauer This is a stale issue with comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:40] #67 closed

[2018-06-13 18:42] craig-willis commented on #114
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:42] #114 closed

[2018-06-13 18:51] #55 closed

[2018-06-13 18:53] craig-willis commented on #103
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:53] #103 closed

[2018-06-14 18:34] max-zilla commented on #230
@NewcombMaria @anfrench I moved the R scripts and CSV file into the branch but have some questions:
- which of the two R scripts is preferred to use?
- the FLIR data we are moving to NCSA and converting to GeoTIFFs are _ir.bin files, but in these scripts the files are ".raw" files. are these the same as the bin files? if not, where are the raw files converted to bin? that happens before our pipeli

[2018-06-17 22:55] NewcombMaria commented on #230
@max-zilla, from conversation with @anfrench:

- Andy's preference out of the two R scripts:  FLIRgantry2TC_direct.r

- the _ir.bin files are equivalent to the raw files and the R script should work with the _ir.bin files that are in the gantry cache and transferred to NCSA.  Andy compared the .bin files to the raw files and they are equivalent format.

[2018-06-18 16:38] sbrad77 commented on #151
Has this series been slated to be taken? @dlebauer

[2018-06-22 21:48] dlebauer commented on #230
refactor to put parameters and functions in sensor metadata?

[2018-06-22 22:18] robkooper commented on #230
@rickw-ward is interested in the flir data, lets see where we are wit the pipeline and the actual data.

[2018-06-26 16:06] max-zilla commented on #230
@rickw-ward we are currently catching up from system outage last week and are processing 16th-17th. The processed FLIR data can be found in globus here:
```/ua-mac/Level_1/ir_geotiff/```
![image](https://user-images.githubusercontent.com/14166971/41924447-a75dbb16-792f-11e8-89aa-09e584faea74.png)

...as geotiffs. there are also some full-field stitches of geotiff data here:
```/ua-mac/Level_1/full

[2018-07-02 20:17] max-zilla opened #244 "Changing RGB exposure mid-scan"
This is a topic to discuss the idea of adjusting exposure during a scan.

The exposure of RGB camera has been changed based on sunlight under the box for quite a while, but not mid-scan. @ZongyangLi and @craig-willis and I need to determine what impact this could have on downstream extractors.

The exposure value is stored in variable metadata for RGB datasets already.

[2018-07-02 20:19] max-zilla commented on #244
@NewcombMaria mentions there are other github issues with Pless et al discussing these exposure values.

[2018-07-02 20:22] max-zilla commented on #244
Consistent exposure during morning RGB scans with shade under the box, but for FLIR scans (sun settings) exposure is turned down.

There are ~3 different exposure categories currently used.

on 07/01, ran two with shade setting and two with sun settings. Script name indicates 'shade' or 'sun' historically.

[2018-07-05 18:42] max-zilla commented on #230
@dlebauer mentions: is this valid for historical data or just a particular date? can we parameterize some of the R script?

[2018-07-05 18:50] anfrench commented on #230
I’m not sure what is being asked, the R script is intended to be applicable to data being collected now with the new thermal infrared window. Data collected using the older window will require using different coefficients—the transmissivities of the thermal windows are all different. –Andy French

From: Max Burnette [mailto:notifications@github.com]
Sent: Thursday, July 5, 2018 11:43 AM
To: terrar

[2018-07-05 19:21] rickw-ward commented on #230
I'm working on generating plot level data from flir geotiffs @max-zilla referenced above.  These are uncorrected, so I'm just working on workflow.   I've attached a screen shot of Qgis
![image](https://user-images.githubusercontent.com/21243879/42343095-d79ae5e6-804c-11e8-9d42-1a533a655eb4.png) .    The screen shot is of a portion of the gantry polygons from a year ago, with identify results show

[2018-07-06 16:17] sbrad77 commented on #151
Communication Record:
On Jul 5, 2018, at 11:56 PM, LeBauer, David Shaner - (dlebauer) <dlebauer@email.arizona.edu> wrote:
Hi Vasit

There are a lot of open GitHub issues related to your work that need to be reviewed.

Below is one example - can you please review this issue and provide feedback - is it still relevant? Should Jeffrey take these measurements?

More generally, how would you like to co

[2018-07-06 16:17] sbrad77 commented on #151
Communication Record:
Hi David,
I will review these and act accordingly. For the near term, I plan to focus hyper calibration that is why did not pay attention much in other issues.

Thanks for letting me know.

Vasit

[2018-07-13 04:52] NewcombMaria opened #245 "Systematic gaps in MAC weather station in gantry cache"
@robkooper @jdmaloney and @dlebauer there are gaps in the data from the MAC weather station in the corner of the field that appear to go back to Feb 2017.  Most often it looks like data for 1 full day and 1 partial day are missing every week.  From what we can tell the data output from the environmental sensors on the weather is continuous.  The problem may be in the system that puts the data into

[2018-07-13 14:20] robkooper commented on #245
Assigned to @jdmaloney to make sure all data is on the NAS and is transferred correctly to cache server.

[2018-07-13 16:43] zhenbinHU opened #246 "Submit 2017 KSU data"
_PLEASE USE THIS TEMPLATE when submitting a new issue_

### Description (REQUIRED)

### Completion Criteria

[2018-07-13 17:30] jdmaloney commented on #245
Spent a bit of time on this here over lunch, based on file stat output I can see when these files are getting dumped onto the NAS.  It confirms our initial suspicion, it appears that the dumping of the data to the NAS takes a break on the weekend.  For example a normal file is dumped to the NAS roughly an hour or so after capture:
[/share/Public/WeatherStation/WeatherStation] # stat WeatherStation

[2018-07-16 18:51] robkooper commented on #245
Would it make sense to have the software copy it both to the NAS as well as to the cache server directly? That way we do no longer need the script from JD and when the data is copied it is immediately picked up by the cache server and thus globus transfer protocol.

[2018-07-17 20:15] jtheun commented on #245
Rob, I think the answer is no, but I'm just not sure. Looking back at the emails bounced around between our campus IT and our on-site man (retired) there are firewall issues. Not in my line of work so I don't understand the lingo. I think a direct way to the cache server was looked for initially and this current solution was the easiest way forward.

[2018-07-17 21:19] jdmaloney commented on #245
I've moved us back to a 2 day check, down from the 4 day check I put us to.  That will leave some grace for unexpected outage issues, etc.  I'm still working to get time to get files we missed in place on the cache server (I copied all the NAS contents over, just need to diff with what we have and complete the dataset.  Once I do that, I'll close this issue.

[2018-07-24 16:57] jdmaloney commented on #245
I've taken care of the diff, all has been sent to NCSA.  This should be all good to go.

[2018-07-24 16:57] #245 closed

[2018-07-25 20:21] jdemieville-ua commented on #226
@NewcombMaria  and I have talked through a method of figuring out the correct positions. Included is a rough diagram.

![diagram](https://user-images.githubusercontent.com/40777832/43225068-1a07f5e8-900d-11e8-94d4-006ea7ffafd8.png)

1. Add the start time of each hyperspectral measurement to a matrix of length n.

**t_hyperspectral = [t_0, t_1, t_2, …]**

2. Compute a matrix of time differences wit

[2018-07-25 21:21] dlebauer commented on #226
A few thoughts -

* First, it would be useful to look at the metadata inside the files (as opposed to the json files).
* It would also be useful to overlay the hyperspectral and RGB images to see if the interpretation is correct.
* the hyperspectral data have four dimensions: x, y, t, and wavelength. The x and t dimensions are the same length - each ~1mm scan line along the x axis has a distinct t

[2018-08-02 17:47] dlebauer commented on #146
this has been completed

[2018-08-02 17:47] #146 closed

[2018-08-10 18:29] jdemieville-ua opened #247 "FLIR Image Deterioration Mid-Scan"
FLIR QC spot-checking shows deterioration mid-scan beginning:
24 July - 12:52:54
25 July - 12:21:32
27 July - 14:52:48
On the morning of the 27th, we tried the camera and imagery appeared functional.

![before](https://user-images.githubusercontent.com/40777832/43974720-438304e6-9c90-11e8-8a92-7df25308ac2f.png)
![after](https://user-images.githubusercontent.com/40777832/43974726-45c27fe8-9c90-11e8

[2018-08-14 14:55] max-zilla commented on #247
july 23 & 24 fullfield is now available in Globus. other dates in process.

[2018-08-21 16:27] NewcombMaria commented on #247
We've discussed the issue with Jeff White and Andy French.  Jeff reviewed the consecutive single images from scan on 7/25:  12:21:18 (good image) and 12:21:32 (deteriorated image).

Email from @JeffWhiteAZ: "when converted to Celsius with Andy’s coefficients for 35oC, there is a single pixel at x=343, y=259 with a value of -135.0474oC. In the raw bin, this pixel has a value of 1.  That distorts th

[2018-08-23 00:08] NewcombMaria opened #248 "Test scans for input on VNIR settings"
Today @jdemieville-ua and I ran multiple VNIR test scans across the short axis of the field with targets deployed at a range of exposure settings, all at 0.04 m/sec velocity (y axis speed).  The majority of the test runs were in triggered mode, one in untriggered mode.  Exposures ranged from 15 to 35 milliseconds.  Conditions were mostly cloudy during our test scan, but we had to proceed without w

[2018-08-23 03:27] Paheding commented on #248
@NewcombMaria and @jdemieville-ua Thanks for running the test scans. Were that VNIR data stored in Globus? If yes, could you please let me know the folder names? So that we can look into these specific data and find out the proper settings.

[2018-08-23 15:32] jdemieville-ua commented on #248
@Paheding : It doesn't look like they've made it into Globus yet. I'll keep an eye on it and update you with a list of directories when they're available.

[2018-08-23 15:35] max-zilla commented on #248
This issue is why they haven't been transferred via Globus yet:
https://github.com/terraref/computing-pipeline/issues/492

We have a ticket open with Globus, the endpoint is reporting an expired certificate even though JD looked on the cache server in AZ and it reports the cert won't expire until 2021. until this is resolved, transfers can't occur.

[2018-08-23 15:41] Paheding commented on #248
@jdemieville-ua and @max-zilla Thanks for the info. I look forward to seeing the images.

[2018-08-23 17:54] max-zilla commented on #241
let's include this in:
https://github.com/terraref/sensor-metadata/pull/10/files

[2018-08-23 18:15] max-zilla commented on #241
@craig-willis where are these new positions?

[2018-08-28 11:54] remotesensinglab commented on #248
All,
Patrick and I evaluated the data. We could run the quality check pipeline code on these as well to see if we can warn the quality issues automatically. But wanted to provide a quick note as we prepare for data collection. The report is available here.
[HSI_evaluation.pdf](https://github.com/terraref/reference-data/files/2327844/HSI_evaluation.pdf)

I think the 20 ms exposure time with 50 fram

[2018-08-28 13:36] max-zilla commented on #248
@Paheding here are the datasets we transferred for VNIR from 8/18 and 8/20:

![screen shot 2018-08-28 at 8 34 09 am](https://user-images.githubusercontent.com/14166971/44726450-607a1100-aa9d-11e8-9ab7-9ed437192210.png)

![screen shot 2018-08-28 at 8 34 22 am](https://user-images.githubusercontent.com/14166971/44726457-6243d480-aa9d-11e8-947a-a3e730bbd7d7.png)

...this matches the files and sizes o

[2018-08-28 15:12] remotesensinglab commented on #248
Ok. We will review these ASAP and report back to the team. thanks

[2018-08-28 19:10] rjstrand commented on #248
With respect to triggered acquisition, we have no real frame rate.  Frames are triggered based on position.  Position is based on the motion of the camera box.  We can change the trigger rate by either changing the velocity of the camera box, or the division rate in the frequency divider on the trigger circuit.

The Headwall frame period setting has no impact on the triggered acquisition.  Neverth

[2018-08-28 20:26] remotesensinglab commented on #248
Hi Bob,
Do not change anything until we evaluate other datasets. It seems there are more data than we evaluated that have been transferred to the server recently.

We will look at all systematically and get back to the team next day or two.

Thanks

Vasit

[2018-08-30 13:39] max-zilla commented on #241
merged. followup in computing-pipeline#502

[2018-08-30 13:39] #241 closed

[2018-08-30 21:02] Paheding commented on #248
Hi all,

We have run the image quality evaluation algorithm on the available VNIR test scans, and conducted some analysis on the spectral profiles of plant and white pannel. All results are attached here ([HSI_evaluation.pdf](https://github.com/terraref/reference-data/files/2337821/HSI_evaluation.pdf)). For convenience, a short summary is as follows:

- **Suggested Setting**: 20 ms exposure time w

[2018-08-31 23:49] dlebauer commented on #248
Regarding the geometrical distortion - is this file on globus where I can take a look? If you are referring to the fact that the round objects appear oval, isn't this just a reflection of the fact that the size of the pixel in the left-right direction is determined by the camera and the scan direction (up) is controlled by the speed of the camera? i.e. is this an artifact of trying to fit rectangu

[2018-09-01 00:16] dlebauer commented on #248
a few minor details on the soil mask data products ... the way the files are currently generated, the metadata is incomplete (if you compare the output of `ncdump -h file.nc` on a L1 vnir file compared to this, you will see that each variable in the L1 file has a number of attributes including name, long name, units, description, notes, etc.  Also, the original dimension 'x' and 'y' have been repl

[2018-09-03 21:29] Paheding commented on #248
@dlebauer The files are located at Globus-- **/ua-mac/raw_data/VNIR/2018-08-22/**. Typically, the distoration can be due to mirror scans, velocity variance, weather conditions, etc. I am not quite sure if the wind blowing occurs at that date that caused the distoration. Based on the experiences from UAV based hypersepecral image collection, the pixel distoration can be corrected by properly adjust

[2018-09-03 21:35] Paheding commented on #248
@dlebauer The soil mask extractor (https://github.com/terraref/extractors-sunshade) will process a netCDF data file and export a binary mask of
non-vegeation area from hyperspectral imagery, and generates background (typically soil)
removed hyperspectral imagery with the associated NDVI value as well as soil fraction area. The georeference points are also added to the meta data. These outputs were

[2018-09-03 21:42] Paheding commented on #248
@NewcombMaria We glad to hear the analytic report is helpful. And thanks again for collecting more data.  Especially the data containing seedling emergence and lighting condition would help to robust analysis on the spatial and spectral content. We will provide more analytic results on the coming data and share with the team.

[2018-09-04 18:46] NewcombMaria opened #249 "MAC Season 7 field metadata"
@dlebauer the site/cultivar information for Season7 field metadata is now located in the shared folder:

https://drive.google.com/drive/folders/1-6WzS881x_sEAD0gleWLxewXJqPDeXPr

There are separate files for plots (864 in total) and E/W subplots (1728 in total).  Let me know if there are questions.

[2018-09-05 19:21] NewcombMaria opened #250 "VNIR jpg output and livestream view have green line"
@remotesensinglab and @Paheding we need your assistance on an issue with the VNIR output that we've observed since the camera has been installed.  The jpg files that are included in the output of every measurement, as well as the Headwall software 'waterfall' live-view that we monitor during the scan, both show a green line.  The line extends East-West in the image, more on the North side.  By loo

[2018-09-05 21:00] Paheding commented on #250
@NewcombMaria We can definitely check this issue. Could you please provide a full directory that we can download this VNIR data?

[2018-09-05 23:07] NewcombMaria commented on #250
@Paheding the stripe is visible on all the VNIR images, including 22-Aug exposure test images (targets deployed) and short scans on 31-Aug, 1-Sep, and 2-Sep (targets not deployed).

[2018-09-06 15:36] Paheding commented on #250
@NewcombMaria Thanks, we will do some investigation on those dates data.

[2018-09-07 14:26] NewcombMaria commented on #226
@dlebauer are there any updates?  Are x-position data being corrected during re-processing, or are there any flags for data users that the x-position for VNIR/SWIR may be incorrect?  There's a good chance that any/all VNIR/SWIR data from summer 2017 can be used as an example, but I'm not certain of script changes during season4.

[2018-09-10 15:00] SeanHartling commented on #248
All,

Just wanted to share some test data we gathered to examine the exposure settings for hyperspectral collection.  The data below was collected from our UAV platform with Headwall Nano VNIR hyperspectral camera.   Despite our best timing attempts, there were intermittent clouds during the collect.  The two left scenes are from the same flight path.  A-1 is the start of the mission, then A-2 is

[2018-09-11 18:59] Paheding commented on #248
@dlebauer Althought the correction on the pixel distoration is not current priority, we have quick-checked several VNIR data that were previously captured, It looks like the spatial resolution is better than recent one.  A sample image is shown below:

Image tag: 2018-02-01__15-05-34-160
 ![image](https://user-images.githubusercontent.com/24866799/45369235-0a33c480-b5ab-11e8-83be-ab07ab016fd3.png)

[2018-09-14 00:00] NewcombMaria opened #251 "Hyperspectral calibration target support arm"
@remotesensinglab an outcome of a productive meeting with Pedro and @jdemieville-ua:  we realized the need for test scans to evaluate calibration targets placed at different positions below the hyperspectral camera lenses.  From an engineering perspective, mounting a target attached to the camera box is most stable if the target can be fully or partially contained within the camera box, which woul

[2018-09-14 21:15] Paheding commented on #251
Thank you for running this test. We are able to download all the data.  We are doing some analysis now and will share our results with the team.

[2018-09-24 20:20] dlebauer opened #252 "Traitvis webapp does not reload properly after reboot"
After the traitvis webapp is rebooted, it does not have a complete dataset.

I am unable to reproduce this issue locally. I suspect that the docker logs may have some additional information as to what is causing this issue to occur.

What I expect is what happens when I run this locally, and what @craig-willis gets after he restarts the docker image (not sure if he just reruns the cache-refresh.R

[2018-09-25 23:45] NewcombMaria commented on #250
Copying email discussion from 20-Sept:

From: Newcomb, Maria S - (newcombm)
Sent: Thursday, September 20, 2018 11:51 AM
**Subject: Re: 7100019 - VNIR**
Hi Vasit,
All of the VNIR data collected since Sept 14, including Sept 14, has non-uniformity correction enabled. And all data since VNIR installation up to Sept 14 is without the correction.
Thanks,
Maria

From: Robert Strand <robert.strand@lemnat

[2018-09-25 23:57] NewcombMaria commented on #248
Thanks Patrick and Vasit for input on exposure settings.  Now that the sun angle is lower and there is more sunlight, we are wondering if the 20 ms exposure setting is best for bright sunlight, or if 15 ms exposure for VNIR and SWIR may be better when the image is in full sun.

We collected data on 2018-09-22 to compare the 20 ms and 15 ms exposure settings.
SWIR 15 ms:  /ua-mac/raw_data/SWIR/2018

[2018-09-26 18:38] Paheding commented on #248
@NewcombMaria Thanks for conducting experiments. We will evaluate those data and provide the feedback.

[2018-09-26 19:53] Paheding commented on #250
@NewcombMaria Thanks. This is great to know. We will do some evaluation on the corrected scan.

[2018-09-27 18:06] max-zilla commented on #252
cache file ~400 MB if it works properly? this does not seem to happen consistently. on workbench R studio it works fine.

[2018-09-28 18:45] max-zilla commented on #252
We're currently thinking shiny might be timing out on the BETY pull:
[code]

default seems to be 60 seconds. increased 5 minutes and running a test.

[2018-09-28 19:00] max-zilla commented on #252
Updating timeout seems promising:
[code]

[2018-09-28 19:44] max-zilla commented on #252
OK, - @tcnichol as we hoped restarting the container _and not trying to load the webpage before the cache is done_ worked with a 20 minute timeout:
[code]

On Monday we can see if loading the page mid-cache refresh is causing problems itself or if the long 20 min timeout resolves it. In the meantime, app is up with all data.

[2018-10-04 16:08] Paheding commented on #250
@NewcombMaria We have checked the several images before and after making the correction. According to some analysis on the several sensitive bands to the stripping noise, we found that the stripping noise is not present on the images after the correction. Thus we may conclude that the noise issue is due to the unenabled non-uniformity correction.

An example of the comparison on images before and

[2018-10-04 18:36] dlebauer commented on #252
make sure to add shiny-server.conf file to repo (and document in readme)

[2018-10-11 18:36] max-zilla commented on #252
can we run cache-refresh.R as a background process in the docker init outside the app?

[2018-10-17 04:02] dlebauer commented on #252
Seems reasonable to me

[2018-10-25 18:54] dlebauer opened #253 "THREDDS Server environment logger data organization"
Some issues with the THREDDS catalog https://terraref.ncsa.illinois.edu/thredds/catalog.html

### Description

* Met data: Dates are of format YYY-MM-DD ... needs to be YYYY-MM-DD
* datasets are mostly named 'environmentlogger.nc; would be nice to have the full file name
* There is a dataset named "L1" that points to https://terraref.ncsa.illinois.edu/thredds/catalog.html?dataset=envlog_netcdf_L1_

[2018-10-25 21:43] Paheding commented on #248
@NewcombMaria  We have conducted some experments. The results suggest that those two settings do not make too much difference. However, 20 ms may be slightly better for both VNIR and SWIR cases. See the graphs below in details.

![image](https://user-images.githubusercontent.com/24866799/47532010-d53ab300-d874-11e8-8f89-c5e1078dce17.png)

![image](https://user-images.githubusercontent.com/24866799

[2018-10-29 15:02] max-zilla commented on #235
https://github.com/terraref/computing-pipeline/wiki/Reprocessing-2018---Structure-Review

[2018-10-30 19:36] jdemieville-ua opened #254 "Request Verification of 3D Cloud Quality"
Title: Request Verification of 3D Cloud Quality

Tags: 3D, laser, point, cloud

### Description
Typical QC of laser data at gantry is done by looking at the preview PNGs. After a night of deployed reference 3D target, I loaded the PLY files into CloudCompare to see how it looked. Overlaying the east and west point clouds, it appeared that the east side had a curvature to it, as seen below. I see t

[2018-10-30 21:38] ZongyangLi commented on #254
@jdemieville-ua
I am not able to observe the 'curvature' from my software.

![snapshot00](https://user-images.githubusercontent.com/20230686/47752323-24605980-dc62-11e8-89ab-9f4c66330959.png)

Could you please point me out what is 'curvature' mean and high light the curvature area.

[2018-10-30 22:44] jdemieville-ua commented on #254
@ZongyangLi : Is that both East and West clouds? I'm not very familiar with CloudCompare, but loading with the default settings, the left edge on the East cloud appears to pull upwards in a front view. The West cloud, in contrast, appears flat. I see this on both days mentioned. If you're able to load both East and West clouds and don't see the issue, then this should confirm that the instrument i

[2018-10-31 15:28] ZongyangLi commented on #254
@jdemieville-ua @dlebauer

I also see those curvature in the east side point cloud, both in two day's data.

From my understanding, it should not curvature like this. This might due to a calibration problem, or some in-expected anamorphic lens problem. I will ask @pless for some further advise. We may also report this to LemnaTec.

[2018-11-05 16:17] pless commented on #254
I have discussed this with Zongyang.  We think:

(a) this looks like a calibration issue.  The calibration for this type of sensor describes where the camera and laser are, relative to each other, and how they are oriented.  If the calibration has an error, where, for example, the rotation of the camera is wrong, that could lead to an error where straight surfaces look like they are curved.

(b) B

[2018-11-05 17:58] jdemieville-ua commented on #254
Thanks, @pless and @ZongyangLi. A LemnaTec issue was created for this late last week. With the system being down for construction, we won't be able to verify that it is using the correct calibration file for a bit. I'll pass along this feedback to LemnaTec and keep you updated as to any results.

[2018-11-26 22:31] dlebauer commented on #249
@NewcombMaria do you have a list of the cultivars for season 7? I see in the spreadsheet (https://docs.google.com/spreadsheets/d/1iqqSAwiB56w_X1OElE4SvV0vTuxnceM23uDhpkeR0_4/edit#gid=144503171) that there is a list of cultivars, but it is not clear if information like 'bloomless' and 'wildtype' should be appended to the cultivar names or if they would be better put in the notes field, or perhaps t

[2018-11-26 22:35] dlebauer commented on #249
@kimberlyh66 for season 7 it looks like the plots need to be divided into 4 'experiments':

- MAC Season 7: RIL
- MAC Season 7: Uniformity
- MAC Season 7: Border
- MAC Season 7: F2

the links between sites and experiments will be found in the experimental design tables above

[2018-12-03 20:19] dlebauer commented on #249
from @NewcombMaria:

One important point about the F2 families is that the F2 generation is still segregating so each plant in the plot is genetically distinct.  This is different from lines included in an association panel (BAP or Durum Wheat Panel), and also different from the F10 generation of a RIL population that is advanced to a generation that is no longer segregating.

The mutant lines are

[2018-12-04 19:33] NewcombMaria commented on #249
@dlebauer and @kimberlyh66 since the S7 RIL experiment is a repeat of S2 experiment (Aug-early Dec 2016), I revised the experiment description for Season2 and used similar wording for the Season7 RIL experiment.  See S2 RIL experiment description https://terraref.ncsa.illinois.edu/bety/experiments/6000000008

I created a new S7 spreadsheet with cultivar names that match S2, and with revised mutant

[2018-12-06 18:07] max-zilla commented on #252
This issue appears to be resolved by fixes in this PR:
https://github.com/terraref/traitvis-webapp/pull/18/files

Was unable to recreate bug running that version.

[2018-12-06 19:56] max-zilla commented on #254
For reprocessing we reference this as a Known Issue in existing data so we can proceed with the las2height processing, then we can rerun early next year once fix is in place.

[2018-12-12 22:44] dlebauer commented on #249
@NewcombMaria could you provide more details on the "small photosynthesis-inhibitor herbicide experiment to evaluate the PSII imaging system." in the uniformity experiment?

[2018-12-12 22:50] dlebauer commented on #249
I believe that all of the updates have been made; the sql statements are in the google drive.

Before closing this issue:

* [ ] @kimberlyh66 please check that data are consistent using the R functions that you developed
* [ ] @NewcombMaria I think it would be useful to describe the herbicide experiment in the experimental description ... please update here: https://terraref.ncsa.illinois.edu/bety

[2018-12-12 22:52] NewcombMaria commented on #249
@dlebauer are you referring to the 'Uniformity Blocks' description?  There were multiple experiments completed in that section of the field, including destructive sampling for in-season biomass in multiple plots, and the validation test for the PSII imaging system.  The uniformity ranges served more than one research objective.  How do you want to handle that?

[2018-12-12 23:20] dlebauer commented on #249
This is where it would be helpful to understand how the data will be used in order to know how to encode the information. But here are a few options:

- We could subdivide the experiment into specific objectives, and each plot could be linked to one or more experiments.
- We can treat interventions such as herbicide application and biomass harvests as treatments, associated with a subset of manage

[2018-12-13 01:41] dlebauer commented on #158
To answer a few questions ...

* yes, we can move the formula + reference for the LAI reflectance index to methods.
* I think it is okay to just rename the ‘stem_diameter’ as ‘stalk_diameter’. I am not aware of any measurements in which the leaves were removed before measuring diameter.
* for height of the diameter measurement we can add the height as a covariate - though it would be sufficient to

[2018-12-13 01:43] #37 closed

[2018-12-13 01:45] #77 closed

[2018-12-13 01:47] dlebauer commented on #142
Available at traitvis.workbench.terraref.org

[2018-12-13 01:47] #142 closed

[2018-12-13 01:51] #199 closed

[2018-12-14 16:13] dlebauer opened #257 "Prioritize processing hyperspectral data from Oct 8 2018"
This is a high priority for an analysis that we would like to present in February (so ... this should be the first to go through the pipeline).

From Duke Pauli:

[2018-12-17 17:47] dlebauer opened #258 "Upload season 7 leaf chemistry data"
Need to upload data from Duke Pauli from Oct 8. See forwarded email for data.

* [x] put spreadsheets from email on google drive
* [x] create a worksheet of variables in a worksheet
   * some will already exist, many dont
   * only need 'dry basis'
   * [x] identify any duplicate variables, and keep a list of these
   * [x] identify variables that combine the trait and the method, and define new m

[2018-12-17 21:31] dlebauer commented on #257
@Paheding and @SeanHartling could you please try to run the hyperspectral workflow on the Oct 8 VNIR data from the gantry? @max-zilla has tried and encountered some errors from NCO that he has been unable to debug. The errors that Max got are here: [hyperspectral_errors.txt](https://github.com/terraref/reference-data/files/2687868/hyperspectral_errors.txt), and says "Debug this":

[code]

[2018-12-17 21:36] Paheding commented on #257
@dlebauer It seems some values are missing since it states, "No value for $TERM and no -T specified
tput", we will look deep into it.

[2019-01-03 21:06] dlebauer opened #259 "Transfer Leaf length output data into BETYdb"
(From @ZongyangLi )

Zeyu from GWU successfully ran the leaf length pipeline from our laser data. The current output data are here:
https://drive.google.com/open?id=143bCjxCv61Vf0uE60Z5clLUFQfhP2kox

In order to re-form it into a BETYdb friendly version, I made another example of output csv file here: https://docs.google.com/spreadsheets/d/1_h3xq_N8x9G35aji40KsJSZqnqmXAXKFYJz3_74cw4c/edit?usp=shar

[2019-01-03 21:10] dlebauer commented on #259
Based on a quick look, the updated format looks good

The format looks good.

One thing to note is that each metadata value in the table needs to correspond to a record in the database. Therefore, you will need to

*  [ ] create a citation record with the author, year, and title that are in the csv file here: https://terraref.ncsa.illinois.edu/bety/citations/new
* [ ] create a variable named ‘leaf

[2019-01-03 21:21] ZongyangLi commented on #259
@dlebauer Could you also add @abby621 to our project. She is also going to follow up this.

[2019-01-04 16:31] ZongyangLi commented on #259
@dlebauer I think @Andrewzhzy is Zeyu Zhang from GWU, can we add him here to follow this up?

[2019-01-04 16:33] dlebauer commented on #259
@ZongyangLi sorry about that; I've added Zeyu and Abby

[2019-01-04 21:20] kimberlyh66 commented on #217
I think no managements records are showing up for MAC Season 2 since '%Season 2%' site names are associated with MAC Season 1 experiments. Also, some management ids (1471281597, 1488843492, 6000000002, 6000000003) from above are not found in the managements_treatments table.

[2019-01-07 18:18] Andrewzhzy commented on #259
Hi @dlebauer, I signed up on the betydb, and tried to create citations. But it seems my account don't have the permission to do so. Is there anything else I should do to to get the permission? Thanks!

[2019-01-07 19:22] dlebauer commented on #259
Hi Zeyu - I just updated your permissions - you should now be able to create new records.

[2019-01-07 19:36] Andrewzhzy commented on #259
Thanks!

________________________________
From: David LeBauer <notifications@github.com>
Sent: Monday, January 7, 2019 2:22:40 PM
To: terraref/reference-data
Cc: Zhang Zeyu; Assign
Subject: Re: [terraref/reference-data] Transfer Leaf length output data into BETYdb (#259)

Hi Zeyu - I just updated your permissions - you should now be able to create new records.

—
You are receiving this because you

[2019-01-08 16:28] NewcombMaria opened #260 "R script to extract the 3d laser height estimates from Betydb"
@kimberlyh66  could you provide R script to extract a single day of 3d laser height estimates from Betydb from Season 5? Or could we set up a time for a demonstration of how to extract the sensor-derived height data from Betydb.  I have ground-truth height data from the end of Season 5 and @max-zilla suggested it would be useful to correlate the laser-derived heights with the ground-truth data.  @

[2019-01-09 18:41] dlebauer commented on #258
For the existing crude_protein and sugar content variables, we need to distinguish the variable from the method. These data were measured using the John Deer Harvestlab 3000 https://www.deere.com/en/technology-products/precision-ag-technology/data-management/harvest-lab-constituent-sensing/

Prior to uploading the new leaf chemistry data, please:
* [ ] create a new method and citation that describ

[2019-01-09 19:30] NewcombMaria commented on #244
@max-zilla and @ZongyangLi as you work with the RGB extractors and StereoTop images, it's a good time to return to this issue of changing the exposure setting during a scan for situations when the cloud and/or lighting conditions change.  Recently @jdemieville-ua and I have been talking about how to select the exposure setting for a scan on a day when it starts out cloudy but transitions to more s

[2019-01-09 21:59] kimberlyh66 commented on #260
@NewcombMaria an example R script that can be used to extract 3d laser height data from Betydb can be found at [https://gist.github.com/kimberlyh66/85dd71f23847a38520d60f781e1f60ba](https://gist.github.com/kimberlyh66/85dd71f23847a38520d60f781e1f60ba)

[2019-01-09 22:58] kimberlyh66 commented on #217
@dlebauer here are the update statements needed to fix issues occurring with season 2 management records:
[code]

[code]

[2019-01-09 23:17] dlebauer commented on #217
Thanks - I've run these statements against the terraref instance of the database.

[2019-01-10 19:39] max-zilla commented on #254
TODO: need to integrate the meeting notes from the call about this issue. For winter 2018-19 we are running current algorithm. Should reference this in extractor readme.

[2019-01-11 17:04] kimberlyh66 commented on #258
@dlebauer thanks for the clarification.  Here is the update statement to link  the existing trait records of crude_protein and Sugar_content to the new harvestlab method.

[code]

Also, I have temporarily assigned the year to be 2019 in the new harvestlab citation.  Do you know what the year should be?

[2019-01-11 17:53] dlebauer commented on #258
thanks. If you are referencing a website, use the access date of 2019. If a pdf, either use the publication date or the access date.

[2019-01-11 17:55] dlebauer commented on #258
I've updated the database.

[2019-01-23 16:10] zhenbinHU opened #261 "Traits package to download data from BETYdb"
I try to download the date from BETYdb using traits package, for season 1, 2, 5 the code work well. For season 3, I got

                                   trait     = "canopy_height",
                                   sitename  = "~Season 3",
                                   limit     = 'none')

NULL

For season 4, I got

                                   trait     = "canopy_height",

[2019-01-23 16:26] dlebauer commented on #261
There are no canopy height data for season 3. For season 4, the method name is 'Scanner 3d ply data to height' - you should get 63,900 records.

Try

[code]

[2019-01-23 16:30] dlebauer opened #262 "Prepare data samples from Seasons 4 and 6"
Prepare sample data sets for D3M and Phenome

Subset by date and plot:
1. by plot, use plots in ranges 20 and 30
1. by time (for sensor data) take data from four separate weeks: before planting, 4 and 8 weeks, and the last day of measurement before harvest.

|         | Season 4   | Season 6   | number of consecutive days |
|---------|------------|------------|----------------|
| Start  | 2017-04-

[2019-01-23 18:05] zhenbinHU commented on #261
Thanks, it works. Obtained a 70,401 x 38 dataframe.

[2019-01-23 22:50] dlebauer commented on #261
Great - closing since the issue is solved

[2019-01-24 17:19] dlebauer commented on #189
To find list of all methods:

[code]
Then upload to google drive so that we can annotate / discuss needed changes.

[2019-01-25 16:51] zhenbinHU commented on #261
@dlebauer I used the traits package to download the plant height data. However, how can get a list for traits names for sorghum in betydb. So I can use the traits names to download other trait's data.

[2019-01-25 17:25] dlebauer commented on #261
You can find a list of all of the variables at terraref.ncsa.illinois.edu/bety/variables or, equivalently,

[code]

Though note that the existence of a variable does not mean that there are actually data ...

To see what is actually in the database, you can browse traitvis.workbench.terraref.org and here is a current snapshot of the number of records we have for each variable: https://gist.github.

[2019-01-25 20:38] #174 closed

[2019-01-25 20:46] dlebauer commented on #189
Here is a table of empty methods https://docs.google.com/spreadsheets/d/1Pk_k5zm1W7I1jhzKoxMSGBhrHAPBWZh5GF2PL2vWrfk/edit#gid=675637843

[2019-01-28 17:05] NewcombMaria commented on #260
@max-zilla I was able to get help from Kimberly to run the R script to extract 3d-laser-derived heights from 31-March-2018.  There were only 37 mean height values and 24 were zeroes.  The sites were from a subset of plots in ranges 5, 6, 8, 12, 17, 18, 19, 20, 21, and one plot from 26.  Does this match with what you are seeing for outputs?  Manually collected height data is available from 30-March

[2019-01-28 21:16] dlebauer commented on #260
I can confirm that there are only 37 records in the database for March 31 2018. Not sure why this is the case unless either only a few ranges were scanned or the canopy height extractor wasn't run for all of the available data.

This is what we have:

![image](https://user-images.githubusercontent.com/464871/51866875-58055b00-2307-11e9-8b95-89d085b89440.png)

[2019-01-29 16:20] dlebauer commented on #262
hi max ... I put the samples on globus under /samples/sampletraits here: https://app.globus.org/file-manager?origin_id=403204c4-6004-11e6-8316-22000b97daec&origin_path=%2Fsamples%2Fsampletraits%2F

the queries I used are here: https://gist.github.com/dlebauer/b3b0e12f70e5b86d1c20a9c962f4df65

[2019-01-29 18:00] max-zilla commented on #262
Data is uploaded here: https://terraref.ncsa.illinois.edu/clowder/spaces/5c50512a4f0c436195b9ad67

[2019-01-31 19:15] NewcombMaria commented on #262
Thanks @max-zilla and @dlebauer for collating example data sets!  Is anyone doing QC on the canopy_height (Scanner 3d ply data to height)?  I don't want to step in if someone else is covering QC.

In case it's helpful, I looked at the data and notice some anomalies.  Season-4: mean of the canopy height values on 27-April = 26.1 cm, and the mean of values on 24-May is 28.5 cm.  The 27-April heights

[2019-01-31 22:51] dlebauer commented on #186
No longer relevant owing to new implementation.

But I have marked all data generated by the old version of the extractor as 'checked=-1' i.e. 'checked and found to be in error' because it is clear that the algorithm got confused:

![image](https://user-images.githubusercontent.com/464871/52090910-fa277c00-256f-11e9-8940-70e1ce82fcb4.png)

[code]

[2019-01-31 22:51] #186 closed

[2019-02-01 20:34] max-zilla commented on #262
Public space with large datasets designed for download:
https://terraref.ncsa.illinois.edu/clowder/spaces/5c50512a4f0c436195b9ad67
Each sensor x season has a large flat dataset.

Public space with plot-based datasets for RGB, IR and LAS here:
https://terraref.ncsa.illinois.edu/clowder/spaces/5c548a094f0c4b0cbe7afde1
This has collections for each sensor x day (divided into two seasons) and those co

[2019-02-01 20:35] dlebauer commented on #262
@NewcombMaria thanks for finding those - the previous canopy cover extractor had issues separating soil and plant under different lighting conditions; I've marked these records as 'checked and found to be in error' so they will be hidden from public access https://github.com/terraref/reference-data/issues/186#issuecomment-459537648

[2019-02-01 20:38] max-zilla commented on #262
Here is a matrix I used to adhere to the suggested dates as best as possible:
![screen shot 2019-02-01 at 2 36 41 pm](https://user-images.githubusercontent.com/14166971/52148285-ce1f0000-262e-11e9-910e-6014819feff9.png)

![screen shot 2019-02-01 at 2 36 35 pm](https://user-images.githubusercontent.com/14166971/52148286-cf502d00-262e-11e9-8542-48fbcd2b58cf.png)

We didn't have perfect coverage of s

[2019-02-01 20:51] dlebauer commented on #262
@max-zilla that looks fantastic - could you upload these tables (e.g. to google drive) so that we can make use of them (in documentation and presentatiosn etc?)

[2019-02-01 21:04] max-zilla commented on #262
@dlebauer https://drive.google.com/open?id=1IXJEQZkGuF495hhWO2-WJWPLqKyIsEyU

Copied these 2 slides, along with several others that might be useful for such a presentation. Those two are near the end.

[2019-02-06 04:45] #261 closed

[2019-02-07 15:04] #262 closed

[2019-02-11 21:47] #260 closed

[2019-02-11 21:51] max-zilla opened #263 "Examination of laser3d height data QA/QC"
Wanted to create a main issue to examine the quality of the canopy height trait data derived from the laser3D data.

#262 has some notes from @NewcombMaria about days to examine.

[2019-02-11 22:58] dlebauer commented on #263
I've marked all of these data in the database as `checked = -1` which means that they aren't available via the api or web interface. These are all of the season 4 and season 6 sample data from ranges 20 and 30, including canopy height and canopy cover:
[season4and6traits_with_height_and_canopy_cover.zip](https://github.com/terraref/reference-data/files/2853375/season4and6traits_with_height_and_can

[2019-02-15 23:00] ericclei opened #264 "Obtaining spectral and composition data at subplot or plant level"
I am trying to combine hyperspectral data with leaf chemical composition data from BETYdb at a subplot or plant level.

I am most interested in spectral and composition data, though any other categories would be helpful too.

The end goal is to predict composition from other traits. As I understand from my conversation with @dlebauer, I will need to process the hyperspectral image data in order to

[2019-02-16 00:25] dlebauer commented on #264
@ericclei one place to start is with the sample data

- we have sample VNIR hyperspectral and composition data from Season 4 here: https://terraref.ncsa.illinois.edu/clowder/datasets?space=5c50512a4f0c436195b9ad67&status=publicAll
   - the chemistry data are in this csv https://terraref.ncsa.illinois.edu/clowder/datasets/5c508f7a4f0c65ff4fa3e70d?space=5c50512a4f0c436195b9ad67
   - some hyperspectr

[2019-02-16 00:31] dlebauer commented on #264
If you use the [nco software](http://nco.sourceforge.net/), you can clip along the x and y dimensions using a command such as `ncks -d x,1200,1400 -d y,2000,2100 in.nc out.nc` to subset a box w/ bounding box (1200,2000),(1400,2100). The challenge is to match up the lat/lon with the y/x dimensions.

This is [documented](https://docs.terraref.org/user-manual/data-products/geospatial-information) but

[2019-02-18 16:27] max-zilla opened #265 "Data archiving strategy"
We are nearing our full 1 PB allocation on storage condo. With full-field mosaics running on the RGB plant mask & NRMAC data in addition to what we had before, plus new plot-level imagery products, plus ongoing data capture including VNIR, we won't make it through March without taking steps.

https://opensource.ncsa.illinois.edu/confluence/display/CATS/Clowder+Data+Archiving+Support

I created a C

[2019-02-19 14:06] #217 closed

[2019-02-19 15:17] ericclei commented on #264
Thanks for the guidance. Is there a way to get plant-level chemical composition data, or have I missed something?

[2019-02-20 20:32] dlebauer commented on #264
@ericclei mostly we are treating the measurements at the plot level. There are a few cases where we have measured traits repeatedly on the same plant. In season 4, some of the plants were tagged for the purposes of repeated measurements. To date, I am not aware that anyone has gone back to identify these specific plants in images although, although in principle I believe it can be done.

These can

[2019-02-20 22:43] ericclei commented on #264
How about composition at the subplot level? How are the plot level measurements collected in the first place?

[2019-02-20 23:18] dlebauer commented on #264
Information about the methods (still not fully curated) is stored in the [methods table](https://terraref.ncsa.illinois.edu/bety/methods). Often a set of leaves are selected (either randomly, or according to a standard protocol like the three plants at the center of each row) and measured. In general, though, we don't keep track of the individual plants (except to identify that multiple measuremen

[2019-02-28 18:26] max-zilla commented on #223
Last comment from @dlebauer :
I think that the next step after finishing the current reprocessing is to generate the data package for publication https://github.com/terraref/reference-data/issues/106. Then it will be possible to begin writing up the data paper. During writing / before publication it will be necessary to update field and computational protocols.

[2019-02-28 18:50] max-zilla commented on #263
Per discussion from email thread:

Roman:
[code]

Pless:
[code]
Zongyang:
[code]
<img width="1096" alt="screen shot 2019-02-26 at 2 25 20 pm" src="https://user-images.githubusercontent.com/14166971/53590395-44901e80-3b57-11e9-9568-1e55a18c740e.png">

Currently their team is digging further.

[2019-02-28 20:39] max-zilla commented on #265
As discussed in the google doc (https://docs.google.com/document/d/1V4zL4W6JwFJQCYJ40d1mUpnlqLqXjoCA6_z7ozJxMUc/edit)

- we will start with raw_data for Seasons 1-3 & 5, then Level_1 after
- roughly 500 GB target size for each tar chunk

raw data:
![picture2](https://user-images.githubusercontent.com/14166971/53596652-d0a94280-3b65-11e9-83b8-3b750387e1af.png)

Level1+:
![picture1](https://user-ima

[2019-03-01 16:47] srstevens commented on #265
Just a heads up on the archiving . I hadn't seen how far along this was.  JD has been archiving everything in daily tar files (so a wrap up of all sensors for a given day) up to this point.  These are all already transferred to Tape.  Do we want to repackage everything and delete the old tape archive data as the new archive files are rolled in?

Also as far as checksums, I think it would make even

[2019-03-01 17:25] robkooper commented on #265
If possible I'd like to keep these separate, one is a raw backup dump that is not ordered except for daily. The other is an archive per sensor per season so this is easier to retrieve when we need to reprocess a whole season (which most likely we will do per sensor).

If we start to run out of tape space, we can start to remove the daily dump files.

[2019-03-06 15:38] max-zilla opened #266 "No Season 8 experiment data in BETYdb"
While archiving was going on yesterday I figured I'd start uploading Season 8 raw data to Clowder (we stopped the upload pipeline at the end of Oct 2018 after S7 harvest).

However season and experiment data are returning not found because there doesn't seem to be any S8 definitions in BETY, so I killed the upload until we have some.

Listed experiments:
[code]

[2019-03-06 15:58] dlebauer commented on #266
@NewcombMaria can you provide the experimental data and work with @kimberlyh66 to get it uploaded?

[2019-03-06 19:15] NewcombMaria commented on #266
@kimberlyh66 and @dlebauer I uploaded a spreadsheet with the site/cultivar/treatment metadata to the shared folder:
https://docs.google.com/spreadsheets/d/1yxf6-ji0Ay4t3GPbqQmYs5znGzys6fdif-NnYNrhs6I/edit#gid=1923709505

The shape files for the plot polygons have shifted slightly for season 8.  The shape files for the single-row subplots and the two-row plots are in the folder at the following dir

[2019-03-13 18:05] dlebauer commented on #266
@NewcombMaria what are the planting and harvest dates? Do you have details on the experimental design and irrigation? Are all of the genotypes already in the database?

[2019-03-13 18:29] NewcombMaria commented on #266
@dlebauer planting date was 2018-12-18, harvest has not happened yet.  All genotypes should be in the database from previous seasons.  The experimental design is a row-column design with two irrigation treatments implemented starting 2018-03-06 (no irrigation and well-watered with irrigation as needed based on weather).

[2019-03-13 18:30] dlebauer commented on #266
also, for clarification - each two-row plot contains one irrigated and one non-irrigated row? If that is the case, then I think we should exclude the two-row plots since an experimental replicate consists of only a single row. Correct?

[2019-03-13 18:42] NewcombMaria commented on #266
Yes, starting 2018-03-06 until the end of the field trial a single experimental replicate consists of a single row.  Although from planting until 2018-03-06 both rows of the 2-row plots were under the same irrigation regime and the experimental unit could be considered a genotype (a 2-row plot).

[2019-03-14 18:41] max-zilla commented on #263
it was determined this occurs directly from PLY data, not being introduced from our extractor pipeline.

[2019-03-20 20:20] srstevens commented on #265
S1 raw_data: co2Sensor, cropCircle, EnvironmentLogger, flirIrCamera, lightning, ndviSensor, priSensor, weather, ps2Top, scanner3DTop.  Have all been packaged and moved to the archive.  Some still have checksums in progress.  As the checksums complete, the raw data will be removed.

The remaining chunks are being generated and transferred (1 in transit while the next is generating).  These will run

[2019-04-04 17:00] max-zilla commented on #265
From Sean on slack:

S1 raw_data for SWIR and VNIR are left. VNIR is ~2/3 done, then SWIR.  stereoTop was the last to get packaged and moved.  I've got that in the queue to be removed from the condo today and then I will also start removing the directories from VNIR that have been archived
I expect S1 raw data to be done by Friday

[2019-04-11 14:47] srstevens commented on #265
There are some gaps in between seasons where some of the sensors still have directories and data.  Do we want this archived in any way?

[2019-04-11 15:35] dlebauer commented on #265
Yes, these should be archived but not necessarily published - there are sensor tests and baseline bare soil measurements that may be of use (although there are also bare soil measurements pre emergence). So, these are lower priority but should be kept at least until they can be reviewed.

_______________________
David LeBauer
Director of Data Sciences
Arizona Experiment Station
THE UNIVERSITY OF A

[2019-04-12 16:30] jdemieville-ua commented on #263
A series of tests was conducted yesterday with varying scanner height. It should be helpful in determining what happens for plants both higher and lower than intended target height.

I placed our 3D aluminum target on the third step of a stepladder. Some approximate heights for checking against:
First Step on Ladder: 0.22 m from ground
Second Step on Ladder: 0.48 m from ground
Third Step on Ladder

[2019-04-12 17:58] kimberlyh66 opened #267 "How to handle duplicate variable names 'panicle_height' and 'spike_height'"
These should refer to a single variable?

Please reference terraref/reference-data#118.

[2019-04-12 18:33] NewcombMaria opened #268 "Radiation interception field measurements"
Season1 data-set for radiation interception field measurements using a Decagon ceptometer was uploaded to Betydb and subsequently we decided to reformat the variables (incident and ground-level PAR).  We discussed that Season1 data should be removed and then re-entered after converting to fractional PAR.

Data-sets from other seasons still need to be formatted as fractional PAR and uploaded.

[2019-04-15 20:24] max-zilla commented on #263
@ZongyangLi can you take a look at this?

[2019-04-16 15:49] dlebauer commented on #268
@NewcombMaria could you provide specific instructions about what needs to happen? For example, something like "Delete all records with variable name X, multiply this by that, re-upload". Links to spreadsheets with the data and / or related issues would also be helpful.

Note that if it is a matter of changing units or multiplying by a constant or another number, it may not be necessary to delete a

[2019-04-16 15:52] dlebauer commented on #267
panicle_height and spike_height should be combined.

One of the challenges highlighted in #118 is whether these are synonymous with canopy_height.

[2019-04-16 20:46] NewcombMaria commented on #267
For field data collected in Maricopa 'panicle_height' (ground to top of panicles) is distinct from 'canopy_height' (ground to top of foliar canopy).

Between the two variable names 'panicle_height' and 'spike_height', my vote for sorghum data is 'panicle_height'.  However I understand if you prefer to go with more generic 'spike_height' which could refer to wheat as well.

[2019-04-16 21:01] NewcombMaria commented on #268
@dlebauer could we have a brief phone or shared-screen meeting on this topic sometime?  It tracks to season-1 data and your suggestion to change the variable to fractional PAR and interpolating incident PAR from sparse time points - it would help to understand your preference for the PAR measurements.

[2019-04-17 22:06] dlebauer commented on #268
I'm busy today and tomorrow but Friday I have time available. I think it would make sense to store data as ground level PAR with above canopy PAR as a covariate, plus % interception. If we already have the ground and above canopy PAR we can compute the %interception from these without removing data from the database.

[2019-04-26 22:47] dlebauer commented on #268
Season 1 data are here: https://docs.google.com/spreadsheets/d/1qq7gei6shrFjv91R9Bj92pMp4sIci4ThKZbngSbDOwA/edit#gid=2133044610

David:
* delete existing records from season 1 of incident_par and ground_level_par and Minutes_after_first_Incident_PAR
* add incident_PAR and ground_level_PAR to trait_has_covariates table

Maria:
* interpolate time
* compute the fraction_IPAR_at_0cm
* create a method

[2019-04-26 23:32] dlebauer commented on #268
Created a new variable, fIPAR https://terraref.ncsa.illinois.edu/bety/variables/6000000339

[code]

[2019-05-06 14:53] tcnichol commented on #252
Since this shows merged i will close this issue

[2019-05-06 14:53] #252 closed

[2019-05-06 20:12] max-zilla opened #269 "Need updated Bety data for South and North field and Season9 plot data"

[2019-05-16 16:45] max-zilla commented on #265
Can this be closed now?

[2019-05-16 18:37] max-zilla commented on #265
Nevermind, will leave open while the checkboxes are being updated.

[2019-05-17 19:19] NewcombMaria commented on #269
@dlebauer the field metadata plot boundaries were checked yesterday by @jdemieville-ua and myself.  The plot boundaries/centroids for Season-9 remained consistent with Seasons 7, 6, and 5.  Season-8 plots differ slightly from previous seasons - S8 shape files are available in a shared folder.  To finalize the S9 site-cultivar spreadsheet I need to find out the standardized ID names that are associ

[2019-05-20 18:45] jdemieville-ua opened #270 "Request Input on RGB Camera Settings - Season 9"
Title: Request Input on RGB Camera Settings - Season 9

Tags: Stereo, RGB, Exposure, Gain, Gamma, White balance

### Description
We're looking for input on our RGB camera settings. We've previously been told it is better to have the images underexposed than overexposed, but it is unclear to us how dark of an image still retains sufficient data.

In the time since emergence, we've used a variety of

[2019-05-20 20:18] max-zilla commented on #269
@nfahlgren @nshakoor should have received an email last Friday regarding this

[2019-05-20 20:32] max-zilla opened #271 "Extractor development support & documentation"
Trying to figure out how to make it easier to deploy extractors following https://docs.terraref.org/developer-manual/developing-clowder-extractors
* Jupyter notebook? (talked to LSST people who are using Jupyter notebook)
* Github hooks?
* Automatically identify missing tests, documentation, code style, etc.
* Other changes to the docs - break out which type of person is responsible for which part

[2019-05-20 20:34] max-zilla commented on #271
@ZongyangLi suggests defining a more rigid template/structure for kinds of extractors e.g. the laser3D scan-line based extractors, full field extractors, etc. so there is more similarity and so on.

[2019-05-20 20:38] max-zilla commented on #271
what is desired outcome? how do we know when this is satisfied?

[2019-05-20 20:42] abby621 commented on #271
It would be nice to have a template for documentation to make sure that everything is being appropriately documented, and to facilitate the developers filling in the documentation as they do development.

Open question: is it better to provide documentation in Google Docs (easy to read and edit, but more separated from actual code), or in a readme that exists alongside the code?

[2019-05-20 23:08] nfahlgren commented on #269
Hi @NewcombMaria, sorry for the delay. I looked up the IDs in the controlled-environment experiment and it looks like they used the format that was on the seed packets: `27.5_XXX`.

[2019-05-22 17:51] NewcombMaria commented on #269
@dlebauer and @max-zilla the Season-9 South field metadata spreadsheet with sites, treatments, and cultivar names (which keep the same cultivar identifier information as the controlled-environment experiment, thanks to @nfahlgren) is uploaded to the shared folder:
https://drive.google.com/drive/folders/1qqnCCFZWL14S-XhVN5ix0swWdkfUV4RB

David and I communicated about the S9 site names given South

[2019-05-23 18:45] dlebauer commented on #238
Purged all previous canopy_cover data where checked > -1

[code]

[2019-05-23 19:51] dlebauer commented on #269
@NewcombMaria could you please work with @kimberlyh66 to upload these data?

This would start with making a copy of the [metadata template](https://docs.google.com/spreadsheets/d/1pNEuwNHNHHrpql0b36DYFAbOlBU5TJVF_nO4RdRzdmg/edit#gid=0) that she created and and filling it out. This is also a good chance to provide her with feedback on the structure of the template itself and how easy it is to use,

[2019-05-23 22:55] dlebauer commented on #221
@max-zilla bumping this as we move toward publication it will be helpful to get this straight, and at least make sure that the data products are easily discoverable

[2019-05-28 18:40] Andrewzhzy commented on #259
Hi @dlebauer , we just got the result of the leaf length also the leaf width.
The code and descriptions are here: [https://github.com/GWUvision/Sorghum-Leaf](https://github.com/GWUvision/Sorghum-Leaf)
And the csv format data: [https://1drv.ms/f/s!AmSJkn9rHbVrob4jOTGcm7eo9oSU5Q](https://1drv.ms/f/s!AmSJkn9rHbVrob4jOTGcm7eo9oSU5Q)
Could you help me to see if the format works? Also how could I upload

[2019-05-28 19:51] dlebauer commented on #259
First step is to add a record in the BETY database to describe the method: https://terraref.ncsa.illinois.edu/bety/methods/new. Or, we could change the one for "Scanner 3d ply data to leaf length" to "Scanner 3d ply data to leaf length and width" if one algorithm is doing both.

Next step is to try either the bulk upload here: https://terraref.ncsa.illinois.edu/bety/bulk_upload/start_upload or the

[2019-05-29 18:15] NewcombMaria commented on #269
@kimberlyh66 and @dlebauer I updated the south field metadata spreadsheet to add a description of the experiment and treatments:
https://docs.google.com/spreadsheets/d/1s7AYUjDLiODpYgURCbjKSji00CLaj_Nw37qly-SrP6I/edit#gid=583364933

https://docs.google.com/spreadsheets/d/1s7AYUjDLiODpYgURCbjKSji00CLaj_Nw37qly-SrP6I/edit#gid=1200493486

All of the information for the metadata template are included.

[2019-05-31 21:12] NewcombMaria commented on #269
@dlebauer and @kimberlyh66 the North field and experiment site-cultivar metadata are uploaded to a shared folder.
The site-cultivar spreadsheet:
https://docs.google.com/spreadsheets/d/1-taHzWJ1lP_ME4rtJ8SHiia7N27VbZ030uYjoCNvHCE/edit#gid=44530443

Descriptions:
https://docs.google.com/spreadsheets/d/1-taHzWJ1lP_ME4rtJ8SHiia7N27VbZ030uYjoCNvHCE/edit#gid=1047173486

I think that includes all the inf

[2019-05-31 21:25] NewcombMaria commented on #269
@dlebauer the **North field plot boundaries** were measured yesterday in gantry coordinates by @jdemieville-ua and myself.  Based on seedling positions after emergence we can confirm that the plot lengths (3.4852 m planted length plus 0.5 m walkway) and widths (0.762 m) are the same as in the South field Season-9 (consistent with South field plot polygons in Seasons 5, 6, and 7).  The row position

[2019-06-03 20:10] dlebauer commented on #271
@abby621 I think it is nice to have it in the README, but in the end, we need something that people will use. This is also part of a larger discussion about how we can get the team to contribute to the documentation currently at docs.terraref.org, which we are discussing moving to bookdown

Pros for readme are that it is always with the code, gets versioned, archived, and published at the same tim

[2019-06-03 23:03] dlebauer commented on #269
@NewcombMaria do you have the X offset, i.e. how many meters is it from the south end of range 1 to the south end of range 55? Where are the measurements that you and Jeffrey took?

@kimberlyh66 (if you haven't already) please

1. for south field, duplicate season 7 plots and rename them to season 9 for the south field.
2. For the north field
   * duplicate season 7 plots
   * add 54 to the range

[2019-06-03 23:18] NewcombMaria commented on #269
@dlebauer the following are some offsets to use as anchor points:

- the south end of Range 54 is at X position 210.02.  The start of Range 55 at X = 229.947 is 19.927 meters north of the start of Range 54.

- the south end of Range 3 is at X position 6.69.  The start of Range 55 at X = 229.947 is 223.257 meters north of the start of Range 3.

[2019-06-03 23:21] dlebauer commented on #269
And the south end of Range 1? is that at 6.69 - 2*(3.482 + 0.5) = -1.274?

[2019-06-03 23:34] NewcombMaria commented on #269
@dlebauer that's correct.  I was using planted length 3.485, so pretty close. South end of Range 1 is at 6.69 - 2*(3.485 + 0.5) = -1.28.

[2019-06-20 22:03] jdemieville-ua commented on #270
Follow-up to email conversations requesting images to be partly shaded and partly sunlit

![stvis_settings_eval_062019](https://user-images.githubusercontent.com/40777832/59883967-9a3d4080-936b-11e9-8211-084a89347006.png)

Appears clear that f6,7_shade results in overexposure on leaves in sunlit portion. Leaves still look a little overexposed on the others, but we're curious if the shaded area wou

[2019-06-24 19:52] ZongyangLi commented on #270
@jdemieville-ua

When I test my segmentation algorithm, the right side images works well for precious criteria, even in the shaded area. It would still be useful in this case.

[2019-07-01 15:18] max-zilla commented on #106
@craig-willis do you still have a contact at Dryad you can share with me, or should I start anew?

[2019-07-01 17:05] craig-willis commented on #106
I've forwarded the exchange I had with the then-curator.  I know that Dryad is in the middle of a major re-launch since partnering with CDL last year. I she is still involved although not in the same role.

[2019-07-18 22:06] dlebauer opened #272 "Updates to variables table"
* Fill out label column
* remove units from labels
* update more sensible min/max

[2019-07-18 23:41] #272 closed

[2019-07-18 23:41] dlebauer commented on #272
Issue moved to [terraref/tutorials #178](https://github.com/terraref/tutorials/issues/178) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-29 18:38] #270 closed

[2019-07-30 15:02] max-zilla commented on #259
I will try uploading this today

[2019-07-30 15:50] max-zilla commented on #259
I notice that the plot names refer to "Season 4" but the dates refer to Season 6. @Andrewzhzy these are Season 6 data right? If so we can just fix the plot names I think.

[2019-07-30 16:41] Andrewzhzy commented on #259
Let me double check exactly where was went wrong.

[2019-07-30 16:51] Andrewzhzy commented on #259
Sorry, it's Season 6. I mislabeled the season number under the site name. Could you help me to fix that?
Thank you

[2019-07-31 00:29] dlebauer commented on #259
@Andrewzhzy to confirm, what @max-zilla suggested in https://github.com/terraref/reference-data/issues/259#issuecomment-516479447 is correct?

[2019-07-31 00:40] dlebauer commented on #259
@max-zilla I am not sure if this is the prettiest approach but I think that this will generate the update statements that are required.

[code]

[2019-07-31 00:47] dlebauer commented on #259
had to remove cultivar_id values

[code]

[2019-07-31 05:09] Andrewzhzy commented on #259
@dlebauer Yes, the plot name should be season 6. Thank you for taking care this bug I made.

[2019-07-31 16:32] dlebauer commented on #259
@Andrewzhzy I think it would be easier if I delete all of these records - could you fix the csv files and try uploading them again?

[2019-07-31 17:16] Andrewzhzy commented on #259
@dlebauer I just updated the csv files. I'm ready to upload them anytime. https://1drv.ms/f/s!AmSJkn9rHbVrob4jOTGcm7eo9oSU5Q

[2019-08-01 14:39] max-zilla commented on #259
@Andrewzhzy did you upload the fixed data? we can close this issue once it's done and we confirm they are there.

[2019-08-01 15:00] gsrohde commented on #259
Note that `local_datetime` column values should be in YYYY-MM-DD format.

[2019-08-01 16:00] Andrewzhzy commented on #259
@gsrohde Thank you for pointing out, I've corrected that.
I'm trying to upload, but I always encounter an error while using bulk upload: "Site is inconsistent with citation in these rows".

[2019-08-01 17:20] dlebauer commented on #259
I can fix that

[2019-08-01 17:37] max-zilla commented on #223
@robkooper recommends look at using ORE specification for our JSON catalog:
http://www.openarchives.org/ore/0.9/jsonld

...as well as down the road implementing "holey bagit" approach to allow downloading of TERRA as a zip file with URL files instead of real bytes but otherwise complete.

[2019-08-01 17:38] max-zilla commented on #265
@srstevens is the archiving listed above complete? If so, we need to decide what to archive next - only 14TB free on storage condo right now.

[2019-08-01 17:41] dlebauer commented on #259
Fixed, for reference:

[code]

[2019-08-01 17:49] max-zilla commented on #269
what is the status of this issue?

[2019-08-01 17:51] craig-willis commented on #223
This is an interesting suggestion, as we've gone with something similar for publishing in Whole Tale. We adopted the [Research Object Bundle](https://researchobject.github.io/specifications/bundle/) with [BagIt serialization](https://github.com/ResearchObject/bagit-ro) and are using the [BDBag](https://github.com/fair-research/bdbag) utilities, since it should support fetching via Globus.  RO-Bund

[2019-08-01 18:55] max-zilla commented on #265
we should find out who is using winter wheat data and potentially archive - in meantime, we start with next season of raw_data and continue archiving.

[2019-08-09 16:19] NewcombMaria commented on #251
This topic is outdated and can be closed.  If needed a new hyperspectral reflectance panel issue can be opened.

[2019-08-09 16:19] #251 closed

[2019-08-09 16:30] NewcombMaria opened #273 "BETYdb S6 manual leaf length/width units"
@dlebauer and @kimberlyh66 when I uploaded the manual field measurements to Betydb for Season 6 leaf length and width the values had units of cm instead of mm.  Abby pointed out the difference between S4 data which are mm and S6 data that need to be converted from cm to mm. The data file is at the following directory:
https://docs.google.com/spreadsheets/d/1JahNn4wmhHIjET2SuiC0g-_1ujgxrS7W3YD5VEgl

[2019-08-10 15:34] dlebauer commented on #269
@NewcombMaria or @jdemieville-ua it is not clear from the discussion above - could you please provide one of the following:
* the distance from the SE corner of the S field to the SE corner of the N field in meters of offset along N and E?
* a shapefile of these plots (preferred, but likely more work)

[2019-08-12 14:31] NewcombMaria commented on #269
@dlebauer the offset from the S edge of the Range 1 (S field) to the S edge of Range 55 (N field) is 231.23 m to the north (the distance from Range 3 to Range 55 is 223.257 m, adding 3.985*2 for the additional distance to Range 1).  The rows are parallel to the rails and in line between the S and N fields so there should not be an E/W offset.

[2019-08-16 23:57] NewcombMaria commented on #249
@dlebauer @kimberlyh66 I was able to set the S7 treatment as "Mac Season 7: Sorghum" and upload most of the field data sets.  One timed out and will need to be subdivided, another needs decisions about how to handle growth stage times that extend beyond harvest date.

[2019-08-19 20:20] dlebauer opened #274 "Change maria's bulk uploaded data from UTC to Arizona/Phoenix time zone"
Migrating https://github.com/pecanProject/bety/issues/670 to here

It looks like all of these can be corrected by shifting the time zone from UTC to America/Pheonix

This applies to all data w/ Newcomb as citation and uploaded before June 18 2018 where the time is 05:00:00 UTC (i.e. no time stamp). Season 4 data for sure, perhaps also seasons 1 and 2.

[2019-08-19 21:20] dlebauer commented on #273
need to update season 4 data

[code]

[2019-08-19 21:20] dlebauer commented on #273
these have been updated

[2019-08-20 15:48] gsrohde commented on #274
@dlebauer I'm not sure what you mean by "shifting the time zone from UTC to America/Phoenix".  The `date` column of the traits table has type `timestamp(6) without time zone`, but the convention is that this is always the time of the trait measurement in UTC time, or, in the case where dateloc is 5 ("day"), it will be midnight site time translated into UTC time.  For the Arizona sites, which if I

[2019-08-20 19:04] NewcombMaria commented on #273
@dlebauer from your code it looks like values for Season 4 were changed.  Season 6 leaf length and width trait values are the ones that need to be converted from cm to mm.  The Season 4 leaf length/width were originally in the correct units.

[2019-08-20 19:06] NewcombMaria commented on #269
@dlebauer were you able to create North field plot polygons from the info above?  Can this issue be closed?

[2019-08-20 23:59] dlebauer commented on #273
thanks for catching that - I've just applied this fix

### undo above

[code]

### Apply cm --> mm to Season 6

[code]

[2019-08-20 23:59] #273 closed

[2019-08-26 21:58] dlebauer opened #275 "Review, revise, and complete experiment descriptions"
@NewcombMaria

Please review and update the experiment descriptions and designs that we have in the database.

I've created a spreadsheet to make this easier. Please highlight any cells that you update.

https://docs.google.com/spreadsheets/d/1U2iA3N82G6ry4eGR_kliXzjI_e4PwkaGkmnQGMIQkP8/edit#gid=0

[2019-08-30 22:53] NewcombMaria commented on #275
@dlebauer I've completed revisions and additions in the spreadsheet:
https://docs.google.com/spreadsheets/d/1U2iA3N82G6ry4eGR_kliXzjI_e4PwkaGkmnQGMIQkP8/edit#gid=0

Cells with changes are highlighted - the majority have revisions or additions.

[2019-09-04 23:51] dlebauer commented on #275
I've updated all of the records in BETYdb; sql statements are here https://gist.github.com/dlebauer/b7e5e3e6a4308afd16e77d126141dbed

[2019-09-04 23:51] #275 closed

[2019-09-10 14:53] NewcombMaria opened #276 "BETYdb upload field measurements S9 South field"
@dlebauer and @Kimberly Huynh a couple 2019 S9 South field data sets are ready to be uploaded to Betydb.  I tried the bulk upload process and got an error about unresolvable site and treatment references.  Have culivars been linked to sites for S9 south field?  https://docs.google.com/spreadsheets/d/1s7AYUjDLiODpYgURCbjKSji00CLaj_Nw37qly-SrP6I/edit#gid=1200493486

[2019-09-11 17:30] kimberlyh66 commented on #276
@NewcombMaria cultivars have not been linked to season 9 sites. I will work on getting those linked and let you know when I finish.

[2019-09-27 18:53] NewcombMaria commented on #276
@kimberlyh66  and @dlebauer are there still some steps that need to be taken for S9 field data uploads?  I tried again to upload the data set for South field final biomass but still get errors for unresolvable site references and treatment references.

![S9_South_harvestdata_betydb_error](https://user-images.githubusercontent.com/22008637/65794643-71240d00-e11d-11e9-81c0-7a6b57c80a1c.PNG)

[2019-09-27 22:15] dlebauer commented on #276
what are the warnings?

[2019-09-27 22:33] NewcombMaria commented on #276
The warnings are only a list of columns that will be skipped, which is expected.

[2019-10-10 15:41] NewcombMaria commented on #276
Hi @dlebauer and @kimberlyh66.  Any updates on this issue?  I'd like to follow through on the south field S9 upload for the 2 data sets either today or tomorrow if possible.

[2019-10-10 16:48] dlebauer commented on #276
@NewcombMaria where is the data that you are trying to upload?

[2019-10-10 16:52] NewcombMaria commented on #276
https://drive.google.com/drive/folders/1qqnCCFZWL14S-XhVN5ix0swWdkfUV4RB
2 data sets as csv files

[2019-10-10 17:07] dlebauer commented on #276
It looks like in the metadata Kimberly uploaded, plots were divided into east and west columns; in the data you are trying to upload it is not divided by E/W. Is that correct?

[2019-10-10 17:27] NewcombMaria commented on #276
That's correct.  Both data sets are plot-level values (2-row plots).

[2019-10-10 18:43] dlebauer commented on #276
@NewcombMaria I've fixed a few things - if you remove the string ' South Field' from your plot names, it should work.

[2019-10-10 23:06] NewcombMaria commented on #276
Success!  I had to add a treatment called 'Border' for the buffer plots in between the 2 different irrigation levels.  Empty cells in the treatment column were not accepted.  The Season-9 south field biomass harvest data are uploaded along with a small subset of manual plant height estimates.

[2019-10-10 23:08] dlebauer commented on #276
Fantastic! Can this issue be closed?

[2019-10-10 23:10] NewcombMaria commented on #276
Yup, thanks

[2019-10-10 23:10] #276 closed

[2019-11-19 23:11] dlebauer commented on #45
Issue moved to [terraref/documentation #200](https://github.com/terraref/documentation/issues/200) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-19 23:11] #45 closed

[2019-11-19 23:11] dlebauer commented on #45
Issue moved to [terraref/documentation #201](https://github.com/terraref/documentation/issues/201) via [**ZenHub**](https://www.zenhub.com/)

[2019-12-16 15:50] jdemieville-ua opened #278 "Generate Season 10 (Lettuce) Plot Polygons"
This issue is created to capture discussion in Slack regarding plot polygons for season 10 Lettuce. Start and end positions, average length, and initial start position for ranges determined in gantry coordinate system. Row positions also collected. Work performed per standard protocol [(link)](https://drive.google.com/open?id=1NZr5kq2WaW9Pq-gWsXwe3Ch6SEi04qxRABjuHV_D-gw). Data compiled in Google S

[2019-12-16 23:23] dlebauer commented on #269
Just added:

* experiments_sites relations for full plots in North field
* sites_cultivars relations for full plots in North field
* sites_cultivars for subplots in South field

[2019-12-17 00:05] dlebauer opened #279 "Provide support for file finding queries"
ML group would like to be able to query a list of files by

* season (required unless date is provided)
* date
* sensor (required)
* cultivar
* plot name
* weather at time of image capture
* ~~genotypic information (data TBD)~~
  * ~~boolean for \~10 loci for each cultivar~~
  * this will be done later when needed

In the end, this requires a table that can easily be queried to return a list of fi

[2020-01-14 03:04] Chris-Schnaufer commented on #279
From the cultivar_files view query `select * from cultivar_files limit 5;`:

plot_id | plot_name | season | file_id | folder | filename | format | sensor | start_time | finish_time | gantry_x | gantry_y | gantry_z | cultivar_name
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
6000013647|MAC Field Scanner Season 6 Range 10 Column 1 E|MAC Season 6: Sorghum BAP|1|/ua-mac/raw_data

[2020-01-14 16:37] gsrohde commented on #279
When querying by date, keep in mind that data entered through the v1 API stores date-times at UTC time based on the local time at which the data was collected, the site at which it was collected, and the time zone stored for the site at which it was collected.  For dateloc values other than 5 and timeloc values other than 1, there are certain conventions for normalizing the representation of the "

[2020-01-14 19:18] dlebauer commented on #278
all of the metadata are here and ready for upload to BETYdb

[2020-01-14 20:59] dlebauer commented on #279
@gsrohde thanks for this reminder! I think in this case we are not dealing with the traits table - only associating metadata with files. So hopefully we don't run into an error here!

@Chris-Schnaufer maybe join these views on datetime?

[2020-01-16 20:58] Chris-Schnaufer commented on #279
Desired changes:
* Add lat-lon values to the plot level views (can keep min & max values for plot boundaries)
* Change file names to be plot-level
* Add genetic marker data (Abby has the data) - Markers if Interest, Present/Absent by cultivar (use -2, -1, 0, 1, 2 for N/A, No WGS, 0, 1, 2)

[2020-01-16 21:30] gsrohde commented on #279
Still, for any table that uses any of the date or time or timestamp types, you need to decide how the raw database value should be interpreted and make sure all software that sets or reads a column having one of these types conforms to whatever convention you have adopted.  And you should document that convention somewhere.  You also, of course, need to know what convention any input data used.

[2020-01-23 05:03] Chris-Schnaufer commented on #279
The `unified` table in the SQLite database has all the fields making it easy to query for the files desired

| file_id | folder | filename | format | sensor | start_time | finish_time | gantry_x | gantry_y | gantry_z | plot_id | plot_name | season | plot_bb_min_lat | plot_bb_min_lon | plot_bb_max_lat | plot_bb_max_lon | cultivar_name | Sobic_006G057866_1_40312463 | Sobic_006G147400_1_50898459 | So

[2020-01-23 21:37] dlebauer opened #280 "Fix incorrect dates in season 4 and 6."
Error reported:

I performed a betyDB query to extract all the season 6 records a few weeks ago and just repeated it today.  Same results both times.  In my post-query processing, I count a total of 925,563 received measurement records. The vast majority of record dates are all in the interval between 4/16/2018 and 8/22/2018.  However,  5000+ of these records are from the previous year (a single d

[2020-01-24 00:11] dlebauer commented on #280
I am not sure why these were incorrectly named, so I've flagged them as being in error and have excluded these from the database

[code]

@max-zilla these were all created in 2018-05-06; do you know why these were given the wrong date?

[2020-02-06 19:35] dlebauer opened #281 "upload leaf width / height for seasons 4 and 6"
From @rleontie

* [x] remove existing records
* [x] round to 3 digits (?)

[2020-02-06 19:48] rleontie commented on #281
Confirming please delete existing records. The measurements are in millimeters so not sure that having more than 3 digits make sense.

[2020-02-06 19:59] rleontie opened #282 "upload emergence count for seasons 4 and 6"
@dlebauer please assist in adding the results for season 4 and 6 emergence count on Betty DB.   Data can be found [here](https://drive.google.com/open?id=1Tz9UsjTNMcN9-igNr1FVDHg-zoJ5MpCg)

[2020-02-06 20:06] dlebauer commented on #281
## Flagging old records

[code]

## Uploading new data

[code]

[2020-02-06 23:05] dlebauer commented on #281
try dividing into chunks ...

[code]

[code]

[2020-02-06 23:15] dlebauer commented on #282
[code]

@ZongyangLi please update the [citation](https://terraref.ncsa.illinois.edu/bety/citations/6000000026) and [method](https://terraref.ncsa.illinois.edu/bety/methods/6000000089):

* [ ] Citation should include a link to the github repo or zenhub doi
* [ ] method should describe how this is done

[2020-02-07 00:39] #281 closed

[2020-02-07 16:36] dlebauer commented on #282
@rleontie should I also delete existing data from this?

[2020-02-07 17:24] rleontie commented on #282
@dlebauer I don't know. @ZongyangLi do we need to keep the existing data for this?

[2020-02-07 17:41] ZongyangLi commented on #282
@dlebauer I am not clear about the requirement of updating `citation` and `method` you mentioned above.
For citation, we have `citation_author`, `citation_year`, `citation_title` already.

For method, the current description is `Stereo RGB data to emergence counting`, would you like a much longer description to describe the whole thread?

About the existing data, do you mean the data we just uploa

[2020-02-07 18:42] dlebauer commented on #282
@ZongyangLi

- for citation, you've listed the minimum requirements required by the database, but for scientists interested in how the data was generated, it would be more helpful if there is a link to the github repository where the code is, preferably with a version that can be archived on Zenodo. If you can point me to the version that was used, I can do the rest.
- for the description, it woul

[2020-02-07 18:58] ZongyangLi commented on #282
@dlebauer

My code uploaded to : https://github.com/terraref/extractors-stereo-rgb/tree/stereo-emergence-detection/emergence_detection

I will write a more technical description later and let you know.

There was not any emergence data previously. This is the first time we create these csvs.

[2020-02-13 20:46] #269 closed

[2020-02-13 20:51] dlebauer commented on #239
@jdemieville-ua have you implemented this? Is a protocol documented somewhere?

[2020-02-13 21:54] #93 closed

[2020-02-13 21:54] #31 closed

[2020-02-13 21:57] dlebauer commented on #65
germplasm have been linked to ncbitaxon and genesys id; information is stored in the terraref.org/bety 'attributes' table and available at the BrAPI endpoint

 ... see https://terraref.org/brapi/v1/germplasm?commonCropName=sorghum

[2020-02-13 21:57] #65 closed

[2020-02-13 21:58] dlebauer commented on #68
The pipeline is well documented at docs.terraref.org and also available in COGE

[2020-02-13 21:58] #68 closed

[2020-02-13 21:59] dlebauer commented on #73
info unavailable and not required to interpret calibrated UAV data

[2020-02-13 21:59] #73 closed

[2020-02-13 22:54] #195 closed

[2020-02-17 21:11] dlebauer commented on #218
For FLIR surface_temperature

[code]

[2020-02-27 16:02] rleontie commented on #278
The metadata seems wrong: see examples for "created_at": "2017-07-11 16:37:19 -0500",
and the "sitename": "MAC Field Scanner Season 4 Range 51 Column 13 E", that reference season 4.
![Screen Shot 2020-02-27 at 10 59 11 AM](https://user-images.githubusercontent.com/420787/75461333-a3e26380-5950-11ea-8ce9-6bff597b4672.png)

[2020-02-27 17:03] dlebauer commented on #278
Sorry - I gave you the wrong url and wrong api call since we are using a new database for the Open project

[2020-02-27 17:03] #278 closed

[2020-03-06 19:21] rleontie opened #283 "canopy cover season 4"
@dlebauer please upload canopy cover extractor results to BettyDB.

Results generated by @ZongyangLi can be found [here]( https://drive.google.com/open?id=1DCs4f3xw-xiMk0_HS1elJOe2ZYebV3kk)

[2020-03-06 19:42] dlebauer commented on #283
should I upload and replace existing data?

[2020-03-06 21:08] dlebauer commented on #283
On its way. I've converted from fraction [0,1] to percent [0,100] and truncated values to 3 significant figures:

[code]

command used to upload data:

[code]

[2020-03-07 00:00] dlebauer commented on #196
Set treatments thus:

[code]

[2020-03-07 00:01] #196 closed

[2020-03-07 00:07] #259 closed

[2020-03-07 00:51] dlebauer commented on #282
@ZongyangLi can this be merged? https://github.com/terraref/extractors-stereo-rgb/pull/55 I replaced "counting" with "count" so that it would generate the correct variable and methods name (above I had to find/replace to get the files to upload)

[2020-03-07 01:27] dlebauer commented on #283
Uploading finished - 54710 new records!

[2020-03-07 01:27] #283 closed

[2020-03-07 01:32] dlebauer commented on #283
updating treatments

[code]

[2020-04-04 00:08] dlebauer commented on #282
data have been uploaded.

[2020-04-04 00:08] #282 closed

[2020-04-04 00:10] #257 closed

[2020-04-04 00:10] #253 closed

[2020-04-04 00:14] dlebauer opened #284 "[Data Error] surface temperature estimates are not useful"
## Dataset

Surface temperature data have two problems
* do not have time associated with measurement, so it is not possible to compute the temperature difference relative to the air temperature
* integrate over soil and leaf, so the data are only useful after canopy closure.

## Suggested Correction

* provide time information when computing surface temperature
* use a soil mask so that it actual

[2020-04-04 00:14] dlebauer commented on #284
In the mean-time I am marking these as being checked and found to be in error. They will be excluded from public datasets until this issue is fixed.

[code]

[2020-04-15 09:09] parth-sankhavara opened #285 "How to properly convert lemntec rawx format to generic hdr?"
I have rawx image files of lemnatec phenotyping. I need to convert back into hdr format. How could I?

[2020-04-15 15:55] dlebauer commented on #285
@parth-sankhavara I don't think we have worked on that - we have hyperspectral cameras that generate hdr files. Where did you get these files?

[2020-04-15 16:00] parth-sankhavara commented on #285
@dlebauer No Problems, Btw, I have got that rawx files from lematec software.

[2020-04-15 16:54] dlebauer commented on #285
got it - even though we use lemnatec hardware, they didn't provide any software for data processing - so we mostly start with whatever files the sensors generate and process from there, which is hdr in the case of the headwall sensors.

[2020-04-15 16:54] #285 closed

[2020-05-06 22:26] dlebauer opened #286 "[Data Error] Set plot elevations"
## Dataset

elevation values at Maricopa and Ashland Bottoms are sometimes 0. Need to fix this, elevation for plots can assume flat fields.

## Suggested Correction

[code]

[2020-05-06 22:26] dlebauer commented on #286
fixed

[2020-05-06 22:26] #286 closed

[2020-06-04 23:57] dlebauer commented on #242
Timestep fixed in https://github.com/terraref/computing-pipeline/issues/156#issuecomment-261286229 e.g. https://terraref.ncsa.illinois.edu/clowder/api/geostreams/datapoints?stream_id=46431&since=2017-01-02&until=2017-01-31

thredds no longer a priority

[2020-06-04 23:57] #242 closed

[2020-06-05 00:18] #76 closed

[2020-06-05 00:19] #83 closed

[2020-06-05 00:19] #88 closed

[2020-06-05 00:19] #91 closed

[2020-06-05 00:20] #92 closed

[2020-06-05 00:21] dlebauer commented on #94
done
![image](https://user-images.githubusercontent.com/464871/83823090-dbffed80-a687-11ea-9c8e-c48ebe683405.png)

[2020-06-05 00:21] #94 closed

[2020-06-05 00:22] dlebauer commented on #109
all subtasks completed

[2020-06-05 00:22] #109 closed

[2020-06-05 00:23] dlebauer commented on #106
this is done: staged in google drive for deposition at Dryad - can open new issues as necessary

[2020-06-05 00:23] #106 closed

[2020-06-05 00:24] dlebauer commented on #112
a sqlite database to facilitate this will be implemented here: https://github.com/AgPipeline/issues-and-projects/issues/146

[2020-06-05 00:24] #112 closed

[2020-06-05 00:25] #115 closed

[2020-06-05 00:25] #116 closed

[2020-06-05 00:29] dlebauer commented on #134
@max-zilla has this issue been resolved? Have fixes been back-propagated to historical data?

[2020-06-05 00:29] dlebauer commented on #279
implemented in https://github.com/AgPipeline/issues-and-projects/issues/146

[2020-06-05 00:29] #279 closed

[2020-06-05 00:30] #271 closed

[2020-06-05 00:30] #265 closed

[2020-06-05 00:53] dlebauer commented on #258
this has been completed

[2020-06-05 00:53] #258 closed

[2020-06-05 00:58] dlebauer commented on #254
What is the status of this error? Appears that notes from a call in Nov 2018 are here: https://docs.google.com/document/d/11O1A1FFk-452NN5Mio3yPd7EaYWlmE5bTVmx4JxDaJg/edit

![image](https://user-images.githubusercontent.com/464871/83825027-effa1e00-a68c-11ea-8ae1-8d7e0f040fc2.png)

[2020-06-05 01:00] dlebauer commented on #231
closing - hyperspectral pipeline is being refactored.

[2020-06-05 01:00] #231 closed

[2020-06-05 01:02] #284 closed

[2020-06-05 16:12] jdemieville-ua commented on #254
@dlebauer : Going back through emails, my records show the following:

- @pless thought it was a calibration issue [5/21/2019]

- @rjstrand stated that it "has been discussed at length.  Fraunhofer has said that a calibration is the first step in dealing with this kind of issue.  Essentially, the group has been waiting for someone to determine the impact of the “bending” on the output data set.  T

[2020-06-22 18:37] jdemieville-ua opened #287 "Update fixed metadata for stereoTop"
### Description
For S11 Sorghum, the decision was made to change the operating height of the RGB cameras to 3.5m from 2.0m. As a result, the cameras were refocused and changes must be made to the metadata to match the camera settings. Additionally, errors in the fixed metadata are being corrected.

### Details

[code]
changed (REASON: spelling error) to
[code]

[code]
changed (REASON: operating he

[2020-06-22 18:54] jdemieville-ua opened #288 "Update lemnatec_measurement_metadata for S11 Sorghum"
### Description
Placeholder to update metadata for S11 sorghum; will update when complete on gantry end
Planting date 17/18 June 2020
OPEN Project
Date of Emergence TBD

### Completion Criteria

- [ ] lemnatec_measurement_metadata updated for new season effective 17 June 2020

[2020-06-22 21:56] jdemieville-ua opened #289 "Provide updated calibration sheets for sensors"
### Description
Placeholder to provide updated calibration sheets for sensors following Spring 2020 recalibration.
Note that no calibration files are yet available for VNIR or SWIR cameras as they have not been returned from the manufacturer.

### Completion Criteria

- [ ] calibration sheets uploaded for PAR
- [ ] calibration sheets uploaded for NDVI (top)
- [ ] calibration sheets uploaded for PR

[2020-06-25 22:21] dlebauer commented on #247
In the end, can we conclude that the 'deteroration' is really due to a single bad pixel?

[2020-06-25 22:35] jdemieville-ua commented on #247
@dlebauer : If I recall correctly, that was the conclusion. There was discussion of changing the value of a bad pixel by applying something like a neighborhood average filter if a pixel value was outside the realm of reality, but I have no information on whether that was ever implemented. It's such a small percentage of the total image area that it doesn't make sense to throw out the data. This so

[2020-08-10 19:53] liyawang opened #290 "How to handle the different trait data of the same line?"
I am trying to extract the Terra-REF trait data to run GWAS on biomass. So I extracted “aboveground_dry_biomass” but found that the values are quite different for the same line (see below).

	• write.table(biomass[,c('cultivar', 'mean', 'raw_date', 'units')], file="biomass.txt", sep="\t")
	• grep "PI156217" biomass.txt
		• "68"	"PI156217"	17810	"2017-09-12 00:00:00 -0500"	"kg / ha"
		• "732"	"PI15

[2020-08-10 22:06] dlebauer commented on #290
Hi Liya - thanks for your interest. Note that these results come from:

* three different years (2014, 2017, 2018),
* two different locations (PeeDee research center in SC and Maricopa Ag Center in AZ )
   * (also note that the SC data are from [Brenton et al 2016](https://www.genetics.org/content/204/1/21), and aren't part of the TERRA REF data)
* two different treatments in 2017, one with drough

[2020-11-09 20:26] dlebauer opened #291 "Season 6 Canopy height measured by 98th quantile > 0 on planting date"
## Dataset

All values of canopy_height are > 0 on the planting date in Season 6.

## Suggested Correction

This probably requires a fix to the algorithm. It might be caused by the assumption that the 98th quantile is the canopy height, which would not hold for bare ground.

In the mean-time I have marked all measurements during season 6 prior to May 15 as having been found in error.

[code]

@Zon

[2021-04-14 18:18] dlebauer opened #292 "Duplicate canopy cover for season 6 [Data Error]"
## Dataset

[code]

## Suggested Correction

figure out which are correct (prob. the most recent) and delete the others.

[code]

[2021-04-16 16:02] dlebauer opened #293 "Outliers in season 4 canopy cover [Data Error]"
## Dataset

![image](https://user-images.githubusercontent.com/464871/115052097-66ad9d80-9e92-11eb-8098-caba8a1b342e.png)

## Suggested Correction

explore and delete or set to [No data] where appropriate

[2021-08-18 17:53] #264 closed

[2022-07-22 16:39] #290 closed