[2017-01-06 16:00] dlebauer commented on #72
Any thoughts or suggestions for defining indices @ashiklom, @serbinsh, @remotesensinglab ?

[2017-01-06 17:30] ashiklom commented on #72
Personally, I'd rather see the raw data, and then have SQL and/or R functions for calculating the spectral indices from that. But I'd like to hear what others think.

[2017-01-06 17:37] dlebauer commented on #72
@ashiklom to be clear, we are planning to provide 1) the calibrated hyperspectral data cubes as well as a 2) data cube with the same dimensions and pre-computed indices and 3) plot level means within (the [terraref instance of](https://terraref.ncsa.illinois.edu/bety) BETYdb. The reason we are doing this is to provide the data that diverse users want (e.g. the plot level means are the primary inpu

[2017-01-06 17:40] dlebauer commented on #72
@ashiklom in addition, as with other parts of the PEcAn workflow, we are using the variables table to define variables in the traits table as well as variables found in external files (e.g. met and flux tower). In this case, the naming would be consistent for the high resolution raster data in netCDF files and the plot level means in the traits table.

[2017-01-06 17:49] ashiklom commented on #72
Fair enough. I do think we should distinguish between raw and derived data, and have a system for linking derived data like spectral indices (or eventually our RTM inversions, and the outputs of the other PEcAn modules like allometry and photosynthesis) to their original data sources to make sure they aren't treated as independent data points.

Incidentally, I'm excited to hear NetCDF used in the

[2017-01-06 19:32] dlebauer commented on #72
Thanks for your feedback @ashiklom

We've discussed this extensively within the TERRA REF team as well as some within the PEcAn team. We could probably do queries that link data based on location, time, date, method, etc. or we could extend the data model to explicitly track links. From the clowder side, the database is sufficiently flexible that we could probably easily track which records in BET

[2017-01-06 22:06] craig-willis commented on #70
@solmazhajmohammadi @dlebauer
I was under the assumption that the "sensor_fixed_metadata" written by LemnaTec would no longer be updated and that https://github.com/terraref/sensor-metadata repository will become the authoritative location for changes (which will be POSTed to the Clowder API).

Maintaining this information in two places will be complicated.

[2017-01-10 00:29] solmazhajmohammadi commented on #70
@craig-willis We haven’t added the offset to the metadata. you can update the sensor-metadata repository.
@max-zilla I was not sure that if the code should go under the reference-data or computing pipeline, I uploaded the code here for now:
https://github.com/solmazhajmohammadi/3D_Misalignment

[2017-01-10 18:20] rachelshekar commented on #66
Who is this survey for?  Potential users?  If so, I think you should leave out questions 11 and 12.  Asking them what they think of the interfaces TERRA offers and if they will likely use them (and why/why not) could be a follow-up questionnaire.  ie those who answer yes to "Are you interested in cloud development environments?"

[2017-01-10 18:49] dlebauer commented on #66
Survey is for people to express interest in the data / apply for early
access.

Good point. I'll clean it up.
On Tue, Jan 10, 2017 at 12:20 PM Rachel Shekar <notifications@github.com>
wrote:

[2017-01-10 21:23] craig-willis commented on #69
A few comments:
* Consider linking to the data release policy on that first page
* Initial description could be clearer (set expectations for what's to come in the form -- I wasn't expecting the questionnaire).
* Better instructions for each question: why do you need my github username? Why do you need the data access information?
* Link to data products documentation, I might not know what I plan

[2017-01-11 15:33] rachelshekar commented on #69
I agree with Craig.  I can make updates tomorrow after we meet, @dlebauer

[2017-01-11 23:41] smarshall-bmr commented on #67
@remotesensinglab Just for brevity the lens is a 1.4/22.5, max frame rate is 100hz. I'm unsure on other limits. It's worth noting that Headwall's product page specifically states that the instrument is designed for f/2 so I'm guessing the internal optics may be limiting light gathering.

Lens data page: http://www.schneiderkreuznach.com/fileadmin/user_upload/bu_industrial_solutions/industrieoptik/

[2017-01-12 14:53] jdmaloney commented on #59
This was corrected early in December, closing issue.

[2017-01-12 14:53] #59 closed

[2017-01-12 15:41] max-zilla commented on #9
https://github.com/terraref/computing-pipeline/issues/231
Created a discussion issue to continue this discussion in context and linked here. Closing this issue to consolidate that discussion.

[2017-01-12 15:41] #9 closed

[2017-01-12 15:44] #54 closed

[2017-01-12 15:44] craig-willis commented on #54
Closing this issue following the Sensor Metadata review meeting on 1/9.  Will open separate tickets for specific tasks going forward.

[2017-01-12 15:54] dlebauer commented on #67
@remotesensinglab and @smarshall-bmr could you please update this issue with a summary of yesterday's conversation, and create new issues for the next steps? See https://github.com/terraref/computing-pipeline/wiki/Issue-Review-Examples

[2017-01-12 16:04] craig-willis opened #73 "Curate UAV calibration information"
This tick tracks a specific subtask of https://github.com/terraref/computing-pipeline/issues/185

Completion criteria:
* [ ] UAV calibration documentation has been collected and organized in Clowder
* [ ] Documentation has been reviewed by relevant stakeholders

[2017-01-12 16:08] craig-willis opened #74 "Add 3D Scanner offset to sensor metadata"
Subtask related to https://github.com/terraref/reference-data/issues/70.

Completion criteria:
* [x] Offset information is stored in 3D scanner metadata
* [ ] Reviewed by relevant stakeholder

[2017-01-12 16:09] craig-willis commented on #70
@solmazhajmohammadi  Sorry for the delay.  I've created ticket #74 to track my part of this. I'll let you know when complete.

[2017-01-12 16:21] craig-willis commented on #67
Sorry for the delay, I missed my mention in the earlier comment. The documentation we have for VNIR and SWIR are in the Sensor and Device Information collection in Clowder.

Until the main instance is stable, here are links to the development instance:
SWIR: https://terraref.ncsa.illinois.edu/clowder-dev/datasets/57ea886ae4b00b25cabf8e69
VNIR: https://terraref.ncsa.illinois.edu/clowder-dev/dataset

[2017-01-12 16:22] craig-willis opened #75 "Add SWIR and VNIR properties to sensor metadata"
Task related to https://github.com/terraref/reference-data/issues/67:

Add the following properties to the sensor metadata for SWIR/VNIR:
* Lens/aperture size
* Max Frame Rate

Completion criteria:
* [x] Properties have been added
* [ ] Review by relevant stakeholder

[2017-01-12 16:26] craig-willis opened #76 "Update SphereOptics metadata for hyperspectral workflow"
Task related to https://github.com/terraref/reference-data/issues/53

Per comments in above issue:
* Add relevant metadata for wavelength and reflectance fields from hyperspectral_calibration.nco
* Adopt the same names for the variables (i.e., factory_calibrated_reflectance

Completion criteria
* [ ] Changes made, pushed to git repo and Clowder
* [ ] Relevant stakeholder review.

[2017-01-12 16:40] dlebauer opened #77 "Add uncertainty estimate to traits inserted into BETYdb"
BETYdb traits have fields

* statname
* stat
* n (can be 'effective n')

Completion criteria

* [ ] define general approach to estimating uncertainty
* [ ] implement for height and canopy cover data extractors

[2017-01-12 16:46] dlebauer commented on #64
@NewcombMaria can you please clarify? What exactly do we need to check?

[2017-01-12 16:48] rachelshekar commented on #42
@dlebauer - please update

[2017-01-12 16:49] rachelshekar commented on #53
@craig-willis - can you please update this issue?  Can a new issue be made?

[2017-01-12 16:51] dlebauer commented on #63
The changes look correct ... but the second query threw error

LINE 13: WHERE

[2017-01-12 16:52] craig-willis commented on #53
@rachelshekar As far as I'm concerned, yes (I created #76 for actions I'm aware of). There are some unchecked boxes at the top and I'm not sure whether we're still waiting for data for any of the devices.

[2017-01-12 17:09] smarshall-bmr commented on #75
@craig-willis I just noticed that a typo in the VNIR metadata is keeping the entirety of the metadata from being written. I'm fixing it now.

[2017-01-12 17:25] craig-willis commented on #75
@smarshall-bmr Are you aware that we've been working to centralize the fixed sensor metadata to a github repository? https://github.com/terraref/sensor-metadata

I'm not clear who is involved in updating the fixed metadata and could use input from anyone concerned.

[2017-01-12 17:33] #8 closed

[2017-01-12 17:36] smarshall-bmr commented on #75
@craig-willis @dlebauer The VNIR metadata file had the aperture setting labeled as f/1.4 when it is actually set at f/2. This part of the metadata wasn't being written due to the aforementioned typo but we might have to look out for this field being incorrectly reported in other places.

I somehow missed the memo on the centralization effort. I do have access to the metadata files so I can modify

[2017-01-12 17:38] rachelshekar commented on #37
@nshakoor - please talk to Stewart

[2017-01-12 17:41] rachelshekar commented on #74
The offset needs to be stored with the date.

[2017-01-12 17:42] smarshall-bmr commented on #37
@dlebauer I can get a few bubble levels. Should we actually affix them to the calibration panels though?

[2017-01-12 17:42] max-zilla commented on #74
3 values for offset - XYZ. No rotation or anything yet.

[2017-01-12 17:44] ZongyangLi commented on #74
Another value needed if that's possible: unit for voxel in point cloud coordinate system.

[2017-01-12 17:57] smarshall-bmr commented on #42
@craig-willis I don't know if there's an index of the fields that are provided anywhere, but I should be able to help clarify what the meanings are.

@dlebauer Just to clarify, you don't want me to edit the existing metadata writing? It's relatively straightforward for me to do, but if it causes issues downstream I can certainly refrain from doing so. Perhaps I can add "last edited by/date" fields

[2017-01-12 18:37] gsrohde commented on #63
done

[2017-01-12 18:37] #63 closed

[2017-01-12 20:55] dlebauer commented on #37
Your choice- I think key is ability to put in the same place
On Thu, Jan 12, 2017 at 11:42 AM smarshall-bmr <notifications@github.com>
wrote:

[2017-01-13 06:11] smarshall-bmr commented on #64
@dlebauer The "user_given_metadata" field was not updated until 20 days into the sorghum 2 experiment so it contains values from the sorghum 1 before that.

[2017-01-13 15:41] rachelshekar commented on #53
@dlebauer - are we waiting for data from VNIR,  SWIR, and crop circle?

[2017-01-13 18:04] craig-willis commented on #53
@dlebauer

Per Solmaz's follow-up comments, those are not RSR curves for the VNIR and SWIR. I missed her second comment that there is nor RSR curve for SWIR and that Lemnatec will not sign the NDA for VNIR.

So, no the file attached to that comment are not captured in the metadata. It wasn't clear to me whether the pixel-to-wavelength data was useful.   It sounds like we will not have RSR for Crop

[2017-01-13 18:17] dlebauer commented on #53
@craig-willis I think it is acceptable not to have RSR curves for VNIR and SWIR. Presumably this is corrected in the calibration. If there is a demand / use case we can revisit this. We can likely generate RSR curves for these instruments with acceptable precision using the a radiometer and Spectralon target, or some other method. I am closing this issue.

However, I see @remotesensinglab hasn't b

[2017-01-13 18:17] #53 closed

[2017-01-13 18:24] dlebauer commented on #42
@smarshall-bmr there are two issues here.

1. Please never change the names of fields in the sensor metadata.
  * Have you done so since Aug 2016? If so, there must have been a miscommunication. We have been over this many times, perhaps a few before you joined. But it breaks our workflow
3. You can add fields but not change them
4. If you are going to change the value of a field in the fixed meta

[2017-01-13 18:59] craig-willis commented on #70
@solmazhajmohammadi  Do you know the effective date of the change so I can add to the metadata?

[2017-01-13 19:01] smarshall-bmr commented on #42
@dlebauer I haven't changed the names of fields, but I know that some of the software updates here did. The only modifications of values have been on the stereovis to correct the aperture and the fixed metadata on a new crop. The VNIR will have some additional fields as of this week that weren't being written previously.

I do think it would make sense for me to store the fixed metadata here so it

[2017-01-13 19:02] craig-willis commented on #74
@ZongyangLi Just to confirm, you're asking for a "unit" field with value "voxel" to be added to the 3d scanner metadata? How is this used?

[2017-01-13 19:24] dlebauer commented on #42
@craig-willis and @smarshall-bmr Sorry for not being clear ... I wasn't suggesting that you store the file there, only that you be in charge of the files. They should be stored online. Or perhaps they could be stored in the gantry filesystem at a higher level than within the metadata for each dataset. Then it could be parsed and put into clowder and accessible to the extractors.

For the record, w

[2017-01-13 19:28] dlebauer commented on #74
Also, @ZongyangLi I thought that 'voxel' refers to the cubes that make up a regular array, and that this sensor generates a point cloud in which points have no volume and are not on a regular grid. Am I missing something?

[2017-01-13 19:28] craig-willis commented on #42
@smarshall-bmr

It sounds like we should talk. @rachelshekar is going to schedule a meeting about sensor metadata.

From my understanding, there are a few reasons for centralizing the fixed metadata:
* To have greater control over errors like the ones listed in the description of this ticket, as well as adding new properties that are useful to downstream processes.
* To enforce a process to review

[2017-01-13 20:03] ZongyangLi commented on #74
@craig-willis @dlebauer
Sorry for the confusion I have generated. When I say 'unit for voxel', I would like to know when point coordinate move from (0,0,0) to (1,1,1), how long is it in each direction in the field(real world).

May be I am wrong, but to my understanding, a 3d scanner offset means an offset from point cloud coordinate system to gantry coordinate system.  When we have the 3d scanner

[2017-01-13 20:24] dlebauer commented on #74
@ZongyangLi Now I understand ... I think the documentation section on ['geospatial information'](https://terraref.gitbooks.io/terraref-documentation/content/user/geospatial-information.html) has the transformations that you are looking for (if not, we can ping Yan).

[2017-01-13 22:18] rmgarnett commented on #77
I was thinking about this some more. It's a little unclear to me what the uncertainty of a statistic such as

α [nth height percentile] + β

is. Possible sources of uncertainty are:

* uncertainty in our estimates of α and β due to finite training data
* uncertainty in our estimate of the height percentile from the point cloud data

Both are effectively zero. Previously I had been interpreting "un

[2017-01-16 17:16] davidlee2 commented on #42
Hi David,

Just wanted to check how things were going and if there was anything I can help with.

Best,

David

Sent from my mobile, sorry for the short response.
________________________________
From: David LeBauer <notifications@github.com>
Sent: Friday, January 13, 2017 2:24:34 PM
To: terraref/reference-data
Cc: Subscribed
Subject: Re: [terraref/reference-data] Create a metadata file for fixed

[2017-01-17 06:17] remotesensinglab commented on #67
Maximum speed depends on frame rate (frames per second) * IFOV (mm).

**Currently installed Lens:**
 - NIR and SWIR lens are: 23 mm and 25 mm.

**Options to increase scan speed:**

Option 1: The maximum frame rate without binning is (VNIR: 100 Hz; SWIR: 450Hz). Increasing the frame would help increasing the scanning speed.  When we use max frame rate a spatial binning could help increase the hard

[2017-01-18 00:38] smarshall-bmr commented on #67
Just to clarify, current scans are done with a 45ms exposure time on the VNIR and 30ms on the SWIR. I don't know if this has been accurately quoted recently.

[2017-01-18 23:23] smarshall-bmr commented on #50
SWIR has arrived at Headwall. Updates to follow.

[2017-01-18 23:53] smarshall-bmr commented on #37
@dlebauer Would it be beneficial to have a level large enough that it shows up in imaging?

[2017-01-19 01:19] dlebauer commented on #37
@smarshall-bmr I suspect anything larger than 2 cm will be sufficient if the imagers have mm resolution, correct?

[2017-01-19 15:33] craig-willis commented on #75
@smarshall-bmr Would it be possible for me to get a copy of the current JSON Generator program?

[2017-01-19 16:58] smarshall-bmr commented on #75
@craig-willis at some point I'll upload the entire metadata folder to github but I can give an example of a .txt that the metadata program pulls from. This one is from the VNIR. The metadata generator pulls from these text files as appropriate.
`{
  "lemnatec_measurement_metadata": {
    "user_given_metadata": {
      "experiment title": "Wheat field experiment 2",
      "experiment responsible":

[2017-01-20 17:53] solmazhajmohammadi commented on #70
@craig-willis The effective date of the misalignment is November 22, 2016
Please update the offset to the following transformation, it fits better for the full row scan
[X Y Z]=[ -10  +42  0]

[2017-01-20 18:18] dlebauer opened #78 "Data organization in clowder"
A few suggestions to make curating and navigating data in Clowder easier:

* Organize data by level (raw, level 1, 2) similar to how it is organized on ROGER. Currently, inputs and outputs are in the same dataset (e.g. https://terraref.ncsa.illinois.edu/clowder/datasets/587107f34f0cc129fb4fa083#) contains raw png, derived ply, and also .las. It is not clear which files are the raw versions and whi

[2017-01-20 18:28] max-zilla commented on #78
OK - let's discuss this briefly on Monday.

I believe the random string folder names in Docker are a collision-preventative measure in case someone has uploaded 2 files with the same name to a dataset, but I expect logic could be added so those only occur IF there is such a collision.

Re: the filenames, we don't rename any raw files from the sensor and I don't believe Clowder currently supports a

[2017-01-20 18:36] dlebauer commented on #78
We don't need to rename the raw data, but it seems reasonable that we could do the renaming when generating the Level 1 and 2 data.

Also, with respect to meta-data we should make sure to distinguish the LT provided metadata from metadata that is converted to a 'standard' (@craig-willis please advise). Currently I only see LT metadata but not any information derived from the extractors.

[2017-01-20 18:39] dlebauer commented on #78
With respect to Docker - I thought we had discussed mounting the file system directly as read only rather than copying. Did we give up on this idea?

[2017-01-20 21:14] craig-willis commented on #78
@dlebauer
Mounting the data read-only is still planned, it just hasn't happened yet.  I still think this is the best approach.

[2017-01-20 21:15] craig-willis commented on #70
Thank you, @solmazhajmohammadi. Because "offset" is a little ambiguous, can you think of a more descriptive label for this -- something like "position correction offset"?

[2017-01-20 21:31] solmazhajmohammadi commented on #70
"position correction offset" is OK. Here is some options:
- alignment correction offset
- post-calibration transformation

[2017-01-20 21:59] solmazhajmohammadi commented on #44
@smarshall-bmr Do we have the 3D scans with checker boards to find the pointclouds origin and its transformation to the gantry coordinate system?
Probably it is better to do it when the plants are short, otherwise it would be hard and inaccurate.

[2017-01-21 05:46] smarshall-bmr commented on #44
@solmazhajmohammadi I have to build a die to hold the checkerboards at exactly 90 degrees from each other, otherwise the z axis measurement isn't going to be too accurate. That and the field is quite soggy right now.

[2017-01-23 16:00] craig-willis commented on #75
Thanks, @smarshall-bmr. I want to confirm a few things:
- The "location in camera box" x, y, and z values are identical to the SWIR?
- "optics focal length [mm]" is 22.5 (not 23mm, which is listed in #67) and is different than the value of 17 reported in the LemnaTec documentation.
-

[2017-01-23 16:20] smarshall-bmr commented on #75
@craig-willis I thought that the offset being the same for both cameras had been corrected already, I'll take a look. Should I correct the values if they are wrong?

I don't completely trust all the documentation that we have so I pulled the model number from the lens and looked up the specs for it. It is marketed as a 23mm lens but specs show it is actually 22.5.

[2017-01-23 17:33] craig-willis commented on #75
@smarshall-bmr Thanks for the clarification.  Let me know what the correct values are and where you get the information.  I'm not sure what the source of the location information is, if not the LemnaTec spec.

[2017-01-24 08:29] TinoDornbusch opened #79 "Exchange of supplemental halogen lamps"
all,

halogen lamps need to be replaced. The original lamps are not to purchase anymore.

Questions:
1.) Is halogen supplemental light crucial and used for the SWIR/VNIR analysis?
2.) Which type of halogen lamps (220V) do you prefer if you could choose?

There are different light colors available. From next week on we can test different bulbs here in Aachen and make the spectrum available.

Tino

[2017-01-24 21:13] smarshall-bmr commented on #79
Its my understanding that the halogen lamps were intended for use with the hyperspectral cameras, but they don't have enough output to actually allow for nighttime scanning. Maybe someone else can weigh in, but my opinion is that we should just get a full set of new bulbs for now and worry about other problems later given that we aren't exactly sure what to do with the halogens in their current it

[2017-01-25 15:11] rachelshekar commented on #46
associated with #61

[2017-01-25 15:12] rachelshekar commented on #61
@NewcombMaria - can you please give us an update on this?  Are you waiting for anything from NCSA?

[2017-01-25 15:14] #69 closed

[2017-01-25 15:16] rachelshekar commented on #72
@dlebauer - are you adding these to BETY or is Scott?

[2017-01-25 15:19] NewcombMaria commented on #61
Thanks for checking in on this.  It's simply an issue of finding/making time on my side.  I'll put it as high priority on task list.

[2017-01-25 20:25] dlebauer opened #80 "Storing field protocols and software code, linking to BETYdb methods, plots, managements."
(from anonymous user)

Yesterday in our local TERRA REF meeting the question arose as to how to document the calculations used to obtain plot-level yield data or any other data where intermediate calculations are made.

As you have seen, there are multiple ways to arrive at a value of yield per unit area, depending on what assumptions are made about effects of plot size and plant stand. In this ca

[2017-01-25 20:29] dlebauer commented on #80
Here is the way we can do this:

1. When you upload data you can have a trait name like 'height' as well as a method like 'hand measurement'
2. the method has a field for description. Simple methods and code snippets can be placed in the description field. Each method also has a 'citation'. The citation can reference a person, a citation, or any other public resource (e.g. a github repository or t

[2017-01-25 20:45] JeffWhiteAZ commented on #80
Thanks for the clarification. I would support developing a protocol repository that allows for more complex explanations than in a method description field. Looking at the height protocol examples would be good.

[2017-01-25 21:38] dlebauer commented on #80
@JeffWhiteAZ if you look at the protocols template it has room for more detail. And after compiling the documentation will render latex math. However, most of the field measurement protocols I was given last year fit into a spreadsheet cell.

Before I set up a repository, see if something like [protocols.scienceexchange.com](https://protocols.scienceexchange.com/) or [protocols.io](https://www.pro

[2017-01-26 17:06] rachelshekar commented on #24
@craig-willis and @dlebauer please review

[2017-01-26 17:18] rachelshekar commented on #78
Create space for derived files

[2017-01-26 17:28] max-zilla commented on #78
@robkooper @craig-willis  fundamentally it's difficult to differentiate raw and Level1/2 data. would also be good to hide raw data and only show people derived.

- could store raw/Level1/Level2 in folders within dataset
- could create 2 datasets per sensor x timestamp - one in a raw data space, one in a derived data space (Rob's idea)
- could use tags or other property flags to make clear

[2017-01-26 17:28] phloz commented on #68
A HTcondor Dag workflow was created at the Danforth Center to run the genomics pipeline that was outlined here: https://terraref.gitbooks.io/terraref-documentation/content/genomic-data-product.html the Dag is unique to HTcondor and the paths within the Dag and the underlying jobfiles are unique to our file system so I'm not sure they useful to include.  Using the software and following the instruc

[2017-01-26 17:35] dlebauer commented on #68
CoGe provides an API as well as a nice interface for tracing provenance & enabling reproducibility, evaluating and comparing genomes, storing and sharing data, and more.

[2017-01-26 17:41] nfahlgren commented on #68
@dlebauer as we have discussed though, CoGe doesn't do all the things we need.

[2017-01-26 17:47] solmazhajmohammadi commented on #44
@smarshall-bmr any update on this?
@ZongyangLi I think this is what you were referring to, as soon as I get the data, I can give you the transformation to gantry coordinate and origin of point cloud
@smarshall-bmr can you please let me know when you are doing the scan, we can check to make sure we have all the measurements to find the origin relative to the gantry origin

[2017-01-26 18:11] dlebauer commented on #68
From Todds email

Last week @mbomhoff said that he can implement the pipeline described in the documentation.

Even then, there can be multiple parallel pipelines. The one you use for a particular analysis does not have to be the same one that we provide as part of the public pipeline.

[2017-01-26 18:12] phloz commented on #68
@dlebauer I was addressing issues based what's currently available.  As I mentioned at the end of my earlier comment, @nfahlgren and I are going to work with CoGe.  I was able to get the CoGe API working, using their available tools with help from @mbomhoff.  The plan is to work with CoGe to implement a pipeline similar to what's already in use at DDPSC and obtain an outline of their resources so

[2017-01-27 18:11] dlebauer commented on #60
@rmgarnett

[2017-01-27 18:25] rmgarnett commented on #60
Ah, so what I was trying to explain earlier today, there are 32 rows, that are currently logically arranged as

[2 rows of border] ([4 rows of same genotype] x 7) [2 rows of border]

and we are looking at the interior two rows of each of the 7 "4-row" plots.  Numbering them as 16 two-row plots results in the following division:

[2 rows of border] ([2 rows of same genotype as ->, only care about r

[2017-01-27 20:26] NewcombMaria commented on #60
Thanks Roman for your description of the Sorghum Season 2 layout, with 2-row borders and 4-row 'plots'.  I tried to illustrate what you described in a powerpoint slide.  There's good reason to break the polygons and numbering scheme down to the smallest unit of row, with 32 rows across, as you suggest.  The term 'plot' to most people will be associated with an experimental unit, which can be multi

[2017-01-27 20:33] rmgarnett commented on #60
Fantastic picture, thanks!

[2017-01-28 04:19] dlebauer commented on #80
@nshakoor @terraref/developers

from today's notes:

Publishing protocols

These will be developed with peer review. We have the standards committee, five teams within TERRA, and many interested industry partners. Discussions on GitHub can count as peer reviews and we can archive them as well. This is the new path.

* https://www.protocols.io/ has option to fork, version, and mint doi's w/ citatio

[2017-01-28 05:21] dlebauer opened #81 "Support for ArcGIS"
Many users (including key PIs, funders, and industry partners) have asked about using standard ArcGIS files. Much of the geospatial community either use ArcGIS or ArcGIS file formats.

So far we have had requests for

* the ability to upload shapefiles
* the ability to download shapefiles.

The users' story is: "I use ArcGIS or some other software that uses the ArcGIS shapefile format. How can upl

[2017-01-28 08:57] remotesensinglab commented on #81
I suggest two methods for suggestion.
Method 1 - Census data approach: Create a shape file for each growing season with a polygon representing a plot/genotype. A column in the shaprefile stores unique Plot ID (plot names). All other plot level statistics of NDVI, temperature, etc., for entire growing cycle are stored in multiple .CSV files. The columns of a .CSV file (e.g., 2016_Sean1_NDVI.CSV) st

[2017-01-31 04:51] dlebauer opened #82 "Update data use policy in Clowder dataset metadata"
Pending review by PI's:

All data fields should have the name of the ,
* Rights Holder: TERRA REF Team + PI responsible for the generating data + other contributors to upstream data
* Description = See TERRA REF data release policy.
* License URL: https://terraref.gitbooks.io/terraref-documentation/content/user/data_release_policy.html

[2017-01-31 18:20] NewcombMaria commented on #65
The 16PR looks very much like a seed source code for the year and location where the seed was harvested.  16 = 2016 and PR is probably Puerto Rico, with a few 15WF which would be 2015 and a different location.  I think that the Pedigree would be more informative as part of the name, and also the generation of the RILs (F4 I believe, for season 1??).  Seed source can be an important variable perhap

[2017-01-31 19:35] dlebauer opened #83 "Requested changes to hyperspectral metadata"
The goal is to have an easy-to-interpret metadata that is as consistent as possible across file types (e.g. can be stored and imported / exported among geoTIFF, las, json, and other data types (exif?).

I am open to feedback - I don't necessarily understand all of the rationale behind the previous decisions.

Some questions

1. Instead of pushing all of the Lemnatec metadata to the nc file metadat

[2017-02-01 08:10] dlebauer commented on #81
@remotesensinglab both of the formats you describe combine a lot of information in the column headers that would have to be parsed to be useful. For example, a time series analysis would require converting S1NDVI160315 to a sensor name and date. There are data structures that would serve the same purpose but put bits of information in their place, e.g. dates as a vector of date-time stamps (for th

[2017-02-01 16:19] craig-willis commented on #75
@smarshall-bmr  I've created a pull-request with these changes. Please review and merge if acceptable:

https://github.com/terraref/sensor-metadata/pull/4/files

[2017-02-01 16:39] craig-willis commented on #74
Pull request:
https://github.com/terraref/sensor-metadata/pull/5

I've posted this to the clowder-dev instance for review:
https://terraref.ncsa.illinois.edu/clowder-dev/api/datasets/58920d9ae4b007e405e03301/metadata.jsonld

After PR is merged, I'll post to the primary clowder instance.

[2017-02-01 16:45] craig-willis commented on #74
Assigning to Solmaz for review.

[2017-02-01 16:46] craig-willis commented on #75
Assigning to @smarshall-bmr  for review/feedback.

[2017-02-01 17:18] craig-willis opened #84 "Put LemnaTec XML files under source control"
As noted in https://github.com/terraref/reference-data/issues/64, https://github.com/terraref/reference-data/issues/75 and https://github.com/terraref/computing-pipeline/issues/230, we have a problem with untracked changes to the XML files used to generated the user_given_metadata and sensor_fixed_metadata.

Completion criteria:
* [x] All relevant LemnaTec XML files used to generate the fixed meta

[2017-02-01 17:19] craig-willis commented on #84
@smarshall-bmr
Please send me the current copies of the XML file(s) that store the user_given_metadata and sensor_fixed_metadata values.

[2017-02-01 17:24] dlebauer opened #85 "Upload 2016 data from KSU to terraref/bety"
Data from KSU 2016 field season is in here:

The most straightforward way to get these data into BETYdb will be to use the API. The web interface is also handy, especially for information like defining traits and agronomic managements where there are only a handful of records. (you could also use SQL but the API hides a lot of complexity).

### Completion Criteria

* [ ] define any new plots, geno

[2017-02-01 17:24] craig-willis commented on #64
There are two separate issues here.  First, we need to get the XML files under SCM so we can track and review changes going forward.  Second, we need to define an approach similar to how we're handling the sensor-fixed metadata and find the best place to store the experiment information that's in the user_given_metadata.

Digging through the files on Roger, there were several fields changed on dif

[2017-02-01 17:24] smarshall-bmr commented on #75
@craig-willis are we absolutely sure of this y axis field of view? 1.000m seems rather convenient, it might be a placeholder.

[2017-02-01 17:33] craig-willis commented on #75
@smarshall-bmr  Thanks for reviewing. The value came from the hyperspecVNIRCameraBox.txt you attached above. The documentation I have (https://terraref.ncsa.illinois.edu/clowder/datasets/5873a7bb4f0cad7d8131a0b7) doesn't seem to include this value.  Should I check with LemnaTec or maybe just remove it?

[2017-02-01 17:37] smarshall-bmr commented on #75
@craig-willis Hold that thought, I'm finding out now.

[2017-02-01 18:11] smarshall-bmr commented on #84
@craig-willis metadata files are now available at https://drive.google.com/open?id=0BzWFmpKimq_6OGRVdWw5UTlNRTA

[2017-02-01 18:24] craig-willis commented on #84
@smarshall-bmr Thank you

@dlebauer
I've created a new github repository with these files:
https://github.com/terraref/lemnatec-fixed-metadata/

This repository is configured to require review before changes can be merged to master.  My suggestion is that, going forward, changes to these files be made via this Git repository and are copied to the control PC via git from the master branch after cha

[2017-02-01 19:27] dlebauer commented on #84
Makes sense to me. I just updated the README to clarify the scope of the repository https://github.com/terraref/lemnatec-fixed-metadata/pull/1

[2017-02-01 19:37] dlebauer commented on #64
Within BETYdb, we can store this information thus:

* in the managements table:
  * date of sowing
* in the traits table
  * date of emergence (though for scientific inference we need to know days observed before emergence)
* experiment title: experiments table

This information, as well as the mission or scan could be inserted into the geostreams database as well. The 'sensor' would be the entire

[2017-02-01 20:42] craig-willis commented on #64
Discussing with @max-zilla two points came up:
* We might still want to link the LemnaTec metadata to this information if stored elsewhere.  This could be by URI or identifier.
* Is there a need for any of this to be available for search? For instance, will users want to search by experiment or date of sowing, etc?

[2017-02-01 22:18] rickw-ward commented on #81
@dlebauer is this capacity meant to span the realm of phenotyping devices from manual, tractor, drone, and gantry?

[2017-02-01 23:07] dlebauer commented on #81
@rick-ward yes, the primary idea here is to allow users within the team to access data from within their favorite GIS tool, conduct analyses, and design and publish data products. ArcGIS is the specific use case, but similar products like QGIS should work equally well.

These data products (like shape files) would be available to the public and can be hosted on arcgisonline or similar.

[2017-02-02 00:16] solmazhajmohammadi commented on #74
@craig-willis Thanks for the update. The offset need to be applied to only one of the scanners. Current offset is for  "Top-heading-west" scanner. Can you please specify it in the metadata. Or add the offset for the "Top-heading-east" scanner as well. It should be  [0 , 0 ,0 ]

[2017-02-02 16:37] #7 closed

[2017-02-02 16:40] dlebauer commented on #72
@gsrohde could you please add these to the variables table?

[2017-02-02 16:54] dlebauer commented on #66
I think this is complete. The form is here: https://goo.gl/forms/PdnV3K16oXqb3iBI2

[2017-02-02 16:54] #66 closed

[2017-02-02 17:25] rachelshekar commented on #83
What will be most used?  lat, lon or x, y in meters?

[2017-02-02 17:36] rachelshekar commented on #24
URL should not be dependent on github or clowder.   Should we use Zenodo for persistent documentation? @craig-willis

[2017-02-02 18:04] rachelshekar commented on #81
@gsrohde and @jterstriep - please work with Wasit ( @remotesensinglab ) as discussed so he can test this for analysis.

[2017-02-02 19:30] dlebauer opened #86 "Approach to computing plot level mean phenotypes from high resolution data"
### Description

In https://github.com/terraref/computing-pipeline/issues/183#issuecomment-277045908, @czender raises the question of how to compute plot level means.

There will be a lot of sensors for which we generate plot level averages, so we should come to a general consensus on how we compute averages. At this stage the most important step is to provide both 1) a defensible plot level summa

[2017-02-03 17:18] gsrohde commented on #72
It's not clear to me how the columns in https://github.com/terraref/documentation/blob/master/spectral_indices.md should map to the database table columns.  I'm guessing something like
[code]
Possibly Acronym could be used for the name, but keep in mind that we had talked about making names unique (though we don't yet enforce this).

Also, I haven't yet implemented https://github.com/PecanProject/

[2017-02-05 22:54] nfahlgren commented on #68
@dlebauer @phloz @craig-willis all of the raw sequencing data has been uploaded to CyVerse:

[code]

I need to clean up a few things and put our data release policy in the same directories. Then I think we can make it public.

[2017-02-06 20:00] dlebauer commented on #72
* Variable name --> Acronym
* standard_name -->  should match the long name from the script written by @hmb1 here https://github.com/terraref/computing-pipeline/blob/master/scripts/hyperspectral/hyperspectral_indices_make.nco except
  * all lowercase
  * convert spaces to underscore: https://github.com/terraref/computing-pipeline/issues/183#issuecomment-265512121
  * where
* variables.description

[2017-02-06 20:40] dlebauer commented on #72
@gsrohde please match these indices to this database: http://www.indexdatabase.de/db/i.php and where there are differences, use the name / abbrev. from the database

[2017-02-06 21:51] gsrohde commented on #72
@dlebauer Do you mean: Any discrepancies between _Reflectance Index_ and _Acronym_ in https://github.com/terraref/documentation/blob/master/spectral_indices.md and _Name_ and _Abbrev._ (respectively) in  http://www.indexdatabase.de/db/i.php should be resolved in favor of the latter?

By the way, I _did_ check Reflectance index names from the table against the long names in https://github.com/terra

[2017-02-06 21:55] dlebauer commented on #72
Yes please these fields in our database consistent with the fields in the index database

[2017-02-07 01:04] remotesensinglab commented on #67
Hi Solmaz, Would it be possible to create a table/matrix for various imaging options with shortest possible integration time (20 or 25 ms), various frame rate and spatial binning options? I wonder if it is something can be configured through the software used to control scanning speed? Then, we could evaluate the data and find out the best options to optimize the scanning speed.

Thanks

Wasit

[2017-02-07 01:16] nfahlgren opened #87 "Review structure of genomic data at CyVerse"
@dlebauer and @craig-willis could you review the structure of data in our CyVerse data repository?

All TERRA-REF raw genomic data has been uploaded to CyVerse here `/iplant/home/shared/terraref`.

The data is structured as follows:

[code]

The main folder contains README.txt and DATA_USE_POLICY.md files. I added a table of sample information to the year1 and year2 subfolders, based on https://do

[2017-02-07 15:46] solmazhajmohammadi commented on #67
@remotesensinglab
Hi Wasit,
We have been in contact with headwall to figure out if bining really would increase the light sensibility or it is just a image size reduction. I would follow up with them again and post their response here.
Up to this point our option would be changing the triggering signal. We can change the external trigger signal via a signal divider manually. However, even in this

[2017-02-07 16:03] remotesensinglab commented on #67
Thank you for the update @solmazhajmohammadi. Changing the slit width is the option 5.
Option 5. To increase the size of the entrance slit. This would reduce the spectral resolution but it would let more light into the sensor and reduce the exposure time required.

let's see what they recommend then. thanks

[2017-02-07 22:27] gsrohde commented on #72
@dlebauer It's a bit confusing to me in many cases how these match up.  It seems that looking at the formulas is often the best way to determine the best match.  Does the formula
[code]
in the markdown table correspond with the formula
[code]
in the Index Database table?  If so, that implies `NDVI` should be renamed to `ND900/680`.

Also, note that abbreviations in the Index Database table are not

[2017-02-07 23:12] dlebauer commented on #72
Yes, you are correct about the formulas being equal ... the numbers indicate the reflectance at wavelength x (R = reflectance, nm = units in which the wavelength is measured). So as long as the formulae are equivalent the meaning is the same

In the indexdatabase.de, other than indices with abbreviation = empty string (all of these appear to be minerals like Silica, Dolomite, etc). The remaining n

[2017-02-07 23:20] dlebauer commented on #72
feedback sent http://www.indexdatabase.de/info/feedback/

[2017-02-08 17:39] gsrohde commented on #72
@dlebauer Here is the original table (from https://github.com/terraref/documentation/blob/master/spectral_indices.md) followed by a corrected version.  See if my corrections look OK.  Or, if you don't have time now, I'll just use this now to do the database insertions and we can go back later and make corrections if needed.

I added a Units column, which either has "ratio" or blank.  The line numb

[2017-02-08 18:04] dlebauer commented on #72
Looks good to me. I would say go ahead and upload it. We can change the equations and/or acronyms later if ensuing discussion requires it.

With respect to the formula, I would suggest either:

* omit the left hand side (as in your final suggestion `Formula: (R900-R680)/(R900+R680)`)
* come up with acronyms without the `/` symbol. For the most part, the `/` doesn't really correspond to a division.

[2017-02-08 21:28] gsrohde commented on #72
@dlebauer Not having heard any comment, I went ahead and inserted these.  You can see a list conveniently by going to the variable list page and searching on "formula" (for now at least, since no other variables yet contain "formula").

I did use the "Formula: ..." designation.  In retrospect, it might have been better to put the formulas in square brackets to set them off from the other parts of

[2017-02-08 21:40] gsrohde commented on #72
@dlebauer Also, I _did_ assume the 0.5 in the RDVI formula was an exponent.

Please close this if it's done.

[2017-02-08 21:51] #72 closed

[2017-02-09 11:47] hmb1 commented on #72
Hi David,
 just like to check in that the following  index has all the required fields with the correct syntax.

NDVI = ( R900 -R680) / (R900+R680 );
NDVI@long_name="Normalized Difference Vegetation Index";
NDVI@standard_name="normalized_difference_vegetation_Index";
NDVI@description="Normalized Difference Vegetation Index |  ( R900 -R680) / (R900+R680 ) | Rouse et al. (1973)"
NDVI@notes="Normaliz

[2017-02-09 12:55] remotesensinglab commented on #72
NDVI_900_680 makes more sense than ND900/ND680 for the short name. The ratio is confusing on the short name.

NDVI@max="NULL"; Shouldnt the NDVI max =1? If data calibration is correct, then this value should be within 0-1 for soil and vegetation. If there is water or snow in the field the value can be minus but this is not the case for us.

[2017-02-09 15:29] mdietze commented on #83
I think it's fine to have local coordinates in x,y, but you definitely need to add variables for the lat/lon of the reference point for that x,y grid.  That said, I'm not sure how things like ncview and panoply will load the image in that case -- probably worth making example files for the different options and try loading them, that might provide your best answer to whether go with x,y vs lat,lon

[2017-02-09 15:38] dlebauer commented on #83
Hi Mike, Thanks for your feedback.

It does make sense to have latitude, longitude as dimensions for consistency, and to retain x,y as vectors. Henry does that make sense? For this 200x20m field and in the context of raster data products we can assume the grid mapping is square (but see also https://terraref.gitbooks.io/terraref-documentation/content/user/geospatial-information.html).

This is a s

[2017-02-09 15:46] mdietze commented on #83
@dlebauer If you're trying to store info for one specific instrument that's fine, but the email you sent to the PEcAn team suggested you were trying to generate a standard for storing hyperspectral data, which to me implies a more general standard. For the general case, it would make sense to flip the data into an order that makes sense to end users and can be loaded using existing tools.

[2017-02-09 17:20] dlebauer commented on #83
@mdietze

I think we agree, though that wasn't clear in the examples (I'm in transit, apologies!)  My statement was

So: latitude and longitude will be dimensions, as with the PEcAn met and model output. I'll update this above.

In addition to the required PEcAn structure, other variables can be added. In this case, we can add x and y as vectors with the same length as the lat and lon dimensions.

[2017-02-09 22:15] craig-willis commented on #87
@nfahlgren Should I be able to see this in the DataCommons without logging in ?

[2017-02-10 01:47] nfahlgren commented on #87
@craig-willis no, it's not public yet. Can you see it when you are logged in?

[2017-02-10 02:34] craig-willis commented on #87
@nfahlgren I'm not sure where to look.  I don't see it in http://datacommons.cyverse.org/, nor in https://de.cyverse.org/ under "Community data" or "Shared with Me." I'm new to Cyverse and probably looking in the wrong place.

[2017-02-10 14:38] nfahlgren commented on #87
@craig-willis I think it won't show up in Data Commons until we make it public, but it is in the Community Data space, so that's where it will show up at some point. I think the easiest way to get to it now is through the Discovery Environment, and I was able to generate a link to the folder: https://de.cyverse.org/de/?type=data&folder=/iplant/home/shared/terraref. I can't or don't know how to cha

[2017-02-10 14:47] phloz commented on #87
@craig-willis @nfahlgren
I can see the data in the Cyverse Discovery Environment Community Data folder in the follow path /iplant/home/shared/terraref/sites/hudson-alpha/raw_data/ as Noah referenced above

[2017-02-10 14:48] craig-willis commented on #87
Thanks, @nfahlgren. I don't seem to have access to the "terraref" folder and will check with @dlebauer

[2017-02-11 16:47] dlebauer opened #88 "Standardize how plantcv metadata is stored in Clowder + add to EXIF?"
In the sample datasets on Clowder the experiment metadata is at the dataset level

![](http://i.imgur.com/gl2y3WF.jpg)

 and genotype is found at the file level way after the exif info

![](http://i.imgur.com/rvTLEIy.jpg)

Seems like the genotype + barcode + treatment etc should be at the dataset level.

Would that make sense?

[2017-02-11 16:54] nfahlgren commented on #88
@dlebauer or both? But yeah, I agree that those metadata apply down from the dataset level.

It would also be useful to look over MIAPPE and see how it compares to what we have.

[2017-02-11 17:42] dlebauer commented on #88
Both works. And perhaps relevant metadata at the collection level too?

MIAPPE is defined here http://cropnet.pl/phenotypes/wp-content/uploads/2016/04/MIAPPE.pdf

Looks like you are the person to provide this information Noah  but @craig-willis may be able to advise on how much we can cover with linked data vs duplication; seems a search should return miappe info + data

[2017-02-11 17:47] nfahlgren commented on #88
I need to rework the PlantCV code in the current extractor to analyze the TERRA-REF datasets, based on scripts I got from Todd's group. That would be a good time to incorporate updates to the metadata

[2017-02-13 18:09] rachelshekar commented on #44
@solmazhajmohammadi - have you heard back from Stewart?  After you talk to him can you please update this issue?

[2017-02-13 18:13] smarshall-bmr commented on #44
@rachelshekar @solmazhajmohammadi The first die I built for holding the targets wasn't very accurate. I'm planning on trying again soon.

[2017-02-16 20:00] solmazhajmohammadi commented on #67
@remotesensinglab
Update: Binig is not an option, the bining is done after data collection, so it is not going to increase the amount of the light coming to the sensor. it will reduce the size and can help increase the speed only if the limiting factor is the write speed of the hard drive.
I suggest changing the triggering signal for now,  and using 20ms exposure time(instead of running the gantry

[2017-02-21 17:10] dlebauer commented on #46
@NewcombMaria what is the status of this?

[2017-02-21 20:19] dlebauer opened #89 "betydb"

[2017-02-21 20:20] #89 closed

[2017-02-22 14:54] NewcombMaria commented on #65
@dlebauer what are the cultivar identity names that are being used for genotypic data for Sorghum season 1?  I am currently doing QC on the yield data spreadsheet and associated definitions and protocols and need to know the correct cultivar id.  We should be consistent and use the identity names for phenotypic and genotypic data.  I noted above that the betydb cultivar names for Sorghum season 1

[2017-02-22 15:12] dlebauer commented on #65
@NewcombMaria you are correct that the names for Season 1 are in the 'name' field here: https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=796817704, which derives from the 'source' field.

To be clear, are you pointing out two different issues, 1) that we should not use source as name and 2) the source values are incorrect, or are these the same issues (i

[2017-02-22 15:28] rickw-ward commented on #65
@dlebauer and @NewcombMaria - sorry, I accidentally eliminated assignees, but believe I restored it.     I am visiting Geoff Morris (@gpmorrisksu) tomorrow at KSU and will discuss this matter and report back.

[2017-02-22 15:41] NewcombMaria commented on #65
@dlebauer the problem is that the source should not be used as a identifier name.  Rick and Geoff will be the best experts to propose a unique identifier.  One option is to concatenate 'Pedigree' and 'Pedigree2', for example RIL-CS1_(Tx2910/(Macia/R07007)-CS44)-CSF1-PRF2-CS.  This would include the RIL# and the cross and would be a unique identity.  Rick and Geoff should provide their suggestions

[2017-02-23 16:08] rachelshekar commented on #82
@dlebauer - is this under review by PIs already?

[2017-02-23 16:11] rachelshekar commented on #79
@czender and @remotesensinglab - do you have any feedback for Tino?

[2017-02-23 16:14] rachelshekar commented on #75
@smarshall-bmr - please update this issue

[2017-02-23 16:15] rachelshekar commented on #74
@craig-willis - can this be closed?

[2017-02-23 16:19] dlebauer commented on #82
This is ready to deploy

[2017-02-23 16:20] craig-willis commented on #87
@dlebauer Can I get access to this folder in Cyverse?

[2017-02-23 16:20] rachelshekar commented on #70
@solmazhajmohammadi - can this issue be closed?

[2017-02-23 16:22] dlebauer commented on #87
Do you have a cyverse username?
On Thu, Feb 23, 2017 at 10:20 AM Craig Willis <notifications@github.com>
wrote:

[2017-02-23 16:24] craig-willis commented on #87
willis8

[2017-02-23 16:28] rachelshekar commented on #64
@craig-willis - please update

[2017-02-23 16:29] dlebauer commented on #87
Noah has the permissions - Noah can you add Craig and I?

[2017-02-23 16:56] czender commented on #79
I have no experience/advice with artificial lighting for hyperspectral measurements. the comment of @smarshall-bmr above seems reasonable.

[2017-02-23 16:56] craig-willis commented on #24
I've had a few discussions about DOIs as they relate to TERRA-REF data products and will have more in the coming weeks.  One idea that seems to make the most sense at the moment is to create a metadata package (ORE or otherwise) that references all of the files that make up a particular data product with their locations on ROGER/Globus/Clowder with checksums. This package should be pretty small an

[2017-02-23 17:20] nfahlgren commented on #87
@dlebauer I can't figure out how to do this on cyverse, how did you do it before?

[2017-02-23 17:23] remotesensinglab commented on #79
We used halogen lamps in lab environment. But do not have much to offer in this case as I have not looked either the lamps or the data collected using the lamps. I agree with @smarshall-bmr suggestion.

[2017-02-23 17:25] jterstriep commented on #81
@dlebauer and I had a teleconference on Monday with @remotesensinglab . We're starting with ArcGIS access to BetyDB. Further discussion with @robkooper indicated some security concerns with exposing the PostGIS port to the internet. The current plan is to allow ssh access to the host and setup an ssh tunnel to reach the Postgres port. A read-only account will be created for Postgres access.

[2017-02-23 17:32] nfahlgren commented on #87
@craig-willis I think you should have access to `/iplant/home/shared/terraref/` now

[2017-02-23 17:34] craig-willis commented on #87
@nfahlgren Indeed I do. Thank you.

[2017-02-23 17:47] jterstriep commented on #81
This is related to issue https://github.com/terraref/computing-pipeline/issues/262.

[2017-02-23 18:51] smarshall-bmr commented on #75
@craig-willis FOV for the SWIR is 44.5 degrees and the VNIR is 21 degrees.

[2017-02-23 18:56] dlebauer commented on #79
I'll mark this resolved

Answers to Tino's questions are

1. No, not essential
2. No preference on light source. But it will be necessary to have the spectra of light incident on the plant

[2017-02-23 18:59] dlebauer commented on #24
BETYdb does produce an archivable dump  https://terraref.ncsa.illinois.edu/bety/dump/bety.tar.gz

[2017-02-24 22:15] solmazhajmohammadi opened #90 "PointCloud data transfer"
I just noticed that calibrated data has not been transferred properly to globus. Part of data from June still has old calibration.

[2017-02-24 23:19] dlebauer commented on #90
@solmazhajmohammadi could you please provide an example of a bad file, and what makes it bad, and how you could tell when it is fixed?

[2017-02-27 17:49] solmazhajmohammadi commented on #90
This is one sample image of full-field data
![fullfield](https://cloud.githubusercontent.com/assets/17046539/23372212/4df97ff0-fce0-11e6-9544-275e7e9959b0.jpg)
Example:2016-06-08__03-27-36-711
Position of the pointclouds respect to each other, is off.
This is the second sample, The data is still tilted
![tilted](https://cloud.githubusercontent.com/assets/17046539/23372413/274161b0-fce1-11e6-8ce3-2

[2017-02-27 19:39] solmazhajmohammadi commented on #70
No, we still need to apply the transformation to the dataset.
The offset is hardcoded now, @craig-willis What is the label for this offset?

[2017-02-27 20:19] rachelshekar opened #91 "Update standards and data products (v2)"
Need to review existing data products, propose revisions

* sensor data should be OGC compliant and use consistent names and dimensions
  * point clouds
  * thermal imagery - data should be 'surface_temperature' .. consistent with CF http://mmisw.org/ont/cf/parameter/surface_temperature
  * consistent use of CF throughout sensor data products
* trait data
  * link crop ontology terms to BETYdb
  *

[2017-02-27 20:20] rachelshekar opened #92 "Generate tools to validate standards compliance"
Milestone

[2017-02-27 20:20] rachelshekar opened #93 "Automate publishing of meta-data"
Milestone

[2017-02-27 20:20] rachelshekar opened #94 "Annotate and archive all data products and reference algorithms"
Milestone

[2017-02-27 23:00] rickw-ward commented on #65
if we are adopting the Integrated Breeding Platform at KSU and UA, we should look there for guidance.    More to come...

[2017-02-28 23:13] solmazhajmohammadi commented on #90
@smarshall-bmr can you please run the ply worker on the dataset form 2016-06-07 and 2016-06-08, so we can make sure that calibration is working, then we can re-run it over all dataset and transfer the files again to the NCSA.

[2017-03-01 07:57] smarshall-bmr commented on #90
@solmazhajmohammadi The ply worker is defaulting to a start date in November of last year and I'm unable to change it. If it's allowed to run long enough it may loop back around to earlier dates but I have no way of knowing.

[2017-03-01 15:29] solmazhajmohammadi commented on #90
You can copy the data to another folder, and set the input folder from ply worker to that path. And set the output path to the same folder. (Not in the gantry/MovingSensor though)
I can copy the files through ftp and check it.
Thanks,

Sent from my iPhone

On Mar 1, 2017, at 1:58 AM, smarshall-bmr <notifications@github.com<mailto:notifications@github.com>> wrote:

@solmazhajmohammadi<https://githu

[2017-03-02 16:11] remotesensinglab commented on #86
**Suggestions:**
Calculate the indices using pixel reflectance values then average the indices over each plot/genotyp. Many indices, e.g., NDVI, are able to reduce the effects of soil and other noise factors. This is due to the fact that soil, shadow and other noise elements have equal or close to equal reflectance that can be balanced out by a ratio index.  See the figure below, which is generate

[2017-03-02 16:18] dlebauer opened #95 "genomics"

[2017-03-02 16:18] #95 closed

[2017-03-02 16:36] remotesensinglab opened #96 "Soil removal and compensation for shadow effects"
### Description

Removal of soil component and compensation or correction for shadow effects need to be incorporated in hyperspectral calibration. These effects may affect our plot level summaries. Shadow may not necessarily noise. It is possible that leaves under the shadow of another plant so it shows a 'plant-like' spectra. It is possible to compensate for shadow rather than removal.

### Compl

[2017-03-02 17:16] dlebauer commented on #87
looks great. go ahead and make it public

[2017-03-02 17:16] #87 closed

[2017-03-02 17:20] rachelshekar commented on #77
@ZongyangLi will talk to @pless and @rmgarnett to make sure that the uncertainty can be added to his data.  If so, he will upload it to BETYdb.
We want to capture reproducibility and variability within plot - RMSE?

[2017-03-02 17:21] dlebauer commented on #77
What about estimating RMSE as the bias between what is estimated by the algorithm and what we would expect if we took a measurement in the plot?

[2017-03-02 17:25] rmgarnett commented on #77
What about something like leaf angle distribution, where we can't easily make a hand measurement?  What about a future "purely digital" phenotype?

[2017-03-02 17:34] rachelshekar opened #97 "metadata and file organization"
define structure
ensure each data set is consistent

[2017-03-02 17:42] max-zilla commented on #90
@jdmaloney want to tag you on this thread as it might be relevant to our discussion yesterday.

[2017-03-02 17:51] dlebauer commented on #96
Can we start by creating masks for soil and shade, each a binary layer (0,1) at Level 1 resolution, indicating whether the pixel contains soil or shade? These could be level 2 products

[2017-03-02 17:52] rachelshekar commented on #86
Wasit will do more testing and give an update on what indices to use.
Charlie will make the default NDVI data the average of indices (not indices based on the averages)

[2017-03-02 17:54] czender commented on #86
@hmb1 this means that we should rename the variables so that the default names, e.g., NDVI, are for the variables computed with the pixel ratios done before averaging over the plots (the old _rba variables). The original primary method becomes the new "secondary" method, and those variables should be suffixed with _abr (average before ratio). @remotesensinglab Wasit will create an algorithm to mas

[2017-03-02 17:54] remotesensinglab commented on #86
I think this issue can be closed. Removal of shadow and soil effects will be discussed on the issue below https://github.com/terraref/reference-data/issues/96

[2017-03-02 17:55] hmb1 commented on #86
will Do !!
On 02/03/17 17:54, Charlie Zender wrote:

[2017-03-02 22:11] rachelshekar commented on #78
@max-zilla - please make issues based on today's discussion

[2017-03-02 22:55] ZongyangLi commented on #77
My understanding of this issue: we are looking for the source of uncertainty in our estimates of α and β, and add this uncertainty to our further algorithm.

My idea of possible sources of uncertainty:

- we do not know the precise transfer data from Z direction in ply file to real world meters, that may affects α ?
- I happen to notice that the field ground is not a flat at all, distance between

[2017-03-02 23:51] rmgarnett commented on #77
I think the point of the issue is a bit nebulous.  How do we define "uncertainty" in general.  I am totally on board with David's suggestion of considering comparison with hand measurements, when they are available.  I'm just thinking that in the future, more and more phenotypes we're working with are not going to be hand measurable, and then I'm wondering what it means to assign an uncertainty.

[2017-03-03 16:02] dlebauer commented on #77
For data where hand measurements do not exist, maybe what we need is repeatability (and could this be estimated, with correction, from a time series, or by using part of the plot to estimate mean and the other part to estimate error?

For some background, what typically goes in this field is the standard error of the mean `SE = SD/sqrt(n)` or the sample standard deviation `SD_x = sqrt(var(x)/(n-1)

[2017-03-03 16:03] dlebauer commented on #77
Also, remember that while we can store a narrowly defined concept of variance / uncertainty in BETYdb, we can also use the Clowder MongoDB that is much more flexible.

[2017-03-03 16:47] rmgarnett commented on #77
@dlebauer Yes, I think this scheme could work and would be useful especially for e.g. forecast values.  One effect of this particular choice, however, will be that some phenotypes will end up with zero (or near zero) uncertainty associated with them by this measure.  I personally think that's okay but we should all agree.

[2017-03-03 17:40] jdmaloney commented on #90
@solmazhajmohammadi @smarshall-bmr I'm guessing the default start date is Nov. 1 of last year?  We've been purging data (from all sensors) off the gantry-cache machine to ensure we maintain sufficient space on that server in case (when) we experience network trouble getting data back to NCSA.  We just had that issue where for a couple weeks we were getting terrible transfer performance (couldn't e

[2017-03-06 15:07] hmb1 commented on #86
Have renamed vars as requested

[2017-03-06 16:06] dlebauer commented on #65
@rickw-ward any updates?

[2017-03-06 16:34] dlebauer commented on #65
@NewcombMaria I updated the names using the sql statements here: https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=796817704

[2017-03-06 16:36] dlebauer commented on #65
@rickw-ward and @gpmorrisksu please review the genotypes here: https://terraref.ncsa.illinois.edu/bety/cultivars ([in csv form](https://terraref.ncsa.illinois.edu/bety/cultivars)) and confirm that the names are sensible and confirm:

1. will allow us to uniquely identify the lines
2. will enable cross-referencing of genomic data

Any additional suggestions appreciated

[2017-03-06 21:36] dlebauer opened #98 "Incorrect date (year 1016) in raw_data"
We have a year 1016 that should be 2016. This appears in the raw data folder on Roger/Globus

sites/ua-mac/raw_data/scanner3DTop/1016-12-09/

and this has been propagated into Clowder, e.g. https://terraref.ncsa.illinois.edu/clowder/collection/587126114f0cc129fb5740d7

### Completion Criteria

* [ ] Identify the source of this error ( @smarshall-bmr )
* [x] Fix error ( @jdmaloney )

[2017-03-06 21:41] jdmaloney commented on #98
Fixed the directory name on ROGER, new check list item now.

- [ ] Update in Clowder @max-zilla

We're doing some high-tech stuff here in 1016 ;)

[2017-03-06 21:56] max-zilla commented on #98
@jdmaloney ah yeah, I had corrected this in the Clowder dataset name but not on the filesystem. I'll update the affected dataset pointer and close this

[2017-03-06 22:39] dlebauer opened #99 "Reupload canopy_height and spike_height with dates for Season 1"
Canopy height and spike height were uploaded with no dates

The correct data w/ dates are here: https://docs.google.com/spreadsheets/d/1FQ8_ualom7ZUtr5iKiEn80vHlh9zIYpDxawpaek20Og/edit#gid=2083690513

### Completion Criteria

* [x] delete ~~current~~ _duplicate_ records _that have no dates_
* [x] _delete useless entities connected with kept traits_
* [x] ~~upload new records~~ _update non-duplicat

[2017-03-06 23:32] dlebauer opened #100 "Link genotypes with sites"
Many traits in bety have a plot name but not a genotype name. These need to be updated.

For Sorghum Season 1: link cultivars and sites tables from this spreadsheet on the field 'entry' https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=796817704

then each row in traits table should have a cultivar_id that matches the 'new_cultivar_name' field. The match

[2017-03-07 01:18] rickw-ward commented on #65
@dlebauer   and @NewcombMaria your format works, backfitting to include unique IDS (GID) and separating the "RIL" part as Designation, from parents etc. as Cross, will be in compliance with the Integrated Breding Platform https://www.integratedbreeding.net/ .  This file contains suggestions and some background:  [germplasm naming.xlsx](https://github.com/terraref/reference-data/files/823031/germpl

[2017-03-07 16:02] rickw-ward commented on #65
eventual back-fitting; that's what i meant.   what you have is good.

[2017-03-07 17:01] solmazhajmohammadi commented on #90
Thanks @jdmaloney for clarification.
 It seems that data from last season has been deleted from cache server, so I am not sure if the issue, described above, is caused by new calibration or it is due to data transfer.
I am testing the data from different days during the season, I'll keep you updated if the issue is relevant to data transfer.

[2017-03-07 20:52] dlebauer opened #101 "Public data hidden in Clowder unles superadmin is enabled"
For many of the datasets and collections, I can see some data as SuperAdmin that is not normally visible, even when the files are marked public.

For example, https://terraref.ncsa.illinois.edu/clowder/datasets/5873a8ce4f0cad7d8131ad86

Without SuperAdmin:

![image](https://cloud.githubusercontent.com/assets/464871/23677379/7ecdd304-0345-11e7-9eeb-eaa9e5a29544.png)

With SuperAdmin

![image](https

[2017-03-07 21:01] max-zilla commented on #101
I will look into this - tagging @robkooper as well in case he spots something obvious.

[2017-03-07 21:48] #84 closed

[2017-03-07 22:00] craig-willis commented on #74
Sorry for the delay, lost track of this ticket.  I've added a sensor identifier to the alignment_correction_offset and update the PR.

[2017-03-07 22:21] dlebauer opened #102 "data flow visualization"
@rachelshekar commented on [Thu Mar 02 2017](https://github.com/terraref/computing-pipeline/issues/277)

use yesworkflow for documentation
tracks providence

do not need high level of detail - detail in google sheet is appropriate.

@dlebauer to talk to Bertram

[2017-03-08 05:10] dlebauer opened #103 "Unclear what 'reflectance' data in calibration object metadata refers to"
In this file

https://github.com/terraref/sensor-metadata/blob/master/targets/LabSphere/fixed_metadata.json

It is not clear what the (the dimensions, units, etc) of the reflectance values are:

e.g.

[code]

### Completion Criteria

* [x] Make sure that these numbers have sufficient meta-data to interpret
* [ ] Review other sensor metadata in github.com/terraref/sensor-metadata to ensure the same

[2017-03-08 13:59] robkooper commented on #101
This is a bug, if you are not logged in you will see the data. Seems when getting the data the logged in and not having access to the data overrides the public data flag.

Created clowder issue: https://opensource.ncsa.illinois.edu/jira/browse/CATS-744

[2017-03-08 14:58] craig-willis commented on #75
Updated FOV values and units in VNIR and SWIR in OR.

[2017-03-08 21:41] max-zilla commented on #55
@craig-willis and I are discussing Phenome 2017 outcomes re: BRAPI, MIAPPE, other equivalency tables and how this still fits in. Meeting is March 9 (tomorrow)

[2017-03-08 21:42] rachelshekar commented on #55
Next step: update from Phenome meeting from Max.  Meet with Max and David to determine future direction and next steps.

[2017-03-08 21:44] max-zilla commented on #31
https://docs.google.com/spreadsheets/d/1FKSLTTIywQygRDv3nU6Xk6Z9D0xKxnoR_Mw1a8Kbjj0/edit?usp=sharing

[2017-03-08 22:24] rachelshekar commented on #44
@smarshall-bmr can you please give an update on this?

[2017-03-08 22:29] dlebauer commented on #77
from @ashiklom

One of my fellow PhD students had a way to quickly compute spatial autocorrelation across a 2D image using Fourier transforms, but I don't remember exactly how he did it.

[2017-03-08 22:47] dlebauer commented on #85
@gpmorrisksu what is the plan?

[2017-03-09 11:51] gpmorrisksu commented on #85
Hi David,

Zhenbin has already sent the 2016 manual phenotyping data, no? If the question is fieldbook to BrAPI format conversion, I think that better addressed in your group. I think our responsibility lies in producing the data and analyzing G-to-P.

Best,
Geoff

------------------------------------
Geoff Morris, Assist. Professor
Kansas State Univ., Agronomy
3004 Throckmorton<x-apple-data-detec

[2017-03-09 13:14] dlebauer commented on #85
The issue is metadata which he did not provide
On Thu, Mar 9, 2017 at 5:51 AM gpmorrisksu <notifications@github.com> wrote:

[2017-03-09 15:59] dlebauer commented on #85
@gpmorrisksu sorry if I was not clear. When entering data, we need to make sure that we have all of the information that would be required for someone to make use of the primary data.

This includes the definitions of phenotypes and methods used to collect them, the agronomic managements (planting date and density, fertilization, tillage, experimental design, plot layouts), and the genotypes, used

[2017-03-09 17:42] rachelshekar commented on #80
- [ ] share example protocol
- [ ] choose protocol website
- [ ] promote across team

[2017-03-09 18:07] nfahlgren opened #104 "Dublin Core metadata for the TERRA-REF Community Data folder at CyVerse"
@dlebauer @craig-willis I am working with CyVerse to make the genomic data available through the CyVerse Data Commons. I was asked to add metadata to the `terraref` folder using the Dublin Core template. Could you please provide feedback on what I have below? Here are the metadata fields for DC and my proposed values in quotes:

**Title** (required): The name given to the resource. Typically, a Ti

[2017-03-10 02:51] jterstriep commented on #81
I hit what may be a significant problem with direct ArcMap access to BETYdb. In the bety.public.sites table, the 'id' field is of type bigserial which is not recognized by ArcMap. This means that 'id' can not be selected as the primary key and most other fields contain nulls so they can't be used either. I was able to make some progress using the 'sitename' field. Is that guaranteed to be unique?

[2017-03-10 03:16] dlebauer commented on #81
Did you mean to close this?

Each table has a 'natural key' defined by a uniqueness constraint on one or
more fields. In addition it may be possible to change the type for id or
make views that do the same (you could start with the
traits_and_yields_view and see how far you get joining sites on site name).
Or contact ESRI...
On Thu, Mar 9, 2017 at 8:52 PM Jeff Terstriep <notifications@github.com>

[2017-03-10 07:14] jterstriep commented on #81
Sorry, I guess I hit the wrong button.

I'll investigate the idea of 'natural key' some more but ArcMap seems very particular about the primary field(s). Other users have reported the error to ESRI but they seem unresponsive on this issue going back years.

[2017-03-10 15:36] dlebauer commented on #81
I'd start by trying to join traitsanyieldsview to sites on site name

[2017-03-10 15:38] dlebauer commented on #81
not clear if bigserial is required https://github.com/PecanProject/bety/issues/218 @robkooper is there another data type we could use for id in BETYdb?

[2017-03-10 15:39] robkooper commented on #81
it should be a bigint, which is required since that allows us to have enough numbers to do syncs

[2017-03-10 15:43] dlebauer commented on #81
Jeff would bigint work?

https://www.postgresql.org/docs/9.5/static/datatype-numeric.html#DATATYPE-NUMERIC-DECIMAL

[2017-03-10 15:51] jterstriep commented on #81
Looks like it won't. My understanding is that bigserial is simply bigint with the auto-increment machinery. The sites table id shows as bigint and is not selectable when ArcMap tries to build a query table.

[2017-03-10 15:56] jterstriep commented on #81
I don't see any views (well, beyond the system and postgis ones). Are there non-public tables/views that the 'viewer' user can't see?

[2017-03-10 16:16] gsrohde commented on #81
@jterstriep They are now materialized views, so I think they are stored in a different place from normal views.

Regarding `sitename` as key and uniqueness guarantees: It currently _is_ unique in terraref's bety database—this query returns no results:
[code]
But there is not (yet) any constraint guaranteeing this.  (The same query on the EBI database returns 89 rows.)

This has been a long-standin

[2017-03-10 16:17] dlebauer commented on #81
[code]

[2017-03-10 16:19] dlebauer commented on #81
@gsrohde yes, please add uniqueness constraints on sites on the ref and mepp databases! (also methods and variables and others - but if it needs discussion please make a new issue).

[2017-03-10 16:51] jterstriep commented on #81
I'll have to experiment some more but I'm wondering if we can solve this by creating some ArcMap-friendly views. @gsrohde, do you have a development database where I can make changes or should I install my own postgres system and load the betydb? I assume there is dump I can get somewhere.

[2017-03-10 16:57] dlebauer commented on #81
The dump is here: https://terraref.ncsa.illinois.edu/bety/dump/bety.tar.gz

[2017-03-10 17:22] dlebauer commented on #81
apologies. That no longer looks like an SQL dump ... but you should be able to import the db with this [load.bety.sh](https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh) script though I forget how to use it (@robkooper would know ...)

[2017-03-12 16:46] remotesensinglab commented on #86
I am wondering if the <average before ratio> can be even dropped from production? Mixed pixel is a classic issue in land remote sensing. Often we try to eliminate information other than vegetation (especially for vegetation remote sensing). I tent to think that averaging before ratio 1) may confuse users with two different products, and 2) has very limited value for plant phenotyping or soil chara

[2017-03-13 17:35] solmazhajmohammadi commented on #90
@jdmaloney  I checked couple recent dataset, It seems with new calibration we dont have this issue.
@smarshall-bmr were you able to re-run the plyclowder on a sample set?
If the calibration works for a sample set, we can re-generate the ply files from season one.

[2017-03-13 22:54] czender commented on #86
I agree it will be confusing to an end-user to have two sets of indices. We are in the development and feedback stage, and your suggestion is most welcome. I would like to maintain the code that computes indices both ways, but keep the "average before ratio" method from running by default. At some point I think we might learn something (and write a paper) that contrasts the ABR and RBA methods.

[2017-03-14 20:50] gsrohde commented on #81
I added the “unique sitenames” constraint to the terra-ref database.  I hope to add it to the terra-mepp database when I hear back from David Slater.

Unless there are other constraints that are urgently needed, I thought I’d hold off on them and make them part of a more comprehensive migration.

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/ref

[2017-03-14 20:53] gsrohde commented on #81
@jterstriep FYI I've added a uniqueness constraint for sites.sitename.

[2017-03-15 14:30] dlebauer commented on #81
@gsrohde what is the best way for @jterstriep to get a dev version of bety? Copy it within bety6 to a bety-dev database? Or use the load.bety.sh script as described in the [PEcAn installation docs](https://github.com/PecanProject/pecan.book/blob/master/installation/Installing-PEcAn.md#install-database--data)?

[2017-03-15 16:13] max-zilla commented on #24
meet w @dlebauer @craig-willis

What should have DOIs for citations? And a persistent URL.
- sensor collection in Clowder ala IMLCZO? "TerraRef V0 hyperspectral data product"
- one DOI for entire TerraRef V0 data release?
- genetics/genomics vs. traits vs. sensors, but minimal number of citation options.
- ability for user to say "here are the files I used in my research, create a DOI to cite for

[2017-03-15 16:51] gsrohde commented on #81
Depends.  By "bety", I assume you mean one of the BETYdb databases.  Does he need it populated with data or just the schema?  If the former, does he need the bety6 _bety_ data and if so, should it be _all_ data or just the public data (with users anonymized)?

Making a clone on bety6 is probably easiest if you aren't concerned about further taxing computational resources on that machine.  `load.be

[2017-03-15 17:50] craig-willis commented on #24
Starting to put together a design doc  https://docs.google.com/document/d/1bwx9uWRMfft7uR_IBGkJja9dZO-Uan_5fbikz5N6Eyw/edit#

[2017-03-15 20:47] gsrohde commented on #61
@NewcombMaria Do you have whatever information you need to upload remaining data?

[2017-03-15 20:56] dlebauer opened #105 "Review storage of Reflectance Indices in BETYdb and mappings to netCDF metadata"
Following #72 we have created a number of records in the variables table to define Reflectance Indices based on definitions in the Index Database (indexdatabase.de)

#### Storage in BETYdb

There is currently  a lot of redundant information to clean up - mostly the same information persisting across fields

![image](https://cloud.githubusercontent.com/assets/464871/23970346/690e3646-0997-11e7-8629

[2017-03-16 14:54] remotesensinglab commented on #72
The metada above does not spell out NDVI (it says Normalized Difference 900/680 Formula:). Do we have NDVI on the file name or or somewhere? As we all get used to the name NDVI rather than exact wavelengths, it is difficult to know if it is NDVI or not.

[2017-03-16 15:07] ashiklom commented on #105
Re: consrtaint -- Anything involving division by a reflectance value can have an upper bound of infinity, since I think it's possible to observe reflectance values below an instrumental detection limit. It may make sense to add "typical_max" and "typical_min" fields that can be easily used to flag bad values.

[2017-03-16 15:10] rachelshekar commented on #74
@ZongyangLi - do you have what you need now?  If so, please close this issue

[2017-03-16 15:12] ZongyangLi commented on #74
@rachelshekar I do not have what I need now.

[2017-03-16 15:19] ashiklom commented on #105
I added some comments to the Google doc. Let me know if you have any questions.

[2017-03-16 16:13] craig-willis opened #106 "Data package for publication"
This task was created based on discussions from #24.

Implement data package(s) for TERRA-REF according to Nature Scientific Data requirements, for publication in Dryad or similar repository.  See [design notes](https://docs.google.com/document/d/1bwx9uWRMfft7uR_IBGkJja9dZO-Uan_5fbikz5N6Eyw/edit#heading=h.p7q8xuvex69e) for specific requirements.  In short, define the package contents, DataCite met

[2017-03-16 16:19] solmazhajmohammadi commented on #44
@smarshall-bmr It woud be fine If your target is not exactly 90degree. We can figure out the error using simple 2 level target later.

[2017-03-16 17:09] dlebauer opened #107 "Update websites with link to alpha user signup application"
Update each of the websites with the following text

"Data are currently available for alpha user testing. For access, please [apply to our alpha user program](https://goo.gl/forms/eYrhvMBj48haloni2)"

* [x] terraref.ncsa.illinois.edu/bety ( @gsrohde )
* [x] terraref.ndslabs.org ( @craig-willis )
* [x] terraref.ncsa.illinois.edu/clowder

[2017-03-16 18:04] jterstriep commented on #81
I'm looking at using load.bety.sh and auto-running it as part of a Docker container. This would allow users easily create the BetyDB on any machine including their laptop. Part of this would fix up data type issues that are causing ArcMap to choke. ArcMap would point to the local database rather than the production databases.

[2017-03-16 22:55] robkooper commented on #81
I think it already does: https://github.com/PecanProject/bety/blob/master/docker/entrypoint.sh#L28

However i think it would be better to have a new option called sync that would sync the database, and bety would just start it.

[2017-03-20 21:15] jterstriep commented on #81
I've tried a couple of options with ArcMap and basically, it's not going to support big integers. It looks like the ArcGIS Pro does support big integers but I don't think that's a near-term solution.

If BetyDB needs big ints for its tables' primary keys, could we make a set of materialized views with a cast from big integer to integer? This might be limiting for some users but I think it would ma

[2017-03-21 13:38] dlebauer commented on #81
Jeff, have you tried joining traitsview to sites on site name?

[2017-03-21 13:45] robkooper commented on #81
Maybe make a single view that joins all the different tables needed, but drops the ID's? Problem is that the ID's are used as foreign keys to join the different tables together.

What is the exact data they are looking for?

[2017-03-21 13:54] dlebauer commented on #81
Basically they need the traitsview with the sites.geometry and the site
name should work as a foreign key.
On Tue, Mar 21, 2017 at 9:45 AM Rob Kooper <notifications@github.com> wrote:

[2017-03-21 14:06] robkooper commented on #81
The other option is to make a traitsviewsites view that has all the information in the single view.

[2017-03-21 14:24] dlebauer commented on #81
I think keeping traitsview and sites separate is more consistent with the
shapefile schema, if that helps.
On Tue, Mar 21, 2017 at 10:06 AM Rob Kooper <notifications@github.com>
wrote:

[2017-03-21 16:46] jterstriep commented on #81
I'll double check this. But I think this is possible but you have to do odd things to get the layers (tables) loaded in the first place and ignore warnings in loading the traits and sites tables to do the join. A better solution is to create views with the functional data type. The question is which tables need this view and, if we are creating views, should we do the joins as well.

Actually, the

[2017-03-22 19:05] solmazhajmohammadi commented on #44
@smarshall-bmr For this issue please run two full row scan in both directions. [(Issue#265)](https://github.com/terraref/computing-pipeline/issues/265#issuecomment-287849909)

[2017-03-23 20:16] gsrohde commented on #81
@dlebauer Re https://github.com/terraref/reference-data/issues/81#issuecomment-286555526:

I've added the "unique sitenames" constraint to terra-mepp database now.

[2017-03-25 20:57] dlebauer commented on #81
@gsrohde please add constraints to terra-ref / bety6 too if not already done

@jterstriep notice that ids in bety6 stay from 6 billion. This is to enable syncing across instances of BETYdb. https://pecan.gitbooks.io/betydb-documentation/content/distributed_betydb.html

[2017-03-27 16:09] dlebauer commented on #81
@jterstriep if you are planning to create custom views, can you do so in a way that is OGC compliant? for example, following the GeoPackage schema? http://www.geopackage.org/

[2017-03-28 14:03] max-zilla commented on #78
Final decision that was made:
- a new Space was created that I've tentatively titled "MAC - 2017 Data Release": https://terraref.ncsa.illinois.edu/clowder/spaces/58da6b924f0c430e2baa823f
- the plot-clipped tiles and subsequent Level 1+ data products will go here, separate from all raw data currently in the MAC space.
- eventually we can purge the raw MAC space. in shorter term once we start popula

[2017-03-28 14:03] #78 closed

[2017-03-28 16:21] gsrohde commented on #81
@dlebauer Yes, already done (bety6 constraints)—see https://github.com/terraref/reference-data/issues/81#issuecomment-286555526.  I didn't bother with bety7 but could if needed.

[2017-03-29 02:10] nfahlgren commented on #104
The metadata can be viewed through [Data Commons](http://datacommons.cyverse.org/browse/iplant/home/shared/terraref). We can update it through the Discovery Environment when needed. If it looks good, feel free to close.

[2017-03-29 14:28] craig-willis commented on #104
@nfahlgren Sorry for the delay getting back to you on this.

Overall, what you've put together looks great.  A couple of comments:
* Subject terms: ideally Cyverse would recommend a controlled vocabulary for subject assignment.  Section 4 of http://dublincore.org/documents/dcmi-terms/ lists a few common vocabularies which are very library-centric. My initial recommendation would be to use MeSH if

[2017-03-29 16:23] nfahlgren commented on #104
@craig-willis no worries, this is great!

- I updated the subject terms using MeSH.
- I changed the Type to Dataset.
- I left Format out because there will be multiple types of files within the collection. I haven't done it yet, but we can apply metadata in bulk to the individual files and subfolders as well.
- I added a link to our documentation home page for Provenance in the event that the coll

[2017-03-30 06:41] dlebauer opened #108 "Sensor metadata should be public"
Currently, sensor metadata are public, but require login to view collections because they are in a private space.

### Completion Criteria

* [x] Reorganize sensor metadata so that they are publicly available
* [ ] All links to metadata collections in documentation work

[2017-03-30 15:31] craig-willis commented on #104
@nfahlgren  The information in Data Commons looks good to me.

Thanks for the info about publishing/DOI assignment. I'm going to move this discussion to https://github.com/terraref/reference-data/issues/24 so you can close this issue.

[2017-03-30 15:39] craig-willis commented on #24
From https://github.com/terraref/reference-data/issues/104, regarding the genomics data:   "For publication, the raw data should be deposited in the NCBI SRA minimally. We can definitely get a DOI for the Data Commons collection as well. I opted out of that for now because we will still be adding derived data products to the collection (and possibly more raw data from related projects?). We may wa

[2017-03-30 16:03] nfahlgren commented on #104
Sounds good!

[2017-03-30 16:03] #104 closed

[2017-03-30 16:15] rachelshekar commented on #74
dependent upon https://github.com/terraref/reference-data/issues/44

[2017-03-30 16:49] dlebauer commented on #83
@hmb1 I am closing this b/c I think its implemented in both level 1 and indices products

[2017-03-30 16:50] dlebauer commented on #24
@craig-willis should we meet to convert this to an epic and define subtasks?

[2017-03-30 16:50] jterstriep commented on #81
This is a more general problem of doing joins across multiple tables. It's not specific to any table.

Options include the following:
- Create views of all tables with casts of big int to ints
- Create select views with casts that include joins or unions of a pre-selected set of tables
- Create a cron script that extracts a shapefile or geojson and make it available for download. This removes the

[2017-03-30 17:03] craig-willis commented on #24
@dlebauer   Sure -- I've already created https://github.com/terraref/reference-data/issues/106 for the preliminary data package with an April milestone, but happy to discuss further.

[2017-03-31 14:08] craig-willis commented on #64
Update on this ticket:
* We have identified the incorrect values and dates in the LemnaTec metadata, but have decided to leave the raw metadata as-is.
* Experiment metadata including dates, missions/scans, etc should all be tracked in BETYdb. The LemnaTec metadata will not be authoritative for this information.
* We will be working on a metadata extractor that generates curated metadata fields use

[2017-03-31 14:40] dlebauer commented on #24
@craig-willis then can this be closed in favor of #106? And open a new epic for protocolswith children

 Where to publish / archive / reference protocols
 Sensor calibration #34
 Field measurements #45
 general approach to protocols #80

[2017-03-31 15:17] dlebauer commented on #105
@ac-gl-chris and @remotesensinglab could you please review this?

[2017-03-31 15:19] dlebauer commented on #72
@remotesensinglab could you please review variable names in #105, or feel free to directly edit them here https://terraref.ncsa.illinois.edu/bety/variables?search=reflectance+index. That is where the canonical definitions will be stored in BETYdb.

[2017-03-31 15:20] dlebauer commented on #105
@ac-gl-chris could you please add definitions of new indices to that table, using names and definitions from indexdatabase.de where they exist?

[2017-04-03 06:33] ac-gl-chris commented on #105
@dlebauer do you mean [this table](https://github.com/terraref/documentation/blob/master/spectral_indices.md)

[2017-04-03 12:14] dlebauer commented on #105
No, see the Google spreadsheet linked to above

[2017-04-03 22:27] gsrohde commented on #99
@dlebauer It seems this data has _already_ been uploaded _twice_, once with dates and once without.  The first time it was uploaded was last August 12—in fact, these are the first traits in the database, and dates are included.  The second time, without dates, was November 10.

I'm not exactly sure how this happened, but my best guess is that I was provided essentially the same data twice under di

[2017-04-03 22:35] gsrohde commented on #61
@NewcombMaria It is not yet the case that the cultivar is automatically deduced from the site information.  This is a planned feature but it has not yet been implemented.  (It is also planned to update existing data lacking cultivar information by using the well-defined sitename-->cultivar mapping; but again, this hasn't yet been done.)  If you want to expedite having cultivar information in the d

[2017-04-03 22:44] dlebauer commented on #61
Scott do you have an ETA on automatic cultivar mapping?
On Mon, Apr 3, 2017 at 5:35 PM Scott Rohde <notifications@github.com> wrote:

[2017-04-04 02:53] gsrohde commented on #61
@dlebauer I'll try to do a little work on this tomorrow to see if I can get a sense of how involved this will be.

[2017-04-04 17:37] rachelshekar commented on #44
Changing this to April milestone since dependent on https://github.com/terraref/computing-pipeline/issues/265

[2017-04-04 17:43] rachelshekar commented on #81
@jterstriep - should I set up a  meeting to move this forward?

[2017-04-04 17:47] rachelshekar commented on #74
Changing this to April milestone since dependent on terraref/computing-pipeline#265 and https://github.com/terraref/reference-data/issues/44

[2017-04-04 18:22] rachelshekar commented on #70
@craig-willis and @solmazhajmohammadi - has this been completed?

[2017-04-04 18:51] solmazhajmohammadi commented on #70
Final step depends on [Issue 44](https://github.com/terraref/reference-data/issues/44)

[2017-04-04 19:24] craig-willis opened #109 "Publish and archive reference protocols"
This epic derives from https://github.com/terraref/reference-data/issues/24 and covers tasks related to publishing and archiving of protocols:

* Sensor calibration #34
* Field measurements #45
* Field protocols/software #80

[2017-04-04 19:25] #24 closed

[2017-04-05 05:26] ac-gl-chris commented on #105
I added the meta data to the spreadsheet.
IDs are missing since I haven't found any and the min/max values are only filled by what I found [here](http://www.harrisgeospatial.com/docs/VegetationIndices.html)

[2017-04-05 22:20] smarshall-bmr commented on #90
@solmazhajmohammadi I'm not sure what you mean by plyclowder, do we have a way to run the PLY worker without moving the data back to the local server?

[2017-04-05 22:25] solmazhajmohammadi commented on #90
I meant plyworker...
You can copy two consecutive days data back to local server for checking.

On Apr 5, 2017, at 5:19 PM, smarshall-bmr <notifications@github.com<mailto:notifications@github.com>> wrote:

@solmazhajmohammadi<https://github.com/solmazhajmohammadi> I'm not sure what you mean by plyclowder, do we have a way to run the PLY worker without moving the data back to the local server?

—
Y

[2017-04-05 22:32] smarshall-bmr commented on #50
SWIR is reinstalled and functioning as of 3/31.

[2017-04-05 22:32] #50 closed

[2017-04-06 15:33] remotesensinglab commented on #105
I am still reviewing it. Thanks

[2017-04-06 15:39] Paheding commented on #96
@dlebauer Yes, in current stage, we can create binary masks for soil and shade. Meanwhile, we are testing our shadow compensation technique extensively on various data sets. Once it is mature enough, we can deploy it.  Thanks.

[2017-04-06 16:03] dlebauer commented on #96
@Paheding do you have an estimated timeline for this? Do you think we could have something by the end of April? It would be great if we could deploy this alongside the spectral index products (late April).

I'd like to re-emphasize that while it should be reasonably accurate, we are using an iterative deployment process, and each year (early fall) we will re run any algorithms that have been updat

[2017-04-06 16:12] rachelshekar commented on #96
@Paheding Please talk to Erika to determine if the shadow work can be included in the 2017 or 2018 release.

[2017-04-07 15:25] piotrfilipiuk opened #111 "API for periodic BETYdb Import"
### Description
New feature: I would like to be able to import entire BetyDB on a regular schedule e.g. daily.

### Details
Importing BetyDB would allow us to have the entire dataset available locally for analysis. It would also allow us to do data transformations on the entire data set.

I can see two easy solutions:
* We could simply use REST API to import the data table by table as follows: htt

[2017-04-07 16:33] dlebauer commented on #111
@gsrohde does the api support paging?

@robkooper what do you suggest? it looks like we could set up `dump.bety.sh -u YES -l 2 -m 6` to export most of the data from terraref/bety. The only issue is that bety6 has a subset of records from bety0 (e.g. for consistent variable names). I could update the foreign ID fields in bety6 - I do not plan for the TERRA REF network to sync with the betydb.org ne

[2017-04-07 17:42] robkooper commented on #111
database is already dumped and downloadable using the load.bety scripts:

https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh#L224

So a `load.bety.sh -c -r 6` will load the latest dump to your local database.

[2017-04-07 17:49] dlebauer commented on #111
@robkooper will `-r 6` pull in all records or just those created in bety6? And we also need to add `-u YES -l 2` to the dump

[2017-04-07 19:42] gsrohde commented on #111
@dlebauer This may be moot at this point, but you can at least kind of mimic paging using the `limit` and `offset` parameters.  This may not be entirely reliable since the order in which rows are returned is not well-defined.  It does probably _work_ in spite of this.  And it wouldn't be hard to modify the API so that rows are returned in some specified order by default.

[2017-04-09 13:19] dlebauer commented on #81
Jeff what is the status with this?
On Tue, Apr 4, 2017 at 12:43 PM Rachel Shekar <notifications@github.com>
wrote:

[2017-04-11 14:59] jterstriep commented on #81
Here is a draft write-up that explains the steps required to access betydb directly from ArcMap. I think it has more detail that is needed but I can add pics, etc. Please review and if it looks OK, I'll put it into the formal docs.

https://docs.google.com/document/d/1gnaD5f1YljO7mjBEHPuYNNG1pod43ud8nAl5ON2E0Io/edit?usp=sharing

[2017-04-11 19:35] piotrfilipiuk commented on #111
Thank you for the help. Would it be possible to provide a dump in MySQL format: https://dev.mysql.com/doc/refman/5.7/en/mysqldump-sql-format.html, so that we can e.g. import the database into Google Cloud SQL?

[2017-04-11 19:38] piotrfilipiuk commented on #111
In the meantime I used the REST API to get the data table by table: https://terraref.ncsa.illinois.edu/bety/api/beta/variables?key=$MYKEY&limit=all. For now the solution is good enough, however as I mentioned I am worried about scalability once the tables get bigger.

[2017-04-11 20:09] luckycatcs opened #112 "How to link the BETYdb's traits information back to Globus's RGB data?"
### Description

Hi team,

We pulled some traits/variables/treatments data from BETYdb and we would like to link them back to the RGB data that is available on Globus. Our goal is to train a model "f(Globus RGB data) -> traits" to predict traits based on the RGB data. We checked the schema of the BETYdb TERRA-REF database but didn't find any way to do that. Could you please give us some advice? Th

[2017-04-11 20:31] robkooper commented on #111
Sorry we do not support mysql. The database in postgresql format, you might find software that can do the conversion.

Google SQL does support postgres (beta) see https://cloud.google.com/sql/docs/postgres/

[2017-04-11 22:27] dlebauer commented on #111
@piotrfilipiuk I thought I sent you a link to the psql dump. I've also put a copy on ROGER, so it should be avialable via Globus at sites/samples/bety6_20170405.sql.

@robkooper I edited `crontab -e -u bety` that runs dump.bety.sh so that it dumps unchecked level 2 data. Is it okay with you that I edited this file?

[2017-04-11 22:29] dlebauer commented on #111
@piotrfilipiuk using load.bety.sh as @robkooper mentioned in https://github.com/terraref/reference-data/issues/111#issuecomment-292604008 will provide the most up-to date dump

[2017-04-12 15:27] dlebauer opened #113 "define bounding boxes for subplots missing Season 1 bounding box definitions in BETYdb"
## Null Geometries

Many of the subplot definitions have no geometries:

[code]

These plots need to be defined by splitting their parent sites along the N/S axis, for example

plot "MAC Field Scanner Season 1 Field Plot 284 E" is the eastern 1/2 of  "MAC Field Scanner Season 1 Field Plot 284"

And the definition of the parent plot is

[code]

[code]

### Completion Criteria

* [x] all subplots ha

[2017-04-12 15:35] dlebauer commented on #112
### Part 1: Query date+time and location from BETYdb

Clowder and BETYdb can be cross-queried using the date of observation and the location.

From BETYdb, you can get the time of a record from the traits table. Let's start with the id of the record in the traits table:

In SQL:

[code]

* date: 2016-10-06 05:00:00
* geometry: {"type":"Polygon","coordinates":[[[-111.975032369538,33.0763972541809,3

[2017-04-13 15:51] rachelshekar opened #114 "Plots and rows"
from Nadia:

Plots can be defined as the field area that is occupied by a single genotype in a given rep.  We can do 1 row, 2 row, 3 row, 4 row plots (whatever we want) depending on how many rows of one genotype we want in a particular area. This will change from experiment to experiment.

It is best to keep the data separated by row, but we need to have the ability to combine row information in o

[2017-04-13 15:52] rachelshekar commented on #75
@craig-willis - can this be closed?

[2017-04-13 15:53] rmgarnett commented on #114
#60: I think the right thing to do here is to do all processing/storage at the "1-row" plot level, then provide the ability to aggregate into logical divisions afterwards.

[2017-04-13 15:59] NewcombMaria commented on #114
A note on terminology that may help avoid confusion:  the one-row unit is a 'subplot' when the area occupied by a single genotype (plot) is 2 or more rows.  The subplots (1-row) are then aggregated into logical units which could be the plot (single genotype experimental unit).

[2017-04-13 16:35] rachelshekar commented on #60
from Nadia:

Plots can be defined as the field area that is occupied by a single genotype in a given rep. We can do 1 row, 2 row, 3 row, 4 row plots (whatever we want) depending on how many rows of one genotype we want in a particular area. This will change from experiment to experiment.

It is best to keep the data separated by row, but we need to have the ability to combine row information in or

[2017-04-13 16:37] robkooper commented on #112
You can use the following query:

[code]

[2017-04-13 16:40] rachelshekar commented on #60
See https://github.com/terraref/reference-data/issues/114 for more discussion

[2017-04-13 17:11] dlebauer commented on #112
@robkooper that will work once we populate geostreams with the plot level subset images. Now we should have field of view at time of capture for each of the unprocessed geotiffs.

@max-zilla or @craig-willis is there a way to query all of the field of view polygons from the Clowder MongoDB along with their associated files (paths on ROGER)? Then, e.g., @luckycatcs could import these into a geospat

[2017-04-13 17:24] piotrfilipiuk commented on #111
Sorry, I got confused by the bety.tar.gz. I attempted the import of sites/samples/bety6_20170405.sql into Google Cloud PSQL instance, and I ran into the following issues:

1. ERROR: function utc_now() does not exist HINT: No function matches the given name and argument types. You might need to add explicit type casts.

I made a workaround by replacing the calls to utc_now() by (now() at time zone

[2017-04-13 18:43] rickw-ward commented on #114
I suggest we adopt the logic and terminology used by the Breeding Management System described here:  https://www.integratedbreeding.net/283 .   This is a project level question that I request be answered asap.

This is a departure for me because I have used "Pass" in place of "Column", but old dogs can learn so I will move to the BMS approach.    This is advantageous since TERRA-REF (MAC, Kansas S

[2017-04-17 17:41] dlebauer commented on #111
@piotrfilipiuk Thank you for reporting these issues (and your patience as an alpha user). I am currently seeing if I can create a standalone psql dump. I'll let you know what I find.

Until we come up with a more stable solution, please apply for ssh access to the BETYdb (bety6) server following the first few sections of this [draft documentation](https://github.com/terraref/documentation/blob/5cc

[2017-04-17 18:14] dlebauer commented on #111
There is a new version of the dump at sites/samples/bety6_20170417.sql that contains function and type definitions:

[code]

[2017-04-17 18:16] dlebauer commented on #111
@piotrfilipiuk apparently there is a bug with load.bety.sh that affects bety6 in particular https://github.com/PecanProject/pecan/issues/1355

[2017-04-17 18:19] gsrohde commented on #111
I will just go ahead and remove the problem rows from the `schema_migrations` table to see if that resolves the problem.

[2017-04-17 18:27] gsrohde commented on #111
OK, I deleted rows from the `schema_migrations` table on bety6 so that this table should match that on any other machine that is "up-to-date" schema-wise.  This _should_ get rid of any schema-mismatch errors.  But you'll have to wait until a new dump becomes available.  (I think these are done hourly.)  Please let me know if you try grabbing data from bety6 and whether or not it worked.

[2017-04-20 14:26] craig-willis commented on #75
@rachelshekar
PR is still open.  I assume we leave this open until merged.
https://github.com/terraref/sensor-metadata/pull/4/files

[2017-04-20 14:51] max-zilla commented on #44
@solmazhajmohammadi @smarshall-bmr any updates on this?

[2017-04-20 15:09] rachelshekar commented on #98
do we still need @smarshall-bmr  to find the source of the problem?

[2017-04-20 16:04] solmazhajmohammadi commented on #44
@max-zilla I built the target and did the scans while I was in Arizona, as soon as plyworker runs through the dataset, I'll look at the data and update the issue.

[2017-04-20 16:33] rachelshekar commented on #114
Default search would be plot.  Row (subplot) would also be available.
Row length may change from season to season.

[2017-04-20 17:30] craig-willis commented on #106
Had an email exchange with Dryad curator and it sounds like they are open to us depositing the data package as described.  I will put together a preliminary package for v0 and work with them to deposit.

[2017-04-20 18:45] dlebauer commented on #99
please

* go ahead and leave the records the ones with dates, delete the ones without, and close issue;
* open an issue for preventing duplicates (esp via constraints)

[2017-04-20 22:38] dlebauer opened #115 "Start and end times for weather data streams"
Currently, the MAC scanner met data [stream 300](https://terraref.ncsa.illinois.edu/clowder/api/geostreams/streams/300
) but the energy farm stream [450](https://terraref.ncsa.illinois.edu/clowder/api/geostreams/streams/450) does not.

Also, the MAC scanner has a list of variables but not the energy farm stream.

Are these supposed to be auto-populated based on contents? Or

* ... How can I update

[2017-04-24 18:28] smarshall-bmr commented on #44
@solmazhajmohammadi The plyworker isn't running now, should I restart it?

[2017-04-24 18:40] smarshall-bmr commented on #98
@dlebauer I don't actually have access to the program that writes dates to the filenames, but it seems there was a simple typo. I'm checking with LemnaTec now about how far this would propagate, but is this just on the 3D data or is it on all the data from that date on our amazing time traveling field scanalyzer?

[2017-04-24 18:59] dlebauer commented on #98
@smarshall-bmr I don't see any more directories matching `sites/ua-mac/raw_data/*/1*`.

@jdmaloney and @max-zilla can this be closed?

[2017-04-24 21:57] solmazhajmohammadi commented on #44
@smarshall-bmr yes, if it is not, plesae run it

[2017-04-25 15:40] nfahlgren opened #116 "Upload derived data products for BAP resequencing"
### Description

Raw data for whole-genome resequencing of 384 accessions from the BAP has been uploaded to both the TERRA-REF and CyVerse data stores. Next we need to upload derived data products when they are ready. Minimally we will need the combined hapmap file so that the same reference hapmap can be used by all teams. This data would be uploaded to `/hudson-alpha/derived_data/` on the TERRA-

[2017-04-25 16:35] nfahlgren opened #117 "Upload raw and derived data products for GBS on RILS"
### Description

As with issue #116, I am creating this issue as a reminder to upload raw and derived data products for genotyping of the sorghum RIL populations. Like the resequencing data, I think we can upload the data to TERRA-REF using Globus, and minimally we will need the combined hapmap file so that the same reference hapmap can be used by all teams. Because KSU will be uploading both geno

[2017-04-25 20:11] NewcombMaria commented on #116
Phenotyping on the BAP will be starting in Maricopa soon (both sensor and field measurements).  This is a great time to connect the unique BAP identifiers used for resequencing data with the phenotypic data that will be available soon (issue #65 ).  Is there a way to get a list of the BAP identifier names used for resequencing genomic data uploaded to iplant and elsewhere?  I'll use the same ident

[2017-04-26 17:46] dlebauer commented on #117
Does this go on Roger, Cyverse, or both?

[2017-04-26 17:48] nfahlgren commented on #117
@dlebauer I think just Roger for now. If it's okay to put up on the CyVerse Data Commons as well, let me know and I can transfer a copy from Roger.

[2017-04-26 19:04] dlebauer commented on #117
* uploaded 2 FASTQ files and one key file to ksu/genomics/raw_data/ril_gbs/
* uploaded vcf hapmap file to ksu/genomics/derived_data/ril_gbs/

@zhenbinHU does not think that there are other useful intermediate files, but said there will be more derived data.

But out of curiosity, does it make sense to have these divided into sites/ksu vs sites/hudson-alpha, or could we combine everything in a sing

[2017-04-26 19:30] nfahlgren commented on #117
@dlebauer combining them is fine with me, there's not really a need to keep the overall genomic data separate. So we could reorganize the data on CyVerse also to be /terraref/genomics/...

[2017-04-26 19:30] nfahlgren commented on #117
@dlebauer want me to move things around and update the documentation?

[2017-04-26 19:31] dlebauer commented on #117
That would be great - if you want to organize on CyVerse I can reorganize on Roger, or if you tell me how to do it on roger I can do it there first.

[2017-04-26 19:33] max-zilla commented on #117
Started uploading to Clowder as well.
https://terraref.ncsa.illinois.edu/clowder/datasets/5900f3f34f0c38c084c862dd

[2017-04-26 19:39] nfahlgren commented on #117
From the root folder on Globus (sites I think), we could do:

[code]

Within the bap_requencing we could put all the data together (no year1/year2 subfolders)

Thoughts?

[2017-04-26 19:53] dlebauer commented on #117
That sounds good to me ... is ril:gbs equivalent to bap:resequencing? Or might we have a ril_resequencing and / or bap_gbs one day (in which case maybe ril/gbs and bap/resequencing)?

[2017-04-26 20:03] nfahlgren commented on #117
That sounds good. RIL/BAP is the population type and GBS/resequencing is a sequencing strategy, so we could theoretically apply the strategies to either population.

[2017-04-26 22:03] smarshall-bmr commented on #44
@solmazhajmohammadi The ply worker just finished but UofA is doing maintenance on the outgoing network so I'm not sure when the new measurements will be able to be pushed out.

[2017-04-26 22:25] nfahlgren commented on #116
@NewcombMaria great question! I talked to @phloz about what identifiers the resulting hapmap will use and he added them to the sample spreadsheet we have: https://docs.google.com/spreadsheets/d/1ntnps0u0c8O4xxrv_VVqfxDkpmppCGdFIIWLMmRCeSM/edit?usp=sharing

In that table the `identifer` column is how Phil will label the genotype data. Note that some of the samples are duplicates and will be merged

[2017-04-26 22:45] NewcombMaria commented on #116
Thank you @nfahlgren.  I looked at the identifier column in the sample spreadsheet and this will make it easy to match genotype/phenotype data.  Thanks!

[2017-04-27 03:27] dlebauer commented on #117
@nfahlgren OK I've rearranged as suggested above.

[code]

I put both the data use policy and README under genomics/.

Could you please modify the README.txt and documentation as necessary?

@max-zilla if the uploads to globus have pointers, I think they will need to be re-uploaded or fixed. Sorry about that.

[2017-04-27 03:36] nfahlgren commented on #117
@dlebauer wanted to double check, did we want to lay it out like the following?

[code]

[2017-04-27 04:16] dlebauer commented on #117
Fixed:

[code]

[2017-04-27 04:23] nfahlgren commented on #117
@dlebauer awesome, thanks!

[2017-04-27 13:23] max-zilla commented on #117
@dlebauer deleted the existing file pointers and re-uploaded for GBS RIL this morning.

[2017-04-27 16:11] nfahlgren commented on #117
@dlebauer can you remove these two files, I will replace with one merged file:

`/genomics/raw_data/bap/resequencing/terraref_year1_sorghum_bap_samples.txt`
`/genomics/raw_data/bap/resequencing/terraref_year2_sorghum_bap_samples.txt`

[2017-04-27 16:22] nfahlgren commented on #117
@dlebauer I also started an upload to update the README but don't have permission to replace the file.

[2017-04-27 18:37] dlebauer commented on #105
I've inserted these into the database. If further changes are needed, we can update there. Many of the min/max values could be constrained to something more realistic (many ranges are currently set to +/-Infinity, -1, 1 for normalized differences, or 0, Infinity for ratios).

Here are the insert statements: https://gist.github.com/dlebauer/0e50afea0bc0d89b4d8a263866144c14

Here are the results: ht

[2017-04-27 18:37] #105 closed

[2017-04-27 18:47] dlebauer commented on #117
I've given you write permission to the /genomics directory.

On Thu, Apr 27, 2017 at 11:22 AM Noah Fahlgren <notifications@github.com>
wrote:

[2017-04-27 20:41] nfahlgren commented on #117
@dlebauer reorganization of the data on CyVerse is done. I submitted pull request [#150](https://github.com/terraref/documentation/pull/150) to update the documentation for the BAP data. I did not add information for the RIL GBS data.

[2017-04-28 20:52] dlebauer commented on #117
@nfahlgren I see the bap but not the ril data on Cyverse ... http://datacommons.cyverse.org/browse/iplant/home/shared/terraref/genomics

[2017-04-28 21:38] dlebauer opened #118 "Merge plant_height, panicle_height, and spike_height"
Currently we have separate variables for plant height and panicle height
* [plant_height](terraref.ncsa.illinois.edu/bety/variables/6000000005)
* [panicle_height](terraref.ncsa.illinois.edu/bety/variables/6000000017)
* [spike_height](https://terraref.ncsa.illinois.edu/bety/variables/6000000008)
* [canopy_height](https://terraref.ncsa.illinois.edu/bety/variables/6000000007)

note:
* panicle is sorg

[2017-04-28 21:48] dlebauer opened #119 "Upload hand measured traits from KSU 2016"
Data collected by hand in 2016 should be uploaded to the TERRA REF instance of BETYdb (terraref.ncsa.illinois.edu/bety) following [instructions for bulk upload](https://pecan.gitbooks.io/betydbdoc-dataentry/content/bulk%20upload.html)

First step is to make sure that all of the variables and methods in the uploads have matching records in the [variables](terraref.ncsa.illinois.edu/variables) and [

[2017-04-28 21:48] dlebauer opened #120 "Upload UAV derived traits from KSU 2016"

[2017-04-28 21:49] dlebauer opened #121 "Upload field and plot boundaries from 2016 KSU"
For each of the plots from the 2016 field season, defined here without geospatial coordinates:

https://terraref.ncsa.illinois.edu/bety/api/beta/sites?key=9999999999999999999999999999999999999999&limit=none&state=Kansas

Insert the bounding box that describes the area from which (manual and UAV/HTP) data are collected.

## Completion Criteria

* [x] provide bounding boxes as shapefile, geojson, or

[2017-04-28 21:49] dlebauer opened #122 "Upload metadata from KSU 2016 season"
Extract information from the [2016 workplan document](https://docs.google.com/document/d/1OgbqOlySDFrC_ErSuhwn3VG9-jNd2q3IAJuSCTPyPlY/edit)

Organize for upload in this [google sheet](https://docs.google.com/spreadsheets/d/11W27aT5wKxrO1wyKrPEjppc4QNIq9CQNHWl7uip0bEQ/edit)

* [x] make sure variables are in variables table
* [x] insert managements
* [x] insert plot names
* [x] insert genotypes

[2017-04-28 22:19] gpmorrisksu commented on #118
Are you referring to KSU data or Maricopa data or both?

------------------------------------
Geoff Morris, Assist. Professor
Kansas State Univ., Agronomy
3004 Throckmorton<x-apple-data-detectors://6/0> Plant Sci.
Manhattan KS, 66506<x-apple-data-detectors://6/0>
E-mail: gpmorris@k-state.edu<mailto:gpmorris@k-state.edu>
Web:http://www.morrislab.org<http://www.morrislab.org/>
Office: 785-532-3397<t

[2017-04-28 22:23] dlebauer commented on #117
@gpmorrisksu can we share the gbs data with alpha users via Cyverse? That is our public portal for genomics data (http://datacommons.cyverse.org/browse/iplant/home/shared/terraref/genomics).

It is already available to alpha users via Globus and Clowder.

Both places present the data use policy, but the alpha users have had to affirm their willingness to comply.

[2017-04-28 22:46] dlebauer commented on #118
Both ... Ideally we will have the same names for the same property being
measured.
On Fri, Apr 28, 2017 at 5:19 PM gpmorrisksu <notifications@github.com>
wrote:

[2017-04-28 22:55] gpmorrisksu commented on #118
The crop ontology definition is a bit off base because it assumes (for no good reason) that phenotyping is post-heading.

Most of our measurements would be from material that hadn't flowered or would never flower.

Our measurements should be at the top of the canopy, as judged by the data collector.

--------------------------------------------------------------------------------------------------

[2017-04-29 14:35] NewcombMaria commented on #118
Thanks @dlebauer for questions on this topic.  It will be useful to settle on common variable names.

Going forward with measurements on the BAP, as @gpmorrisksu stated, most height measurements from now on at Maricopa will be on material that has hasn't yet flowered and may never flower, and it makes sense to measure 'canopy height' (to top of canopy excluding panicle if one exists).  The 2 Maric

[2017-04-29 20:29] dlebauer opened #123 "ksu"

[2017-04-29 20:30] #123 closed

[2017-04-29 20:46] dlebauer opened #124 "Add KSU stitched geotiff images to Clowder"
Files from sites/ksu/Level_1/dsm_fullfield
sites/ksu/Level_1/rededge_fullfield should be uploaded to https://terraref.ncsa.illinois.edu/clowder/datasets/5900e46f4f0ce950158ca4f2?space=5900d9504f0ce950158c5792

## Completion Criteria

* [ ] All files from above folders available via Clowder, with file metadata extracted

[2017-04-29 21:39] #122 closed

[2017-04-29 21:42] dlebauer commented on #119
@zhenbinHU how is the trait "Sugar" measured? Is it the sugar content of the stem juice or ???

[2017-05-02 22:48] NewcombMaria commented on #119
@dlebauer I'm wondering how to use common variable names for hand measured traits that overlap between KSU and Maricopa.  Is there a way that I can be updated about what variable names are created for KSU 2016 traits?  For example, we ( @JeffWhiteAZ and I) are preparing Sorghum season1 and season2 harvest data for bulk upload, and it's not clear to me what variable names are best for BETYdb.  For

[2017-05-03 15:03] dlebauer commented on #42
@smarshall-bmr can this be closed?

[2017-05-03 15:22] dlebauer commented on #31
Should we turn this into an epic, close, or ?

There are many subtasks associated with this.

[2017-05-03 15:34] dlebauer commented on #61
@NewcombMaria could you provide a status update?

[2017-05-03 15:35] dlebauer commented on #46
@NewcombMaria status?

[2017-05-03 16:53] #42 closed

[2017-05-03 18:59] dlebauer commented on #117
@nfahlgren could you copy this to CyVerse but keep the folder private as I've done with the bap/resequencing folders?

[2017-05-03 21:37] dlebauer commented on #81
Closed by https://github.com/terraref/documentation/pull/149

[2017-05-03 21:37] #81 closed

[2017-05-03 22:13] dlebauer commented on #112
@luckycatcs We have produced our first full-field stitched data product from the RGB images.

* ROGER: /gpfs/largeblockFS/projects/arpae/terraref/sites/ua-mac/Level_1/fullfield/2017-04-27
* Globus #TERRAREF endpoint: /ua-mac/Level_1/fullfield/2017-04-27/
* terraref.ndslabs.org applications: /data/terraref/sites/ua-mac/Level_1/fullfield/2017-04-27

You will find

[code]

The VRT is a virtual geotif

[2017-05-04 15:43] max-zilla commented on #97
@craig-willis and i are having an action meeting today about getting something in place for this.

[2017-05-04 18:35] dlebauer commented on #119
@NewcombMaria

* where we are measuring the same property, use definitions from the Variables table: https://terraref.ncsa.illinois.edu/bety/variables.
   * Where they exist, we can link to Crop Ontology terms (e.g. this subset https://terraref.ncsa.illinois.edu/bety/variables?search=CO_324)
   * as you can see, we have trait names that are long, but not _as long_ as those in the Crop ontology. Th

[2017-05-04 22:20] NewcombMaria commented on #46
Trying to find time, and will make it high priority to make milestone by end of May 2017. Thanks

[2017-05-04 22:21] NewcombMaria commented on #61
When I've had time, I've worked on standardizing variables and cultivars and date formats.  Will prioritize making the May 2017 milestone.  Thanks

[2017-05-04 22:40] NewcombMaria opened #125 "Yield data components and analyses - Maricopa"
Prior to uploading the yield data from Maricopa sorghum seasons 1 and 2 (July 2016 harvest and November 2016 harvest), some questions have been raised:

**Which variables are of interest to BETYdb users?**

- data components for aboveground fresh biomass, aboveground dry biomass, aboveground moisture content, or simply final values?
- associated data as potential covariates (measured gaps, bird da

[2017-05-04 23:25] nfahlgren commented on #117
@dlebauer I downloaded the files locally and am gzipping them now, then will upload them to CyVerse.

[2017-05-04 23:30] solmazhajmohammadi commented on #44
@ZongyangLi @dlebauer @max-zilla @jdmaloney
The origin of point cloud in Z direction is **-3445mm** below the gantry position during the scan.
In X direction, is **+82mm** to the north from the center of the 3D scanner.
If the scan is in positive direction, the origin of ply files in Y direction is **+3450mm** in gantry coordinate system, and if the scan is done in negative direction is **+25711mm

[2017-05-05 16:34] nfahlgren commented on #117
@dlebauer the data are now uploaded to CyVerse here: `/iplant/home/shared/terraref/genomics/raw_data/ril/gbs`

@max-zilla the Clowder component of this issue is complete right? If so I think we can close this issue now, or is there anything else we need to do as part of this issue @dlebauer?

[2017-05-05 16:46] max-zilla commented on #117
@nfahlgren yep. as far as I'm concerned, close away.

[2017-05-05 16:57] #117 closed

[2017-05-05 20:17] dlebauer opened #126 "Upload MAC Season 4 (First Sorghum crop of 2017) metadata"
### Completion Criteria

* [x] plot definitions
* [x] experiments_sites relationships
* [x] cultivars_sites relationships
* [x] cultivars
   * need to confirm that names are correct per https://github.com/terraref/reference-data/issues/126#issuecomment-304132987
* [x] planting date
* [x] Agronomic managements ( @NewcombMaria  https://terraref.ncsa.illinois.edu/bety/treatments/6000000020/edit#)

[2017-05-05 20:20] dlebauer commented on #126
Inserted plot definitions for seasons 3 and 4
* [season_4_sites.txt](https://github.com/terraref/reference-data/files/980226/season_4_sites.txt)
* [season_3_sites_.txt](https://github.com/terraref/reference-data/files/980234/season_3_sites_.txt)

[2017-05-05 20:58] NewcombMaria commented on #126
@dlebauer for seasons 3 and 4 there are 14 plots (sites) for each Range, instead of 7 (season 2 was the only season with the 4-row plots or 7 site names per Range).  For both season 3 (durum wheat) and season 4 (sorghum summer 2017), each Range has 14 plots (2-row plots).  Apparently the BRAPI system uses 'Column' instead of 'Pass'.    The season 3 and season 4 site names for one Range should be a

[2017-05-05 22:04] dlebauer commented on #126
@NewcombMaria This is the current layout for the first 3 ranges

![image](https://cloud.githubusercontent.com/assets/464871/25765773/4f5f8b24-31b4-11e7-8764-eaffd9731eaa.png)

Does that look correct? I assume that the 14 plots per range are excluding the two border columns. I've followed the map in the [Season 4 google spreadsheet](https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaW

[2017-05-06 14:02] NewcombMaria commented on #126
Thanks @dlebauer !  Keeping all 54 ranges and 16 columns is probably a good idea.  In your labeled image of the layout I don't see Ranges 53 and 54.  There's been talk about placing targets in Range 53 so would be useful to include site names for Range 53.  It's correct that the 14 plots per Range are the experimental plots and exclude the border rows (Columns 1 and 16 are borders on West and East

[2017-05-08 18:45] zhenbinHU commented on #124
I am trying to transfer raw image data to Globus, but seems I don't have permission?
.//2016-08-22T17-49-35Z_BGREN_16ASH-TERRA.tif: Read-only file system.

[2017-05-08 18:50] dlebauer commented on #124
@zhenbinHU I have given you access to write to Globus. However, for the long term it will likely be easier to set up a Globus file mover like we have at UA. This makes it so that files are automatically transferred and registered with Clowder when they are put in a directory on your end.

@jdmaloney can you help @zhenbinHU set this up?

[2017-05-08 18:52] dlebauer commented on #126
@NewcombMaria sorry - we do have all of the ranges through 54. These were just off the screen when I created the images above.

[2017-05-08 19:14] jdmaloney commented on #124
I'll echo @dlebauer 's sentiments, with write access to the endpoint you have the power to delete (please don't) so tread carefully, few accounts have this access.

The transfer code from UA will have to be modified a bit as KSU is using a database to track files (instead of the xfer log system at MAC).  Some progress has been made on that but it is not finished yet, I'll differ to @max-zilla on t

[2017-05-10 14:26] dlebauer commented on #83
@FlyingWithJerome, @hmb1 @czender it does not look like the level 1 hyperspectral metadata has been updated to this format.  e.g. ncdump -h /data/terraref/sites/ua-mac/Level_1/hyperspectral/2017-05-01/2017-05-01__16-47-24-400/e9673701-4a6b-4b6d-b334-f5401dc98213_.nc produces
[level_1_ncdump_json.txt](https://github.com/terraref/reference-data/files/990084/level_1_ncdump_json.txt)

Is this still in

[2017-05-12 22:32] smarshall-bmr opened #127 "3D data to delete"
The laser didn't come on during last night's run. Please delete 3D data starting with 2017-05-11_21-24-53-664 until 2017-05-12_07-20-06-275.

[2017-05-12 22:37] dlebauer commented on #127
done

[code]

[2017-05-12 22:43] dlebauer commented on #127
@max-zilla could you please delete these records from Clowder?

[2017-05-13 04:45] dlebauer opened #128 "error in height of 1100 cm"
This measurement of panicle_height is 1100 cm, which is an obvious typo.

In cell AD399 the [spreadsheet](https://terraref.ncsa.illinois.edu/bety/traits/6000091243) it was recorded as 1098 cm and rounded to 3 significant digits when it was uploaded.

@NewcombMaria can you please check this value? Was it transcribed from field notes?

* I have flagged it as incorrect in the database. `update traits

[2017-05-13 23:42] NewcombMaria commented on #128
Thanks @dlebauer for catching the typo.  The value should be 98 cm.  I corrected it in the spreadsheet and in the database.

[2017-05-14 01:47] #128 closed

[2017-05-15 20:40] czender commented on #83
@dlebauer the current level 1 metadata contains x(x), latitude(x), y(y), longitude(y) etc. all the variables have long_name, units, and most have standard_name. what would you like to see changed? do you want fewer/no corner coordinations listed? a flat hierarchy? full-length names instead of short names, e.g., refectance_image instead of rfl_img? We will add the Geojson bounding box as suggested

[2017-05-15 22:06] dlebauer commented on #83
@czender in general, I'd like to clean up the metadata so that the most important data (reflectance + dimensions) are easy to find. This could be done by both organizing the information and removing redundant / extraneous metadata.

So, if I do `ncdump -h` the reflectance + dimensions should be easy to find. Currently the first variables are xps_img and Google_Map_View, while reflectance (surface_

[2017-05-17 14:54] max-zilla commented on #97
https://github.com/terraref/computing-pipeline/issues/308
The terrautils library will act as a funnel to standardize many aspects of the pipeline. This discussion can continue there.

[2017-05-17 14:54] #97 closed

[2017-05-17 15:34] rachelshekar commented on #96
@Paheding - can you give us an update on this?

[2017-05-17 15:48] remotesensinglab commented on #96
Hi David,
Soil and shadow removal algorithms are already implemented in the workflow, I believe. Shadow compensation part is not. I think we need to evaluate that part with the new diurnal data collected.

Wasit

[2017-05-17 17:17] #64 closed

[2017-05-18 14:11] #98 closed

[2017-05-18 14:45] Paheding commented on #96
@rachelshekar We can release the shadow work into the private repository for this year.  Actually, we have already deployed the soil and shaded soil removal algorithms into the private repository and it's been running as an extractor.

[2017-05-18 14:49] jdmaloney commented on #124
Updated the check boxes on this to reflect what has been completed.  Level_2 looks to be not completed yet (empty directory on ROGER), but raw data is transferred.  @max-zilla You'll probably want to wait for Level_2 to be done and register it all with Clowder at once, but up to you.

As far as I know my part of this issue is complete.  Let me know if I'm mistaken.

[2017-05-18 14:52] dlebauer commented on #80
@nshakoor have you made any progress?

[2017-05-18 14:56] dlebauer commented on #90
@solmazhajmohammadi what is the next step?

[2017-05-18 14:59] dlebauer commented on #77
@rmgarnett can you suggest next steps? Should we have a conference call to discuss how to implement?

[2017-05-18 15:31] dlebauer commented on #86
Can this be documented and then closed?

[2017-05-18 15:37] dlebauer commented on #113
Finished. Used code here to split plots into EW https://gist.github.com/dlebauer/f586e380fa4cfadc25551cd1df487b7d

terraref.ncsa.illinois.edu/bety/beta/api/sites?sitename=~Season+1&key=

[2017-05-18 15:38] #113 closed

[2017-05-18 15:40] dlebauer commented on #113
still waiting on https://github.com/terraref/reference-data/issues/122 to fill out geometries from KSU 2016

[2017-05-18 15:41] dlebauer commented on #111
also needed for terraref/computing-pipeline#302

[2017-05-18 15:46] rachelshekar commented on #102
This was explored in https://github.com/terraref/reference-data/issues/77

[2017-05-18 15:47] dlebauer commented on #127
[code]

Status OK

[2017-05-18 15:49] max-zilla commented on #127
@dlebauer i havent had time to delete these yet. will try to write something up before next week.

[2017-05-18 15:50] dlebauer commented on #96
@Paheding Can you point to an example of the output generated by the extractor on ROGER?

Did you write tests for the extractor?

[2017-05-18 16:15] solmazhajmohammadi commented on #90
@dlebauer
These are the season one dataset. As we discussed in last week meeting, the data has been deleted from the gantry cache server(by NCSA).
Part of the data can be transferred back to the server, so we can re-run the plyworker on the dataset and make sure the calibration is correct.
Eventually, we need to transfer all the data back and run it through the plyworker again.

[2017-05-18 16:18] Paheding commented on #96
@dlebauer   The extractor generates a mask for soil/shaded soil and saves the mask as a .npy  file. Here is an example output (White: plant; Black: Soil):

![image](https://cloud.githubusercontent.com/assets/24866799/26212534/8124f94e-3bbb-11e7-8ef0-e2e8c9b9f2d5.png)

I believe @max-zilla converted the code into Clowder script format and sent it to run.

[2017-05-18 16:22] dlebauer commented on #44
@craig-willis I think the remaining step is to update / provide this information the fixed metadata. Should this be changed in the github repository, Clowder, or both?

[2017-05-18 16:22] max-zilla commented on #44
I think this should be part of the correction in terrautils cleaning() module that @craig-willis and I are writing, instead of @jdmaloney

If it's fixed metadata, this should be very easy.

[2017-05-18 16:27] dlebauer commented on #96
@ZongyangLi please export as raster netcdf file (rather than or in addition to .npy file) - either as a new layer in the input file or as a separate file.

[2017-05-18 16:29] rachelshekar commented on #90
data needs to be run through ply worker again.
@jdmaloney and @max-zilla will re-run the data

[2017-05-18 16:29] ZongyangLi commented on #96
@dlebauer I am not quite clear about this but I guess @Paheding is working on this?

[2017-05-18 16:35] rachelshekar commented on #111
@gsrohde - need to add foreign key constraints.

[2017-05-18 16:39] rachelshekar commented on #88
@max-zilla will look into limitations to EXIF

[2017-05-18 16:40] nfahlgren commented on #88
Database extractor: https://github.com/danforthcenter/pheno-data-service

[2017-05-18 16:42] rachelshekar commented on #88
Noah wants users to enter experimental data into database and extract that information into EXIF during downstream analysis

[2017-05-18 17:16] Paheding commented on #96
@ZongyangLi  Currently, the output of the mask is a .npy file. @dlebauer suggests exporting it to a necdf file as a new layer in the input file. I think @max-zilla can point the output location of the mask.

[2017-05-18 19:41] solmazhajmohammadi commented on #90
Can you please transfer back the data from 2016-06-08 and 2016-06-07?
Thanks

[2017-05-18 20:21] dlebauer commented on #119
@zhenbinHU I've looked through a few of these files. And taking the stem_width as an example, here are what needs to be done

1. Dates must be in YYYY-MM-DD format
2. All traits must be in the variables table
2. All cultivars must be in the database. I inserted the list you gave me from the genotypes table in [the KSU 2016 spreadsheet](https://docs.google.com/spreadsheets/d/11W27aT5wKxrO1wyKrPEjpp

[2017-05-18 20:26] dlebauer commented on #119
@zhenbinHU

Note that I think that we may be using different names for the cultivars, e.g. the genotype marked in your list as "16PR1430" is named "RIL-CS83_(R10709/F08331bmr12)-CSF1-PRF2-CS83" from this table: https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo/edit#gid=796817704 per this discussion https://github.com/terraref/reference-data/issues/65

[2017-05-19 13:52] max-zilla commented on #96
@ZongyangLi I think you were incorrectly tagged.

@dlebauer @Paheding currently the soil_removal extractor generates an .npy file which is just a numpy array, I included methods in terrautils for conversion of that to geoTIFF or PNG. this seems like a good excuse to add a netCDF method as well.

I believe @czender has already done much of this work for us in the hyperspectral DataProcess.py script

[2017-05-19 15:56] Paheding commented on #96
@max-zilla Thanks for converting that. The geoTIFF version would be more helpful compared to .npy.

[2017-05-19 17:14] dlebauer commented on #111
@piotrfilipiuk

Here are instructions for periodic import. This is using the [load.bety.sh](https://github.com/PecanProject/pecan/blob/develop/scripts/load.bety.sh) script that has been updated by @robkooper and is currently on a branch here:

https://raw.githubusercontent.com/PecanProject/pecan/357b70e21592375827e9c55bc5e1ce8e3426bd78/scripts/load.bety.sh

Now you should be able to setup an API t

[2017-05-19 18:52] robkooper commented on #111
**the -c flag will REMOVE the database and reinitialize** This should only be used the very first time. The second time you should not use the -c and -u flags.

[2017-05-19 20:53] jdmaloney commented on #90
@solmazhajmohammadi This has been done

[2017-05-22 16:47] smarshall-bmr commented on #90
@solmazhajmohammadi The PlyWorker has been modified to start with dates in 2017. I don't actually know how to change this to hit the older files!

[2017-05-22 17:51] solmazhajmohammadi commented on #90
If the files are in the same path that plyworker is pointed, you should be fine. With starting the worker, it will generate the ply files if it doesn't exist already.

On May 22, 2017, at 11:46 AM, smarshall-bmr <notifications@github.com<mailto:notifications@github.com>> wrote:

@solmazhajmohammadi<https://github.com/solmazhajmohammadi> The PlyWorker has been modified to start with dates in 2017.

[2017-05-22 18:32] smarshall-bmr commented on #90
@solmazhajmohammadi It looks like the PlyWorker is restarting in January and never getting back to older files?

[2017-05-22 19:13] Paheding commented on #96
@dlebauer @max-zilla I have modified the extractor (**terra_soil_removal.py**) to save the soil removal mask as a netCDF file.

[2017-05-23 22:06] infotroph opened #129 "Duplicate datapoints in Geostreams JSON from Energy Farm"
### Description
I was wondering why the download kept failing, then realized it was 500 MB instead of ~20. Here's a smaller demo using PEcAn's Geostreams interface:

[code]
Expected results: Each file contains one month of 15-minute data, so they should should be (at least close to) the same size.

Observed: Big difference in file size! Let's check for duplicates...

[code]

[2017-05-23 22:42] dlebauer commented on #129
Yep. Looks like the ratio of NE:SE:CEN records at each time step is 1:2:33

@robkooper &/or @max-zilla how to delete duplicates?

[2017-05-24 00:59] robkooper commented on #129
Lets make sure we also figure out how duplicates get into the database, so we don't have to do this all the time.

You can call `DELETE  /api/geostreams/datapoints/:id` agains clowder

[2017-05-24 02:21] dlebauer commented on #126
Need to update plot definitions https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=1765508846

[2017-05-24 13:00] max-zilla commented on #129
I think this is a result of the extractors evolving over time and being re-run, and not having a way to delete/recreate datapoints like we have for metadata so when new versions would get run it would append datapoints that already existed.

in the case of the energy farm data, i wonder if we just delete all datapoints from those streams, delete the metadata tracking "last read line" and just re-r

[2017-05-24 13:52] dlebauer commented on #129
If that is the easiest way please do. Could you post the code? Might make
it easier to farm out the task in the future. I assume it won't require
100k delete statements ??
On Wed, May 24, 2017 at 8:00 AM Max Burnette <notifications@github.com>
wrote:

[2017-05-24 17:28] nshakoor opened #130 "Tagging usable sensor data (or retaining uncertainty sources, quality information / comments in meta-data)"
Over the last year, we have learned that some of the sensors were not collecting data properly or were uncalibrated at specific times.

Is it possible to clearly tag the dates from which the data from each of the sensors is usable/unusable? The methods for getting at this are up to you and your team @dlebauer, but we need to get a sense of how much of the data is usable for downstream analysis. Th

[2017-05-24 17:56] dlebauer commented on #130
We shouldn't keep unusable data. Mostly we've been deleting data that are not usable.

At the same time we are processing data with the knowledge that we will update and rerun them before each release.

All alpha users are informed that none of the alpha and beta release data are intended to be reviewed, but only the v1 data is intended for research applications.

BETYdb does have a 'checked' flag

[2017-05-24 17:59] dlebauer commented on #130
We should start with a list of all sources of error and uncertainty that we can think of, a review of best practices, examples from NEON and NASA, and a draft protocol.

Let's discuss at the next Thursday and Tuesday meetings.

[2017-05-24 18:40] nshakoor commented on #130
Sounds good- as an extension of this, we would like to be able to answer (at any given time), how much good data we have available for each sensor.

[2017-05-24 18:43] nshakoor opened #131 "Test object data availability from acceptance testing"
Is the data available from the imaging of the test objects that were used in the acceptance testing? If so, is this part of the alpha release? If not, can it be made available, along with the test object specifics?

[2017-05-24 18:49] dlebauer commented on #130
@nshakoor the challenge is defining 'good'.

[2017-05-24 21:41] dlebauer opened #132 "Add information about calibration targets"
For calibration targets used in terraref/computing-pipeline#281 we have

* the calibration certificate for the 75% panel
  * response data extracted to table is in [this spreadsheet](https://docs.google.com/spreadsheets/d/1zSguW91E3KIgzbRvWtCvn-nXJz5R8nxbVg_KQ9TBb7Q/edit?usp=sharing):
* the ID tag of the 20% panel.
   * I've sent a request to Labsphere for the original calibration certificate.

In

[2017-05-24 22:15] solmazhajmohammadi commented on #132
I uploaded the data. The output is sed file, you can open it as a text. It comes with information about the sensor as well. You can see 7 columns:
1st column: wavelength
2nd: Raw counts of reference in this case the 99% target
3d: Irradiance of reference (99% spectralon target)
4th: Raw counts of target (20 / 48 / 75 / 95 or 99% target)
5th: Irradiance of target (20 / 48 / 75 / 95 or 99% target)
6

[2017-05-25 13:36] rachelshekar commented on #74
Changing to June; #44 still open

[2017-05-25 13:39] max-zilla commented on #129
@dlebauer actually quickest way, I think, is:

1. go to https://terraref.ncsa.illinois.edu/clowder/geostreams/sensors and delete the Energy Farm streams:
[code]
2. go to the Energy Farm dataset: https://terraref.ncsa.illinois.edu/clowder/datasets/58f63f334f0c5bee63b41d56

3. for each of the three Avg15 files....
[code]
...delete the metadata from "terra.environmental.energyfarm_datparser" tracking

[2017-05-25 14:08] craig-willis commented on #107
I'm the last one -- added to Workbench and closing.

[2017-05-25 14:08] #107 closed

[2017-05-25 15:36] max-zilla commented on #129
This process is done. Please close if the counts look better now.

[2017-05-25 15:44] czender commented on #132
I looked at the S_48% data (because it was first, and close to the high end of plant reflectance). Most of the reflectances were near 99% up to ~1.5 um. Am I misreading the labeling?

[2017-05-25 15:46] dlebauer commented on #130
Here is the NEON Algorithm Theoretical Basis Document for their hyperspectral imaging sensor. See sections on uncertainty and validation
[neon_hyperspectral_atbd.pdf](https://github.com/terraref/reference-data/files/1029508/neon_hyperspectral.pdf)

[2017-05-25 15:50] dlebauer commented on #131
yes, data are available.

here are sensor datasheets: https://drive.google.com/open?id=0By_PDCcY5g2JS3BWX2MydTJhZDQ

closing as duplicate of #132

[2017-05-25 15:52] max-zilla commented on #130
I'm tagging @craig-willis here as well. My first reaction is that the same funnel that cleans metadata of incoming files could perform some basic checks to flag datasets as good or not at that point.

That way we can also avoid data going into clowder we don't want as well so it doesn't cause headaches when files are deleted from the filesystem.

[2017-05-25 16:04] rachelshekar commented on #129
@infotroph - please check data.

[2017-05-25 16:10] rachelshekar commented on #130
Does anyone have any examples of databases that do this well?

[2017-05-25 16:18] #131 closed

[2017-05-25 16:46] rachelshekar commented on #74
https://github.com/terraref/sensor-metadata/pull/5
delayed because offset is temperature dependent.  @solmazhajmohammadi will update with additional data.

[2017-05-25 18:02] solmazhajmohammadi commented on #132
Updated...
please check the new files

[2017-05-25 19:51] dlebauer commented on #129
It works. Thanks!

[2017-05-25 19:51] #129 closed

[2017-05-25 20:56] dlebauer commented on #126
I've entered
* cultivars https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaWBHF5Nvchx3iI8C8Qw/edit#gid=1160834075
* experiment_sites https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaWBHF5Nvchx3iI8C8Qw/edit#gid=552329304
* sites_cultivars https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaWBHF5Nvchx3iI8C8Qw/edit#gid=404544108 entered

[2017-05-25 21:43] dlebauer commented on #126
@NewcombMaria the cultivars list you gave me is here: https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaWBHF5Nvchx3iI8C8Qw/edit#gid=1160834075

Can you confirm that these are the correct names? It seems that some of these varieties were grown in Season 1 but we gave them new names. If we should use PI numbers or such, please provide a table of oldname, newname so that I can update t

[2017-05-26 14:54] NewcombMaria commented on #126
@dlebauer thanks for your question about cultivars.  It's best to use the PI numbers.  I added a column for -'name_new' in the spreadsheet:  https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaWBHF5Nvchx3iI8C8Qw/edit#gid=1160834075

The only changes were LEOTI (old name) to PI_641825 (new name) and ATLAS (old name) to PI_641807 (new name).  I changed both entries to BAP in the ecotype

[2017-05-26 15:02] NewcombMaria commented on #126
@dlebauer there are different ways to write PI numbers.  According to @nfahlgren the genomic data file uses identifiers written in the format PI564163 (instead of PI_564163).  Do you want to establish a standard format now for BETYdb?

[2017-05-26 22:32] dlebauer commented on #126
Yep let's use the standard format for BETYdb it should be easy to fix.
On Fri, May 26, 2017 at 10:02 AM MariaNewcomb <notifications@github.com>
wrote:

[2017-05-27 03:53] dlebauer commented on #129
I checked data. It looks good

[code]

[2017-05-29 18:34] NewcombMaria commented on #126
@dlebauer I added a new column in the spreadsheet for the cultivar name in the same format as the genomic identifier, for example PI329465.

[2017-05-30 22:46] NewcombMaria commented on #61
@dlebauer and @gsrohde I just agreed to a hard deadline with @nshakoor  for uploading 2016 field measurement data sets by the end of next week (by June 11).  Between now and then I may have a few questions along the way.  I'll do my best to make rapid progress.

[2017-05-31 16:47] max-zilla commented on #101
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1141/overview I believe this pull request may solve this issue. The error I get on that dataset when logged in is the same (htmlEncode) and as superAdmin there's no such error.

[2017-05-31 17:31] gsrohde commented on #61
@NewcombMaria Please try to get any questions that arise to me as soon as you can.  My availability is very unpredictable right now, so it's best if I have a larger window of time in which to respond.

[2017-06-01 14:46] rachelshekar commented on #130
Meeting to discuss set for June 8

[2017-06-01 14:46] rachelshekar commented on #77
Meeting to discuss set for June 8
see #130

[2017-06-01 15:17] rachelshekar commented on #61
see https://github.com/terraref/reference-data/issues/125 for yield data question

[2017-06-01 15:17] rachelshekar commented on #125
@dlebauer

[2017-06-01 15:22] rachelshekar commented on #46
redundant. see #61

[2017-06-01 15:22] #46 closed

[2017-06-01 15:24] dlebauer commented on #121
Field plot boundaries:

[KSU_2016_TERRA_fieldmap.csv.txt](https://github.com/terraref/reference-data/files/1045261/KSU_2016_TERRA_fieldmap.csv.txt)

[2017-06-01 16:06] #96 closed

[2017-06-01 16:33] rachelshekar commented on #70
scans being done next week to determine offset dependence on temperature; moving milestone

[2017-06-01 17:57] #75 closed

[2017-06-02 16:07] dlebauer opened #133 "remove empty scanner3DTop directories"
between 2017-05-26 00:00:00 and 2017-06-01 07:20:00 (Arizona time GMT-7) the scanner3DTop was running but not generating any data files (only directories and json files).

These should be deleted. I think this will work but please confirm! Note: there are some .png files generated during debugging around 7:20 AM. Anything before noon can be deleted.

[code]

[2017-06-02 20:43] solmazhajmohammadi opened #134 "Wrong ordering in Cropcircle data"
Order of the indices in cropcircle data is wrong.
Currently data is recorded with following order:
﻿<LemnaTecData>

    <Entry name="Red Edge" value=" 0.052" unit="-" />
    <Entry name="NIR" value=" 0.111" unit="-" />
    <Entry name="RED" value="27.953" unit="-" />
    <Entry name="NDRE" value=" 0.115" unit="-" />
    <Entry name="NDVI" value=" 0.041" unit="-" />
    <Entry name="Distance to can

[2017-06-02 23:46] dlebauer commented on #134
What are the steps to resolve this and who is responsible?
On Fri, Jun 2, 2017 at 4:00 PM Solmaz Hajmohammadi <notifications@github.com>
wrote:

[2017-06-05 19:45] jdmaloney commented on #133
That looked good, I went ahead and ran the deletes.  All cleaned up.

[2017-06-05 19:45] #133 closed

[2017-06-06 22:03] dlebauer opened #135 "Add sites_cultivars relationships for seasons 1 and 2"
Need to add sites_cultivars relationships for seasons 1 and 2

### TODO

* [x] Run script for season 2 https://gist.github.com/dlebauer/a5d3b72485449f7c8fed1657b1666887
* [x] generate and run similar script for season 1

### Completion Criteria

* [x] `select * from traits where cultivar_id = null` retuns 0 records

[2017-06-07 18:51] dlebauer commented on #121
@zhenbinHU could you provide these plot boundaries as a dump directly to a csv, this will make it easier to import since we are both using PostGIS?

something like

[code]

should do the trick. Otherwise someone needs to a) transform these to WGS84 projection.

[2017-06-07 19:05] zhenbinHU commented on #121
@dlebauer The field plot boundaries was uploaded in csv format, I don't what happened to it. It will become to csv format if you can remove the .txt in file name (KSU_2016_TERRA_fieldmap.csv.txt).

[2017-06-07 19:17] dlebauer commented on #121
@zhenbinHU I renamed it .txt. But the problem is _not_ the file format, it is that it will be non-trivial to import data from this format. Certainly doable, but it would be much easier if the fields were `sitename, geometry` as the data are stored in PostGIS. Since (as I understand it) these data come from your PostGIS database, I suspect it will be much easier to just copy the data from the datab

[2017-06-07 20:16] NewcombMaria opened #136 "Missing flirIrCamera filesbased on QA/QC cache data checks"
@dlebauer we had a meeting today to discuss the missing Flir files in the QA/QC data check reports.  @smarshall-bmr and @rjstrand provided some potential explanations, but we need more info on what info is used as criteria for a data set that is or is not good.  I've selected a day to demonstrate the problem.  Copied below is the data check from 2017-06-04. Stuart said it's possible that some of t

[2017-06-07 20:23] dlebauer commented on #136
@jdmaloney can you check what the issue is? the badds folder says:

[code]

but it isn't clear what this means, or why the same line is duplicated many times. I checked the folder and it appears that - like other folders - it contains both a .bin and a .json file

[2017-06-07 20:39] dlebauer opened #137 "Define Danforth experiments in betydb experiments table"
For each experiment please

* [ ] Create new experiment https://terraref.ncsa.illinois.edu/bety/experiments/new
   * [ ] Scott or I can link these to the Danforth site (can't be done in the web interface)
* Create new treatment(s) https://terraref.ncsa.illinois.edu/bety/treatments/new
* Create managements https://terraref.ncsa.illinois.edu/bety/managements/new and
   * these should include plantin

[2017-06-08 00:50] jdmaloney commented on #136
@dlebauer @NewcombMaria Looking into this here tonight to see what is happening.  Based on the output David provided here above, this could be an issue with the checking code not handling something right it should be.  Will update this ticket here soon with what I find tonight and/or first thing tomorrow morning.  Thanks for bringing this to my attention.

[2017-06-08 01:14] jdmaloney commented on #136
@dlebauer @NewcombMaria
Two part problem:
1. My script that generates that email had a bad syntax error and thus led to that repetitious directory (that was not a bad dataset) being put into the bad dataset text file.  Fixing up that code here now so it reports accurate and more useful output.
2. The 8033 of 8101 datasets being good was a correct assessment of the output.  The data from this senso

[2017-06-08 13:30] NewcombMaria commented on #136
@jdmaloney thanks for your helpful responses.  @smarshall-bmr and @rjstrand do you think the issue with the directories that only have the .json metadata file is a problem with the flir server???  The Flir came up short again from yesterday's June 7 data check report:
21177 of 21177 Data Sets are good for co2Sensor
16435 of 16435 Data Sets are good for cropCircle
**11992 of 12070 Data Sets are goo

[2017-06-08 15:58] craig-willis commented on #106
Per discussions with Rob, will use Clowder API to generate data package. Still a work in progress.

[2017-06-08 16:00] craig-willis commented on #31
Late response, but this should probably be an epic.

[2017-06-08 16:31] dlebauer commented on #88
@nfahlgren see https://github.com/terraref/reference-data/issues/137 and contact me if you need assistance.

[2017-06-08 16:51] dlebauer commented on #68
@nfahlgren is waiting for output data from Mockler's group

@dlebauer needs to update cultivars table to remove space following `PI_` names

[2017-06-08 17:00] dlebauer commented on #134
@solmazhajmohammadi please write out algorithm &/or bash script that will perform this fix. We can go through and find/replace the incorrect strings

[2017-06-08 19:26] dlebauer opened #138 "Protocol for quality metrics and uncertainty estimates to datasets"
Based on previous discussions:

* https://github.com/terraref/reference-data/issues/130
* https://github.com/terraref/reference-data/issues/77

Write a protocol for capturing uncertainty estimates

### Completion Criteria

* [ ] Capture discussions from related issues
* [ ] Draft protocol in google docs https://docs.google.com/document/d/1hWqkowvopYqGkeckSWg-_JzN3-DIS36rCBCFI09Sqyk/edit#
* [ ] Cre

[2017-06-08 19:27] dlebauer commented on #130
Next steps: Flush out protocol for assessing dataset quality and uncertainty. Closing this and moving to #138

https://docs.google.com/document/d/1hWqkowvopYqGkeckSWg-_JzN3-DIS36rCBCFI09Sqyk/edit#

[2017-06-08 19:27] #130 closed

[2017-06-08 22:56] nfahlgren commented on #68
@dlebauer I confirmed with @phloz that the genotype IDs in the processed genomics data will be named `PIxxxx`

[2017-06-09 13:14] NewcombMaria commented on #136
@smarshall-bmr and @rjstrand the report from yesterday (June 8) doesn't list stereoTop and also doesn't look good for flirIRCamera files.  Any ideas what happened to Stereo-vis images:

One Day QA/QC Gantry-Cache Data Check 2017-06-08
9063 of 9063 Data Sets are good for co2Sensor
9063 of 9063 Data Sets are good for cropCircle
601 of 8144 Data Sets are good for flirIrCamera
9063 of 9063 Data Sets a

[2017-06-11 00:06] NewcombMaria commented on #61
@dlebauer I'm trying to use BETYdb Bulk Upload for the Sorghum_season2_nodetillercounts.csv (see https://drive.google.com/drive/folders/0B1OR5-zeXagnWjJaaWRlSENsVms ).  Have been getting Time-out '504 Gateway Time-out'.
I've defined the variables and am using sites and names that we used earlier.  Any suggestions?

[2017-06-11 01:48] gsrohde commented on #61
@NewcombMaria I've found that I sometimes have had to break up a bulk-upload file into batches.  I was able to process  a 4900-row file by breaking it up into files with <= 1000 data rows in addition to the header line.  Your file isn't that much bigger (1431 data rows), but maybe that's enough to make a difference.  I suggest dividing the file into three files of <= 500 lines each.  You will have

[2017-06-11 14:53] NewcombMaria commented on #61
@gsrohde thank you!!  Your suggestion of dividing into 3 smaller files worked.  I had a few errors to work out after that but in the end was able to successfully upload the data in 3 batches.  I defined the access level as 'Internal EBI and collaborators'.  Is that correct?

[2017-06-11 17:35] NewcombMaria commented on #61
@gsrohde 'leaf_node_count' is defined as a variable, but it looks to me that there is not be any data associated with the variable yet.  Is that correct?  Is there a way to confirm if there is data already entered under a defined variable?  I'm going to try to upload Sorghum season1 data under the variable 'stem_elongated_internodes_number' because this is a term in the Sorghum Crop Ontology.  I d

[2017-06-11 23:55] NewcombMaria commented on #61
@gsrohde or @dlebauer how do I see a list of accepted cultivar names for Sorghum season1 for the whole field?

[2017-06-12 01:03] NewcombMaria commented on #61
@gsrohde or @dlebauer another question.  How do I add a different method to an existing variable?  I uploaded Sorghum season 2 yield data [aboveground_fresh_biomass (kg/ha), aboveground_dry_biomass (kg/ha), and aboveground_biomass_moisture (%)] and would like to add information on methods.  I'm not sure how to do that.

[2017-06-12 04:02] dlebauer commented on #61
List of cultivars names is in the cultivars table and methods are in the
methods table
On Sun, Jun 11, 2017 at 8:03 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-06-12 04:19] NewcombMaria commented on #61
@dlebauer or @gsrohde in the cultivars table in the database, I'm finding it difficult to determine which ones are for Maricopa Sorghum season1.  Is there anything for Season1 similar to this spreadsheet for Season2?  https://docs.google.com/spreadsheets/d/1RZKk7zZ5uqGcKsJ6XRMEJEyG7hlA389PKi2sEDMLy74/edit#gid=222361549

To create a method in the methods table, the 'New Method' requires a Name and

[2017-06-12 04:24] NewcombMaria commented on #61
I was able to upload 6 data sets today from 2016 sorghum seasons 1 and 2.  The csv files are in this google docs directory:  https://drive.google.com/drive/folders/0B1OR5-zeXagnWjJaaWRlSENsVms .  There are still more 2016 data sets to upload, from spreadsheets that need a bit more more work.  I'll continue to work on it.

[2017-06-12 13:24] NewcombMaria commented on #136
Stuart and Bob worked with Markus last week June 8 to diagnose the problem related to missing Flir files, something to do with network utilization and link speed.  The June 9 report that I received today looks like the problem is fixed.  Thanks @smarshall-bmr and @rjstrand!  This issue can be closed.  We'll need to keep an eye on the Flir directories since we don't know why the problem started.
Tw

[2017-06-12 13:24] #136 closed

[2017-06-12 18:52] nickheyek opened #139 "Get Feedback on Prototype Flask App"
### Description
To gain insight helpful for designing the Shiny app, feedback will be collected on the prototype Flask App by using a Google form.

### Completion Criteria
- [x] Create Google form to learn about how Shiny app can on Flask app prototype
- [x] Send out Google form to TERRA-REF team
- [x] Gain feedback to incorporate into design of Flask app

[2017-06-12 18:53] nickheyek opened #140 "Create Basic Framework for Shiny App"
### Description
A basic Shiny app up with appropriate layout for trait data visualization will be developed, including basic I/O.

### Completion Criteria
- [x] Create simplest working Shiny app
- [x] Add basic input controls

[2017-06-12 18:54] nickheyek opened #141 "Support Multiple Seasons/Experiments"

[2017-06-12 18:55] #141 closed

[2017-06-12 18:57] nheyek opened #142 "Shiny App for Trait Data Visualization"
### Description
A web interface for visualizing trait data from BETYdb.
Visualizations will be available for all variables measured in a given experiment/season.
Multiple experiments/seasons will be available to visualize data from.
The web app will be available to view from a public domain.
Feedback will be collected to improve the app.

### Completion Criteria
- [x] Get Feedback on Prototype Fla

[2017-06-12 19:42] nickheyek opened #143 "Create Basic Visualizations for Traits within a Given Season (Partial Data)"
### Description
App should support viewing data from multiple seasons to choose from select menu, and should allow viewing of data for specific variables. Visualizations at this point will be basic scatter plots and will be working with only partial data due to speed constraints.

### Completion Criteria
- [x] Write code to access traits from various experiments
- [x] Create scatter-plots for each

[2017-06-12 19:45] nickheyek opened #144 "Get App Working with Full BETYdb Data Sets"
### Description
Functionality will be extended so that all trait data from BETYdb from a given experiment for a given variable will be presented in the visualizations.

### Completion Criteria
- [x] Write code to access all trait data from a given experiment for a given variable
- [x] Add caching functionality to avoid super-slow response time

[2017-06-12 19:46] nickheyek opened #145 "Deploy Shiny App"
### Description
The Shiny app will be deployed so that it can be viewed from a public domain.

### Completion Criteria
- [ ] Incorporate R Studio Shiny Server functionality into app
- [ ] Discuss options for deploying Shiny app
- [ ] Deploy Shiny app to a public URL

[2017-06-12 19:47] nheyek opened #146 "Get Feedback on Shiny App"
To gain insight to direct toward future development, feedback will be collected on the deployed Shiny app by using a Google form.
- [ ] Create Google form to learn about how Shiny app can be improved
- [ ] Send out Google form with URL for deployed Shiny app
- [ ] Make note of feedback for future development

[2017-06-13 22:08] dlebauer commented on #68
@NewcombMaria and @nfahlgren et al ... I've updated the cultivar names from `PI_*` --> `PI*`

[2017-06-14 03:10] NewcombMaria opened #147 "Sorghum plots with mixed cultivars hand-planted after poor emergence"
Sorghum season2 had 16 plots with poor emergence that were hand-planted with a different cultivar to fill the gaps, leaving the original seedlings that did emerge.  We hand-planted with 700D-BMR, so the plots became mixtures of the original cultivar and 700D-BMR.  What's the best way to flag these plots in BETYdb?  The cultivar name for these plots (sites) could be changed to indicate the mixture,

[2017-06-14 16:49] gsrohde commented on #61
@NewcombMaria Regarding having multiple treatments with the same name but different descriptions:

We had intended to require that for methods associated with the same citation, the names should be unique.  But we intended to allow a name to be used more than once if each use was associated with a different citation.  (Right now, for the terra-ref database, method names are unique across _all_ cit

[2017-06-14 17:03] dlebauer commented on #61
@NewcombMaria we should keep method names unique - but what your use case for having two methods with the same name?

If it is two methods of taking the same measurement (say, canopy_height) then we use the variable name 'canopy_height' along with a method name, for example we can have the following combinations:

| variables.name | methods.name |
|:---|:---|
| canopy_height | phenotractor-lidar |

[2017-06-14 17:22] gsrohde commented on #99
Most of this data was first uploaded on August 12, 2016.

It was uploaded again on November 10, 2016.

The names of the file used for the August 12 upload were `ht1-amended.csv` and `ht2.csv`.  `ht1-amended.csv` contained only canopy_height data; `ht2.csv` contained both canopy_height and spike_height data.  The data in these files were uploaded using the API and the Bulk Upload Wizard, respective

[2017-06-14 17:26] gsrohde commented on #99
@dlebauer This turns out to be slightly more complicated than I at first thought.  I'll go ahead and do the fixes, but I wanted you to at least have a chance to look through and check my logic (and maybe my SQL statements) first.  If you are short on time, perhaps you can at least look through the two "Proposed fix for eliminating duplicates" sections.

[2017-06-14 20:56] dlebauer commented on #99
@gsrohde this looks correct for eliminating these duplicates. Would be useful to also have a constraint that prevents inserting duplicate records - either by the uniqueness constraint that includes the mean value.

[2017-06-14 21:36] dlebauer commented on #147
I've updated the database with the following SQL insert / delete / update statements:

https://gist.github.com/dlebauer/64426018f7268406733d94b41756c47c

This can be closed except that it would be useful to get feedback from @gpmorrisksu, @rickw-ward,  and others:
This approach treats these plots as mutts by creating 'dummy' genotypes with names like "Mixed RIL XXYYZZ and 700D-BMR". As such, these

[2017-06-14 21:47] gsrohde commented on #61
@NewcombMaria Regarding https://github.com/terraref/reference-data/issues/61#issuecomment-307644343:

That's correct that there is not yet any trait data associated with the `leaf_node_count` variable.  Short of accessing the database directly, the easiest way to confirm this is to visit the Listing Traits page at https://terraref.ncsa.illinois.edu/bety/traits and enter `leaf_node_count` into the

[2017-06-14 22:22] gsrohde commented on #99
The deletions and updates are done.  I'll close this as soon as I make an issue for preventing duplicates.

[2017-06-14 22:30] rickw-ward commented on #147
The "mutt" approach looks ok to me.

[2017-06-15 14:57] rachelshekar opened #148 "Tracking data available for November 2017 release"
https://docs.google.com/spreadsheets/d/1dpO8HTnBVF-ql79hbLkqHiyaWN3tibrzTCuefe2iL8U/edit?usp=sharing

[2017-06-15 14:57] nickheyek opened #149 "Upgrade Visualizations"
### Description
Visualizations on Shiny app will be upgraded from basic scatter plots to maximize functionality and usability.

### Completion Criterea
- [x] Work on code to generate more presentable visualizations
- [x] Incorporate user feedback into visualization upgrades

[2017-06-15 15:28] dlebauer commented on #147
I've implemented the mutt approach and will close this. We can re-open later if we want to revisit w/ a more sophisticated approach.

[2017-06-15 15:28] #147 closed

[2017-06-15 16:11] nfahlgren commented on #137
@dlebauer I will have to ask @nshakoor for this information.

[2017-06-15 16:25] rachelshekar commented on #83
@czender will move forward with removing all unimportant metadata info

[2017-06-15 18:32] #99 closed

[2017-06-15 20:41] dlebauer commented on #61
@NewcombMaria I uploaded the Season 1 moisture and yield data. We can always update these data if that is necessary per https://github.com/terraref/reference-data/issues/125

[2017-06-15 20:47] NewcombMaria commented on #61
@dlebauer there has been several major revisions, complete reworks, of the Season 1 yield and moisture data.  Those data from the spreadsheet you used are not good data.
 https://docs.google.com/spreadsheets/d/14mO_1-en9dj8q_dQeXJOKEB0sYKlF_LR__rEIqg5-kw/edit#gid=151802899

I have the revised data and am ready to upload in the next few days now that I have the Season 1 cultivar names that you prov

[2017-06-15 20:50] dlebauer commented on #125
* aboveground dry biomass
* aboveground moisture

* associated data as potential covariates (measured gaps, bird damage, etc)?

we can add these as covariates if relevant.

* How to handle calculations, SAS code?

Best woulld be to write up the protocol on protocols.io and put the SAS code in the terraref/reference-data repository. Then use the citation / doi from protocols.io in the methods field

[2017-06-15 20:50] NewcombMaria commented on #125
@dlebauer we had a meeting in mid May and made some decisions about how the yield data needed to be recalculated.  I now have a revised file and was planning to upload soon.  The data from the spreadsheet https://docs.google.com/spreadsheets/d/14mO_1-en9dj8q_dQeXJOKEB0sYKlF_LR__rEIqg5-kw/edit#gid=151802899 are not current.

[2017-06-15 21:25] dlebauer commented on #61
@NewcombMaria sorry for jumping the gun. I've deleted these records from the database.

[2017-06-15 22:44] dlebauer commented on #121
From Kevin:

plot definitions provided by Kevin in WKT w/ sitename and cultivar name are here: https://docs.google.com/spreadsheets/d/1APkedH70txKfvUknvgiqDTsdLWC2uriTj5dXIrHNY74/edit#gid=1725314081

Issues with these data:

1. Sitenames provided by Kevin are of the format `TR16_Rg1_P1`; the corresponding plot name provided by Zhenbinn and inserted into the database was `TR_R01_P1`. The difference

[2017-06-15 22:48] dlebauer commented on #121
Also, to coerce these polygons into PostGIS I had to wrap them thus:

* `ST_Force3d(ST_Transform(ST_GeomFromText('Polygon( x y x y x y x y x y)', 32614),4326))

[2017-06-18 01:52] NewcombMaria commented on #61
I uploaded the sorghum season1 yield data for the mechanical harvest.  Sites identified as 'MAC Field Scanner Season 1 Field Plot 1' and the E/W rows identified as entities:  'MAC Field Scanner Season 1 Field Plot 1 W'.  @dlebauer or @gsrohde is this the same format for E/W rows that was used for season 1 hand-measured heights?

Next I'll upload the season 1 yield data by hand harvest method.

[2017-06-18 20:40] NewcombMaria commented on #61
I uploaded sorghum season1 hand harvest yield data, except for 3 plots with cultivar "DELLA" which is reported as an unresolved cultivar during the upload.  Is it listed under a different identity?  Here's the data for the 3 plots with DELLA:  https://docs.google.com/spreadsheets/d/1Yfop4oR_LyErs0r7S6GXcG_MLBUWEIiDQ5xtmpbCmII/edit#gid=813889775

[2017-06-18 20:44] NewcombMaria commented on #61
For the harvest yield data sets I defined 3 new methods but I don't know how to connect the methods with the specific data sets.  The new method names are the following:
    Harvest yield estimates Maricopa sorghum season1 hand harvest
    Harvest yield estimates Maricopa sorghum season1 mechanical harvest
    Harvest yield estimates Maricopa sorghum season2

[2017-06-19 21:05] gsrohde commented on #61
@NewcombMaria Where are you uploading this data to?  On https://terraref.ncsa.illinois.edu/bety/ the only traits I see with your user id are some that were created on March 6.

[2017-06-19 21:38] gsrohde commented on #61
Regarding "DELLA":  The "unresolved cultivar" error means no cultivar with the given name was found in the database for the species you listed (Sorghum bicolor, in this case).

To resolve this, go to the cultivars listing (https://terraref.ncsa.illinois.edu/bety/cultivars) and search on DELLA.  This shows that the actual name used for this culitvar is PI566819.  "DELLA" is listed as the common nam

[2017-06-19 23:04] NewcombMaria commented on #61
@gsrohde yes I'm uploading to https://terraref.ncsa.illinois.edu/bety/ .  The variables listing shows the new variables that I've entered in June and before  https://terraref.ncsa.illinois.edu/bety/variables

[2017-06-20 12:15] NewcombMaria commented on #61
@gsrohde when I'm prompted to define the access level I've been entering 'Internal EBI and collaborators'. Is that how I should define access level for the datasets?

[2017-06-20 19:00] gsrohde commented on #61
@NewcombMaria I think that access level is the right one.  It's what we've used with previous sets from you.  (This will be changed to read "Internal and collaborators, by the way.)  @dlebauer could give you a more definitive answer.

[2017-06-20 19:08] NewcombMaria commented on #61
@gsrohde if I'm defining the access level correctly then why can't you see the data I've uploaded over the past 2-3 weeks?  For every data set I've stuck with it and worked out the bugs until upload is complete and the status says something like file ......  entered successfully.

[2017-06-20 19:18] gsrohde commented on #61
We're you logged in as you (newcombm@email.arizona.edu)?

[2017-06-20 19:20] NewcombMaria commented on #61
@gsrohde yes logged in as username newcomb@email.arizona.edu.  The most recent successful upload was Sunday eve June 18. Access level 'Internal EBI and collaborators'.

[2017-06-20 20:21] gsrohde commented on #61
@NewcombMaria OK, I'll look again.

[2017-06-20 20:25] NewcombMaria commented on #61
Thanks @gsrohde . I'm continuing to upload data sets every chance I get, maybe again this evening.  It's important that we figure out if there's a step I need to change so that the data goes to the correct place.  Thanks.

[2017-06-20 22:08] gsrohde commented on #61
@NewcombMaria Yes, it does seem like there is some problem with the Bulk Upload Wizard on terra-ref.  I'm looking into it.  In the meantime, I guess you should hold off on using it.

[2017-06-20 22:42] NewcombMaria commented on #61
Ok, thanks @gsrohde for looking into it.  I'll continue to get data set spreadsheets ready for uploading to Betydb.  Please either you or @dlebauer keep me updated. Thanks

[2017-06-21 05:15] gsrohde commented on #61
@NewcombMaria

I think this problem is related to https://github.com/PecanProject/bety/issues/459#issuecomment-302287786.  I will prioritize fixing this.  In the meantime, a workaround would be to add the trait variables to the `trait_covariate_associations` table.  This would be especially feasible if there is a limited number of different trait variables in the files you are trying to upload and

[2017-06-21 12:15] NewcombMaria commented on #61
@gsrohde thanks for the update.  Agreed you should use your time to fix the glitch, and definitely it would be helpful to change the bulk upload wizard so that it only reports successful upload when it truly is successful.  I can keep moving forward with formatting other spreadsheets in preparation for upload (phenology, leaf desiccation, others) instead of trying the workaround (trait_covariate_a

[2017-06-21 20:35] dlebauer commented on #85
@zhenbinHU can you please update this issue with a list of the steps that you have accomplished with respect to preparing data and metadata.

[2017-06-22 14:24] rachelshekar commented on #111
@piotrfilipiuk - have you tested the periodic import?

[2017-06-22 14:28] rachelshekar commented on #44
@max-zilla - please update

[2017-06-22 14:33] max-zilla commented on #44
we will handle this in the cleaning piece - will discuss when i meet with @craig-willis and @jterstriep

[2017-06-22 14:36] rachelshekar commented on #102
@dlebauer can this be closed?

[2017-06-22 14:36] rachelshekar commented on #103
@dlebauer please assign this issue

[2017-06-22 14:54] zhenbinHU commented on #119
@dlebauer You are right. We use different ID. Because the name by pedigree is so long.

[2017-06-22 14:58] max-zilla commented on #108
I created a new public space and put pointers to these in there. The datasets were already accessible but Clowder doesn't currently support collection-level public checks so this is the most straightforward solution.

This did not change any links - @craig-willis do you know if we still need to check the documentation links, or is that something you did?

[2017-06-22 15:00] #102 closed

[2017-06-22 15:09] dlebauer commented on #119
@zhenbinHU we need to have a way of uniquely identifying germplasm across research groups (https://github.com/terraref/reference-data/issues/65). If you want to use a shorter name, it won't match the names that we have. You can use the shorter name when collecting data, but not when uploading data.

[2017-06-22 15:28] dlebauer commented on #31
@craig-willis could you please update the milestone on this? turn it into an epic if necessary?

[2017-06-22 15:29] dlebauer commented on #125
@NewcombMaria can this issue be closed?

[2017-06-22 15:32] #121 closed

[2017-06-22 15:49] craig-willis commented on #103
@dlebauer

I'll need guidance on what's needed here.  The source data is from:
https://drive.google.com/drive/folders/0BzWFmpKimq_6T3BINnFIQW5uWlk

The table in the PDF has the heading:
"8 deg/Hemispherical Spectral Reflectance Factor for SCS-BL-020 Color Standard"

I'm out of my depth with the reflectance and calibration metadata and have a hard time judging what's needed.

[2017-06-22 16:16] dlebauer commented on #103
@solmazhajmohammadi and @smarshall-bmr could you please provide more information about the target metadata?

[2017-06-22 16:17] max-zilla commented on #90
@solmazhajmohammadi identified the issue and @smarshall-bmr needs to move these files from output to input

@smarshall-bmr is this done?

[2017-06-22 16:20] max-zilla commented on #85
@zhenbinHU please check / update completion criteria and let us know if you need input

[2017-06-22 16:23] dlebauer commented on #103
It looks like %reflectance. The confusion is what wavelength bands the reflectances correspond to.

[2017-06-22 18:57] solmazhajmohammadi opened #151 "Dark Reference Measurment for SWIR Sensor"
As part of the calibration pipeline for Hyperspectral camera, we need to do similar dark measurement as we did for VNIR sensor [(Issue#88).](https://github.com/terraref/computing-pipeline/issues/88)
The measurements need to be done during the night and with covered lens. Use rotating mirror and collect the dark reference for the exposures from 5-50ms(every 5ms).
Since the dark reference measuremen

[2017-06-22 19:17] solmazhajmohammadi commented on #103
The corresponding wavelength is written before the reflectance. Is this the question?

Wavelength	Corrected %R
360	                   38.9
361	                   39.1
362	                   39.3
363	                   39.5
364	                   39.7
365	                   40.0
366	                   40.2
.....

[2017-06-22 19:49] dlebauer commented on #103
@solmazhajmohammadi I am referring to https://github.com/terraref/sensor-metadata/blob/master/targets/LabSphere/fixed_metadata.json ?

Are the wavelengths all just sequential integers starting at 360?

[2017-06-22 19:56] solmazhajmohammadi commented on #103
@dlebauer yes, that's the table we got from Labsphere, and it matches the calibration certificate.

[2017-06-23 02:10] gsrohde commented on #61
@NewcombMaria

I believe the glitch in the Bulk Upload Wizard is fixed now.  I just issued a new release of BETYdb.

My suggestion is that you retry one upload file and then check that it was successful.

One way to check that an upload was successful is to use the API to filter on the creator (you) and on the date.  You will have to use the fuzzy-matching operator `=~` for matching the creation d

[2017-06-25 14:58] NewcombMaria commented on #61
@gsrohde thanks very much.  I will test the Bulk Upload on the new release of BETYdb as soon as I get a chance.  Thanks for working on the fix.

[2017-06-28 16:54] NewcombMaria opened #152 "Sorghum season1 cultivar identities for Della, Dale, M81E"
When I was uploading season1 data to BETYdb I used this spreadsheet https://docs.google.com/spreadsheets/d/1CPNQNJ7Pwh7ZC5EnOTWuZNptMTMTkMgy7a5AunCqeFM/edit#gid=527722434 for the complete list of sites/cultivars.  All of the cultivars were accepted during the data upload except DELLA (see plots 518-522, 540-544, and 555-560).  Apparently DELLA is entered as cultivar PI566819.  **This raises a ques

[2017-06-28 21:25] gsrohde commented on #100
@dlebauer I have written a script to make these links.  But many of the cultivar names are not found.  I'm guessing this is only because there has been some revising of names.  For example, although there is no "PI_35038", there is "PI35038".

If I am correct that it was decided to do away with underscores in the names starting with "PI", then, rather than rewriting the CSV file, I can just hack t

[2017-06-28 23:10] dlebauer commented on #100
Yes please do. We decided to drop the "_"
On Wed, Jun 28, 2017 at 10:25 PM Scott Rohde <notifications@github.com>
wrote:

[2017-06-29 02:29] gsrohde commented on #100
Done.  If you think we'll do this sort of thing periodically, I'll polish up the script a bit and commit it to the Rails repository.

[2017-06-29 16:15] max-zilla commented on #90
@smarshall-bmr update please

[2017-06-29 16:20] max-zilla commented on #134
may need to update gantry software.

[2017-06-30 14:21] NewcombMaria commented on #152
@dlebauer this issue overlaps some with issue #100 .  Over the next few days I'll get back to uploading 2016 field measurements (issue #61 ).  Sorghum season1 Ranges 33, 34, and 35 include plots with 'DELLA' and Ranges 39, 40, 41 include plots with 'Dale'.  These are entries from TAM but are the same PI accessions as BAP lines maintained by Clemson.  What's the best cultivar identity for these lin

[2017-07-01 19:55] NewcombMaria commented on #61
Good news @gsrohde .  The new release you issued seems to be working for Bulk Upload!  Thanks.  I just re-uploaded 3 files (one long dataset broken into smaller files) and was able to use the API as you described earlier to see the trait id numbers that I entered filtering on todays date.  I'll try to keep track of trait id numbers by data set if I can figure out the time filter, otherwise at leas

[2017-07-01 20:26] NewcombMaria commented on #61
@gsrohde when trying to upload this csv file:  https://drive.google.com/drive/folders/0B1OR5-zeXagnWjJaaWRlSENsVms   I made it to the final step of 'Insert data' but then got the Error message copied below.  Does the Error make sense to you?  Is it just a single cultivar does not match the site_id, and if so which cultivar/site?

PG::RaiseException: ERROR: The value of cultivar_id (6000000256) is

[2017-07-01 21:27] gsrohde commented on #61
@NewcombMaria

Site 6000003756 is "MAC Field Scanner Season 2 Range 45 Pass 2", which you can ascertain by visiting https://terraref.ncsa.illinois.edu/bety/sites/6000003756.  In the database, certain sites are associated with specific cultivars.  In this case, the associated cultivar is `Mixed RIL_26_(SC56*TX7000)-F10 and 700D-BMR`, which you can check by visiting the cultivar with id 6000001065 a

[2017-07-01 21:31] NewcombMaria commented on #61
Thanks @gsrohde !  The database is correct - I had forgotten that since the first time I tried to upload season2 data, we decided to change the cultivar id's for 16 plots that actually had mixed genotypes.  I just replaced those 16 cultivar names with the Mixed version and the upload was successful.  Thanks very much.

[2017-07-02 00:20] NewcombMaria commented on #61
@gsrohde now I'm working on season1 data sets and am having trouble with cultivar/site id entries that I cannot seem to figure out.  A similar Error message as before is returned when I try to upload this csv file https://drive.google.com/drive/folders/0B1OR5-zeXagnWjJaaWRlSENsVms  .  I've checked traits for site_id 6000001622.  The cultivar name appears to be PI506069, which is what's in the csv

[2017-07-02 00:50] NewcombMaria commented on #61
@gsrohde update:  I was able to successfully upload a season1 data set that has some of the same cultivars as the data set giving me trouble, and similar site names except without W or E, and there was no column for Entity.
This csv file uploaded successfully: https://drive.google.com/drive/folders/0B1OR5-zeXagnWjJaaWRlSENsVms
The Error message returned earlier must relate either to the Entities o

[2017-07-02 02:34] gsrohde commented on #61
I don't think the `entity` column would cause a problem.  But it would help to know the exact error message you were seeing.

Also, the URLs you are referencing lead to pages on which several CSV file are listed, so it is not clear exactly which one(s) were giving you a problem.

[2017-07-02 13:20] NewcombMaria commented on #61
@gsrohde sorry about that.  The problem data-set in the Google directory is separated into 4 smaller csv files for the upload:
Sorghum_season1_nodetillercounts_revised_a
Sorghum_season1_nodetillercounts_revised_b
Sorghum_season1_nodetillercounts_revised_c
Sorghum_season1_nodetillercounts_revised_d

The Error message that I get back at the very last step of 'Insert data':
PG::RaiseException: ERROR:

[2017-07-02 16:16] gsrohde commented on #61
@NewcombMaria

I took a look at your CSV files, in particular, the rows with site "MAC Field Scanner Season 1 Field Plot 715 W" (id number 6000001622).  The database associates this site with cultivar PI506069 (id number 6000000229) as you indicate.  The problem is that while most of the rows for this site in your CSV files _do_ list PI506069 as the cultivar, a few say "Unknown off type", which ha

[2017-07-02 18:55] NewcombMaria commented on #61
Thanks @gsrohde ! I removed the rows with "Unknown off type" and was able to successfully upload the data set.
Later we should link that cultivar id for 'Unknown off type' (6000000417) to the associated site(s) and then I can upload the data that I removed for the unknown.  The genotype of that plant is unknown so the data are not useful for genetic studies but the data are still useful for ground

[2017-07-03 17:07] gsrohde commented on #61
@NewcombMaria

Keep in mind that while a cultivar may be associated with multiple sites, the reverse is not true: a site may be associated with at most one cultivar.  So for the case we are talking about, because "MAC Field Scanner Season 1 Field Plot 715 W"  has been associated with cultivar PI506069, we can't also associate it with "Unknown off type".

Let me elaborate this a little: if a site h

[2017-07-06 18:35] dlebauer commented on #145
Can prob. start w/ rocker/shiny docker container: https://hub.docker.com/r/rocker/shiny/

[2017-07-06 18:35] smarshall-bmr commented on #90
@max-zilla I'm not finding the old files for reprocessing. Are we sure they haven't been processed and deleted?

[2017-07-06 18:35] dlebauer commented on #140
this is closed by #150

[2017-07-06 18:35] #140 closed

[2017-07-06 18:37] dlebauer commented on #139
Feedback was given via this google form https://docs.google.com/a/illinois.edu/forms/d/12lyS4vy_CNBdlhRwkAk4hnyu0SOI0aW8PFCfQIoLWBI/edit#responses

Key points:
* heat map
* subset by plot / genotype

Will be addressed in future issues

[2017-07-06 18:37] #139 closed

[2017-07-07 16:05] nickheyek opened #153 "Reformat Experiments/Seasons Menu"
### Description
Reformat selection menu for viewing trait data from specific experiments/seasons.
User should be able to select from Season X with a corresponding date range.

### Completion Criteria
- [x] Parse experiment name for season number
- [x] Reformat select options to include season number with date range

[2017-07-07 16:08] nickheyek opened #154 "Implement Subsetting by Cultivar/Genotype"
### Description
Implement option for user to view data from whole field (box plots w/ all data points), or by specific cultivar (line plot).

### Completion Criteria
- [x] Parse API data to extract unique cultivar ids, render select menu from them
- [x] Render line plot upon selection of specific cultivar id

[2017-07-07 16:11] nickheyek opened #155 "Clean Up Plots"
### Description
Clean up box plots to make outliers more clear (jitter/alpha values)

### Completion Criteria (REQUIRED/ESSENTIAL)
- [x] Explore options for better visibility of outliers
- [x] Implement changes to ggplot code

[2017-07-07 16:15] nickheyek opened #156 "Implement Field Scale Heat Maps"
### Description
Create heat map visualization from sites for mean values from traits.

### Completion Criteria (REQUIRED/ESSENTIAL)
- [x] Discover how heat map can be generated with given data (WKT)
- [x] Implement in Shiny app

[2017-07-07 16:18] dlebauer commented on #154
Depends on https://github.com/terraref/reference-data/issues/135

[2017-07-07 17:45] nickheyek opened #157 "Reconfigure Caching Functionality"
### Description
Reconfigure app to cache data manually.
Cache will be updated daily with cron scheduler.

### Completion Criteria
- [x] Implement manual caching
- [x] Implement cron for daily cache update
- [x] Reconfigure existing code to work with new cache

[2017-07-08 14:10] NewcombMaria commented on #126
@dlebauer with thanks and credit due to Andy French we have progress on shape files (2017 season4) for each East/West row subplot of all of the 864 plots (including border plots) using the scanner coordinate system.  The polygons are defined using the file with X/Y coordinates that Stuart generated from alignment with the sensor box and field stakes that Pedro and I measured out.  Andy also conver

[2017-07-08 14:21] NewcombMaria commented on #126
@dlebauer I put the 4 shape files (scanner coord) that Andy French generated in the Google folder 'Sorghum season4 2017 shape files plot polygons:
https://drive.google.com/drive/folders/0B1OR5-zeXagneWVJNVk1S05kQlk

[2017-07-10 00:09] NewcombMaria commented on #61
Update:  all of the 2017 harvest yield data-sets and yield covariate date-sets are now updated.  I also uploaded the season1 in-season biomass and leaf area estimate data-set (2 sample dates) but am not certain about the variable names that I used.  Leaf Area Index now has 2 variables with 2 definitions.  I'll create a new Github issue about LAI.

[2017-07-10 00:16] NewcombMaria opened #158 "Leaf Area Index in BETYdb has 2 variable names and 2 variable definitions"
@dlebauer   When I uploaded 2016 sorghum season1 in-season destructive sample biomass and leaf area estimates I found that an existing variable LAI is defined as 'Formula: 3.618f * ((2.5.0f * (R800 - R680)) / (R800 + 6.0f * R680 - 7.5.0f * R450 + 1.0f)) - 0.118f; Citation: Boegh et al. (2002)'.

This definition doesn't fit for our estimate of Leaf Area Index, calculated from leaf area measurements

[2017-07-10 16:16] NewcombMaria opened #159 "Linking specific methods with associated variables in BETYdb"
List of data-sets and variables uploaded to betydb that need to be linked with specific methods.
This issue is connected with #61 .

- [x] Method:  Harvest yield estimates Maricopa sorghum season1 hand harvest
- Linked with the following traits that I uploaded on 2 July 2017 and on 8 July 2017
1. aboveground_fresh_biomass_handharvest  (2 July upload)
2. aboveground_dry_biomass_handharvest (2 July

[2017-07-10 18:07] dlebauer commented on #159
Part 1:

[code]

[2017-07-10 18:14] dlebauer commented on #159
@NewcombMaria for the data uploaded on July 9, we need to split out the variable and method.

E.g.
* leaf_area_index can have a method that describes the use of a leaf area meter
* aboveground_fresh_weight can have two methods, one that uses a 1 m section of the row and another that uses a subsample of five plants

Similarly, the number_tillers and number_plants variable (trait) name should be ind

[2017-07-10 18:17] dlebauer commented on #159
[code]

[2017-07-10 18:25] dlebauer commented on #158
@NewcombMaria I would suggest that we use the same variable named LAI for measurements that use hyperspectral, leaf area meter, or destructive harvest, and differentiate the measurements by the methods field. Does this sound reasonable to you?

[2017-07-10 20:37] NewcombMaria commented on #158
Yes @dlebauer makes sense to me.  The steps for this would be the following?

- Determine a generic, accurate definition for LAI and create a new variable LAI by that description
- I will write a method for LAI calculated using the leaf area meter on destructively sampled leaves
- Someone else will need to write the method(s) for measurements that use sensor-derived data

I can do the first 2 task

[2017-07-10 20:44] NewcombMaria commented on #159
Thanks @dlebauer.  Let me know if there are steps that I need to take.  I've written Methods for mechanical harvest sorghum season1 and mechanical harvest sorghum season2 (different equipment, different methods).  Should I make a list of the harvest-associated traits to be linked with each season, similar to above?

[2017-07-10 20:58] NewcombMaria commented on #125
Yes this can be closed.  All of the 2016 season1 and season2 harvest yield data and covariates are now uploaded.  Still need to write protocols and methods descriptions complete enough for protocols.io, but protocols are part of a larger topic/issue.

[2017-07-11 17:17] dlebauer commented on #126
I added the UTM shapefiles to the same directory on google drive (https://drive.google.com/drive/folders/0B1OR5-zeXagneWVJNVk1S05kQlk).

@jterstriep can you help me upload these to BETYdb? We will want to replace the existing plot boundaries, but in the shape files, each current two-row plot is represented by two polygons (one to the east and one to the west) .

![image](https://user-images.github

[2017-07-11 21:38] dlebauer commented on #126
I've inserted the combined plots for Season 4

1. I imported the shapefile to PostGIS using the "PostGIS shapfile uploader"
2. transformed geometry using [`st_force3D(st_transform(st_union`](https://gist.github.com/dlebauer/919dce0b269bfbed72dc4a567f1d97cc#file-select_transform_geometry-sql)
3. generated update statements in [google docs](https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq

[2017-07-11 21:43] NewcombMaria commented on #126
@dlebauer if it's helpful, Andy figured out how to export the attribute table with plot centroids in both Lat/Long and UTM, with the site/cultivar/subplot information.  I put an excel file in the google docs directory:  https://docs.google.com/spreadsheets/d/1AzHwuTkMoMJCJYy2hUNEJuM3YRJR7U1zORp4dMraNMw/edit#gid=1613139443

[2017-07-11 21:50] dlebauer commented on #126
@NewcombMaria thanks - but I need the bounding box rather than the centroid. I've updated the database so that now it contains both plots and subplots.

[2017-07-11 21:59] NewcombMaria commented on #126
We couldn't figure out how to do boundary geometries, just the centroids.  There's still a need to do some additional QC checking in the East/West (gantry Y axis) direction.  It looked pretty good to us when layered with UAV mosaic but could be off slightly E/W (less than 10 cm off probably, if at all).

[2017-07-11 22:27] dlebauer commented on #135
* Season 1 https://gist.github.com/dlebauer/cb1b96ba8b5c3c8c600e74ceb40aed3d

Deleting duplicates

[code]

[2017-07-11 22:27] #135 closed

[2017-07-12 15:19] nickheyek opened #160 "Implement More Efficient Regular Cache Refresh"
### Description
Implement daily cache refresh that only updates data that has been changed (updated_at since the last cache refresh) and new data, rather than refreshing entire cache.

### Completion Criteria
- [ ] Implement code to query BETYdb for updated and new records since last cache update
- [ ] Implement code to edit existing cache data structure with updated and new entries

[2017-07-12 15:28] dlebauer commented on #160
We should also consider the alternative of querying directly from the database since the API is so slow. Let me know if you need help with this.

[2017-07-12 15:28] #125 closed

[2017-07-12 15:32] nickheyek commented on #160
We can do that, but worth noting that the performance of the app itself doesn't depend on the speed of the API, since it gets all of the necessary data from the cache.
Faster querying would improve the speed of the cache refresh, but it's not likely to really matter since this happens in the background once per day.

[2017-07-12 15:35] dlebauer commented on #160
My thought was that the database would take the place of the cache, which would reduce the complexity of the code.

[2017-07-12 15:39] nickheyek commented on #160
I see, I wonder if there would be a significant performance slowdown. Would it be an issue to query database for hundreds of thousands of records for every page view?
I radically changed the cache structure if you want to take a look in the feature branch, it's a lot nicer than the previous method, allows the actual app.R script to look really clean, since the cache-update script does everything i

[2017-07-12 20:18] dlebauer commented on #160
Connecting to the database

1. create an ssh tunnel: `ssh -Nf -L 5432:localhost:5432 bety6.ncsa.illinois.edu`
2. in R, use connections like those in https://github.com/pi4-uiuc/2017-bootcamp/blob/master/content/post/2017-05-31-exploratory-data-analysis.Rmd
   * but use the credentials host: localhost port:5432: user:bety, database:bety and I've sent you the password separately

[2017-07-12 22:46] rachelshekar commented on #74
@solmazhajmohammadi please provide an update on the temperature measurements

[2017-07-12 22:47] rachelshekar commented on #100
@dlebauer can this be closed?

[2017-07-12 22:49] rachelshekar commented on #73
@dlebauer can this be backlogged so @craig-willis can work on release-relevant issues?

[2017-07-12 22:49] rachelshekar commented on #44
@max-zilla please update this issue

[2017-07-12 22:59] rachelshekar commented on #77
next steps: https://github.com/terraref/reference-data/issues/138

[2017-07-13 14:10] max-zilla commented on #44
@craig-willis we just need to apply the values Zongyang supplied above to the metadata coming from the 3dscanner I believe, in your metadata cleaning function for that sensor.

we can close this once done.

[2017-07-13 15:43] craig-willis commented on #44
@max-zilla I'll need some clarification of where this gets applied.  It looks like we can either put the offset values in the sensor fixed metadata and use them elsewhere in the pipeline, or have the metadata cleaning function to the necessary calculation and add the origin as properties.

[2017-07-13 16:14] #90 closed

[2017-07-13 16:43] solmazhajmohammadi commented on #74
I uploaded the report here:
[3D_Alignment(2).pdf](https://github.com/terraref/reference-data/files/1145923/3D_Alignment.2.pdf)

[2017-07-13 21:11] solmazhajmohammadi commented on #70
The result is posted in #74

[2017-07-13 21:11] #70 closed

[2017-07-13 21:34] solmazhajmohammadi opened #161 "Change in the Offset of the sensors With Temperature"
As it was observed in issue #70 , the distance between two 3D camera is changing with temperature. We are expecting to see the similar behaviour in the rest of the sensor's offset as well. Please set similar diurnal scan for the rest of the sensors as well. You can use the LemnaTec target for the rest of the sensors as well.
The diurnal scan would give us  a function to model the offset change wit