[2017-07-13 21:44] dlebauer commented on #161
@solmazhajmohammadi

* Do all of our current data products contain errors related to this? Do you have an estimate of the magnitude of the errors?
* Can you please make separate issue(s) / subtask(s) to cover the integration of these functions into the metadata cleaning algorithms?
* how will the measurements be done (with a ruler? laser scanner? caliper?)
* Do you need the measurements to be done

[2017-07-13 22:04] solmazhajmohammadi commented on #161
- Yes, we have about 1.4345 mm change per Centigrade change in top 3d scanner alignment.
- Sure, first we need to find how much is this change. There is an issue related to this already created for the 3D scanner.
- Laser scanner. Distance from target to the stereo camera can be measured with gantry.
- It is a linear function.

Here is the measurements for the 3D scanner offset:
![picture1](https:

[2017-07-14 15:03] dlebauer commented on #90
it appears that the files were processed already and JD’s script cleaned them so i believe it’s done

@smarshall-bmr can you please confirm?

[2017-07-14 19:03] NewcombMaria commented on #126
@dlebauer Andy and Rick completed the necessary QC check on the shape files and found that the plot boundaries needed to be shifted on the gantry Y axis 3.75 cm to the East.  I've saved the new post-QC shape files to the google directory https://drive.google.com/drive/folders/0B1OR5-zeXagneWVJNVk1S05kQlk   (to avoid confusion I removed the incorrect versions).
Corrected whole-plot (2-row plots) an

[2017-07-14 20:57] dlebauer commented on #126
@NewcombMaria Thanks! I've updated the plot boundaries in the database

[2017-07-15 23:36] NewcombMaria opened #162 "BETYdb bulk upload not accepting local_datetime field"
@dlebauer or @gsrohde I'm trying to upload 2016 leaf porometer measurements that have a time stamp for each individual measurement.  I created a field in the CSV file called "local_datetime", but the column is ignored during the upload.  Next I tried making "local_datetime" a covariate variable, but received the error message:
"Variable value can't be parsed as a number in these rows: 1, 2, 3, 4,

[2017-07-15 23:45] dlebauer commented on #162
Can you please link to our attach the CSV?
On Sat, Jul 15, 2017 at 6:36 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-07-16 01:24] NewcombMaria commented on #162
@dlebauer the CSV file is named 'Sorghum_season1_porometerdata_June.csv' in the google directory:
https://drive.google.com/drive/folders/0B1OR5-zeXagnWjJaaWRlSENsVms

[2017-07-16 01:27] NewcombMaria commented on #162
In betydb I defined the two variables:
leaf_stomatal_conductance
ambient_temperature
Let me know if you have questions.  Thanks!

[2017-07-17 00:14] NewcombMaria commented on #61
Update:  leaf desiccation (season1) data-set successfully uploaded, and stomatal conductance (season1) data set ready for upload as soon as the time stamp field name is figured out (issue #162).  Only 4 more data-sets from 2016 to upload.  Probably will be completed by July 24.

[2017-07-17 16:26] gsrohde commented on #162
@NewcombMaria There are two upload methods, and there are slight differences in the CSV file format they require.  First, there's the Bulk Upload Wizard, which is what I think you've mostly been using.  It requires the heading for the date field to be just `date`.  But unfortunately, it doesn't (yet!) handle time-of-day values in the date, so the value must be in the YYYY-MM-DD format.

Second, th

[2017-07-17 20:37] gsrohde commented on #162
@NewcombMaria I checked your file, and it is suitable for upload provided that an `access_level` column is added.  Let me know if you need help using the API or if you would rather I go ahead and upload it.

[2017-07-18 13:13] NewcombMaria commented on #162
Thanks @gsrohde .  So far I've only used the bulk upload wizard and not the API method.  It would be great if you go ahead and upload using API.  I wrote a Method description for this data-set.  Does the API upload allow you to connect the data with the Method during the upload?  The method name for this 2016 data-set is 'Leaf porometer measurements for stomatal conductance'.  See:  https://terrar

[2017-07-19 15:51] #160 closed

[2017-07-20 16:10] rachelshekar commented on #138
@rmgarnett - can you work on this?  We need to know what should be included in the metadata by August 1.

[2017-07-20 16:17] rachelshekar commented on #74
@solmazhajmohammadi - is this for air or box temperature?

[2017-07-20 16:29] rmgarnett commented on #138
Yes, sorry, I had written a follow-up email but should have posted here.  I was seeking clarification on the expectations for a protocol; I know @dlebauer has brought up this issue multiple times.

[2017-07-20 16:57] rachelshekar commented on #74
- box was not moved when the calibration data was collected
- temperature is air - weather sensor on top of gantry
Does this offset apply for all sensors?
Is the gantry expanding? - eg Is the temperature response different at different ends of the field?

[2017-07-20 17:02] rachelshekar commented on #74
Original offset supplied for PR was not correct because temperature plays an important role in the offset.

[2017-07-20 17:03] rachelshekar commented on #74
@solmazhajmohammadi - please create new issue for temperature correction and close this issue

[2017-07-20 19:28] solmazhajmohammadi commented on #74
@rachelshekar Issue [#63](https://github.com/terraref/reference-data/issues/161)

[2017-07-21 23:10] gsrohde commented on #162
@NewcombMaria I uploaded this set of data.  The new traits have id numbers 6001787823–6001788300.

The API does accept a `method` column, and the new traits are all connected with the method "Leaf porometer measurements for stomatal conductance".

I deleted the variable "local_datetime" that you created.  This actually interfered with the API working correctly.  It shouldn't, but I didn't make my

[2017-07-22 17:47] NewcombMaria commented on #162
@gsrohde thanks very much!

[2017-07-23 11:06] craig-willis commented on #44
@solmazhajmohammadi @max-zilla @ZongyangLi
Per discussions last week, I'm looking at adding the point cloud origin calculation to the new terrautils library given the information in  https://github.com/terraref/reference-data/issues/44#issuecomment-299336814.

I still have two questions:
1. How do I find the center of the 3D scanner (for X)?
1. The comment mentions that the origin is calculated ba

[2017-07-23 14:40] rmgarnett commented on #138
I have edited the document boiling it down to its essence. Please let me know if it looks okay.

[2017-07-23 19:40] NewcombMaria commented on #61
Progress update:  all of the 2016 sorghum season2 data-sets are uploaded now!  Yesterday I uploaded growth stage timing for all plots and grain sample NIRS results, and today seedling emergence rates using the planter seed drop data and manual emergence counts.  Still need to finalize a few linkages between methods and associated variables.  I'm working on the last of the sorghum season1 uploads n

[2017-07-23 20:36] rmgarnett commented on #138
@rachelshekar Can you clarify your metadata comment?  Do you want to store the predictions themselves in the metadata?

[2017-07-23 22:53] NewcombMaria commented on #61
@dlebauer and @gsrohde I can finally report that all of the 2016 sorghum season1 and season2 field measurement data-sets are now uploaded!  Thanks for your help with this project.  There are still some final steps to go to match methods with variables, and fine-tune variable and cultivar names, topics that are addressed in other Github issues.

[2017-07-23 22:59] NewcombMaria commented on #61
Next project uploading 2017 sorghum season4 field measurement data.  That will be a new Github issue in the near future.

[2017-07-24 11:12] craig-willis commented on #108
Links are still working. Closing this.

[2017-07-24 11:12] #108 closed

[2017-07-24 14:30] dlebauer commented on #83
@hmb1 and @czender what is the status on this?

[2017-07-24 14:59] NewcombMaria commented on #159
@dlebauer the following is a new updated list of data-sets and variables recently uploaded to betydb that need to be linked with specific methods.

- [ ] Method:  Visual classification of sorghum growth stages to determine estimates of developmental timing by accession
- Linked with the following traits that I uploaded on July 22 around 2:30 PM Arizona time:
1. flag_leaf_emergence_time
2. heading_

[2017-07-24 16:42] gsrohde commented on #162
@NewcombMaria Can this be closed?  I think any remaining work is covered by https://github.com/PecanProject/bety/issues/524.

[2017-07-24 18:07] nickheyek opened #163 "Fix Error in Shinyapps.io Prototype"
### Description
Fix error causing plot, ui element to fail to render

[2017-07-24 18:11] #163 closed

[2017-07-24 18:14] nickheyek opened #164 "BETYdb - MAC Season 3 & 4 Traits Not Available"
### Description
There are no trait records in BETYdb with site_id attributes corresponding to associated sites of the MAC Season 3 and MAC Season 4 experiments.

[2017-07-24 18:33] dlebauer commented on #164
This is correct. Just to confirm

* @NewcombMaria have you uploaded hand-measured field data from 2017 yet?
* @ZongyangLi it looks like you need to update the canopy cover extractor to use the polygons in BETYdb, and to subset them based on associated experiment.

[2017-07-24 19:17] dlebauer opened #165 "Traits that should be covariates"
We should be careful to separate traits (measurements of interest) from covariates (contextual data required to interpret the traits).

Covariates can be defined by adding records to the traits_covariates_associations table, and can be labeled as 'required' or 'optional'.

Two data sets that appear to be covariates are 'ambient_temperature' and 'incident PAR'. Both are optional, because they are r

[2017-07-24 19:27] dlebauer opened #166 "Traits missing treatment_id"
The following trait records have no treatment_id:

[code]

| trait                     | n       |
|---------------------------|---------|
| canopy_cover              | 1275670 |
| 95th_quantile_height      | 46095   |
| height                    | 22450   |
| emergence_count           | 3048    |
| leaf_stomatal_conductance | 239     |
| ambient_temperature       | 239     |

These should probabl

[2017-07-24 19:48] dlebauer commented on #166
Added experiments_treatments relationships for seasons 1, 2, 4 https://gist.github.com/dlebauer/24d16485b651b2684c1d4a605e8a0993

[2017-07-24 21:15] NewcombMaria commented on #162
Yes I'll go ahead and close it.

[2017-07-24 21:15] #162 closed

[2017-07-24 21:21] NewcombMaria commented on #164
I have not started to upload 2017 hand-measurement data yet.  I entered a couple Management activities for the current sorghum season, but have not uploaded any field/hand data-sets.  That's the next project, starting soon.

[2017-07-24 21:44] NewcombMaria commented on #166
@dlebauer the web bulk upload requires a treatment at the 'variable-wide' step when the access level needs to be defined, and also if date was not entered then date must be defined.  I have been entering "Control" for treatment so far.  I believe the traits listed in the comment above (height, emergence_count, leaf_stomatal_conductance, and ambient_temperature) without treatment_id were entered us

[2017-07-24 21:57] NewcombMaria commented on #165
Yes agreed covariate designation is better for these data.  The name for the 'ambient_temperature' should probably be edited to something like 'microsite_ambient_temperature' because it differs from the met data. It's the air temp directly at canopy level and varies among plots depending on neighbors and exposure to wind and shading etc.

The web bulk upload has a trick that took me a while to lea

[2017-07-26 09:58] hmb1 commented on #83
wait for charlie on this one

[2017-07-26 15:52] rachelshekar commented on #134
@solmazhajmohammadi please update this issue

[2017-07-26 22:09] nickheyek opened #167 "BETYdb Season 2 Inaccurate/Missing Managements/Treatments Assocations"
### Description
In BETYdb, traits from season 2 have either no associated treatment, or treament 6000000014.
Treatment 6000000014, named 'control', is not associated with any management records that have a 'date' attribute within season 2.
Thus there are no management records in BETYdb corresponding to traits in Season 2.

Queries using dplyr BETYdb package:

[code]

[2017-07-27 13:39] NewcombMaria commented on #167
For season2 field measurements (hand measurements) using bulk upload process I selected 'control' for the treatment option because we did not implement any experimental treatments that involved management activities.  The whole field was treated as one management block.  @dlebauer is 'control' the best treatment description?  Another option could be something like 'RIL population' since the 'exper

[2017-07-27 16:08] rachelshekar commented on #166
@gsrohde how long would this take to implement or is there a workaround you can suggest?

[2017-07-27 17:17] dlebauer commented on #132
@craig-willis see here: https://github.com/pi4-uiuc/Team_1

[2017-07-27 23:15] gsrohde commented on #166
Fleshing out the above analysis with the query
[code]
yields
[code]
The last two rows are the data I uploaded for @NewcombMaria last week (see https://github.com/terraref/reference-data/issues/162).  The Bulk Upload Wizard _requires_ a treatment, but I used the API, which does not.  I happened also to notice that these rows aren't connected with a citation.  Again, the Bulk Upload Wizard always re

[2017-07-30 19:09] NewcombMaria commented on #119
@zhenbinHU @dlebauer and @gpmorrisksu,  I made a trial run BETYdb upload with a subset of KSU data that Zhenbin sent to me to see if I could help figure out the error roadblocks.  The error codes copied below are all related to sites_cultivars.  Is there an updated sites_cultivars table for KSU 2016?

Data Value Errors
* Unresolvable site reference in these rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11

[2017-07-31 22:13] gsrohde commented on #119
@NewcombMaria I don't think these errors have anything to do with the `sites_cultivars` table.  The first two errors have to do with a site name or cultivar name given in the CSV file not matching any name the database knows about.

The third error has to do with there being multiple matches in some table for a given name.  It's not clear from the error message which table this is, but if you clic

[2017-08-03 15:26] NewcombMaria commented on #167
@rachelshekar and @dlebauer I'll need instructions on what needs to be done and how to make edits to treatments. For sorghum seasons 1 and 2 there were no experimental management treatments.  The whole field was managed as one block, and was managed for 'optimal' growing conditions.

[2017-08-03 16:28] rachelshekar opened #169 "Verify extractor outputs for V1 release"
@max-zilla please add context

[2017-08-07 22:43] czender commented on #83
@FlyingWithJerome what is the status of this? We agreed that you would move all non-essential root group variables to a new and separate group in output.

[2017-08-08 16:07] dlebauer commented on #111
I will close this as it appears to be resolved. If further discussion is required please re-open this issue or a new one ... or find us on Slack.

[2017-08-08 16:07] #111 closed

[2017-08-10 16:10] rachelshekar commented on #83
@hmb1 to follow up

[2017-08-10 16:11] max-zilla commented on #134
@solmazhajmohammadi any updates on this one?

[2017-08-10 16:12] dlebauer commented on #167
@NewcombMaria yes, 'control' is the best treatment description, as this typically refers to optimal growing conditions that a farmer would use.

[2017-08-10 16:23] rachelshekar commented on #151
Dark measurement on SWIR is disabled because the measurements are noisy because there is light getting in. They are also temperature dependent so @smarshall-bmr might relocate the instrument or reduce the window size to reduce the noise.
We need dark counts v. temp to correct the data.

[2017-08-10 16:27] dlebauer commented on #151
we need to take a series of dark measurements at different temperatures in the dark in order to create a temperature dependent dark reference calibration

This feature will be implemented for the 2018 release. The assumptions / known sources of error should be documented in the data products.

[2017-08-10 16:41] rachelshekar commented on #134
Marcus has not updated the software yet.  We will need to wait until after code freeze for next release for this fix.  @solmazhajmohammadi will follow up.

[2017-08-10 16:42] max-zilla commented on #134
@solmazhajmohammadi mentioned that Markus has not fixed this yet.

@craig-willis this is just a labeling swap, lets take a quick look and see if we can address this in our metadata cleaning.

[2017-08-10 18:56] max-zilla commented on #134
OLD:
``
<Entry name="Red Edge" value=" 0.052" unit="-" />
<Entry name="NIR" value=" 0.111" unit="-" />
<Entry name="RED" value="27.953" unit="-" />
<Entry name="NDRE" value=" 0.115" unit="-" />
<Entry name="NDVI" value=" 0.041" unit="-" />
<Entry name="Distance to canopy" value=" 23.599" unit="mm" />
<Entry name="est LAI" value=" 26.172" unit="-" />
<Entry name="est CCC" value=" 20.948&#xD;" unit=

[2017-08-11 15:46] dlebauer commented on #65
@NewcombMaria or @gpmorrisksu here is a case where we have three records that appear to be from the same cultivar:

![image](https://user-images.githubusercontent.com/464871/29220869-19f94900-7e82-11e7-8298-98eba25dac41.png)

https://terraref.ncsa.illinois.edu/bety/cultivars?utf8=%E2%9C%93&DataTables_Table_0_length=25&search=ATLAS&direction=&sort=

Currently we only have trait data for the first n

[2017-08-11 15:53] zhenbinHU commented on #65
Same problem for cultivar: LEOTI
![image](https://user-images.githubusercontent.com/16053723/29221135-408b860e-7e83-11e7-8692-077bc73106db.png)

[2017-08-11 15:56] dlebauer commented on #65
I've merged these and deleted the records that don't use PI as the name.

[2017-08-11 22:50] zhenbinHU commented on #85
@dlebauer
PG::RaiseException: ERROR: The value of cultivar_id (6000000456) is not consistent with the value 6000000937 specified for site_id 6000004483. : INSERT INTO "traits" ("access_level", "checked", "citation_id", "created_at", "cultivar_id", "date", "date_day", "date_month", "date_year", "dateloc", "entity_id", "mean", "method_id", "n", "notes", "site_id", "specie_id", "stat", "statname", "t

[2017-08-14 18:59] NewcombMaria commented on #85
Is this issue the same topic as #119 (Upload hand measured traits from KSU 2016).  There might be separate conversations going on about betydb data upload errors.  See comment by @gsrohde in issue 119.

[2017-08-14 19:02] zhenbinHU commented on #85
Thanks, @NewcombMaria  Yes, I just remove the data (five plots) with errors from the uploading data.

[2017-08-14 19:09] NewcombMaria commented on #65
@dlebauer ATLAS (common name) planted in Maricopa in 2016 and 2017 refers to different PI identities for each year.  Sorghum season4 (2017) 'ATLAS' is PI641807.   See Issue #126 comment from May 26:

[The only changes were LEOTI (old name) to PI_641825 (new name) and ATLAS (old name) to PI_641807 (new name). I changed both entries to BAP in the ecotype column. We also had 'ATLAS' in season1 but th

[2017-08-14 21:24] gsrohde commented on #85
@NewcombMaria , @zhenbinHU In this case, it seems the error _does_ have to do with the `sites_cultivars` table.  The `sites_cultivars` table says that for site 6000004483 ("Ashland Bottoms KSU 2016 Season Range 25 Pass 22"), the cultivar there is 6000000937 ("PI569459"), but the upload file specifies cultivar 6000000456 ("Blade").  If you believe the `sites_cultivars` table is correct, you can sim

[2017-08-15 17:23] dlebauer opened #171 "Update list of .nc files daily for thredds server"
currently the thredds server requires a list of .nc files that is parsed to an xml catalog used by the THREDDS server at https://terraref.ncsa.illinois.edu/thredds/catalog.html

However, the file has not been updated since July 17. This should be updated daily, prior to the generation of the xml file (should these be done in sequence in the same script?)

Assigned to @jdmaloney; tagging @robkooper

[2017-08-15 18:42] dlebauer commented on #83
Can xps_img can be recovered from rfl_img and some other field(s) (like rfl_rfr_fct)? If so, can this variable also be dropped from the Level 1 data product to cut the file size in 1/2?

[2017-08-15 19:26] hmb1 commented on #83
@dlebauer
that makes sense. will do these changes first thing tomorrow

[2017-08-15 19:39] czender commented on #83
xps_img is identical to the raw counts recorded in the Level 0 .bil file, and is recoverable from the raw imagery (which, unlike the Level 1 data, is not in netCDF format). We have asked whether to retain it on a few occasions previously, and the answer has been yes. Would you like to eliminate it from Level 1 always, sometimes (e.g., a switch) or never?

[2017-08-16 19:58] hmb1 commented on #83
@dlebauer
@czender
Have removed the excessive intermediate calibration data for default operation
1) the calibrated  radiance (default)   consists of
    A) rfl_img
    B) the coordinate vars "x", "y", "wavelength"
    C) the converted JSON metatdata in root and associated  groups

2) The indices file (default) now contains
     A)   the index's  regular and  '_pxl' postfix
     B) The coordinate

[2017-08-17 14:25] dlebauer commented on #157
closed by #168

[2017-08-17 14:25] #157 closed

[2017-08-17 14:27] dlebauer commented on #156
implemented by #168 and #170

[2017-08-17 14:27] #156 closed

[2017-08-17 14:27] dlebauer commented on #155
implemented by #168 and #170

[2017-08-17 14:27] #155 closed

[2017-08-17 14:28] dlebauer commented on #149
implemented by #168 and #170

[2017-08-17 14:28] #149 closed

[2017-08-17 14:28] dlebauer commented on #143
implemented by #168

[2017-08-17 14:28] #143 closed

[2017-08-17 14:29] dlebauer commented on #144
implemented by #168

[2017-08-17 14:29] #144 closed

[2017-08-17 14:32] dlebauer commented on #153
implemented by #168

[2017-08-17 14:32] #153 closed

[2017-08-17 14:32] dlebauer commented on #154
implemented by #168

[2017-08-17 14:32] #154 closed

[2017-08-17 17:02] dlebauer commented on #83
TODO:
* split out xps_img and add to level 0 (does this mean write to raw_data or create new level 0 directory?)
   * can be compressed asynchronously so it doesn't slow down workflow
* reflectances --> level 2
* indices --> level 3

[2017-08-22 15:05] jdmaloney commented on #171
@dlebauer @robkooper Cron job now in place to update this every day at 11:58pm (though I just did it once by hand).  Output for Rob kept in /gpfs/largeblockFS/projects/arpae/terraref/sites/ua-mac/Level_1/hyperspectral/nc_files

[2017-08-23 18:20] craig-willis commented on #44
@max-zilla @ZongyangLi @solmazhajmohammadi
Please review the _calculatePointCloudOrigin function in terrautils. This is now using the standardized Lemnatec metadata. Please let me know if you have any question.

https://github.com/terraref/terrautils/blob/master/terrautils/metadata/lemnatec.py#L679-L708

[2017-08-23 20:42] craig-willis commented on #132
@dlebauer I've started organizing these by target.  I have the provided information for the 20% and 75% targets. I can extract some details from the paper for the 48% target/tarp.  Is the 99% target the existing SphereOptics (  https://terraref.ncsa.illinois.edu/clowder/files/5873a9544f0cad7d8131b36a)?  In this case the certificate describes a 99% panel, but the data is for a 95% (this is from an

[2017-08-23 22:35] dlebauer commented on #145
See Dockerfile started in https://github.com/terraref/traitvis-webapp and notes on use in the [repository's README](https://github.com/terraref/traitvis-webapp#docker-notes)

[2017-08-24 14:48] #61 closed

[2017-08-24 14:49] rachelshekar commented on #119
@NewcombMaria - can this issue be closed?

[2017-08-24 16:36] #100 closed

[2017-08-24 16:39] rachelshekar commented on #119
@dlebauer please review data

[2017-08-24 16:58] jdmaloney commented on #171
This is all working now on a daily basis

[2017-08-24 17:48] dlebauer commented on #171
I am not sure if anything changed, but now the directory tree in the UI provides no information about which files will be found at each of the links called 'project'.

I suspect this may be a bug - did you change the script, and is there a way to replicate the directory structure on roger?

This is how it currently looks:

![image](https://user-images.githubusercontent.com/464871/29680270-ad4da89e

[2017-08-24 17:50] dlebauer commented on #100
@gsrohde please post the script as a gist and link to it from this issue. If we need to do this again, we can revisit whether to clean up / generalize it.

[2017-08-24 18:14] robkooper commented on #171
fixed, format had changed of the file listing.

now is:

![image](https://user-images.githubusercontent.com/1580696/29681683-1b8cded4-88ce-11e7-831b-74c9fc3fdc3c.png)

[2017-08-24 18:14] #171 closed

[2017-08-29 15:32] dlebauer opened #172 "Add texture variables to BETYdb"
Steps:

1. Identify citation or write a protocol on protocols.io
2. Add a single method for the extractor terraref.ncsa.illinois.edu/bety/methods/new
3. Add a variable for each phenotype terraref.ncsa.illinois.edu/bety/variables/new or provide a table with four columns: Name, Description, Units, Notes

[2017-08-29 16:48] ZongyangLi commented on #44
@craig-willis @solmazhajmohammadi

For your two questions on Jul 23:
1. I have no idea either where is the center of the 3d scanner
2. In the scanner3dTop, there are two sets of file that one from west laser scanner and the other one comes from east laser scanner. they are all in the same directory.

3. If I apply +3450mm in positive scan and +25711mm in negative scan, and use the season 4's borde

[2017-08-29 18:10] dlebauer opened #173 "Changes to hyperspectral indices file"
For each index, there are two variables in the indices file, the average value and the full resolution index.

* remove all of the scalar variables that are the mean value of an index; only keep the raster (x,y) values
    * The average value is not useful, except perhaps as a diagnostic, since these files have not been subset to plots. When they are subset, this value should be insert into BETYdb

[2017-08-29 20:09] ZongyangLi commented on #44
@craig-willis @solmazhajmohammadi
I noticed the update to the borders that different from that in my codes, so it fits better now. So don't worry about the 'half-half' plant visualization, it should be fine now.

[2017-08-30 14:57] hmb1 commented on #173
@dlebauer
@max-zilla
Think I have ticked most of the above bullets.
The latest mods are now in master
to test the nco script from the command line use the command
`ncap2 -v -O -S hyperspectral_indices_make.nco  <in.nc> <out.nc>`

is you want to add avg,min,max add the "flg_agg"
`ncap2 -v -O  -s '*flg_agg=1s;'  -S hyperspectral_indices_make.nco  <in.nc> <out.nc>`

Not sure what eta is (  I think Ch

[2017-08-30 14:58] hmb1 commented on #173
@dlebauer
@max-zilla

to test the nco script from the command line use the command
`ncap2 -v -O -S hyperspectral_indices_make.nco  <in.nc> <out.nc>`

is you want to add avg,min,max add the "flg_agg"
`ncap2 -v -O  -s '*flg_agg=1s;'  -S hyperspectral_indices_make.nco  <in.nc> <out.nc>`

Not sure what eta is (  I think Chris  added this one )

...Henry

[2017-08-30 22:38] dlebauer commented on #173
Is there a sample somewhere?

[2017-08-31 09:36] hmb1 commented on #173
see sample on ROGER:  **/tmp/dlebauer/2017-07-08__06-43-19-959_ind.nc**

[2017-08-31 17:45] dlebauer commented on #145
Many of the dependencies will be in this container: https://github.com/rocker-org/geospatial/blob/master/3.3.1/Dockerfile

* revert to exposing environment variables as in that file
  * you can develop using the ssh tunnel, and the only thing that may need to change for deployment is the betydb host
* add the packages listed in the README

[2017-09-05 20:48] NewcombMaria opened #174 "Upload 2017 MAC sorghum season 4 field measurements to BETYdb"
@dlebauer and @gsrohde
I'm ready to start uploading some of the field measurements from the 2017 MAC sorghum season (April - September).  The cultivar-site table needs a couple revisions to the cultivar identities.  As the plants approached their height potential we realized that 2 accessions (cultivars) were incorrectly identified, based on heights from Clemson and in GRIN.  We don't know the cor

[2017-09-06 19:04] NewcombMaria commented on #174
@dlebauer I need to revise my previous comment.  Please change BAP cultivar PI329440 to "Unknown accession' in sites MAC Field Scanner Season 4 Range 9 Column 14 and Field Scanner Season 4 Range 32 Column 10 as requested above, but PI330807 might not be incorrect.  It might only be a mixture of different gentoypes with some plants that are 'off-types'.  For now it should remain as it is in the cul

[2017-09-06 21:30] craig-willis opened #176 "Review "cleaned" LemnaTec Field Scanalyzer metadata"
As part of the terrautils implementation we've implemented a process to "clean" or standardize the metadata from the LemnaTec Field Scanalyzer.  The "raw" metadata is now stored as a JSON file on ROGER and Clowder, but the Clowder metadata endpoint contains the cleaned metadata, which is now also used downstream by extractors.

Examples are available in the Data Release Trial space for the flirIR

[2017-09-06 21:32] craig-willis opened #177 "Review bin2tif extractor and output"
Review issue for the bin2tif extractor and rgb_geotiff output.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [x] Sample data output verified
* [x] Sample metadata verified
* [x] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created
* [x] Extractor tagged/versioned
* [x] Extractor deployed
* [ ] Final

[2017-09-06 21:32] craig-willis opened #178 "Review flir2tif extractor and output"
Review issue for the flir2tif extractor and ir_geotiff output.

Completion criteria:
* [ ] Code review complete (includes extractor, terrautils, etc)
* [ ] Sample data output verified
* [ ] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created
* [ ] Extractor tagged/versioned
* [ ] Extractor deployed
* [ ] Final output verified/

[2017-09-06 21:34] craig-willis opened #179 "Review envlog2netcdf extractor and output"
Review issue for the envlog2netcdf extractor and output.

Completion criteria:
* [x] Code review complete (includes extractor, terrautils, etc)
* [x] Sample data output verified
* [x] Sample metadata verified
* [x] Changes for 2017 release implemented
* [x] Issue(s) for changes postponed until 2018 created
* [x] Extractor tagged/versioned
* [x] Extractor deployed
* [ ] Final output verified/review

[2017-09-06 21:34] craig-willis opened #180 "Review datparser extractors and output"
Review issue for the irrigation, weather, and energy datparser extractors and output.

Completion criteria:
* [ ] Code review complete (includes extractor, terrautils, etc)
* [ ] Sample data output verified
* [ ] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created
* [ ] Extractor tagged/versioned
* [ ] Data from earlier versio

[2017-09-07 13:07] rachelshekar opened #181 "Review hand measured traits from KSU 2016"
_PLEASE USE THIS TEMPLATE when submitting a new issue_

### Description (REQUIRED)

### Completion Criteria (REQUIRED/ESSENTIAL)

[2017-09-07 13:07] rachelshekar commented on #119
See review https://github.com/terraref/reference-data/issues/181

[2017-09-07 13:07] #119 closed

[2017-09-07 13:10] rachelshekar commented on #132
@smarshall-bmr  - can you supply information about the 99% panel?

[2017-09-07 13:16] max-zilla commented on #177
LINKS

**bin2tif output dataset example*
https://terraref.ncsa.illinois.edu/clowder/datasets/59afda604f0ca12ea0b4fd79
**raw dataset that was used to generate this output**
https://terraref.ncsa.illinois.edu/clowder/datasets/59afda604f0ca12ea0b4fd4b
**collection with 7,926 other output datasets**
https://terraref.ncsa.illinois.edu/clowder/collection/59af02944f0ca12ea0a387ac

an output dataset inclu

[2017-09-07 13:17] rachelshekar commented on #44
@solmazhajmohammadi can this issue be closed?

[2017-09-07 13:19] rachelshekar commented on #103
@dlebauer can this be closed?

[2017-09-07 13:19] max-zilla commented on #178
LINKS

**flir2tif output dataset example**
https://terraref.ncsa.illinois.edu/clowder/datasets/59b0ad984f0ca12ea0cdeff1
**raw dataset that was used to generate this output**
https://terraref.ncsa.illinois.edu/clowder/datasets/59b0ad974f0ca12ea0cdefd2
**collection with 11,395 other output datasets**
https://terraref.ncsa.illinois.edu/clowder/collection/59b04f7e4f0ca12ea0bed029

an output dataset in

[2017-09-07 13:20] rachelshekar commented on #152
@solmazhajmohammadi - can this issue be closed?

[2017-09-07 13:21] max-zilla opened #182 "Review FLIR fullfield extractor and output"
Review issue for the fullfield extractor and output using flir thermal IR inputs.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [x] Sample data output verified
* [x] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created
* [ ] Extractor tagged/versioned
* [ ] Extractor d

[2017-09-07 13:21] max-zilla opened #183 "Review RGB fullfield extractor and output"
Review issue for the fullfield extractor and output using stereoTop RGB inputs.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
* [x] Sample metadata verified
* [x] Changes for 2017 release implemented
* [x] Issue(s) for changes postponed until 2018 created
* [ ] Extractor tagged/versioned
* [ ] Extractor dep

[2017-09-07 13:23] max-zilla commented on #183
LINKS

**fullfield output dataset example**
https://terraref.ncsa.illinois.edu/clowder/datasets/59b0c56f4f0ca12ea0ce160e

an output dataset includes thumbnail- and full-resolution GeoTIFFs.

outputs on ROGER are in /ua-mac/Level_1/fullfield.

[2017-09-07 13:24] max-zilla commented on #182
LINKS

**fullfield output dataset example**
https://terraref.ncsa.illinois.edu/clowder/datasets/59b0e2134f0ca12ea0ce678a

an output dataset includes thumbnail- and full-resolution GeoTIFFs.

Ignore that this linked dataset has thousands of files, this is a glitch in extractor upload code. The top two .tif files are just duplicated endlessly so just look at the first ones listed.

outputs on ROGER

[2017-09-07 15:28] dlebauer commented on #182
One of the full field IR stitched images looks like this:

![image](https://user-images.githubusercontent.com/464871/30171265-1a583c9a-93b7-11e7-99fd-03dde4a75fa2.png)

With values ranging from 1221 to 1574. If this is temperature (K), values should mostly be in the range 275-300

[2017-09-07 15:34] dlebauer commented on #182
A lower priority issue is that these show up blank in the Clowder interface:

![image](https://user-images.githubusercontent.com/464871/30171618-17116c54-93b8-11e7-8f0d-a5b21f080633.png)

[2017-09-07 15:39] dlebauer commented on #183
This is how the full field product appears:

![image](https://user-images.githubusercontent.com/464871/30171788-875347d0-93b8-11e7-8075-a5624c7d0f15.png)

This issue with sun / shade is discussed in https://github.com/terraref/computing-pipeline/issues/326.

[2017-09-07 15:57] dlebauer commented on #181
@zhenbinHU do you know where the plot geospatial information is? It never made it into the database.

Also can you please check the following?

1. Flowering Time looks like an artifact: ![image](https://user-images.githubusercontent.com/464871/30172178-ae49d98e-93b9-11e7-9c96-ea36db4cd6c8.png)
2. Is there really a 30mm wide leaf? ![image](https://user-images.githubusercontent.com/464871/30172202-b

[2017-09-07 16:07] max-zilla commented on #183
@ZongyangLi I intended to run this with the darker pixel correction flag, but it doesn't look like it was actually applied, let me check and can generate corrected version after our meeting.

[2017-09-07 16:09] rachelshekar commented on #80
protocols.io being tested by @dlebauer - better use for field and benchwork.

[2017-09-07 16:11] rachelshekar commented on #80
@nshakoor -
document the protocol for protocol documentation
please discuss with david about informing team of this requirement

[2017-09-07 16:14] zhenbinHU commented on #181
@dlebauer  for leaf width, the 300mm should be a typos. Do you from Ashland Bottoms KSU   2016 Season Range 17 Pass 13. If yes, it should be 85.66666667. Can you please change it?

For flowering time, for this kind of figure it should this pattern. I don't thinks it with problem.

[2017-09-07 16:21] dlebauer commented on #176
Need to decide how to populate dataset owner, creator, terms of use, description

* Dataset owner: TERRA REF team
* Creator: extractor author(s)
* terms of use: link or text from documentation https://terraref.gitbooks.io/terraref-documentation/content/user/data_release_policy.html
* Description: perhaps some text concatenation of metadata?

<img width="556" alt="screen shot 2017-09-07 at 11 17 14

[2017-09-07 16:22] dlebauer commented on #176
Should mimetype be mac-binary?

<img width="328" alt="screen shot 2017-09-07 at 11 22 03 am" src="https://user-images.githubusercontent.com/464871/30173898-d6671440-93be-11e7-9fcc-abcc1fa9864d.png">

[2017-09-07 16:41] dlebauer commented on #176
For bounding box - we should calculate rectangle in x,y cordinates and then transform each corner to lat lon. The diversion from rectangularity can be assumed to be 0 in x,y and very small in lat-lon.

For now, we can assume that the cameras are all affixed to have FOV on the x,y rectangle.

[2017-09-07 16:52] ZongyangLi commented on #182
@max-zilla @dlebauer
In the flir extractor code here: https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py#L174
Just make a very simple update that from
`if not calibP.calibrated:` to `if calibP.calibrated:`

And then the extractor will output a degree centigrade in geotiff files. That's a misunderstanding of the parameter in metadata of `"is calibrated"`, if we ar

[2017-09-07 17:33] dlebauer commented on #181
@zhenbinHU I've updated the geospatial information and the leaf width.

* should flowering time should have the units 'days after planting'?
* there are 175 plots that have no geospatial information listed here: https://docs.google.com/spreadsheets/d/1APkedH70txKfvUknvgiqDTsdLWC2uriTj5dXIrHNY74/edit#gid=1833959272
* there are 501 plots with no associated cultivar listed here: https://docs.google.c

[2017-09-07 17:43] ZongyangLi commented on #182
@max-zilla
Please use the updated codes here: https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py

[2017-09-07 17:48] dlebauer commented on #179
does this extractor generate netcdf AND push to geostreams?

[2017-09-07 17:49] dlebauer commented on #180
Where can I find sample data / metadata?

[2017-09-07 18:35] max-zilla commented on #179
@dlebauer yes, that is correct.

LINKS

**envlog2netcdf output dataset examples**
- 06/15 https://terraref.ncsa.illinois.edu/clowder/datasets/59b18e864f0ca12ea0d231b6
- 07/30 https://terraref.ncsa.illinois.edu/clowder/datasets/59b18cde4f0ca12ea0d22be3
- 08/15 https://terraref.ncsa.illinois.edu/clowder/datasets/59b18db84f0ca12ea0d2310f
**raw dataset that was used to generate these outputs**
- 06/15

[2017-09-07 19:13] max-zilla commented on #180
LINKS

**weather dataset examples**
- 06/15 https://terraref.ncsa.illinois.edu/clowder/datasets/59b193dc4f0ca12ea0d23467
- 07/30 https://terraref.ncsa.illinois.edu/clowder/datasets/59b193d54f0ca12ea0d232f1
- 08/15 https://terraref.ncsa.illinois.edu/clowder/datasets/59b193d64f0ca12ea0d23351

**irrigation dataset examples**  (only one CSV available per month)
- 07/02 https://terraref.ncsa.illinois.e

[2017-09-07 19:15] max-zilla commented on #180
ISSUE: Metadata cleanup
- irrigation correctly reports # datapoints created, but attaches to file rather than dataset. should attach to dataset
- weather incorrectly reports # datapoints created due to loop nesting issue.

Both issues have been addressed in code. Irrigation will write to dataset and weather will correctly count datapoints.

[2017-09-07 19:19] max-zilla commented on #178
@ZongyangLi provided code updates here: https://github.com/terraref/reference-data/issues/182#issuecomment-327859158

...to attend to calibration. will run a separate day & fullfield using new parameters when @craig-willis returns tomorrow morning.

[2017-09-07 19:41] max-zilla commented on #177
@ZongyangLi @craig-willis can confirm that the extractor ran without dark pixel correction yesterday - I added an if statement to allow the same extractor to work on both flir and rgb by ignoring the DARKER flag if sensor!='rgb_geotiff' but the way the code is written I had to adjust that if statement because the RGB also got routed into normal code.

I renamed the existing TIFs in the fullfield d

[2017-09-07 22:17] dlebauer commented on #182
The variable to be inserted into BETYdb is surface_temperature with units of K. See https://terraref.ncsa.illinois.edu/bety/variables/6000000198 or https://terraref.ncsa.illinois.edu/bety/api/beta/variables?key=9999999999999999999999999999999999999999&name=surface_temperature

[2017-09-07 22:40] dlebauer commented on #182
Questions about the extractor https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py

* [ ] there are many magic numbers that appear without comment,
    * examples: gmin, gmax, H, T, D, E, HEIGHT_MAGIC_NUMBER
* [ ] there are many functions that appear to belong in (and / or are redundant with) terrautils
    * examples: createVrt, createMapTiles, generate_googlemaps

[2017-09-07 23:04] dlebauer commented on #176
Review of FLIR metadata https://terraref.ncsa.illinois.edu/clowder/datasets/59b062d94f0ca12ea0c32d04

* it isn't clear if the keys or the structure is defined,
   * e.g. what does "agent" refer to?
   * why is extractor_id under agent and extractor_version under content?
* add notes to site_metadata `"notes": "name of plot that contains image centroid"

[2017-09-08 13:18] max-zilla commented on #182
@dlebauer

- merged your branch to output as units K, and updated bety trait name in meantemp extractor correspondingly.
- our extractor calls one method directly, rawData_to_temperature(), which calls:
  - get_calibrate_param(), pulling calibrations from metadata
  - flirRawToTemperature(), containing the following magic numbers/formula:
[code]
- for now, if @ZongyangLi can document this formula

[2017-09-08 13:29] max-zilla commented on #176
@dlebauer
- Owner will be the Maricopa Site user we had as before (we can rename the display to whatever). I will see whether we can override creator to be a separate user, but that person must have a clowder account the extractor would have to hard-code (or pass in as an arg).
- Nadia had mentioned titles and I suggested "description" could have some fixed description for each data product. a con

[2017-09-08 13:54] max-zilla commented on #182
@ZongyangLi OK, i have a flag in terrautils create_geotiff that lets use determine wtherh to use Float32 (FLIR) or Byte (RGB) so I think that comment can be removed.
[code]

[2017-09-08 17:13] dlebauer opened #184 "Review Soil Mask extractor and output"
### Description

Review issue for the soil mask extractor and output

### Completion Criteria

* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
* [ ] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created and listed in README
* [ ] Extractor tagged/versioned
* [ ]

[2017-09-08 17:14] dlebauer commented on #184
@Paheding could you please link to some sample output?

[2017-09-09 05:23] dlebauer commented on #182
@ZongyangLi and @max-zilla looking at the image in https://github.com/terraref/reference-data/issues/182#issuecomment-327835162 it appears there are some white pixels, consistent with the error mentioned in line 226.

@ZongyangLi could you please update the code to remove obsolete lines / functions that have been migrated to terrautils?

[2017-09-09 16:07] ZongyangLi commented on #182
@dlebauer I think we had updated the codes relate to  the error mentioned in line 226.

Actually lines from 226 to 237 was commented by line 225 and 238 `'''`, these lines are used to make a rgb full field map letting me have an easy way to review the map during my development. All the geotiff creations are using [line 218](https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/

[2017-09-11 14:54] max-zilla commented on #182
a new full field stitch has been created here:
```/sites/ua-mac/Level_1/fullfield/2017-08-01/```
https://terraref.ncsa.illinois.edu/clowder/datasets/59b681aa4f0c0b27bc24843f

...created using images from 08/01 e.g.:
https://terraref.ncsa.illinois.edu/clowder/datasets/59b2ec6c4f0ca12ea0d7a162

...with corrected temperature conversion.

[2017-09-11 14:54] max-zilla commented on #178
https://terraref.ncsa.illinois.edu/clowder/datasets/59b2ec6c4f0ca12ea0d7a162
I ran a day with temperature calibration fixes. Here is one example dataset.

Full field result discussed in #182

[2017-09-11 15:00] max-zilla commented on #182
In this stitch, the western half is consistently cooler than eastern:
<img width="352" alt="screen shot 2017-09-11 at 9 58 21 am" src="https://user-images.githubusercontent.com/14166971/30281408-f1b31930-96d7-11e7-97f2-5f274092c2ef.png">

...but only with a narrow K range (dark min = 305, light max = 315).
Using a broader color range from 60-120F (285-325K) the field is pretty regular with a small

[2017-09-11 18:08] max-zilla commented on #183
@craig-willis and I looked at the full field stitch after correction, and it looks the same as before to us. can you take a look @ZongyangLi ?

Output VRT, TIFFs and folders with subtiles are in ```/ua-mac/Level_1/fullfield/2017-07-27/```

[2017-09-11 18:20] craig-willis commented on #183
I'm working on a way to view the large TIF via QGIS in workbench without transferring the data.  Will hopefully have a solution later today.

[2017-09-11 18:33] max-zilla commented on #183
The darker pixel selection also results in a bad _thumb file - at first glance it looked like a single tile is being stretched across the whole field or something. I had noticed this before in tests but hoped it was just an artifact of my small test image set - the full-resolution image did not have a problem in either case.

[2017-09-11 18:34] ZongyangLi commented on #183
@max-zilla @craig-willis

I review some output in the folder. I have some little concern after a very rough checking.

1. the base tiles created in the '/ua-mac/Level_1/fullfield/2017-07-27/unite/tiles_left/28/' folder correctly, but I didn't see other higher level tiles in other folders, there are void images in those folder.
2. after darker choice process, some tiles looks wired like the one I'm

[2017-09-11 18:52] max-zilla commented on #183
@ZongyangLi that simplifies things if we skip for this pass, lets us focus on just the stitching (plus the darker pixel with split=2 took 44 hours).

we should look at some of the bin2tif individual images and compare their gantry position to our georeferenced position to make sure we have them in the right place - the sun patterns are kind of random in the stitched sample image above.

[2017-09-11 19:55] ZongyangLi commented on #183
@max-zilla I downloaded first 114 raw data from `/ua-mac/raw_data/stereoTop/2017-07-27/` and did the testing on my laptop. Here are some points I would like to discuss with you and @dlebauer .

1. I noticed that in 2017-07-27, stereoTop scan were in 'south-north' directory, so after downloading 114 directory of files, I could still not able to visualize two lines scan. could you please tell me mor

[2017-09-12 13:27] max-zilla commented on #183
@ZongyangLi how do arrive at the stitched image above? looking through the code we're using, it looks like we have the united tiles directory at ```/home/clowder/sites/ua-mac/Level_1/fullfield/2017-07-27/unite/tiles_left/``` with zoom levels 18-28. but when i dig into code, it isn't altering the VRT at all, so the geoTIFF is identical to before.

in your shadeRemoval script:
[code]

darker_tiles_g

[2017-09-12 14:29] pless commented on #182
Hi everyone,
 Something is clearly wrong with this stitched mosaic.  @ZongyangLi and I are trying to debug the problem.  We are exploring.
(a) is there something in the actual recent sensor data that suggests that one side of the image is consistently cooler than the other, or
(b) is there a bug in how we are converting the raw data to the temperature value that is causing us to have this trend, o

[2017-09-12 14:40] max-zilla commented on #182
@pless thanks for the update. let me know if i can answer questions or point to to where code is being used.

[2017-09-12 14:41] ZongyangLi commented on #183
@max-zilla

You are right, we didn't create a new VRT at all. When @craig-willis or someone others is going to create full field image using my map tiles, I don't really know how to do this. Things in darker_tiles_generator() is only creating tiles base new images.

The way I was viewing the full field map is using google map API, the google map API will integrate all the tiles into a webpage that

[2017-09-12 15:12] ZongyangLi commented on #182
@max-zilla @dlebauer @pless

After downloading the flir raw data, I happen to realize that the flir scan is also in a vertical directory, like the one in stereoTop scan. Would it be the reason why western area different from eastern area?

[2017-09-12 15:34] max-zilla commented on #177
@pless @ZongyangLi something is definitely off with georeferencing, @craig-willis and I looked at 2 bin2tif outputs using latest code and they are vertically adjacent instead of horizontally:

![screen shot 2017-09-12 at 10 34 09 am](https://user-images.githubusercontent.com/14166971/30334681-ee167816-97a5-11e7-9322-0a018156055e.png)

Gonna take a quick look to see if there's an obvious explanatio

[2017-09-12 15:53] ZongyangLi commented on #177
@max-zilla
That's not an error of our extractor, the scan is in vertical direction. I reported yesterday here:
https://github.com/terraref/reference-data/issues/183#issuecomment-328640626 in point 1

Things also happened in flir scan, please see https://github.com/terraref/reference-data/issues/182#issuecomment-328883698

[2017-09-12 15:56] max-zilla commented on #177
@ZongyangLi I don't think scans are supposed to be in vertical direction (even east/west are offset n/s and not e/w) so I am looking at bin2tif georeferencing first.

[2017-09-12 16:02] ZongyangLi commented on #177
@max-zilla I did check the metadata in raw_data yesterday, in the most closest directories, y position is unchanged, in the same time x position is moving a little bit from one directory to another.
@smarshall-bmr Could you please confirm the scan direction in recent days?

[2017-09-12 16:05] dlebauer commented on #182
@ZongyangLi the east-west temperature discrepancy occurs within an image, so should be independent of the file organization.

[2017-09-12 16:11] dlebauer commented on #182
eg https://terraref.ncsa.illinois.edu/clowder/datasets/59b044014f0ca12ea0bab961
![img_3131](https://user-images.githubusercontent.com/464871/30336433-ceec6766-97aa-11e7-976a-b69dadd53192.PNG)

[2017-09-12 16:18] max-zilla commented on #177
@ZongyangLi you are correct. I looked at a test image from 05/20 and corrected our stereo offset (was setting left/right to wrong side so right was offset left and vice versa).

now looks correctly aligned:
![screen shot 2017-09-12 at 11 17 40 am](https://user-images.githubusercontent.com/14166971/30336848-0c100570-97ac-11e7-856f-a49746af0fea.png)
![screen shot 2017-09-12 at 11 17 48 am](https://u

[2017-09-12 16:24] ZongyangLi commented on #177
@max-zilla Could you please tell me more about the 'setting left/right to wrong side', I didn't realize this issue before.

[2017-09-12 16:57] max-zilla commented on #182
@ZongyangLi we did confirm that the flirIr is a vertical scan on this date, just like stereoTop (only X increases in gantry coordinates). so potentially, could explain why the field gets warmer as we move to the right (day is getting hotter).

doesn't explain why the individual images have that pattern, however.

[2017-09-12 17:21] max-zilla commented on #177
@ZongyangLi as discussed, we are regenerating a few days of bin2tif with offset correction fix. We will just need to document that we are looking into sunlight correction but there are concerns with potential issues that could introduce.

[2017-09-12 17:22] max-zilla commented on #182
@ZongyangLi @craig-willis and I spot-checked a few datasets from 2016 with our old extractor and didn't see this pattern, but we did see this pattern starting with the May 2017 datasets.

doesn't answer the question - maybe something changed with sensor over winter, or the updated extractor code from terrautils isn't properly converting temperature (even though I would expect a problem across the

[2017-09-12 20:32] ZongyangLi commented on #182
@dlebauer Thanks a lot for helping me get the point of the problem.

@max-zilla Thanks for the check, I also downloaded some example data from different days in 2017.

An initial conclusion here: camera in the right-top is impacted by some unknown factor.
Start from 2017-05-03 to 2017-05-13 flir data is unreasonable like this:
![5bfea5ad-cc1f-4f57-bac8-35bc7c2988d1_ir](https://user-images.githubus

[2017-09-13 05:26] smarshall-bmr commented on #177
I'm just confirming that yes, I have been running scans on the north-south axis for the past few months. The stereo pair still fires simultaneously so issues in stitching probably have to do with different distances from the camera. Plants in the field vary between 70cm and 4m tall so I have to aim for some sort of consensus distance that can capture everything. Has anyone tried generating an orth

[2017-09-13 05:34] smarshall-bmr commented on #182
This is pretty weird, I'm pulling data to check this. It almost looks like the autofocus is being confused or something got inside the camera housing.

[2017-09-13 13:39] max-zilla commented on #44
@solmazhajmohammadi I integrated your code for the heightmap geoTIFF registration. images in positive scan direction looked correct, but negative direction was still off.

@craig-willis and I took a look yesterday, specifically at the formula to get GPS bounding box from metadata. we determined that we had 2 similar formulas in the code:

1) _calculatePointCloudOrigin() in terrautils/lemnatec, whi

[2017-09-13 13:50] max-zilla commented on #44
current example outputs:
![screen shot 2017-09-13 at 8 48 20 am](https://user-images.githubusercontent.com/14166971/30380880-67960994-9860-11e7-98ce-3a0238f5d73b.png)
the "East" halves of 2 scans. positive direction on top, negative on bottom.

![screen shot 2017-09-13 at 8 48 48 am](https://user-images.githubusercontent.com/14166971/30380905-76f4527e-9860-11e7-986e-199ab0717170.png)
same scans wi

[2017-09-13 13:51] max-zilla commented on #182
@ZongyangLi nice detective work.

[2017-09-13 16:03] Paheding commented on #184
@dlebauer  An example output can be found here:
/ua-mac/Level_1/soil_removal/VNIR/2017-05-08/2017-05-08__10-30-53-012/
![figure_1](https://user-images.githubusercontent.com/24866799/30385156-e654acd0-986b-11e7-851c-1c41e3c0166b.png)

I have incorporated the meta data into the second version of this extractor in the form of a **.netCDF** file, but I have not seen any output in the Globus. I will ve

[2017-09-13 16:14] max-zilla commented on #184
the hyperspectral extractor must be run to generate this output, and i havent run that in a while since it seems like it's still being worked on.

[2017-09-13 16:22] Paheding commented on #184
@max-zilla  Thank you for letting me know this.  I will check it back later.

[2017-09-13 23:37] smarshall-bmr commented on #182
https://drive.google.com/open?id=1MHtNlCjWWaD_mXx1Zw83lXmh5Jh8eZL6Ug
The outside of the FLIR has been cleaned pretty regularly. I'm checking with folks to see if I'm allowed to open the case to check to see if anything has gotten inside.

[2017-09-14 15:53] max-zilla opened #185 "Review ply2las extractor and output"
Review issue for the ply2las extractor and output using 3dscanner PLY inputs.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
* [ ] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Quality statement in extractor readme stating assumptions / limitations of use
* [ ] Issue(s) for change

[2017-09-14 19:04] max-zilla commented on #185
Example output dataset:
https://terraref.ncsa.illinois.edu/clowder/datasets/59bac9c44f0c0b27bc3d3132

...other LAS datasets from that same day:
https://terraref.ncsa.illinois.edu/clowder/collection/59bab79c4f0c0b27bc3d2901

These merged LAS files live in
[code]

Currently the LAS files are stored alongside the PLY files that generated them.

[2017-09-15 00:05] smarshall-bmr commented on #182
I tried running a whole bunch of tests today trying to pin down why the FLIR is making such terrible images and finally went with the nuclear option and opened the weatherproof case. Turns out the weatherproof case isn't Arizona-proof!
![img_20170914_163237](https://user-images.githubusercontent.com/19151535/30460901-df1dfee0-996e-11e7-9261-4148c9db3962.jpg)

[2017-09-15 00:47] smarshall-bmr commented on #182
I looked back through the field book. There were sprinkler irrigations on 5/1 and 5/4. I'm thinking the inside of the case filled with some water causing the completely unreasonable data which I was working on troubleshooting when the FLIR suddenly just started working again. Because it was right at the beginning of the season after a bunch of power cycles I thought it was caused by the FLIR being

[2017-09-15 01:07] dlebauer commented on #182
We need to mark all FLIR data as having a known error since that date, and exclude it from the pipeline.

[2017-09-15 03:49] dlebauer commented on #182
PS thanks for tracking this down everyone. Let's discuss next steps with the team Tuesday and Wednesday.

[2017-09-15 13:55] NewcombMaria commented on #182
@dlebauer and @smarshall-bmr I'm not understanding fully when the problem with FLIR data began.  A full-field stitched Flir image was assembled by @max-zilla and @ZongyangLi using data collected the week of May 22.  My understanding from the glimpses in closed Github issue #327 ('Generate full field flirIR image from week of May 22') was that the images looked great.  We went into the Stomatal Reg

[2017-09-15 14:21] dlebauer commented on #182
Stuart if you haven't cleaned the camera yet I think a high priority will be to take some ground truth images to see if we can correct this. From Zongyang's images above it does seem the images were inconsistent. In the worst case the water  sloshed around as it evaporated over a the season. Are there any other potential sources of water? The AC perhaps? The sand and salt may be a separate source.

[2017-09-15 14:22] dlebauer commented on #182
Maria- we may be able to get useful data, but not in time for the November release.

[2017-09-15 14:24] dlebauer commented on #182
Maria in the image you posted in https://github.com/terraref/reference-data/issues/182#issuecomment-329789752 the leaves on the left appear cooler than the rest, which is consistent with what we have observed. The temperature scale may have made this less obvious when (wet?) soil was also in the scene.

[2017-09-15 15:59] NewcombMaria commented on #182
Thanks David.  Yes good suggestion to do what we can to allow ways to correct for this down the road, like ground-truth images etc.  Also looking into image overlap.

[2017-09-15 17:41] max-zilla commented on #183
We ran a new day from earlier in the season, without the darker pixel stuff:
https://terraref.ncsa.illinois.edu/clowder/datasets/59ba90ec4f0c0b27bc3cf7db

Ignore the thumbnails, they are old. The new result looks pretty great:
<img width="468" alt="screen shot 2017-09-15 at 12 40 01 pm" src="https://user-images.githubusercontent.com/14166971/30495822-15fe6d4c-9a13-11e7-9ada-b260892baf6a.png">

The

[2017-09-15 18:52] smarshall-bmr commented on #182
@dlebauer When we go to try and correct this should we take a set of images in standardized conditions, then clean out the camera and take a second set in the same conditions so we can more precisely determine what changed?

@NewcombMaria If memory serves correctly, wasn't there a pretty violent storm around this time? That would seem more likely then the sprinkler scenario.

Right now I'm thinkin

[2017-09-15 21:43] dlebauer commented on #182
@smarshall-bmr that sounds like a good plan but I'll defer to experts - Robert or folks from lemnatec & FLIR.

[2017-09-18 17:07] zhenbinHU commented on #181
@dlebauer Yes, the units of flowering time can be "days after planting"

[2017-09-18 18:38] max-zilla opened #186 "Review canopy cover extractor & output"
Review issue for the canopy cover extractor and output using RGB full field input.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
   * [x] Geostreams
   * [x] BETYdb
* [ ] old data purged
   * [ ] file system
   * [ ] Geostreams
   * [ ] Clowder
   * [x] BETYdb
* [ ] Sample metadata verified
* [ ] Changes fo

[2017-09-18 18:53] dlebauer commented on #176
Is there a dictionary that defines metadata fields? For example, it is not clear what 'position_m' means - is it the position of a corner? The position of the center?

[2017-09-18 18:58] dlebauer commented on #176
OK. now looking at the point cloud sample data https://terraref.ncsa.illinois.edu/clowder/datasets/59bac9c44f0c0b27bc3d3132 there is a positoin_m under 'gantry fixed metadata'  and a speed. Then under sensor_variable_metadata there is a point_cloud_orign_m, a scan_speed_microMeter/s and a scan_distance_mm.

* these should all have consistent units. distance in m and speed in m/s. Also, it is not c

[2017-09-18 18:58] max-zilla commented on #186
The following RGB full-field image (05/29) was run through the extractor:
https://terraref.ncsa.illinois.edu/clowder/files/59bb28044f0c0b27bc3d5421

The datapoints were created in per-plot streams. You can find a datapoint by:
- going to list of plots
https://terraref.ncsa.illinois.edu/clowder/geostreams/sensors

- picking a plot ("sensor" in geostream) and click Edit
https://terraref.ncsa.illinoi

[2017-09-18 19:12] dlebauer commented on #186
Looks good so far. Does this issue cover insertion into BETYdb?

[2017-09-18 19:20] max-zilla commented on #186
@dlebauer yes, this should've pushed 864 traits to BETYdb.

I put a link to the variable in the metadata:
https://terraref.ncsa.illinois.edu/bety/api/beta/variables?name=canopy_cover

...but I can't remember the right query to see the actual trait observations. They should be in there though, added today.

[2017-09-18 19:27] dlebauer commented on #185
It is not clear what the location or scale of the LAS points are. When I open in cloudcompare I get the following information:

![image](https://user-images.githubusercontent.com/464871/30560163-a07ed4fa-9c7c-11e7-86f8-81364fc85a89.png)

It appears that the scale of these numbers (xyz dimensions) might be mm, as this would but the bounding box size as 1.5m wide x 27 m long x 2.6 m tall. However, t

[2017-09-18 19:33] dlebauer commented on #186
https://terraref.ncsa.illinois.edu/bety/api/beta/search?trait=canopy_cover&raw_date=~2017-05-29&key=YOURSECRETKEY&limit=864

Here is a sample output: https://gist.github.com/dlebauer/2d7d4f8fe70ab1f8dcc08a5bebfe71a6

[2017-09-18 19:39] dlebauer commented on #185
@solmazhajmohammadi the key question is: how can someone query this las file given an x,y or lat,lon bounding box?

[2017-09-19 01:45] craig-willis commented on #176
@dlebauer Was there ever a dictionary from LemnaTec for the source fields? I expect the answer is no.  Remember, most of these fields are simply an effort to standardize the information already provided by LemnaTec.  If they didn't provide a dictionary, we haven't created one.

I can easily update the units on these fields (again, the units are the same as the source data provided by LemnaTec).  W

[2017-09-19 13:35] max-zilla commented on #182
https://terraref.ncsa.illinois.edu/clowder/datasets/59ba90ec4f0c0b27bc3cf7db

I generated full-field for FLIR on 05/29 so we have a day that has both FLIR and RGB stitches available.

There are also 05/29 Thermal IR tiles available.
https://terraref.ncsa.illinois.edu/clowder/collection/59c019e34f0c0b27bc3e9db4
e.g.
https://terraref.ncsa.illinois.edu/clowder/datasets/59c06ef24f0c0b27bc498515

[2017-09-19 14:46] max-zilla opened #187 "Review sensorposition extractor and output"
Review issue for the sensorposition extractor and output using Lemnatec metadata input.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
* [ ] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created
* [ ] Extractor tagged/versioned
* [ ] Extra

[2017-09-19 14:49] max-zilla commented on #187
The Thermal IR 05/29 collection was run through this extractor:
https://terraref.ncsa.illinois.edu/clowder/collection/59c019e34f0c0b27bc3e9db4

You can select a plot from the list:
https://terraref.ncsa.illinois.edu/clowder/geostreams/sensors

e.g.:
https://terraref.ncsa.illinois.edu/clowder/geostreams/sensors/959

...and see plots are getting a "Thermal IR GeoTIFF Datasets" stream which will repo

[2017-09-19 15:22] max-zilla commented on #187
Looks like we need to fix the centroid calculation code, as it is currently assigning datasets to plots based on upper-right position and not centroid:
![screen shot 2017-09-19 at 10 21 27 am](https://user-images.githubusercontent.com/14166971/30600177-6445ec82-9d24-11e7-888f-429dbb87d0c6.png)
(green dot is where centroid is represented for https://terraref.ncsa.illinois.edu/clowder/datasets/59c06

[2017-09-19 15:42] max-zilla commented on #187
Fixed in this PR:
https://github.com/terraref/terrautils/pull/23

![screen shot 2017-09-19 at 10 41 36 am](https://user-images.githubusercontent.com/14166971/30601305-3b135284-9d27-11e7-8e64-fb969b21fbfe.png)

[2017-09-19 17:14] dlebauer commented on #174
@gsrohde can you please update these records in the database? The correct cultivar name is 'Unknown off type'

[2017-09-19 17:15] dlebauer commented on #165
@gsrohde could you please move the records that should be covariates to the covariates table? I believe that these will be associated with the appropriate traits by entity_id.

[2017-09-19 17:28] dlebauer commented on #172
From @solmazhajmohammadi:

Here is more info on the texture analysis extractor:

-table.csv
This file contains the feature vectors per image or region of interest. Following fields are available:
- roi = label of region of interest [1..N]
- area = area of ROI [px]
- edges = count of pixels
- dgci.-0.1 .. dgci.2.9 = histogram bins ranging from DGCI values -.1 to 2.9;
[the values represent frequency

[2017-09-19 17:44] dlebauer commented on #172
@solmazhajmohammadi it is still not clear:

* how are ROIs are defined?
   * Could you provide an example of an image with the ROI outlined?
   * what do the edges mean?
   * does the definition of an ROI differ before, during, and after canopy closure?

[2017-09-19 20:08] craig-willis commented on #183
@dlebauer @ZongyangLi @smarshall-bmr
We're looking at two problems with the full-field RGB image and could use your input

@smarshall-bmr The checkerboard effect in the fullfield image above appears to be an artifact of the gantry scan direction. Below is a comparison of two consecutive images on the right side of the fullfield image (2017-05-29 10:02:30.287  and 10:02:43.995). It seems that the g

[2017-09-19 20:15] max-zilla commented on #183
note that in the first image Craig posted, the gantry was moving to the right on the bottom image, then turned around and captured the top image going left as first image of next row.

[2017-09-19 20:55] ZongyangLi commented on #183
To my understanding, this problem is hard to avoid since the FOV of camera is a taper, especially when the camera is close to the ground. When you focus on the plant, it seems to be aligned, when you focus on the ground, it turns out the artifact. Remember I did a lot of assumption without any metadata confirmed, to try to fit as more as I can to stitch well.

This is far different from a picture

[2017-09-19 20:58] solmazhajmohammadi commented on #172
We are not using ROI(region of interest) in the current extractor. If the plants are masked out from the background, then we can use that mask/ROI to feed into this pipeline.
Edges are the number of pixels detected by sobel operator (edge detection)

[2017-09-19 21:03] solmazhajmohammadi commented on #185
This issue is not related to conversion.
PLY to LAS extractor is just converting the datatype. Since the PLY files has its own coordinate system, the LAS files remains in the same origin.  The PLY files can be transformed to gantry coordinate system.

[2017-09-19 21:14] dlebauer commented on #185
@solmazhajmohammadi how do you currently perform the subsetting? Can you add the conversion to the gantry coordinate system?

[2017-09-19 22:14] craig-willis commented on #183
@ZongyangLi  Thanks for the additional details. Are your decisions/assumptions documented someplace (including how you came to the slope estimation and predicted plant height)?  I expect that we'll just want to make sure this information is clearly documented and available to users.

[2017-09-19 22:20] NewcombMaria commented on #174
Yes, thanks, @gsrohde the only accession that needs to be changed is PI329440, both replicates:
PI329440 MAC Field Scanner Season 4 Range 9 Column 14
PI329440 MAC Field Scanner Season 4 Range 32 Column 10
Updated to 'Unknown off type'.

[2017-09-19 22:59] pless commented on #183
With respect to the "duplication" problem, this is something that is unavoidable without a much more complex stitching algorithm that implicitly infers the 3D structure of the ground.  The justification for not going for such a rich representation is that:
(a) for the plants, since they move, it would be impossible not to have artifacts at the edges of the image, and
(b) for the ground, I judged t

[2017-09-20 00:03] dlebauer commented on #183
Ok we can accept the current output. I think we have the caveats documenTed and next steps include the orthomosaicing https://github.com/terraref/computing-pipeline/issues/355 and the aggregation of image level metrics to plot level https://github.com/terraref/reference-data/issues/86

I think this is ready to be deployed.

[2017-09-20 14:04] dlebauer commented on #172
@solmazhajmohammadi I was confused by the use of the term 'texture analysis'. After reading up on it and looking through the code I realized that this extractor currently doesn't perform 'texture analysis', though it seems straightforward to do so by adding `(computeFeatures.texture(roi))` to https://github.com/terraref/extractors-stereo-rgb/blob/master/stereo-texture-analysis/gift.R#L132 (or repl

[2017-09-20 14:40] solmazhajmohammadi commented on #172
@dlebauer
If the ROI doesnt exist, it is creating a mask matrix which all the elements are one
https://github.com/terraref/extractors-stereo-rgb/blob/master/stereo-texture-analysis/gift.R#L118
then it would apply the computeFeatures(roi) anyway.
Is there anything need to be modified that I'm missing?

[2017-09-20 14:41] solmazhajmohammadi commented on #185
I think this part is handle in zongyang's extractor.

[2017-09-20 14:46] dlebauer commented on #185
@ZongyangLi can you point to where the point cloud subsetting is performed?

[2017-09-20 14:47] dlebauer commented on #186
I've purged data from BETYdb:

[code]

[2017-09-20 14:49] dlebauer opened #188 "Review canopy cover extractor and output"
Review issue for the canopy cover extractor and output using RGB full field input.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
   * [ ] Geostreams
   * [ ] BETYdb
* [ ] old data purged
   * [ ] file system
   * [ ] Geostreams
   * [ ] Clowder
   * [x] BETYdb
* [ ] Sample metadata verified
* [ ] Changes fo

[2017-09-20 14:51] ZongyangLi commented on #185
@dlebauer @solmazhajmohammadi
I do not have a subsetting extractor, as our meeting last Friday, it would be really helpful if I could get a correct subsetting plot level point cloud.

[2017-09-20 14:54] dlebauer opened #189 "Review and update all methods"
* Ensure protocols are documented
* Find all methods that are null and replace
* review all method-trait-author combinations to ensure compliance

[2017-09-20 14:57] dlebauer commented on #189
Code to identify and update methods associated with canopy height methods https://gist.github.com/dlebauer/1a295ce28b5de8cefe6f1bd16ba237c4

[2017-09-20 15:00] dlebauer commented on #185
@ZongyangLi To do this we will need to have the las files in the gantry coordinate system. Can you implement this?

[2017-09-20 15:58] ZongyangLi commented on #185
@dlebauer Sorry for the delay of replying, I was doing some initial testing on this.

I could have a try, but I even have no idea how to open las file, and do not visualiz a las file yet, it will take me times to dig into this.

Before I start this, I have some issue need to be confirm. @dlebauer @solmazhajmohammadi
1. What's actually this ply2las extractor doing?
- From @solmazhajmohammadi 's com

[2017-09-20 16:16] craig-willis commented on #183
Tracking re-processing in https://github.com/terraref/computing-pipeline/issues/357

[2017-09-20 16:38] solmazhajmohammadi commented on #185
@ZongyangLi
PLY2LAS extractor convert the ply files to binary las files, las files are about 60% smaller than ply files. There is extra part to the extractor, which merges the west and east LAS files. Merging the files doesnot need a coordinate transformation, since west and east ply files are in the same coordinate system.
For transformation:
I did a quick search, for the LAS files, libLAS librar

[2017-09-20 18:51] dlebauer commented on #188
purging old data from BETYdb. All of the canopy_height data is hand measured. Moving forward the canopy_height data computed from point clouds should be entered w/ variables.name = 'canopy_height' and methods.name = 'Scanner 3d ply data to height'

[code]

[2017-09-20 22:35] NewcombMaria commented on #174
@dlebauer and @gsrohde the 2017 season 4 experimental design has height blocks (tall, medium, short).  It's a row-column design with further constraint that accessions (cultivars) are blocked by height classes.  How should the height classes be handled in BETYdb?  Is it part of the site/cultivar information?  The height blocks extend across ranges (4 ranges are short, 10 are medium, and the rest a

[2017-09-21 02:42] dlebauer commented on #174
These can be stored as distinct experiments. If you can give a list of ranges within each block, I can add these

[2017-09-21 14:07] NewcombMaria commented on #174
Thanks @dlebauer .  Height block info is in the tab FINAL_DESIGN column C in this spreadsheet from issue #126
https://docs.google.com/spreadsheets/d/1iUTkyU5P3IfohQg-sLq_ETWvaWBHF5Nvchx3iI8C8Qw/edit#gid=1908904980
Or by range number:
Short:  ranges 11, 20, 46, 50
Medium:  ranges 10, 12, 18, 24, 27, 29, 31, 33, 38, 51
All other ranges are either tall or border plots.

[2017-09-21 15:15] dlebauer opened #190 "Recovering Summer 2017 FLIR data and preventing future errors"
### Description

During review of the FLIR data products in https://github.com/terraref/reference-data/issues/182 we identified problems with data starting in May 2017.

FLIR data from summer 2017 has errors and artifacts due to sensor contamination. It appears that at some point early in the season, water got inside the camera, evaporated, and left behind a salt residue on the lens that is affect

[2017-09-21 15:29] max-zilla opened #191 "Review IR meantemp extractor & output"
Review issue for the meantemp extractor and output using IR full field input.

Completion criteria:
* [ ] Code review complete (includes extractor, any functions in terrautils, etc)
* [ ] Sample data output verified
   * [ ] Geostreams
   * [ ] BETYdb
* [ ] Sample metadata verified
* [ ] Changes for 2017 release implemented
* [ ] Issue(s) for changes postponed until 2018 created
* [ ] Extractor ta

[2017-09-21 15:31] max-zilla commented on #191
The following IR full-field image (05/29) was run through the extractor:
https://terraref.ncsa.illinois.edu/clowder/files/59c11b2a4f0c0b27bc4a59f9

The datapoints were created in per-plot streams. You can find a datapoint by:
- going to list of plots
https://terraref.ncsa.illinois.edu/clowder/geostreams/sensors

- picking a plot ("sensor" in geostream) and click Edit
https://terraref.ncsa.illinois

[2017-09-21 16:20] dlebauer commented on #185
@ZongyangLi will:

* use point cloud origin to transform ply clouds to lat / lon las
* subset with bounding boxes.
* document errors related to the temperature and proceed offset
* keep all of the points. Can you label each point with the camera source (l/r)?

please ask @solmazhajmohammadi and @yanliu-chn if you need help.

[2017-09-21 16:21] max-zilla commented on #185
@solmazhajmohammadi so i think we want one more transformation.

for the ply2las, we need to translate the PLY coordinates to lat/long coordinates. Then we can:
- create a merged LAS file in lat/long coordinates instead of point cloud coordinates (using point cloud origin)
- update plant_height extractor that @ZongyangLi wrote to subset the LAS files (if possible) by plot so we can push traits to

[2017-09-21 16:26] dlebauer commented on #183
Quality statement in PR https://github.com/terraref/extractors-stereo-rgb/pull/11

[2017-09-21 16:28] NewcombMaria commented on #174
@gsrohde and @dlebauer I have several 2017 field measurement data sets ready to upload.  As soon as the site/cultivar/height-block records are revised I'll start uploading.  Has there been any changes to the ability to link Methods to data-sets?  Do I still keep track of which Methods go with which data sets, or can it now be linked during the BETYdb upload?

[2017-09-21 16:35] max-zilla commented on #182
Generate a 2016 full field sample as well.

[2017-09-21 16:37] solmazhajmohammadi commented on #183
@smarshall-bmr @max-zilla
due to the rail issue last summer(I think), we were running the scans in the middle of the field only from east to west. Do you recall when was that? we can check the stitched from that day to confirm where the issue is coming form

[2017-09-21 16:40] dlebauer commented on #180
I'll also check these in the PEcAn workflow

[2017-09-21 16:45] max-zilla commented on #172
@solmazhajmohammadi is asking someone at LemnaTec, but for now we should be able to use the DGCI histogram values.

[2017-09-21 17:31] dlebauer commented on #190
From @NewcombMaria

The time-point of concern seems to be April 30, with a good image on April 29 and a problematic image on May 1.

First we checked mid-March during the wheat crop.

The first image below is March 17.  Sorghum planting was April 20.

![flir1](https://user-images.githubusercontent.com/464871/30703854-7ddb82ea-9eb6-11e7-8f8f-aa8ebb797089.png)

The night the sprinkler intersected wi

[2017-09-21 17:36] dlebauer opened #192 "Upload 2016 PhenoTractor data to trait database"
@dlebauer commented on [Thu Sep 21 2017](https://github.com/terraref/computing-pipeline/issues/358)

The earlier issue https://github.com/terraref/computing-pipeline/issues/211 was closed, apparently before the data was inserted into the trait database.

Data are in https://docs.google.com/spreadsheets/d/1NNKtmWFBdoh2iaaXZh9fsu_nNRLMpytJ8Av1bHxpgIg/edit#gid=698446872 Need to be uploaded

Method =

[2017-09-21 18:53] SolmazHajmohammadi-LemnaTec commented on #185
@max-zilla this transformation would be the pointcloud origin offsets, that we initially used for heightmap extractor(PCO values).
Adding the pointcloud origin offset to the points in the ply files would transform it to the gantry coordinate system. From there would be applying the same gantry to gps transformation.

[2017-09-21 20:06] dlebauer commented on #185
Here are some examples of what I had in mind

### Clipping las files w/ bounding box

#### pdal

[code]

from pdal translate https://www.pdal.io/apps/translate.html#example-1

#### lastools las2las

has `-clip_to_bounding_box` and `-keep_xy` arguments

https://www.cs.unc.edu/~isenburg/lastools/download/las2las_README.txt

### Labeling points with source file

The goal of this is that - because the

[2017-09-21 20:54] zhenbinHU commented on #181
@dlebauer I have uploaded the canopy height data that you deleted. If you have question about the data please let me know.
For the 175 plots without geospatial information, these plots were fill, border or empty (GCP). I have asked Kevin the full field map. If you need I can send you the map file.
I will figure out the 501 plots that no associated cultivar soon.

[2017-09-21 22:28] NewcombMaria commented on #192
I've reformatted the tractor data from the 4 dates and it won't take me long to upload the data using the bulk upload process.  A few questions:
1)  Is it possible to calculate a time-stamp as a covariate for each plot-level data?  Is calculating the median time for each plot something that Matt could easily do?
2) I don't see a citation for Matt Maimaitiyiming in BETYdb.  Should I create one for

[2017-09-21 22:35] gsrohde opened #193 "Renumber rows with id 6000000000."
Because the migrations for some of the new tables set the initial id values for some sequences to be `hostid x 10e9` instead of `hostid x 10e9 + 1` (see https://github.com/PecanProject/bety/pull/538), there are rows in the `experiments`, `experiments_sites`, and `experiments_treatments` tables on bety6 having id number 6000000000.  But these rows don't propagate to other machines when a sync is do

[2017-09-22 14:22] solmazhajmohammadi commented on #172
Detailed information on how the feature is calculated:
https://rdrr.io/bioc/EBImage/man/computeFeatures.html
To be clear, see the attached image on how the radius is calculated for any arbitrary shape:
![abstract-max-radius](https://user-images.githubusercontent.com/17046539/30748582-53c2c430-9f76-11e7-9276-0d126eef28d0.png)
![abstract-min-radius](https://user-images.githubusercontent.com/17046539

[2017-09-22 15:05] dlebauer commented on #172
@solmazhajmohammadi sorry, but the following is still unclear -

1. why are some circles outside and others inside the object?
2. In the second image, why is the circle not large enough to touch the edges of the object?
3. In an image of a closed canopy like the one below, what circle(s) would be used to compute these metrics? Would the image be treated like a box as we discussed yesterday?

![ima

[2017-09-22 15:22] dlebauer commented on #172
@max-zilla For DGCI I've added the variable [DGCI](https://terraref.ncsa.illinois.edu/bety/variables/6000000259) and the method [EBImage](https://terraref.ncsa.illinois.edu/bety/methods/6000000023)

[2017-09-22 15:30] solmazhajmohammadi commented on #172
@dlebauer
1. inside and outside circles refer to min and max radius.
2. that's only a made-up image to clarify the point, correct it should be slightly larger to touch the edges.
3. true, whole image would be considered as a rectangle

[2017-09-22 22:33] gsrohde commented on #165
@dlebauer

It's not so simple as this.

Starting with release 4.15, we allow an entity column in a bulk upload file (see issue https://github.com/PecanProject/bety/issues/466).  Moreover, if the name in that column is the same as the name of an existing entity, that entity is reused instead of a new entity being created.  (See the release notes: https://github.com/PecanProject/bety/releases/tag/be

[2017-09-22 23:03] dlebauer commented on #165
If they were made on the same plant or leaf etc that is correct. In some cases Maria tagged a leaf and returned to it repeatedly, and this approach would reflect that.

 if 'sample 1' refers to the first randomly sampled plant of that day that isn't the same as the first sample on the next day, then that is incorrect. In this case an arbitrary unique value for each sample on that day would suffice

[2017-09-23 00:25] gsrohde commented on #174
@NewcombMaria, @dlebauer

OK, I ran this on bety6's bety database:
[code]

Checking:
[code]
results in
[code]

[2017-09-23 00:37] dlebauer commented on #174
👍 💯 👏  `'^MAC Field Scanner Season 4 Range (9 Column 14|32 Column 10)( (E|W))?')`

[2017-09-23 02:03] dlebauer commented on #165
I think this feature is as intended. The key is that we need to make sure that the definition of an entity is clear to the end users.

[2017-09-23 02:11] gsrohde commented on #165
I guess I had been under the impression that the notion of an entity encompassed not only a particular leaf, plant, stand, etc., but also that it encompassed it at a particular point in time, so that one couldn't have two distinct values of a given trait or covariate variable for a given entity.

Can I at least assume that a trait or covariate variable should have a unique value for any given enti

[2017-09-23 03:49] dlebauer commented on #174
@NewcombMaria you should be ready to go !(?)

I added four records to the experiments table that group the border, small, medium, and large plots https://gist.github.com/dlebauer/f083056af7a835c594a9167373c37773

Then associated them with the appropriate plots / ranges by creating the insert statements in the experiments_sites table of the spreadsheet: https://docs.google.com/spreadsheets/d/1iUTky

[2017-09-23 04:31] dlebauer commented on #165
Sorry if this was not clear. An entity like a leaf can be revisited.

Yes, for an entity (like leaf 1) it can only have a single temperature at any given time.

You are correct - every plot could have an entity called 'leaf a'. Thus far, we have been using the convention of combining the plot name + the leaf identifier. However, it is also implied (in the case of plants as opposed to animals) that

[2017-09-23 05:00] dlebauer commented on #192
The only files I have are from Sept 1: sites/ua-mac/raw_data/phenotractor/2016-09-01 which doesn't have a time field, and these https://drive.google.com/drive/u/0/folders/0By_PDCcY5g2JUlpJSEcwbFQxRk0

@Mamatemenrs do you still have the original files? Can you please share them?

We should use Pedro ... or a new citation with both Wasit and Pedro. The key is to make sure Matt has a chance to partic

[2017-09-23 05:02] dlebauer commented on #192
Actually, your original issue here: https://github.com/terraref/reference-data/issues/159 is probably the best place

[2017-09-23 13:32] NewcombMaria commented on #174
@gsrohde and @dlebauer thanks very much!!  I'll start uploading some of the 2017 data sets later today.

[2017-09-23 13:49] NewcombMaria commented on #192
If it turns out we need to go back to the original files to get the time data, Pedro and John Heun have all the un-processed data.  Matt must have set up a nice pipeline to get to geo-referenced plot-level statistics.  @Mamatemenrs nice work!  If you can add the GPS time-stamp data to your pipeline that would be an important covariate to relate NDVI and surface/canopy temp to environmental data li

[2017-09-23 22:15] NewcombMaria commented on #174
@gsrohde and @dlebauer turns out I need your help already.  I'm trying to upload a spreadsheet for one part of height data.  Two questions:
Question 1) I made a new 2017 citation, is that the wrong way to use citations?  I'm getting the error message:
Data Value Errors
* Site is inconsistent with citation in these rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ...
I'm using a citation for 2017:
Newcomb,

[2017-09-25 14:57] dlebauer commented on #174
1) I think that the requirement that sites and citations be linked is a bug - this could be done automatically with the bulk upload. Since this is pre-publication I don't think that at this point there is a need to have separate citations for 2016 and 2017 data. The objective for using the citations table for unpublished data is to track who collected the original data, who can be contacted with q

[2017-09-25 16:31] dlebauer commented on #172
I am compiling a list of features in this google spreadsheet https://docs.google.com/spreadsheets/d/1iVxnfl3jJ1B5wLOdewEGwSNQ0R9IXhl7vqmIt9EKUv8/edit#gid=0

[2017-09-25 19:00] smarshall-bmr commented on #190
I'm working further on the idea of taking one set of pics through the crud with a uniform background then diffing out the background once the lens is clean to create a sort of filter that we could subtract from the old images. Right now I'm leaning towards painting a metal plate matte black to reduce IR reflectivity and floating it in an ice bath so it stays the same temperature then taking a time

[2017-09-25 19:38] dlebauer commented on #190
@smarshall-bmr are you drafting the protocol somewhere that @remotesensinglab (and others) can review and contribute to it?

[2017-09-26 04:03] NewcombMaria commented on #174
@dlebauer apparently the new 2017 citation wasn't the problem.  I tried the bulk upload for the same spreadsheet but this time with the original 2016 citation and still get the same error message:
Data Value Errors
* Site is inconsistent with citation in these rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ...

Is there a step that needs to be done using the API to link the new sites (season 4 sites) to

[2017-09-26 14:57] dlebauer commented on #174
@NewcombMaria i've updated the records (and also created an issue to fix this error in pecanproject/bety#539). Please retry and let me know if this works.

[2017-09-26 16:44] NewcombMaria commented on #174
Thanks @dlebauer .  The site-citation is fixed and I'm able to make it past the first steps up to 'Confirm data' but get stopped by the message the treatment 'control' is not found in the treatments table.
**Not found in treatments table
Specify Data-Set Wide Values
treatment
control**

Should I be specifying a different treatment?  Or can 'control' be added to the treatment table?
I think we are

[2017-09-26 17:42] dlebauer commented on #174
I just added a treatment called
'Control BAP 2017' that should work: '
https://terraref.ncsa.illinois.edu/bety/treatments/6000000023

Have you already added all of the managements (planting date,
fertilization, etc)?

On Tue, Sep 26, 2017 at 11:44 AM MariaNewcomb <notifications@github.com>
wrote:

[2017-09-26 17:50] NewcombMaria commented on #174
@dlebauer I tried again with 'Control BAP 2017' but get the same return 'Not found in treatments table'.  Anything starting with Control gives the pop-down 'No matches'.

I've added some of the management activities but not all.  I'll try to complete the management additions soon.

[2017-09-26 17:54] dlebauer commented on #174
How about the name "BAP 2017"? I just added this one - perhaps try refreshing the browser?

[2017-09-26 18:52] NewcombMaria commented on #174
I logged out and back in and tried again with both 'BAP 2017' and 'Control BAP 2017' and also 'Control' and still get 'Not found in treatments table.  @dlebauer any other suggestions?  Thanks for your help.

[2017-09-26 19:09] NewcombMaria commented on #174
If I add a new treatment myself under the 2017 citation called 'Control BAP 2017' with Control=True would that work or would that make problems relating the sites to other data like sensor-derived data?

[2017-09-26 19:44] dlebauer commented on #174
At this point the name doesn't matter - I'd be curious if it makes a difference if you make the treatment, but this is the one that I made: https://terraref.ncsa.illinois.edu/bety/treatments/6000000023 and you can feel free to rename it if that helps.

[2017-09-26 20:04] NewcombMaria commented on #174
I successfully made it past the treatment designation and on to the next error during the Insert data step:
PG::RaiseException: ERROR: The value of cultivar_id (6000000993) is not consistent with the value 6000000212 specified for site_id 6000005356. : INSERT INTO "traits" ("access_level", "checked", "citation_id", "created_at", "cultivar_id", "date", "date_day", "date_month", "date_year", "datelo

[2017-09-26 20:56] dlebauer commented on #174
PS for each of these you can identify which cultivar and site is being referred to by appending the id to the url with the table name, e.g.
* terraref.ncsa.illinois.edu/bety/sites/6000005356 is "MAC Field Scanner Season 4 Range 27 Column 2"
* terraref.ncsa.illinois.edu/bety/cultivars/6000000993 is "PI641807"

[2017-09-26 21:26] NewcombMaria commented on #174
The spreadsheet has 'MAC Field Scanner Season 4 Range 27 Column 2' site with cultivar 'PI641807'.
The other replicate of PI641807 is at 'MAC Field Scanner Season 4 Range 10 Column 2'.  The common name for PI641807 is ATLAS, which is confusing and has been discussed in a couple different issues (see for example comment  May 26 in https://github.com/terraref/reference-data/issues/126).  PI641807 is

[2017-09-26 21:32] NewcombMaria commented on #174
The other github issue that discusses ATLAS is #65 , see comments Aug 11 to 14.  It may have been merged with an incorrect PI number (PI586537).

[2017-09-26 21:32] dlebauer commented on #174
I've updated it. Not sure where the error came from, but we do have the following records for "ATLAS":

| id | name | ecotype | notes |
|:----|:----|:----|:----|
|6000000212	|PI586537	|Sweet Sorghum	|Commercial Sweet Sorghum Hybrid. Common name ATLAS|
|6000000993	|PI641807	|BAP	|Commercial Sweet Sorghum Hybrid. Common name ATLAS|

From that comment, https://github.com/terraref/reference-data/issue

[2017-09-26 22:03] NewcombMaria commented on #174
Sorry, apparently we're not quite on track yet.  Uploading the second part of the same data set gives the error:
PG::RaiseException: ERROR: The value of cultivar_id (6000000993) is not consistent with the value 6000000212 specified for site_id 6000005672. : INSERT INTO "traits" ("access_level", "checked", "citation_id", "created_at", "cultivar_id", "date", "date_day", "date_month", "date_year", "d

[2017-09-26 22:16] dlebauer commented on #174
Can you link to the file you are trying to upload?

On Tue, Sep 26, 2017 at 5:03 PM MariaNewcomb

<
mailto:MariaNewcomb <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Sorry, apparently we're not quite on track yet. Uploading the second part of the same data set gives the error:

PG::RaiseException: ERROR: The value of cultivar_id (6000000993) is not c

[2017-09-26 22:31] NewcombMaria commented on #174
There are 2 files at https://drive.google.com/drive/folders/0B1OR5-zeXagnMlpDQjBpRDlYU3M
The one ending in _a was uploaded successfully.  The one ending in _b gave the error message.

[2017-09-26 22:47] NewcombMaria commented on #174
It looks like we have PI641807 in 4 sites in the field.  All other cultivars should only be at 2 sites (2 reps).  Looking back at the original entry list we received from Clemson, we received seed identified as ATLAS and seed identified as PI641807.  We planted 2 reps of each and then later were told that the seed source of ATLAS sent to us is also identified PI641807.

[2017-09-27 20:53] NewcombMaria commented on #174
@dlebauer or @gsrohde if you have any time today to update the problem records then I'll upload field measurement data this evening

[2017-09-27 21:46] gsrohde commented on #174
@NewcombMaria What exactly is the error you get when attempting the `_b` file upload?  Does it happen on the validation page or right when you click the "Insert Data" button?  Which citation where you using for the upload?

[2017-09-27 21:57] NewcombMaria commented on #174
I get the error copied below, which is very similar to an error I originally had with the file ending in _a except different site_id.  I think we tracked and fixed the problem that caused the error with the file ending in _a by changing 2 of the sites to PI641807.  There may be 2 additional sites that need to be similarly changed.  Let me know if this needs more explanation.  Thanks!

PG::RaiseExc

[2017-09-27 22:12] NewcombMaria commented on #174
@gsrohde the citation I'm using:
Newcomb, Maria | 2017 | Maricopa Agricultural Center Field Measurements and Activities

I get the error at the Insert Data step

[2017-09-27 22:21] gsrohde commented on #174
This error occurs because site "MAC Field Scanner Season 4 Range 31 Column 13" (6000005672) is associated with cultivar "PI586537" (6000000212), but your upload file is trying to assign cultivar "PI641807" (6000000993) to a trait at that site.

So if the cultivar growing at site "MAC Field Scanner Season 4 Range 31 Column 13" _really is_ "PI641807", then I'll correct the `sites_cultivars` table.

[2017-09-27 22:56] NewcombMaria commented on #174
Thanks @gsrohde .  Yes the correct cultivar for 4 sites total is PI641807.  Yesterday 2 of the sites were corrected which allowed the file ending in _a to successfully upload.  'MAC Field Scanner Season 4 Range 31 Column 13' and also 'MAC Field Scanner Season 4 Range 29 Column 8' should both be associated with cultivar "PI641807" (6000000993).  Thanks very much!

[2017-09-28 04:36] NewcombMaria commented on #174
@gsrohde or @dlebauer I tried again to upload the file Sorghum_season4_Heights_Fullfield_plots_b and am stopped with the same error:  PG::RaiseException: ERROR: The value of cultivar_id (6000000993) is not consistent with the value 6000000212 specified for site_id 6000005672.

Have the records in the sites_cultivars table been revised?  The correct association should be cultivar PI641807 cultivar_

[2017-09-28 04:40] NewcombMaria commented on #192
By email from Pedro:
All,
I asked John H. to compile the data files we spoke yesterday (i.e. 2016 tractor runs, and 2017 fixed-point canopy temperature). This link contains both sets:

https://arizona.box.com/s/m3h7g93q9wri7odx57cwz12ixlice1jc

Couple of comments: there were actually five tractor runs in 2016, Matt processed only four, I think we only had four to share with him at that time. For t

[2017-09-28 15:57] dlebauer commented on #174
Only "MAC Field Scanner Season 4 Range 31 Column 13" needed to be updated

[code]

@NewcombMaria The file [Sorghum season4_Heights_FullField_plots_b (1).csv](https://docs.google.com/spreadsheets/d/18uDjf-IyXhUKH07Juu8bXghEcjzcM3aGLq4xp3RSlL4/edit#gid=614789675) is ready to be uploaded. It contains all of the data except a single row (see below).

---

@gsrohde please check why in [Sorghum season4_

[2017-09-28 16:04] max-zilla commented on #44
@ZongyangLi and @solmazhajmohammadi are looking into using this to georeference the LAS files we create from merged PLY files.

[2017-09-28 16:10] NewcombMaria commented on #174
I'll try uploading now.  If all of the sites including plot and subplots (E/W) then the error might be that I had one cell with the text 'no data'.  I'll let you know if the upload works.  Thanks.

[2017-09-28 16:17] dlebauer commented on #183
Need to be able to handle many different scans / scan types. This is covered in https://github.com/terraref/computing-pipeline/issues/362

will update metadata script to propagate scan script forward to identify different scans.

[2017-09-28 16:18] NewcombMaria commented on #174
@dlebauer and @gsrohde I'm happy to report success with uploading Sorghum_season4_Heights_Fullfield_plots_b . Thanks for revising the sites-cultivar table!  Next I'll upload height data sets that have sites designated at the subplot level (E/W rows)

[2017-09-28 16:40] dlebauer commented on #112
* can query geostreams given a plot bounding box
* can use / extend @jterstriep s API

Assigning to Jeff: please write a new feature ticket for what can be implemented and documented for Nov data release

[2017-09-28 16:41] dlebauer commented on #112
Need to have some code samples that can be put in the tutorials repository.

[2017-09-28 16:42] dlebauer commented on #191
we are going to exclude data after May 2017. But can verify that mean T is being returned properly.

[2017-09-28 16:55] ZongyangLi commented on #191
@max-zilla As I could remember, I didn't write meantemp before, could you please point me out where's the meantemp part of script? I will take a look into it first.

[2017-09-28 17:10] max-zilla commented on #191
@ZongyangLi I actually built meantemp off of your flir2tif (GetFlir) script.

https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/terra_flir2tif.py#L124

This is your code to convert raw_data_to_temperature (Which is a separate review issue).

https://github.com/terraref/extractors-multispectral/blob/master/meantemp/terra_meantemp.py

The meantemp script just opens the full f

[2017-09-28 18:36] max-zilla commented on #187
@jterstriep an example of how to query the sensorposition outputs to get a list of dataset URLs that belong to this plot:
https://terraref.ncsa.illinois.edu/clowder/api/geostreams/datapoints?sensor_id=959&attributes=dataset_name&attributes=source_dataset

here, 959 is the plot ID (you can see by selecting a plot here: https://terraref.ncsa.illinois.edu/clowder/geostreams/sensors and looking at the

[2017-09-28 19:20] dlebauer opened #194 "Check plot boundaries from all seasons and alignment"
Following https://github.com/terraref/computing-pipeline/issues/361, I suspect that we need to replace all of the plot definitions with the ones that Rick is using with his shape files (these capture the center two rows of four-row plots and represent where the hand measurements were taken). But before doing this, need to confirm that the gantry and UAV have consistent geospatial coordinates by lo

[2017-09-28 19:25] ZongyangLi commented on #185
@dlebauer I'm sorry that I was thinking this is a long term task that requires for a plot level subsetting  LAS file. So for now it's clear that the task is to create a merged LAS with two source ply file without any clipping operations, and with geo-reference in it.

I tried to find some examples of georeferencing LAS file, such as liblas, laspy, pdal. It seems to me that I should create a VLR fi

[2017-09-28 21:27] dlebauer commented on #174
@NewcombMaria I deleted all of the records that you uploaded today (panicle_height and canopy_height)

[code]

[2017-09-28 21:36] NewcombMaria commented on #174
@dlebauer many thanks!  I'll re-upload the data with the correct use of site/entity.

[2017-09-28 21:52] dlebauer commented on #185
@ZongyangLi thanks for checking this out. I am not sure if the bounding box is the best place to start -
 once you know how the [x,y,z] in the las files translate to the gantry [x,y,z], I imagine it should be possible to translate each [x,y,z] to [lon,lat,elevation] with the gantry --> latlon equations in the documentation https://terraref.gitbooks.io/terraref-documentation/content/user/geospatial

[2017-09-29 06:15] NewcombMaria commented on #174
All the height data are now uploaded, along with stand count data from manual counts early in the season after plot thinning.  I'm keeping a list of csv files successfully uploaded with date/time in a document in the directory https://drive.google.com/drive/folders/0B1OR5-zeXagnMlpDQjBpRDlYU3M

[2017-09-29 12:44] kevin05jan commented on #172
Image texture is a metric to quantify the spatial distribution of color in an image. One method is to use the statistical approach, i.e. by counting edge pixels.  For example an RGB image is converted into an intensity image, threshold is applied, and from the resulting binary image the amount of edge pixels reflect a pattern in the color image.

Here I compute the dark green color index (DGCI) im

[2017-09-29 16:08] gsrohde commented on #174
@dlebauer Be sure, when you use delete statements such as the above, that you keep in mind that `traits.created_at > CURRENT_DATE` grabs all traits created today _UTC_.  That will include traits created yesterday after 5PM Mountain Standard Time.

[2017-09-29 16:11] dlebauer commented on #174
Thanks for the reminder Scott. I did check using select that I only got the records that Maria had uploaded.

[2017-09-29 16:27] dlebauer commented on #172
Thanks Kevin

* How do you use a set of ROIs?
  * Can you provide an example?
* Which metrics, if any, are confounded by the size and shape of the image itself? eg in the absence of ROIs does radius measure the image rather than the plant?

[2017-09-29 18:51] ZongyangLi commented on #185
@dlebauer if someone can confirm the las2las argument `--point-translate arg` suit for this case, I will do such a [x,y,z] to [lon,lat, elevation] translating.

From my further investigate, LAS 1.4 uses [Well Known Text](https://en.wikipedia.org/wiki/Well-known_text#Coordinate_reference_systems) for storing coordinate system information.
I found such a XML file that maybe have some parameter for t

[2017-09-29 18:54] dlebauer commented on #185
@jterstriep can you confirm?

[2017-09-29 20:35] kevin05jan commented on #172
One command argument of the developed R script allows the input of a binary
image mask.  Each white blob in the image mask represent a unique ROI.  The
command line options are documented and forwarded to Solmaz:

Rscript gift.R -f gift-test.png -t -r roi.png ### this analysis the image
using a b/w image as ROI mask

Regarding the metrics, they are based on a ROI shape.  If an image mask is
absent

[2017-09-29 21:31] dlebauer commented on #172
@kevin05jan so to be clear, the script that you provided will generate many non-sensical values (radius, perimeter, etc) if there is no ROI mask, and you haven't provided a way of generating an ROI mask?

So ... of the features that your script generated, only dgci and edge are measurements of the plant being imaged rather than the image itself? And it would seem that edge should be normalized by

[2017-09-29 22:33] NewcombMaria commented on #192
Updates by email from Pedro and Matt:

_Maria brought to our attention that she logged a tractor run in the 2017 season. Indeed there was a tractor run on May 19 just before we moved this platform to California. John uploaded the file to the folder in Box indicated below. This is an excel file with the offsets in a separate tab. Let me know if you have questions,
Pedro_

_I am attaching the plot l

[2017-09-30 00:10] smarshall-bmr commented on #190
@dlebauer I've been tinkering with the FLIR to learn more about any features that it has that would be useful to us, the most useful thing I have found is that the autofocus can be overridden and set for a specific distance. This is actually incredibly useful because it allows me to put a standard target much closer and thus be much smaller. It also makes the FLIR "focus through" the target making

[2017-09-30 02:25] gsrohde commented on #165
@dlebauer, @NewcombMaria I need to know exactly which things should be covariates of which other things before I start converting them.

### ANALYSIS

---

#### ambient_temperature

Traits involving variable 'ambient_temperature' are all from the
following data set:

**file:** Sorghum_season1_porometerdata_June.csv
**date uploaded:** 2017-07-21 UTC
**uploaded by:** Scott Rohde
**upload method:** A

[2017-09-30 19:22] NewcombMaria commented on #165
Thanks @gsrohde .
For the file: **Sorghum_season1_porometerdata_June.csv**  it is correct that the trait is 'leaf_stomatal_conductance' and the covariate is 'ambient_temperature'.

For the file: **Sorghum_season1_groundlevelPAR_BAP_revised.csv**  the trait is 'ground_level_PAR' and one covariate is 'incident_PAR'.  The values for 'Minutes_after_first_Incident_PAR' was my adding time so that the In

[2017-10-01 14:29] NewcombMaria commented on #165
@gsrohde thinking more about data-sets associated with **file: Sorghum_season1_porometerdata_June.csv** and **file: Sorghum_season1_ inseason_destructivesamples.csv**:

I will revise the porometer csv file to fill in interpolated 'incident_PAR' covariate values for every 'ground_level_PAR' measurement.  I'll also add a column for time as 'local_datetime' for every 'incident_PAR'.  If the bulk uplo

[2017-10-02 13:46] max-zilla commented on #194
in /sites/ua-mac/Level_1/fullfield...

- 2017-06-01 completed on Friday.
- 2016-06-12 completed on Friday, but it turns out it was not a complete scan.
- 2016-06-13 processed over the weekend and I queued the full field yesterday, it should finish sometime this morning.
- 2016-08-23 same, currently processing on 2nd extractor. Should finish sometime this morning.

In these directories, look at "..

[2017-10-02 14:37] dlebauer commented on #165
@NewcombMaria with respect to 'incident PAR' Are the values currently in the file extrapolated from one time point to the next? Although PAR seems to be increasing, the timeseries appears to be confounded by error, so the interpolations jump from one to the next (I haven't yet looked at the time series of this date). It also isn't clear how 'minutes after first incident par' would be used. At the

[2017-10-02 14:40] dlebauer commented on #165
@NewcombMaria to confirm - for stomatal conductance, where is ambient_temperature measured? is it above the canopy, inside the canopy, on the leaf, or ?

[2017-10-02 14:46] dlebauer commented on #165
@NewcombMaria for the fresh weight / dry weight you are correct that the variable name should be independent of the method. So for a 'destructive sample' the relevant information can go into the methods. But the number of plants / number of tillers in the destructive sample may not need to be a covariate. These could be stored as traits - e.g. stand density or tiller density with units /m2.

[2017-10-02 14:56] dlebauer commented on #176
* this looks okay.
   * no more changes needed
   * added 2018 features to https://github.com/terraref/reference-data/wiki/Changes-for-2018#lemnatec-metadata
   * next step is for @max-zilla to deploy

[2017-10-02 16:03] dlebauer commented on #179
* for the weather station, need to resolve the name of solar zenith angle "Solar zenith (or elevation) angle (under discussion right now)"
* need standard name for atmospheric temperature, zenith angle, brightness, wind speed
* need description for all variables except Relative Humidity

| |standard_name | description |
|:---|:---|:---|:---|
| Solar zenith angle  |solar_zenith_angle | angle betwee

[2017-10-02 16:09] dlebauer commented on #179
Otherwise, data look reasonable here are some sample data (source code https://gist.github.com/dlebauer/5038f328b09d638b4f17ffa6f640868c):

![image](https://user-images.githubusercontent.com/464871/31087245-ee363c3e-a761-11e7-8330-c9cf89e4b21d.png)

![image](https://user-images.githubusercontent.com/464871/31087230-e34df6e0-a761-11e7-9db0-ad36e44099f1.png)

![image](https://user-images.githubuserc

[2017-10-02 16:11] dlebauer commented on #179
The only dataset that doesn't make intuitive sense is 'wavelengths'

![image](https://user-images.githubusercontent.com/464871/31087366-5af059cc-a762-11e7-9ac5-a629a6bed430.png)

[2017-10-02 16:13] max-zilla commented on #179
@dlebauer I will need to add a small if statement to account for these name changes, the names come directly from the JSON file without modification so I'll add a find/replace here:
https://github.com/terraref/extractors-environmental/blob/master/envlog2netcdf/terra_envlog2netcdf.py#L70

[2017-10-02 16:21] NewcombMaria commented on #165
@dlebauer regarding the csv file for ground-level and incident PAR, the incident PAR was only recorded in the field at the time-points recorded (columns O and P in the file), other values were interpolated.  There's a chance that the Ceptometer 'light bar' used in the field is calibrated differently and might be off from environmental logger data.

The stomatal conductance data are the output of t

[2017-10-02 16:22] dlebauer commented on #179
@max-zilla can you also remove the 'wavelength' data from geostreams?(This is used as a dimension for measurements by the downwelling radiometer, and these are excluded from the geostreams database.)

Then, this extractor is ready to go (2018 changes listed here: https://github.com/terraref/reference-data/wiki/Changes-for-2018#environmental-logger)

[2017-10-02 16:34] dlebauer commented on #179
plot of a time series from the radiometer (representing the same time range as above (approx 2:15-3:30 on Aug 15, 2017)

![flx_spc_dwn in envlog_netcdf_l1_ua-mac_2017-06- 2](https://user-images.githubusercontent.com/464871/31088131-2d708776-a765-11e7-9e96-e05fa178ddb1.png)

[2017-10-02 18:59] ZongyangLi commented on #186
**Canopy cover extractor statement**

This extractor processes binary stereo images and generates plot-level percentage canopy cover traits for BETYdb. The core idea for this extractor is a plant-soil segmentation. We apply a threshold to differentiate plant and soil, and do a smoothing after binary processing. At last it returns a plant area ratio within the bounding box.

We believe the tested t

[2017-10-02 19:03] ZongyangLi commented on #186
@max-zilla
In some lines I see a function name **CanopyCoverHeight**
like https://github.com/terraref/extractors-stereo-rgb/blob/master/canopycover/terra_canopycover.py#L25
and https://github.com/terraref/extractors-stereo-rgb/blob/master/canopycover/terra_canopycover.py#L27

Shall we modify these to avoid confusion？

[2017-10-02 19:16] max-zilla commented on #186
@ZongyangLi good idea, that was old name before I understood. will rename to CanopyCoverPercentage.

[2017-10-02 20:04] NewcombMaria commented on #165
@dlebauer as discussed please remove the data associated with the csv **file: Sorghum_season1_ inseason_destructivesamples.csv** from the database and I'll revise variable names and associated methods before re-uploading.  Thanks.
**file: Sorghum_season1_ inseason_destructivesamples.csv
date uploaded: 2017-07-10 UTC (7/9/2017 local time)
uploaded by: Maria Newcomb**

[2017-10-02 20:11] dlebauer commented on #186
@ZongyangLi I moved the quality statement to the README https://github.com/terraref/extractors-stereo-rgb/pull/17 - please flush it out there. Thanks!

[2017-10-02 20:20] NewcombMaria commented on #192
Matt sent a revised spreadsheet that includes time data, along with a description of methods that includes a photo of the tractor set-up (both added to the directory https://drive.google.com/drive/folders/0B1OR5-zeXagnejZqN1ZVV05zY2M ).  I've added time data to the formatted files in the same directory (4 files each for a single date).  As a first-level quality check I sorted the data by time and

[2017-10-02 20:29] dlebauer commented on #165
OK I've deleted the following

[code]

| name                                               | created_at_date | n  |
|----------------------------------------------------|-----------------|----|
| number_tillers_destructive_sample                  | 2017-07-10      | 34 |
| biomass_dry_leaves                                 | 2017-07-10      | 17 |
| dry_weight_leaves

[2017-10-02 20:42] max-zilla commented on #185
@ZongyangLi @solmazhajmohammadi Just wanted to ping on this to see if you guys have had a chance to talk.

Zongyang, I'm not sure about las2las.  I talked with @jterstriep here about this topic and he has some suggestions on how we can improve but probably not for November. Short term, the goal is just LAS files that are georeferenced. Seems like we're still missing the actual conversion piece, I'

[2017-10-02 21:13] gsrohde commented on #165
@dlebauer This would be a good time to remove the duplicate variable `number_tillers_destructive_sample` (either the one with id 6000000225 or 6000000226).  Let me know if you want me to do this.

To be really cautious, the following tables should all be checked for references:
[code]
Each has a `variable_id` column.  Here's a case having foreign-key constraints in place would be really nice: we w

[2017-10-02 21:18] dlebauer commented on #165
@gsrohde yes, please delete those records as well

I agree about the foreign key constraints; prior to our discussion today I did not realize that they weren't in place!

[2017-10-02 21:55] dlebauer commented on #194
@max-zilla this is the north end of the field for 2016-08-23 (the 2016-06-12 looks similar). There seem to be a lot of missing elements. Is this to be expected?

![image](https://user-images.githubusercontent.com/464871/31101257-744759ea-a792-11e7-88cb-b7a0b8b79dbc.png)

[2017-10-02 21:57] solmazhajmohammadi commented on #185
Two suggestion to geolocate the LAS files:
* reading ply files prior to conversion to LAS files, and applying the transformation to PLY files. Then convert the files. This would be fairly straightforward.
*  or either using las2las --point-translate or -translate_x/ -translate_y/ -translate_z
I have not tried the XML version that @ZongyangLi suggested.

[2017-10-02 22:16] dlebauer commented on #194
As described in https://github.com/terraref/computing-pipeline/issues/361#issuecomment-333680688, Season 2 is OK (consistent w/ plots from @rickw-ward and @anfrench):

![image](https://user-images.githubusercontent.com/464871/31101896-4f5091c6-a795-11e7-87b5-81c00ee57350.png)

[2017-10-02 22:20] dlebauer commented on #194
This is what the season 2 plots look like when overlain on plot boundaries:

![image](https://user-images.githubusercontent.com/464871/31102038-ef4808e4-a795-11e7-9fd3-aadbf198d79e.png)

[2017-10-02 23:00] gsrohde commented on #165
@gsrohde<https://github.com/gsrohde> yes, please delete those records as well

Done

[2017-10-02 23:24] gsrohde commented on #165
Some of the foreign key constraints are in place: covariates.variable_id must refer to a valid variable.  The corresponding constraint for traits.variable_id is only in place on the terra databases (and maybe the mepp one).

[2017-10-03 01:42] gsrohde commented on #165
@dlebauer @NewcombMaria OK, I ran the SQL statements in https://github.com/terraref/reference-data/issues/165#issuecomment-333275839 so `ambient_temperature` is now a covariate of `leaf_stomatal_conductance`.

@dlebauer If you want to bother putting subtasks under the the second and third items of the to-do list (one for each variable that's becoming a covariate, perhaps), I'll check them off.

[2017-10-03 01:44] gsrohde commented on #165
@dlebauer By the way, I did a data dump of bety6's database.  The dump file is about an eighth the size of what it was in July.

[2017-10-03 01:58] dlebauer commented on #165
@gsrohde that is expected since we are purging lots of the automated datasets before rerunning the pipeline

[2017-10-03 13:21] remotesensinglab commented on #186
We have just developed an algorithm to enhance illumination condition of RGB images. The paper is in review right now. We can test on these datasets to address soil issues under shadow. I tagged Patrick on this issue. We will update soon.

[2017-10-03 13:32] dlebauer commented on #186
Wasit - this extractor is ready to go, had been tested, checked etc. Please create a new pull request or issue describing this feature and we can put it in the pipeline for the next release.

[2017-10-03 15:00] Paheding commented on #186
@dlebauer Yes, we can put it in the next release. As a reference, here is a preliminary result of the algorithm using the image shown above.

**Left: Original image                  ----                    Right: Enhanced image**

![image](https://user-images.githubusercontent.com/24866799/31132134-a79a9a0c-a821-11e7-9dd4-82e55221f8ac.png)

[2017-10-03 16:38] gsrohde commented on #165
OK, I thought maybe that was it.  Just wanted to make sure.

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/reference-data <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, October 2, 2017 at 8:58 PM
To: terraref/reference-data <reference-data@noreply.github.com<mailto:reference-data@noreply.github.com>>
Cc: Scott Rohde <srohd

[2017-10-03 19:27] NewcombMaria commented on #158
@dlebauer I've changed the issue name to generalize to any duplicate or overlapping variable/trait names.

- this 2017 season 4 is the first season in Maricopa with stalk diameter data.  I looked at existing variable names and don't find 'stalk' but find 'stem_diameter' in cm, and also 'stem_width' in mm defined as 3rd internode from ground.  The use of 'stalk' fits that we are including the leaf

[2017-10-03 19:46] max-zilla commented on #179
Removed wavelenght, added descriptions & names for the ones you mentioned.

Also updated this to append each new .json file to a single .nc file per day as per @hmb1 request.

[2017-10-03 19:52] max-zilla commented on #179
DEPLOYMENT
- [ ] purge all environment logger streams & datapoints from geostreams
- [ ] purge all files from /Level_1/envlog_netcdf
- [ ] submit EnvironmentLogger raw data root collection with my extraction script to run through this extractor & create new full-day .nc files and geostreams datapoints

(eventually, deploying in a priority rush today)
- [ ] purge all .nc files from raw_data sets in

[2017-10-03 20:01] solmazhajmohammadi commented on #185
@max-zilla @ZongyangLi this peace of code is applying the transformation to get the PLY files in the Gantry Coordinate system:
https://github.com/solmazhajmohammadi/heightmap/blob/master/test/main.cpp
The rest of process is similar to this to change to lat/lon.

[2017-10-03 21:33] dlebauer commented on #194
## Season 1

Appears that there may be a problem: the plot boundaries appear to go down the center of the rows (e.g. along the line where seeds were planted)

![image](https://user-images.githubusercontent.com/464871/31150151-40f42a52-a858-11e7-98cb-4519af1bd520.png)

Note that for each plot (in red) there are E and W subplots (orange)

An easy fix would be to shift the plots east or west ... but

[2017-10-03 21:48] rickw-ward commented on #194
need to see edge of field (east or west) to know direction/distance of shift that is needed.

[2017-10-03 21:50] NewcombMaria commented on #194
Regarding how far, row width is 76.2 cm, so shifting half-row or 38.1 cm to the left looks like it would capture a single genotype/cultivar (left 2 rows look like the same genotype).

[2017-10-03 22:05] NewcombMaria commented on #192
Update from Matt by email:
_The plot level timestamp for some plots is the average of one tractor path (only to north or south), while for some other plots it is an average of two tractor paths (north and south or vice versa). This is due to the three different sensors installed on the tractor. Please also see the attached figure.
Thanks.
Matt_

![tractor_timestamp](https://user-images.githubuserc

[2017-10-03 22:12] NewcombMaria commented on #192
The example of '11-7' shown in Matt's image raises a question about calculating plot-level statistics when multiple runs at different time-points are required to cover the plot.  With only 7 or 8 minutes difference it may not be that important.  The most accurate measurement instead of avg canopy temp at the avg time might be the single-pass temp differential (difference between air temp and leaf

[2017-10-03 22:28] dlebauer commented on #194
@rickw-ward I don't have any images that extend to the edge of the field for Season 1, but this is what the northern end of the field looks like

![image](https://user-images.githubusercontent.com/464871/31152123-49bff03c-a860-11e7-944e-586d9a56e204.png)

[2017-10-03 22:39] rickw-ward commented on #194
Below is screen capture of NDVI ortho from june 5 2016, north end of gantry.  @NewcombMaria 's suggestion to shift left 38.1 cm looks right.

![north end of gantry from ortho june 5 2016](https://user-images.githubusercontent.com/21243879/31152407-c47d6ef4-a850-11e7-9969-1e2f79f6a553.JPG)

[2017-10-03 22:58] smarshall-bmr commented on #190
The draft protocol is available here:

https://drive.google.com/open?id=1YCSGLPzTmtUOuh0DOWDwlelXU2sBbsdZzPRut0MbIV8

[2017-10-04 05:58] NewcombMaria commented on #174
Seed drop during planting (all plots) and seedling emergence counts and emergence rates over multiple dates from april 26 to may 9 (subset of plots) are now uploaded

[2017-10-04 20:48] NewcombMaria commented on #192
@dlebauer it looks like you or Scott will need to upload the revised and reformatted tractor data-set.  I just tried to upload under the citation Andrade Pedro 2016 and run into 2 problems:
1)  I get the error report: Data Value Errors
* Site is inconsistent with citation in these rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ...
2) The column for local_datetime is ignored, as seen earlier - closed issu

[2017-10-04 20:52] ZongyangLi commented on #178
@max-zilla When I debugging the FLIR data, I think it is better to use the maximum scale for PNG files, I had updated two lines here: https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py#L291
Please update the codes in your version.

[2017-10-04 20:59] ZongyangLi commented on #177
This extractor processes binary files into JPG and TIFF files. To obtain a well stitched map, a HEIGHT_MAGIC_NUMBER and PREDICT_MAGIC_SLOPE were applied when we estimate the field of view, this is a testing based number.  The geo-reference bounding box base on an assumption of image axis is in a same direction of lat-lon axis.

The current stitched image is suitable for most data quality and cover

[2017-10-04 23:02] dlebauer commented on #194
## Season 4

Looks good.

subplots E (red) and W (orange) shown

![image](https://user-images.githubusercontent.com/464871/31203685-d0a7f69e-a92d-11e7-9336-7c013c7b1ac9.png)

difficult to see but subplots from Rick and Andy's shapefile are in grey

![image](https://user-images.githubusercontent.com/464871/31203725-f6ea9fbe-a92d-11e7-9c99-2069eff24334.png)

Database also has full plots (E+W combine

[2017-10-04 23:15] dlebauer commented on #194
This should fix season 1 ... will check tomorrow

[code]

[2017-10-05 04:07] gsrohde opened #195 "id number updates needed due to mis-set id sequence values"
Completion checklist
* [x] Correct experiments and related tables on bety6
* [x] Correct sites_cultivars on bety6
* [x] Make fixes to bety-mepp
    * [x] Advance sequence objects for the 3 (empty) experiments-related tables
    * [x] Advance sequence object for `sites_cultivars` table
    * [x] Advance sequence object for any other tables where 8000000000 would be the next id generated.
    * [x]

[2017-10-05 16:40] dlebauer commented on #178
need to identify bad files as bad (all from Season 4)

[2017-10-05 16:46] dlebauer commented on #193
Is this waiting on anything or can you go ahead and run the corrections?

Is there an issue to correct the indices that started at 1?

[2017-10-05 16:56] dlebauer commented on #145
deployed here: http://traitvis.terraref.ndslabs.org/

[2017-10-05 16:56] #145 closed

[2017-10-05 17:23] gsrohde commented on #193
Closing.  Duplicated by #195 (which also deals with the indices starting at 1).

[2017-10-05 17:23] #193 closed

[2017-10-05 19:35] dlebauer commented on #194
## Season 1 appears fixed

Before: plot borders down the row:

![image](https://user-images.githubusercontent.com/464871/31152123-49bff03c-a860-11e7-944e-586d9a56e204.png)

After:

![image](https://user-images.githubusercontent.com/464871/31248641-1a7ff8be-a9da-11e7-86e2-f0e8ec673079.png)

[2017-10-05 21:45] gsrohde commented on #195
@dlebauer Does your assigning yourself this mean you'll run the updates?

[2017-10-05 22:42] dlebauer commented on #195
I assigned it to myself to take a look - But I can go ahead and update

for the first set,  this line gave an error:

[code]

DETAIL:  Key (id)=(6000000023) already exists.

The sites_cultivar update worked.

[2017-10-05 22:43] dlebauer commented on #195
Other than terra-mepp, I don't think that the PEcAn community is using the sites_cultivars or experiments tables

[2017-10-05 22:45] #194 closed

[2017-10-05 23:21] gsrohde commented on #195
OK, I updated `experiments_sites` (you shouldn't have checked off item 1 before I did!).  I had referenced the wrong sequence objects in the update statements, which I've since corrected.  I'll check terra-mepp for needed updates.

[2017-10-06 16:09] NewcombMaria commented on #174
I added field management activities for season4.  Since there is not an option for selecting 'other' under 'Management Type' I was limited to options in the drop-down list.  For plant thinning completed May 10, 11, and 12 the best fit for 'Management Type' seemed to be 'soil disturbance'.  @gsrohde is there a way to change the Management Type from 'soil disturbance' to 'plant thinning' for the May

[2017-10-06 16:20] NewcombMaria commented on #164
I added the 'Management' activities for 2017 sorghum season 4.  Field measurement data sets are progressively being added and I'm updating completed data-sets in #174

[2017-10-06 16:38] NewcombMaria commented on #174
Looking at the table of Treatments and 'Associated Managements' for 2017 season4, there are 4 Management activities that were entered at an earlier date that do not have an associated Treatment Name.  @gsrohde can these 4 managements (April 10, April 11, April 12, and April 13) be linked to 'Control BAP 2017' Treatment?

@dlebauer (and/or @gsrohde ) the Managements I entered for 2017-08-01 and 201

[2017-10-09 06:39] kevin05jan commented on #172
The tool aims to analyse image texture on the basis of DGCI.  In context of an image processing pipeline its job is not to process an image (image segmentation) but to analyse it.

The normalisation should be based on the area of interest, hence the ROI image file input.

[2017-10-09 15:09] dlebauer commented on #172
OK. I don't believe we have an image segmentation pipeline that generates the required components for this extractor (and even if we did it would be too late to couple this for the Nov 2017 release). We will discuss implementation for the 2018 release; @kevin05jan will you be able to develop the pre-requisite image segmentation pipeline?

[2017-10-09 16:14] #60 closed

[2017-10-09 16:32] dlebauer commented on #194
Here are the season 1 plots overlain on the 2016-06-05 NDVI map

<img width="1188" alt="screen shot 2017-10-09 at 11 28 39 am" src="https://user-images.githubusercontent.com/464871/31348492-6ff2c35e-ace5-11e7-8739-5e03aedb21ed.png">

[2017-10-09 17:20] rickw-ward commented on #194
@dlebauer and @NewcombMaria good to see.   Can you share json or SHP file(s) for both seasons 1 and 2, now that they align for both of us? Sorry if this is redundant and they are already in my hands.

[2017-10-09 17:38] dlebauer commented on #194
I  uploaded the shapefiles  to https://github.com/terraref/computing-pipeline/issues/361#issuecomment-335210 files

And here is ththe direct link: https://github.com/terraref/computing-pipeline/files/1369204/season124shpfiles.zip

[2017-10-10 06:21] kevin05jan commented on #172
Just to be clear:-
- is there no extractor to perform VIS based image segmentation?
- are the extractors meant to be combined in a pipeline, similar as in a
BASH shell with pipes? E.g.
    $>  echo This is the year 2017 | perl -pe 's/[ ]+/\n/g' | egrep -v
"[0-9]+"

I can develop another extractor for vis based image segmentation if
required.

--
Kevin Nagel, Ph.D.
Bioinformatician

On Mon, Oct 9,

[2017-10-11 05:05] NewcombMaria commented on #174
Repeat measures of leaf internode counts and basal tiller counts for marked plants are now uploaded (5 plants per plot, 36 plots = 180 plants)

[2017-10-11 12:58] dlebauer commented on #172
Yes, similar in concept to bash pipes but different in implementation - each component needs to be coupled using a pyclowder script called an extractor.

[2017-10-11 18:16] smarshall-bmr commented on #190
@dlebauer Would you or someone you know of be able to pull the autofocus metadata from the period of time when the FLIR was compromised? I want to be able to match the lens geometry as closely as possible when I characterize the resolution drop we have been experiencing.

[2017-10-11 19:25] dlebauer commented on #190
@smarshall-bmr do you want the autofocus data from every image for the entire season? Or for specific dates / locations?

If you are interested in individual files, you can use the GUI thus:
* go to https://terraref.ncsa.illinois.edu/clowder/
* type something like "flir 2017-07-30" in the search bar
   * equivalently: https://terraref.ncsa.illinois.edu/clowder/search?query=flir+2017-07-30
* Then s

[2017-10-11 19:34] smarshall-bmr commented on #190
@dlebauer I'd actually like to know if there's a "consensus" focal length that I should be doing my testing at to most accurately match the conditions of the FLIR during the season. To do this I'd like to look at all the data.

[2017-10-11 19:43] dlebauer commented on #190
I've scanned all of the images for probably 50 dates (`find  ua-mac/raw_data/flirIrCamera
 -name *.json | xargs grep AutoFocus`and

I haven't seen any values other than 1, so I think it is safe to say that this is the consensus value recorded in the metadata, though I think it would be prudent to confirm that the actual value is always fixed (as opposed to the alternative which is that autofocus a

[2017-10-11 19:48] dlebauer commented on #190
Sorry - are you looking for the "Manual focal length" and / or the "focal distance"?

[2017-10-11 20:05] smarshall-bmr commented on #190
![flircrud](https://user-images.githubusercontent.com/19151535/31462311-389f3778-ae81-11e7-9f25-33ce208e009e.jpg)
![crudhistogram](https://user-images.githubusercontent.com/19151535/31462323-42dac3f6-ae81-11e7-8979-866bd7f7397f.jpg)
This is an image taken with a uniform ice water bath at right around 0C as a background as well as a histogram of the temperatures across the image. With this low temp

[2017-10-11 20:07] dlebauer commented on #190
From a small sample of dates / times the focus distance seems to vary from 1-2 m; sometimes it is not provided. It would take a while to find all of the unique values or the range. I can do it but if you just need a consensus then 1.5m is a safe bet.

Perhaps it would be better to just work on one or two sample dates. Otherwise, it might be worth doing doing scans at 1, 1.2 1.4, 1.8, 2 m, dependin

[2017-10-11 20:20] dlebauer commented on #190
So the sensor is biased +20C and estimates a constant temperature with a range of 10C. The signal we are looking for is << 1C differences in the leaves, and I suspect the data primarily reflect the temperature of the lens.

It is difficult for me to imagine how we could get any biologically relevant information out of this dataset.

[2017-10-11 22:07] JeffWhiteAZ commented on #190
Another test various people have suggested is simply to take a large stack of images from a single scan and calculate the mean temperature for each pixel position. If the stack avoids obvious sources of bias such as differences in illumination and amount of soil in view, the pixel means should be pretty uniform across the image. This approach could also be used to test for effects of air temperatu

[2017-10-11 22:19] anfrench commented on #190
im wondering if the calibration routine, or the coefficients being used are inapplicable for cold temperatures; getting 20C bias is way out of expectation for the FLIR. so a suggestion: can the data be acquired using the FLIR proprietary format, then converted using FLIR's ResearchIR package? this confirm or refute those highly inaccurate temperatures over the ice bath.

[2017-10-12 02:54] remotesensinglab commented on #190
@smarshall-bmr would it be possible to take hundreds of (about 300 hundreds FLIR images) for calibration of this issue with and without salt on the lens cover?

The protocol you put together is good. A couple of points:
1) I think @dlebauer 's suggestion on collecting data from different distance is a good point.
2) Any chance for collecting the images for real plant/soil targets in addition to wh

[2017-10-12 16:08] dlebauer commented on #182
Every through May 1, 2017 is OK; earlier data can be run.

* Still need review of samples.
* mark data from May 1 2017 as bad. Process through geotiff but no further

[2017-10-12 16:45] smarshall-bmr commented on #190
@dlebauer In the metadata the Autofocus has a value of 1 on 0 depending on if the autofocus is active. The manual focal length is poorly named, it should be the current focal length setting.

@anfrench makes a really good point here, I don't know if we have ever compared the output of the FLIR converter that I am using to data converted "natively" by FLIR software. We have measured the blackbody i

[2017-10-12 18:48] NewcombMaria commented on #190
Thanks Stuart for getting some test images yesterday!  It's not easy to gather known-temp targets of some size and I'm glad to continue to help out as needed.  I've copied the FLIR images taken yesterday from the Cache server since I don't see them at clowder yet.  They are now in a Google directory folder 'FLIR test images 2017-10-11' at https://drive.google.com/drive/folders/0B1OR5-zeXagnY3ZTTFN

[2017-10-13 14:46] NewcombMaria commented on #159
@dlebauer I uploaded a small data-set for ground-based canopy cover estimates for the purpose of validating the canopy cover estimates from the stereoTop RGB cameras, and the data need to be linked with the appropriate Method.  The method/protocol I followed is described in 'Canopy cover estimation from ground-based conventional photographs':  https://terraref.ncsa.illinois.edu/bety/methods/600000

[2017-10-13 15:13] dlebauer commented on #159
updated the ground-based canopy cover

[code]

[2017-10-13 15:31] dlebauer commented on #159
### Visual classification of sorghum growth stages to determine estimates of developmental timing by accession

[code]

### Grain near-infrared spectroscopy (NIRS) analysis

[code]

[2017-10-13 15:33] dlebauer commented on #159
@NewcombMaria I've associated methods with all of the traits in this issue. I am going to close it in order to keep it from getting too long - please open new ones as needed.

[2017-10-13 15:33] #159 closed

[2017-10-14 02:07] smarshall-bmr commented on #190
![flircrud33-1](https://user-images.githubusercontent.com/19151535/31571506-d4bec7e0-b048-11e7-8c82-20d84b83586d.jpg)
![crudhistogram33-1](https://user-images.githubusercontent.com/19151535/31571507-d7b4f014-b048-11e7-86cf-5d9c07769e11.png)
![flir00007](https://user-images.githubusercontent.com/19151535/31571533-80bee28c-b049-11e7-8886-7d03ea15f09a.jpg)

Here is an image of a water bath with a sim

[2017-10-16 14:18] max-zilla commented on #185
For now, used @ZongyangLi code to convert LAS file coordinates for minimal code modification:
https://github.com/terraref/extractors-3dscanner/pull/11

[2017-10-16 16:01] max-zilla commented on #185
@ZongyangLi FYI following up from call we just had, removed conversion piece:
https://github.com/terraref/extractors-3dscanner/commit/64da04208f445ccf08f728ac8bd667401789782b

[2017-10-18 17:54] Paheding commented on #190
Aiming to retrieve useful information from noisy (salt-affected) FLIR images, we have tried to denoise few image data captured on May 01 to May 16, the input noisy data with the corresponding out images after denoising are shown below.
From these results, it can be observed that the plant is not visible from the FLIR data that were captured from May 01 and May 04. I assume this is due to the major

[2017-10-18 21:09] dlebauer commented on #164
Looks like this issue has been resolved.

[2017-10-18 21:09] #164 closed

[2017-10-18 21:12] dlebauer commented on #174
@NewcombMaria re: https://github.com/terraref/reference-data/issues/174#issuecomment-334799829 I updated the management type from 'soil_disturbance' to 'thinning' and added 'thinning' as a management type in https://github.com/PecanProject/bety/pull/546

Are there any other management types that you think will be necessary?

[2017-10-18 21:35] dlebauer commented on #174
@NewcombMaria I've updated the managements-treatments as requested in https://github.com/terraref/reference-data/issues/174#issuecomment-334807104

This is the current list of managements associated with the 'Control BAP 2017' treatment:

| Date       | Management   |
|------------|--------------|
| 04/10/2017 | tillage      |
| 04/11/2017 | tillage      |
| 04/13/2017 | fertilizer_N |
| 04/21/201

[2017-10-18 21:45] dlebauer opened #196 "How to encode MAC Season 4 drought experiments"
Breaking out this issue from https://github.com/terraref/reference-data/issues/174#issuecomment-334807104

from @NewcombMaria
... the Managements I entered for 2017-08-01 and 2017-08-15 describe the establishment and reversal of 'water-deficit' and 'well-watered' blocks as part of the Field Campaign Stress Effect on Photosynthesis. I entered them under the Treatment 'Control BAP 2017'. Is this cor

[2017-10-18 22:39] dlebauer commented on #196
@NewcombMaria regarding the irrigation / water deficit treatment. It looks like there were two treatments, one that was put under water stress at Day 103 (Aug 1) and the other at day 116 (Aug 15).

In this case, I would create two treatments, for example _BAP 2017 drought 103 days after planting" and "BAP 2017 with drought at 117 days after planting"

Then we can link all of the existing managment

[2017-10-19 14:23] NewcombMaria commented on #174
Thanks @dlebauer for updating management records and adding thinning as an option.  The season4 management list looks great for 'Control BAP 2017'.

I looked for 'thinning' in 'Management Type' and don't see it in the dropdown list when I follow the sequence of being directed to select a citation and then select 'Create a New Management for this Treatment'.  See screenshot that shows the dropdown

[2017-10-19 14:27] dlebauer commented on #174
Sorry if it wasn't clear - the thinning option will show up in the next software update

[2017-10-19 14:42] NewcombMaria commented on #196
@dlebauer the irrigation timeline is correct (one part of the field at level 0 from 103 to 116 DAP and returning to level 20 after 116 DAP, while the opposite section of the field remains at level 20 until 116 DAP then drops to 0 .  Thanks!

- [ ] I'll talk with Pedro and we'll figure out the proportion of the field (m2) in the water-restricted area for each of the time periods.  Knowing the area

[2017-10-19 19:43] NewcombMaria commented on #196
@dlebauer here are the values for area irrigated by time that @Andrade-Pedro and I worked out.  Sorghum season4 irrigated area was slightly larger compared to previous seasons because we added an additional buffer row in the narrow spaces on the West and East edges (outside of the scan-able area but inside the rails, and at narrower row spacing).  I don't know the history of when/how the value 400

[2017-10-19 21:25] dlebauer commented on #196
I've always thought the field dimensions were 200 x 20m but I can see that this was just an approximation.

* [ ] If you provide the list of plot names in each treatment, I can match the plots with specific treatments in the database. Then in future uploads it will be easiest if each file contains both a site and treatment column.

Do you or Pedro have polygons representing the irrigation zones? I

[2017-10-19 22:58] NewcombMaria commented on #196
@dlebauer I added 2 spreadsheets to the directory https://drive.google.com/drive/folders/0B1OR5-zeXagnUGdLb0dVUFRYc1k
with the site names at the plot-level matched to WW (well-watered or irrigated) or D (dry or not irrigated).  These irrigation treatments only are associated with data collected in August, not for any data collected from April 20 to July 31.  One spreadsheet is for the irrigation b

[2017-10-19 23:02] NewcombMaria commented on #196
We don't have GIS polygons for the irrigation blocks in August.  The areas in previous comments are accurate, based on row widths and range lengths.  We could create polygons for the experimental and border plots based on the descriptions in the Management list:
https://terraref.ncsa.illinois.edu/bety/managements/6000000079
https://terraref.ncsa.illinois.edu/bety/managements/6000000080

[2017-10-24 20:42] NewcombMaria opened #197 "Add location and height to MAC season4 diurnal IRT data-sets"
@dlebauer the field location and height positions need to be associated with data for the 4 fixed-mount diurnal IRT sensors deployed between 2017-06-15 and 2017-06-30.  The IRT data files were originally uploaded to the Box folder by Pedro and John H.  https://arizona.box.com/s/m3h7g93q9wri7odx57cwz12ixlice1jc

All of the sensors were mounted on poles located at the North end of the plot with an a

[2017-10-24 21:31] NewcombMaria commented on #197
![fixedmount_irt_2017_06_16](https://user-images.githubusercontent.com/22008637/31969030-02814af4-b8c8-11e7-8510-b02fd76928a2.jpg)

[2017-10-25 15:47] NewcombMaria commented on #126
Looks like this can be closed.  Plot polygon bounding box files have been quality-checked and remaining tasks are covered in issues #196 and #197

[2017-10-25 15:47] #126 closed

[2017-10-26 09:59] dlebauer commented on #80
Will use protocols.io, documentation, readme files, and methods table in betydb

[2017-10-26 09:59] #80 closed

[2017-10-26 16:29] NewcombMaria commented on #192
I changed the name of this issue to include the single date from 2017 season4 with tractor-platform data.  Jeff White agreed recently to summarize the data from 2017-05-19 for plot-level statistics that can be uploaded to betydb before the Nov 15 data release.

[2017-10-26 18:36] NewcombMaria opened #198 "How to connect new trait variable names to required covariates"
@dlebauer or @gsrohde I'm trying to upload to betydb a small data-set of stalk diameter field measurements.  The data set has 2 newly defined trait variable names that both need to connect to the required covariate 'leaf_position'.  When I try to upload the data file I get the error message:
**Field List Errors
* The following heading names correspond to covariates but the heading contains no corr

[2017-10-26 19:04] nfahlgren commented on #116
gVCF and hapmap files are now uploaded to CyVerse at:

`/iplant/home/shared/terraref/genomics/derived_data/bap/resequencing/danforth_center/gvcf`

and

`/iplant/home/shared/terraref/genomics/derived_data/bap/resequencing/danforth_center/hapmap`

[2017-10-26 19:08] NewcombMaria commented on #198
I found a work-around for this data set by creating a new covariate 'internode_position'.  The data-set uploaded successfully using the newly defined covariate.  For future data file uploads, it still would be good to know how to connect an existing covariate to trait variables using the bulk upload.

[2017-10-26 22:25] gsrohde commented on #198
@NewcombMaria Your "work-around" did indeed allow you to upload the data.  But that doesn't mean you got the upload wizard to do what you wanted it to do.  Instead of creating "internode_position" covariates for each trait row, it instead inserted the "internode_position" values as traits in their own right.  Nothing was added to the covariates table.

The other problem with this workaround is tha

[2017-10-26 22:45] NewcombMaria commented on #198
Many thanks @gsrohde for helpful explanation.  It's confusing since when I define a New Variable there's a drop-down list to select Type as either plant trait or covariate (or ecosystem or some other selections).  I selected 'covariate' for 'internode_position'.  The variable name 'internode_position' actually is a bit more accurate compared to 'leaf_position'.  The stalk diameters were measured w

[2017-10-26 22:49] NewcombMaria commented on #198
This is where it's confusing that it's not possible to distinguish between traits and covariates from the variable definition.  The 'Type' distinction doesn't persist?
![capture_newvariable](https://user-images.githubusercontent.com/22008637/32080553-2e37a5b4-ba65-11e7-99b0-bbb89e56a42f.JPG)

[2017-10-26 23:13] NewcombMaria commented on #198
@gsrohde for another data-set uploaded today, did 'measurement_height' as a required covariate get associated with trait variable 'stalk_diameter_fixed_height'?  If not, could you add the trait-covariate association for this data-set as well?  Thanks.

[2017-10-27 00:57] gsrohde commented on #198
@NewcombMaria

Regarding the _Type_ field of the "new variable" and "edit variable" forms: Whatever you enter here _does_ persist.  If you visit https://terraref.ncsa.illinois.edu/bety/variables?search=internode_position, you will see the Type listed for `internode_position` is `covariate`, just as you set it to be.

This does not mean, however, that the Bulk Upload Wizard pays any attention to th

[2017-10-27 14:23] NewcombMaria commented on #198
If it's necessary to delete the data to make the trait-covariate associations, please do so.  I uploaded only these 2 data-sets yesterday the 26th.  Let me know when they are deleted and then I'll re-upload.  Let's keep the covariate name 'internode_position' - it's the most descriptive term.

[2017-10-27 16:44] gsrohde commented on #198
Okay, @NewcombMaria, I've delete the 1231 trait rows you added yesterday and I added the following _required_ trait-covariate associations:

1. Each `stalk_diameter_major_axis` trait has required covariate `internode_position`.
1. Each `stalk_diameter_minor_axis` trait has required covariate `internode_position`.
1. Each `stalk_diameter_fixed_height` trait has required covariate `measurement_heigh

[2017-10-27 17:28] NewcombMaria commented on #198
Thanks!  @gsrohde  I was able to successfully upload both data sets.  Fyi this season I'm keeping a record of upload days/times by data file for times like this when we need to backtrack.  (https://docs.google.com/spreadsheets/d/18MezEmq3gSQyPUR5fWarPLPaC6_ticjsi3zhaXe9mJg/edit#gid=568715765 )

[2017-10-27 17:53] NewcombMaria commented on #165
@gsrohde and @dlebauer I worked on the 2016 season1 in-season biomass and leaf area estimate data set that was based on destructive samples (data was deleted on 2017-10-02 as discussed in previous comment).  I revised the variables, excluding some and adding some, and all are trait variables this time (none are covariates).  Today I re-uploaded the revised data set, as two different data files for

[2017-10-31 20:10] NewcombMaria commented on #198
Thanks again Scott.  This can be closed now.

[2017-10-31 20:10] #198 closed

[2017-10-31 20:22] NewcombMaria opened #199 "Wheat Season 3 plot and cultivar information"
Following up on email communications, if we can assemble the following information for Season 3 (durum wheat experiment Dec 2016 - early April 2017) then the sensor-derived data can be added to the processing system at the same time that the sorghum sensor-derived data is re-processed.  I'll update and notify David and Scott as I organize the following files.

- [x] 1)  plot names and polygons (WG

[2017-10-31 22:49] NewcombMaria commented on #199
@dlebauer or @gsrohde the single spreadsheet in the google folder at the directory below has the Wheat Season 3 cultivar information, site names, and cultivar names.  The site and cultivar column headers are highlighted.
https://drive.google.com/drive/folders/0B1OR5-zeXagneTBjM1RFYVhrYWM

This should be the info needed for tasks 2 and 3.  We're working on plot polygons and QC to make sure they lin

[2017-11-01 20:06] NewcombMaria commented on #199
@dlebauer for Task 1, I added 5 files to create shapefiles for plot bounding boxes (whole plots or 2-row plots) to the Google folder at https://drive.google.com/drive/folders/0B1OR5-zeXagneTBjM1RFYVhrYWM
The 5 files have extensions .dbf, .prj, .shp, .shx.
I cannot revise the attribute table, or even see what revisions are needed, since I don't have ability to view it in GIS or QGIS.  Would you be

[2017-11-01 20:24] NewcombMaria commented on #199
We also have shapefiles for single-row subplots if that would be useful.  I hope these polygons that I shared are in the correct coordinate system. I think so, but let me know if not.

[2017-11-03 21:01] NewcombMaria opened #200 "Hand-held device data with multiple subsample measurements within plots"
It's not clear to me how to indicate that subsample measurements within a plot (taken on random plants in the same plot) are associated/connected with each other.  This issue relates to a discussion on the use of entity in issue #165 and a dataset referred to in closed issue #162 (this was an example of an incorrect use of entity since the sample 1, sample 2, etc were on random plants).
Subsample

[2017-11-03 21:23] dlebauer commented on #200
@NewcombMaria you are correct that entity should not be used to track random samples within a plot. There are two options:

1. Compute plot level stats (mean, SE, n) and enter those
2. Enter all six samples per plot without uniquely identifying them as an entity. That the measurements were taken at the same time and in the same plot will be captured by the plot(sitename) and datetime fields.

The

[2017-11-03 21:40] NewcombMaria commented on #200
Thanks @dlebauer .  Makes sense, the timepoints will connect them.  I'll keep the individual data points and when exact time is unknown will give the same approx time for all subsamples with a level of confidence (timeloc).

[2017-11-06 15:56] #169 closed

[2017-11-06 19:07] dlebauer commented on #199
* Added Wheat to species table ( @NewcombMaria please confirm this is Triticum aestivum)  https://gist.github.com/dlebauer/1d4b5baf94c944894f465a50dc0b5a80#file-wheat_species-sql
* Added cultivars to cultivars table https://docs.google.com/spreadsheets/d/1ijnQlRGV5x45k7m9Eqsc3LitG_jSy-SyWJcr3Q6qu7g/edit#gid=1561416617
* Site information
    * note that I believe these were in UTM (srid 32612) and

[2017-11-06 20:35] NewcombMaria commented on #199
@dlebauer the species name most commonly used for durum wheat is Triticum turgidum var. durum, or  Triticum turgidum ssp. durum.  However, in ITIS I'm seeing that the accepted name might be **Triticum durum**.  See https://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=798131#null

If ITIS is the project standard for species name, I suppose it is correct to go with Triticum

[2017-11-06 21:47] dlebauer commented on #199
I've updated the species to _Triticum durum_. The species table from BETYdb is based on plants.usda.gov, which doesn't contain _T. turgidum (var or spp) durum_. I'd go with ITIS over how things are actually published since ITIS is trying to straighten out taxonomies and publications are focused on biology.

I've also included the combined as well as single row plot definitions.

[2017-11-06 22:20] NewcombMaria commented on #199
Thanks very much @dlebauer.   Agreed Triticum durum is best for betydb.  Thanks for working on the durum experiment info, and let me know if you need anything else for season 3 metadata.

[2017-11-08 22:24] NewcombMaria commented on #190
@smarshall-bmr if convenient, and if you have access during your travel, will you share any new Flir images since 2017-10-11 and update either here or slack?  Thanks.

[2017-11-09 19:52] gsrohde commented on #200
@NewcombMaria, @dlebauer The trait-upload API allows setting the `timeloc` value only indirectly: it will be set to 9 if a datetime of the form `2017-11-09` is given and will be set to 1 if a value of the form `2017-11-09T13:47:13` is given.

If all the timeloc values should be the same, it shouldn't be too hard to adjust this after the fact.  For example, if all measurements are to the nearest ho

[2017-11-09 20:12] dlebauer commented on #196
@NewcombMaria indeed we should be able to create polygons for a given management thus:

### water-deficit blocks with restricted irrigation starting Aug 01
[code]

[code]

## water-deficit blocks with restricted irrigation starting Aug 14*/

[code]

[code]

[2017-11-10 04:32] NewcombMaria commented on #200
Thanks @gsrohde.  Most of the time data will be accurate to within a minute.  The porometer, Flir spot camera, Multispeq and Dualex instruments all record the time.  There are only 2 datasets that I recorded the approximate time manually, which might be plus or minus about 3 minutes.  If the timeloc can't be set for the approximate times it could be described in the trait variable definition.

[2017-11-10 17:46] gsrohde commented on #174
@NewcombMaria I unassigned myself and assigned you to this issue.  But feel free to reassign to me if you need more help with this.

[2017-11-10 17:49] dlebauer commented on #174
@gsrohde could you please review and merge https://github.com/PecanProject/bety/pull/546 before the next release?

[2017-11-10 17:50] gsrohde commented on #192
@NewcombMaria, @dlebauer Did one of you upload this data, or am I to do it?

[2017-11-10 18:26] NewcombMaria commented on #192
@gsrohde I did not upload because I ran 2 problems:  1) time data, and 2) when I used Pedro's citation (Andrade Pedro 2016) I ran into the problem with and error message: Site is inconsistent with citation in these rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ...

Let me know if you need any additional info from me.

[2017-11-10 18:40] dlebauer commented on #192
@gsrohde although it would be better if citations_sites records were automagically created in this case, I am also wondering if you could show me how to combine the following queries into insert statements

[code]

Into something like

[code]

[2017-11-10 18:48] NewcombMaria opened #201 "Linking trait data in Betydb to associated (hand-collected) images??"
@dlebauer and @gsrohde I'm working on a dataset for upload to BETYdb that has numerical leaf temperature data values along with an associated image (.bmp) for each temperature value.  The data were collected using a FLIR spot camera.  I've extracted the temp value shown in the upper left of each image, see example below.  I've included the image file name that corresponds to the leaf temperature i

[2017-11-10 19:24] dlebauer commented on #201
There is, but we should revisit this during our 2018 planning. But in the short term, if the image names currently have the plot name, date, and time, we can put them into a folder like sites/ua-mac/Level1/FLIR_handheld. It will then be straightforward to query them and upload them into Clowder later.

[2017-11-10 19:40] NewcombMaria commented on #201
Thanks.  Works for me.  I'll update here when I have the folders organized.

[2017-11-11 03:21] gsrohde commented on #174
Done.

[2017-11-11 03:51] gsrohde commented on #192
@dlebauer Do you want to insert all combinations of citation_id and site_id where the citation_id is in the set of values returned by query 1 and the site_id is in the set of values returned by query 2?  If so, you can do this:
[code]

[2017-11-11 04:48] dlebauer commented on #192
Yep I was looking for cross join but didn't know the name. Thanks!

On Fri, Nov 10, 2017 at 9:51 PM Scott Rohde <notifications@github.com>
wrote:

[2017-11-11 05:16] dlebauer commented on #192
done

[code]

[2017-11-12 00:01] NewcombMaria commented on #174
I have 3 datasets associated with the Field Campaign on stomatal regulation close to ready for upload.  All 3 have time data, 2 have covariates, and 1 has associated images.  It will be easier to create a separate issue for review and help with these datsets.

[2017-11-12 00:30] NewcombMaria opened #202 "Review and help with leaf temp and conductance datasets with time data and covariates"
@gsrohde I've formatted 3 spreadsheets that are probably close to being ready for Betydb using the API upload process (because they have time data).  I'll need your help reviewing to see if they are in an appropriate format for CSV trait data files.  Right now they are xlsx files in the Google directory

https://drive.google.com/drive/folders/1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY .

I've highlighted i

[2017-11-12 20:12] NewcombMaria commented on #196
@dlebauer if I'm understanding correctly, I should create 4 new treatments?  So far there is one treatment for Season 4 named as 'Control BAP 2017' which is irrigated for optimal growth and was implemented from 2017-04-20 to 2017-07-31.  Should I create 4 new treatments?:

Irrigation=0 BAP 2017-08-01 to 2017-08-15
Irrigation=1 BAP 2017-08-01 to 2017-08-15
Irrigation=0 BAP 2017-08-16 to 2017-08-30

[2017-11-12 20:19] dlebauer commented on #196
I think there should be two treatments that cover two cases: one begins
drought Aug 1 and the other begins drought Aug 15,

All plots fall into one of these two, correct?
On Sun, Nov 12, 2017 at 2:12 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-11-12 20:27] NewcombMaria opened #203 "Selecting variables for Betydb from the MultispeQ v1.0 parameters"
@dlebauer and @gsrohde please review the spreadsheet at:
https://drive.google.com/drive/folders/1MVkQpJ8f_gCHZP17j63tXaAGCT1R5tAO

which has field data related to photosynthesis parameters (MultispeQ v1.0 field measurements of fluorescence-based and absorbance-based parameters).  I'll need input on which variables are of interest for BETYdb.  There are 10 variables and 3 covariates highlighted in

[2017-11-12 20:31] NewcombMaria commented on #196
With two new treatments [1) drought Aug 1-15 and 2) drought Aug 16-30], then do the non-drought plots that were irrigated during those times fall under 'Control BAP 2017' treatment?

[2017-11-12 22:21] dlebauer commented on #196
Yes.
On Sun, Nov 12, 2017 at 2:31 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-11-12 22:22] dlebauer commented on #196
Were there plots that were never droughted?
On Sun, Nov 12, 2017 at 4:21 PM David LeBauer <dlebauer@illinois.edu> wrote:

[2017-11-12 22:48] NewcombMaria commented on #196
All plots were drought-stressed either during Aug 1 to 15 or Aug 16 to 30.  Plots that were drought-stressed in early August and then returned to normal irrigation latter August were considered to be in 'recovery' from water-deficit stress.  This Recovery status could be considered a 'Stress Recovery' treatment different from continuous well-watered status.  The goal was to compare accessions for

[2017-11-12 22:52] dlebauer commented on #196
Then just two treatments. They apply for the whole season. You can rename
the control.
On Sun, Nov 12, 2017 at 4:48 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-11-12 23:43] NewcombMaria commented on #196
Two treatments total, for the BAP 2017 (season 4):
'Control BAP 2107' = well-watered status irrigated for optimal growing conditions
'Irrigation = 0 BAP 2017' = zones with no irrigation during times in August to impose water-deficit stress

Something like that?

[2017-11-13 00:48] dlebauer commented on #196
Sorry for the confusion -  all of the treatments will apply for the entire
season.

if as stated above

there would be one treatment for plots that were drought stressed Aug 1-15
and another for plots that were drought stressed Aug 16-30.

These can be named 'BAP 2017 with drought Aug 1-15' and 'BAP 2017 with
drought Aug 16-30'

The timing and amounts of irrigation will be encoded as managements;

[2017-11-13 03:56] NewcombMaria commented on #196
@dlebauer thanks.  I think I get it now.  The 2 treatments will be defined as 2 areas of the field from planting to harvest, one area with no irrigation the first half August and the second area with no irrigation the second half August.  All of the data collected in May, June, July already uploaded under one treatment (Control BAP 2017) will need to be revised to distinguish the sites (plots) by

[2017-11-13 06:24] NewcombMaria commented on #174
Harvest yield data and growth and development stages are now uploaded.  The remaining 6 field measurement datasets are ones that have time information (5 datasets from the August field campaign related to water-deficit stress effects on photosynthesis, and 1 June dataset for radiation interception/ground-level PAR).  I plan to get these final field measurements in BETYdb in the next couple days.

[2017-11-13 17:09] NewcombMaria commented on #202
@gsrohde there's another spreadsheet that I've formatted the same way, and I've just finished naming/defining 4 trait variables and 1 covariate that is a covariate to be associated wtih all 4 of the trait variables.  The xlsx spreadsheet is called Sorghum season4_Dualex_August_StressPhotosynthesis at the directory https://drive.google.com/drive/folders/1MVkQpJ8f_gCHZP17j63tXaAGCT1R5tAO.

Are you a

[2017-11-13 22:19] gsrohde commented on #203
@NewcombMaria I tested uploading these to my own test machine.  A couple of things:

1. You can't use a column called `citation`.  You have to break it into `citation_author`, `citation_year`, and `citation_title`.  (If the citation had a DOI, you could just use `citation_doi` instead.)  See item 6 in the section "Schema for CSV Data Files" at https://pecan.gitbooks.io/betydbdoc-dataentry/content/

[2017-11-13 22:42] gsrohde commented on #192
@NewcombMaria The two problems you cited should no longer stand in the way of your uploading these: The API handles time data, and David added the needed citation-site associations.

Of course, as you probably realize, the CSV files need a lot of fixing up before they are ready to be uploaded.  If I were to upload these, I would have to ask you many questions.

[2017-11-14 03:56] NewcombMaria commented on #196
@dlebauer I renamed and revised the treatment 'Control BAP 2017', now named 'BAP 2017, water-deficit stress Aug 1-14'.  See https://terraref.ncsa.illinois.edu/bety/treatments/6000000024

I also created a new treatment 'BAP 2017, water-deficit stress Aug 15-30'.  See https://terraref.ncsa.illinois.edu/bety/treatments/6000000026

Right now there are no managements associated with the newly created t

[2017-11-14 04:30] gsrohde commented on #203
Yes @NewcombMaria , the association needs to be assigned before uploading.  Otherwise, each heading that matches a variable name is treated as a trait variable in its own right instead of as a covariate of some other variable.

The correspondence has to be set up by adding to the `trait_covariate_associations` table.  David or I will have to do this for you once it is decided what the associations

[2017-11-14 15:08] NewcombMaria commented on #203
Thanks @gsrohde.  I've revised citation formatting and treatment names (now 2 treatments for all of Season4, issue #196 ).  Three datasets are ready for upload except for the step of adding trait-covariate associations, which will require help on your end.  To clarify which datasets have covariates that need to be added to the trait_covariate_association table, I'm going to close issue #202 and cr

[2017-11-14 15:12] NewcombMaria commented on #202
I'm going to close this and merge the remaining questions (images associated with the FlirTG167) and trait-covariate assocation assignments in a new issue.

[2017-11-14 15:12] #202 closed

[2017-11-14 15:17] NewcombMaria commented on #201
The images are in folders by date (7 dates), along with the spreadsheet for the FlirTG1167 data in the following directory:
https://drive.google.com/drive/folders/1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY

[2017-11-14 16:00] NewcombMaria opened #204 "Adding trait-covariate associations before uploading trait data to BETYdb"
Datasets with newly defined trait variables that need to be associated with covariates are ready for upload to BETYdb.  The associations that need to be set up in the trait_covariate_associations table by either @gsrohde or @dlebauer are defined below.  These datasets have local_datetime data which requires the API upload process, which I'll be attempting to learn today.

- [ ] trait:  **leaf_stom

[2017-11-14 18:34] gsrohde commented on #204
@NewcombMaria Should the `image_id` covariate be optional like all the other covariates you mention are?  Also, I didn't see any mention in issue #201 of this method of linking images to traits.  And if the image id is to be stored in `covariates.level`, it will have to be numeric.

[2017-11-14 18:35] dlebauer commented on #204
image_id sounds like it should be an entity rather than a covariate

[2017-11-14 18:42] gsrohde commented on #204
I think that's what we were thinking when this issue first came up early on.  The only potential problem I see is if a trait associated with an image might more properly be associated with a more narrowly-defined entity: there can be only one entity per trait.

[2017-11-14 18:46] gsrohde commented on #204
Assuming we won't use `image_id` as a covariate, this is the insert statement for adding the associations listed above:
[code]
@dlebauer Shall I go ahead and run this?

[2017-11-14 18:49] gsrohde commented on #203
@NewcombMaria I see only two datasets in the [comment above](https://github.com/terraref/reference-data/issues/203#issue-273262038).  Where's the third one?

[2017-11-14 18:52] dlebauer commented on #204
@gsrohde yes please run that

for the current use case, I think that a single entity would work.

In the future if there is a need for > 1 entity per trait we can either use the parent-child relationships to map many entities to one trait or implement and use the generic table https://github.com/PecanProject/bety/issues/505

[2017-11-14 19:01] gsrohde commented on #204
Done.  Can this be closed?

[2017-11-14 19:08] NewcombMaria commented on #204
Before closing, I want to be certain I understand the entity designation formatting for the images.  The spreadsheet with the data is called 'Sorghum season4_StomatalRegulation_FlirTG167_7dates_8plots.xlsx' at https://drive.google.com/drive/folders/1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY
The complete name for the image is listed in the 'notes' column (col S), and the numerical component is listed in the

[2017-11-14 19:21] NewcombMaria commented on #203
The 3 datasets are in 2 different folders.  In total there are now 4 datasets with local_datetime that are ready for upload (2 with covariates that were just associated with the corresponding traits and 2 without covariates).  The 4 spreadsheets are as follows:
in the folder directory
https://drive.google.com/drive/folders/1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY

- Sorghum season4_StomatalRegulation_Apo

[2017-11-14 20:16] dlebauer commented on #201
@NewcombMaria picking from https://github.com/terraref/reference-data/issues/204#issuecomment-344364451 here where the focus is on the handheld FLIR data ...

the entity should be something uniquely identifying - its not clear why there are duplicate image_ids on different dates (e.g. 6 of FLIR00001.bmp) but if they are just sequential ids that restart each day (?) then I would suggest using date

[2017-11-14 20:18] dlebauer commented on #204
@NewcombMaria I've answered your question from https://github.com/terraref/reference-data/issues/204#issuecomment-344364451 in issue https://github.com/terraref/reference-data/issues/201#issuecomment-344384389, but to summarize, for entity use datetime + image_id and for notes use the full directory path and file name

[2017-11-14 20:30] NewcombMaria commented on #190
@smarshall-bmr Last week Pedro, Bob and I talked about the FLIR status and decided it was best to move forward by collecting the required Flir images with the protective lens deposits in place, removing and cleaning the cover, then collecting duplicate comparative images with the lens cleaned.  John, Bob, and I set out targets and collected these images last Thursday Nov 9.  The .bin and metadata

[2017-11-14 20:35] NewcombMaria commented on #201
@dlebauer the image numbers reset every time I downloaded them.  Most of the time I downloaded after every data collection day, but sometimes not and the numbering continued until the next download.  date+image_id will be unique.

Your suggestion for notes makes perfect sense.  Can I use 'sites/ua-mac/Level1/FLIR_handheld' with the assumption we'll transfer the images in the near future?  Or is th

[2017-11-14 22:27] dlebauer commented on #201
yep, you can use sites/ua-mac/Level1/FLIR_handheld

On Tue, Nov 14, 2017 at 2:35 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-11-15 05:08] NewcombMaria commented on #204
Ok, I created unique identifiers as date + image and designated these as an entity instead of covariate.  This issue can be closed now.

[2017-11-15 05:08] #204 closed

[2017-11-15 14:32] max-zilla opened #205 "Roger cleanup & counts"
@jdmaloney the ROGER filesystem prep for today has 2 parts:

1) delete old /ua-mac/Level_1 test+deprecated+irrelevant data
[code]
2) generate summary counts for primary raw_data/Level_1 stuff
[code]
...we can do the other stuff after, but this is key stuff I think.

@dlebauer @craig-willis @jterstriep FYI if there are any changes you want in the above.

[2017-11-15 17:01] jdmaloney commented on #205
Deletes have been complete, running summary counts now

[2017-11-15 21:48] jdmaloney commented on #205
Report given to David

[2017-11-15 22:27] dlebauer commented on #205
@jdmaloney thanks - could you please

1. please check in the script to the scripts/ directory of https://github.com/terraref/reference-data
2. change it to be comma delimited (I can do this on the current copy using sed)
3. change it so that it writes to /gpfs/largeblockFS/projects/arpae/terraref/users/dlebauer?

[2017-11-15 22:30] jdmaloney commented on #205
@dlebauer
[1-3] Sure thing

Is there a frequency this is to be run at in an automated fashion?  It's 2-3 hours to run at this point, I'm not multithreading it yet though, if the frequency is more than once a week, I'll work on making it faster.

[2017-11-15 22:43] jdmaloney commented on #205
2 and 3 are done; there is a Pull Request out there for 1

[2017-11-15 22:45] dlebauer commented on #205
I think that for the short term, I can run it on demand (which should be < 1/week) ... in the longer term we should replace this with queries to one of the databases ... and eventually a faceted search interface

Thanks!

[2017-11-15 22:45] #205 closed

[2017-11-16 00:07] NewcombMaria commented on #203
All of the variables for the Multispeq dataset are now defined.  There are 35 trait variables, and 6 covariates.  It's a complicated dataset.  I'm going to close this issue and create a new one specific to the trait_covariate_associations that need to be defined.

[2017-11-16 00:07] #203 closed

[2017-11-16 00:21] NewcombMaria opened #208 "Trait-covariate associations need to be defined for Multispeq field measurements dataset"
@gsrohde and @dlebauer all of 35 trait variables and 6 covariates are now defined for the photosynthesis-related parameters in the Multispeq field dataset.  All of the trait variables are new, and 5 of the 6 covariates are new.  My thoughts are that the covariates probably should be associated with all of the traits in the dataset, but it's not obvious how these covariates should correspond to all

[2017-11-16 00:23] NewcombMaria commented on #200
The API upload process with local_datetime data seemed to go well for 4 datasets so far.  This can be closed now.

[2017-11-16 00:23] #200 closed

[2017-11-16 01:51] dlebauer commented on #208
Maria. First I have to say that this is dataset is amazing, and along with all of the other data you've collected, curated, and contributed deserves more kudos than fit here.

Back to the question... I'm inclined to make these covariates as traits, but will all a few points of clarification
1. Were these were taken while the sensor was clipped to the sensor?
1. do pitch and roll  account for the n

[2017-11-16 01:52] gsrohde commented on #208
@NewcombMaria I think you missed defining variable `contactless_temp_C`.

Once that is defined, the statement
[code]
should insert the 210 new rows in the `trait_covariate_associations` table.

@dlebauer Note that each CSV file row will generate 35 new traits and 210 new covariates.  The 210 covariates will be in 6 groups of 35 which will differ only in their `trait_id`.  At least covariate rows a

[2017-11-16 01:54] gsrohde commented on #208
@NewcombMaria @dlebauer If we make the covariates traits, then we'll just get 41 traits and 0 covariates per row.

[2017-11-16 02:14] dlebauer commented on #208
Sorry I posted too quickly I'm reading the method paper http://rsos.royalsocietypublishing.org/content/3/10/160592

Maybe all but rh and T should be covariates. (Is your measurement of par taken horizontally above the canopy like the weather station?)

To answer you original ? I think all recognized covariates will be associated with all recognized traits within a row. In this case I think that me

[2017-11-16 02:31] gsrohde commented on #208
David, this is only true if there is a row in `trait_covariate_associations` associating each recognized trait with each recognized covariate.

To summarize: A variable used as a column heading will be "recognized" if it matches the name of a variable in some row of the variables table.  It will be recognized as a covariate if it is listed as a covariate of some trait in the `trait_covariate_assoc

[2017-11-16 04:14] NewcombMaria commented on #208
Thanks @gsrohde and @dlebauer .  Scott, I made a mistake with the header 'contactless_temp_C' which should be ignored and not uploaded.  It's another term for surface temperature of the leaf, which is already defined as 'surface_temperature_leaf' in units K.  I fixed the shreadsheet by adding _ignore and highlighting in blue.

David, the question about PAR:  the handheld measurement is a bit diffe

[2017-11-16 04:39] dlebauer commented on #208
@NewcombMaria it sounds like all of these are influenced by the plant. Although it is a grey area I believe they should be traits.

By contrast, when leafT (or PAR or humidity) are recorded as a covariate for parameters derived from LICOR 6400 photosynthesis measurements, the leafT covariate doesn't reflect the leaf's natural environment because the leaf temperature is actively controlled by the s

[2017-11-16 04:46] NewcombMaria commented on #208
Defining them as traits works for me.  It's correct that the instrument is only clamped on the leaf for about 20 seconds to measure leaf status (not change the status) over a small area of the leaf.  When I define the variables, there's a drop-down list to select either 'plant trait' or 'covariate'.  I selected covariate for these 6.  Scott has suggested that it doesn't make much difference which

[2017-11-16 04:49] dlebauer commented on #208
That is correct ... it doesn't affect how the data are stored - the traits_covariates_associations table does that.

[2017-11-16 04:51] NewcombMaria commented on #208
Thanks.  I'll upload as trait variables.

[2017-11-16 05:53] NewcombMaria commented on #208
Because ambient_air_temperature was already designated a covariate from an earlier dataset, I get the error message: "errors": "Covariate variable(s) (ambient_air_temperature) with no matching trait variable was found in the CSV file heading"

The easiest way to to make it a trait would be do change the name and define it as something like 'ambient_air_temperature_multispeq' or 'proximal_air_tempe

[2017-11-16 06:26] NewcombMaria commented on #208
I changed 'ambient_air_temperature_ to a trait named 'proximal_air_temperature'.  (It seems to fit, proximal to the plant canopy and makes sense for a trait).  There's another problem with the data file.  I get the endless error...  "errors": "{:schema_validation_errors=>[\"Element 'trait', attribute 'mean': '' is not a valid value of the atomic type 'xs:double'.\", \"Element 'trait', attribute 'm

[2017-11-16 06:31] dlebauer commented on #208
Try fixing 1 first then 2?
On Thu, Nov 16, 2017 at 12:26 AM MariaNewcomb <notifications@github.com>
wrote:

[2017-11-16 06:41] NewcombMaria commented on #208
I just tried fixing the exponent formatting and still get the error message.  I'm going to let it go until tomorrow.  Maybe @gsrohde will see an obvious problem.

[2017-11-16 14:46] NewcombMaria commented on #208
The general outline in the documentation https://pecan.gitbooks.io/betydbdoc-dataentry/content/trait_insertion_api.html has a statement:
"A trait element must include a mean attribute with a value of type double. An exponent may be used; for example, in place of "0.0123" one may write "1.23E-2"."

The error message mentions attribute 'mean'.  Not sure what it means that it must include a mean attr

[2017-11-16 15:16] NewcombMaria commented on #208
Making the changes below to trait variable names still resulted in the same error message (errors": "{:schema_validation_errors=>["Element 'trait', attribute 'mean': '' is not a valid value of the atomic type 'xs:double'.", "Element 'trait', attribute 'mean': '' is not a valid value of the atomic type 'xs:double'.",)

gH+ changed to gH_plus;  vH+ changed to vH_plus; FvP/FmP changed to FvP_FmP_rati

[2017-11-16 17:26] NewcombMaria commented on #190
Thanks @remotesensinglab (to both Patrick and Wasit) for working on thermal data recovery.  @anfrench is also generously offering to help.  Andy has processed some of the images (converted .bin to .png for viewing, and converted to temp data (units K) files but so far without atmospheric correction). @smarshall-bmr can also fill in information about this issue.

I've put the unprocessed and proces

[2017-11-16 17:31] gsrohde commented on #208
Symbols in the name shouldn't be a problem.  If I have time, I'll take a look to see what the problem might be.

From: MariaNewcomb <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/reference-data <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, November 16, 2017 at 9:16 AM
To: terraref/reference-data <reference-data@noreply.github.com<mailto:ref

[2017-11-16 17:36] NewcombMaria commented on #190
Another important piece of information is the time intervals for the different sets of images:

* first with the deposits still in place on the protective lens (images from approx time 13:36 to 14:37).

* Then there's a time gap when the lens was removed and cleaned.  We took images with the protective lens cover completely removed at only one height (z=1.5 m) taken from time 14:58 to 15:08.

* Th

[2017-11-16 17:41] NewcombMaria commented on #208
@gsrohde is there a limit set on the numbers of trait variables that can be uploaded from one spreadsheet, or a limit to the number of columns?  The .csv file has 64 column, and 40 variables.

[2017-11-16 17:47] gsrohde commented on #208
@NewcombMaria There is no hard limit—the only problem would be if the server times out.

In any case, this wouldn't cause the validation errors.  These are probably because you have some blank cells in some of the variable columns.  I thought I had fixed things so that these would be allowed (at least for trait variables if not for covariate variables), but maybe I did that only for the bulk uploa

[2017-11-16 19:49] NewcombMaria commented on #208
@gsrohde there are 8 variable columns that have empty cells.  If you think that's the most likely source of the error I can split those 8 variables into a separate file and test the upload with the majority of variables that have values in all cells.  The 8 include ECSt, gH+ (temporarily gH_plus), vH+ (temporarily vH_plus), absorbance_420, absorbance_530, absorbance_605, absorbance_650, and SPAD_4

[2017-11-16 19:57] gsrohde commented on #208
There are some problems with this approach.  I have another idea, but I want to test whether I think it's feasible.  Then I'll get back to you.

From: MariaNewcomb <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/reference-data <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, November 16, 2017 at 1:49 PM
To: terraref/reference-data <reference-da

[2017-11-16 20:00] NewcombMaria commented on #208
Thanks @gsrohde for your help!

[2017-11-16 22:33] gsrohde commented on #208
@NewcombMaria

Every cell in every column corresponding to trait variable _must_ contain a valid number.  In particular, it can't be blank, and it can't be "null" or "NA" or "NaN".

In the previous set, where it was only one column where there might or might not be a value, it wasn't too difficult to split the file into the two cases—one file where there was a value and one where there was not.  B

[2017-11-16 23:39] NewcombMaria commented on #208
Thanks @gsrohde .  Whichever approach you think best is good with me.  Entering -9999999 for empty cells and deleting after uploading seems reasonable.  Let me know after your test.  I've been splitting some of the larger files into subsets of rows to make the upload go faster without timing out.

You will need to instruct me how to delete uploaded traits with -9999999 in the 'mean' column.

[2017-11-16 23:57] gsrohde commented on #208
@NewcombMaria I think the first approach is reasonable.  I will have to delete the rows since you don't have direct database access.

My test has been running for over 75 minutes.  Even though there are 1780 data rows with 40 traits per row, this seems like a long time.  I don't think my server has timed out, but the terra-ref one might.

If you are going to split files, I recommend replacing the

[2017-11-16 23:59] gsrohde commented on #208
My upload to my test server just finished.  It took about 90 minutes.

[2017-11-17 03:28] NewcombMaria commented on #208
Great.  Thanks @gsrohde .  I'll replace empty cells and "null" values with -9999999 before splitting to smaller files and then upload the entire dataset.  This file that we're working on is the last and largest of the large files..............at least for this 2017 season.  I'll let you know tomorrow if the upload is successful.  If it goes well I'll ask you to delete the traits with -9999999.

A

[2017-11-17 06:00] NewcombMaria commented on #208
Success with the upload!  At least as far as I can tell.  I encountered a curl message for one of the sub-files while it was listing the trait id numbers '(56) send failure', but the trait id number totals fit with the correct trait counts.  When I search on several of the trait variables in BETYdb, it's consistently showing that there are 1780 trait values for each.  It looks like all the data up

[2017-11-17 18:32] NewcombMaria commented on #174
Almost all of the sorghum 2017 field measurement datasets are now uploaded, with the exception of radiation interception (ground-level par) and the soil moisture neutron probe readings which differ from the other plant measurements.  All of the August stress effects on photosynthesis field campaign data are now in the database.

[2017-11-17 18:32] gsrohde commented on #208
@NewcombMaria Okay, I deleted the traits that had `-9999999` in the `mean` column.  Can this issue be closed?

[2017-11-17 18:33] NewcombMaria commented on #208
Thanks!!  It can be closed.

[2017-11-17 18:34] #208 closed

[2017-11-17 18:51] dlebauer commented on #174
Wow awesome! Thanks for the Herculean efforts @NewcombMaria and @gsrohde !!!!

[2017-11-17 22:22] NewcombMaria commented on #190
Notes from Nov 9 FLIR image collection with and without deposits on the lens cover are now copied to the shared folder, along with the FLIR TG167 handheld spot camera images of the checkerboard target and a spreadsheet with the weather station data for afternoon of Nov 9.
https://drive.google.com/drive/folders/0B1OR5-zeXagnY3ZTTFNZcGRIQm8

[2017-11-24 19:16] NewcombMaria commented on #190
Andy French shared an update on his progress working with the FLIR images captured Nov 9.  Thanks Andy!

Update from Andy:
"To independently check the atmospheric property terms in the matlab code I ran MODTRAN simulations ( I can provide associated files if needed) using the local weather data information from the scanalyzer along with a Tucson radiosonde profile, the latter was collected a long

[2017-11-29 16:09] dlebauer opened #209 "New data product: plot level plant/soil masks from RGB"
generate image and plot - level plant / soil masks from the RGB pipeline.

### Description

The plot level masks can be used for shape analyses

The image level masks can be used to clip plants from the the RGB images for analysis (and is blocking implementation of the [texture analysis](https://github.com/terraref/extractors-stereo-rgb/tree/master/stereo-texture-analysis) pipeline)

### Completio

[2017-12-01 23:16] dlebauer commented on #137
@nfahlgren and @nshakoor just FYI still waiting on this.

[2017-12-04 15:56] craig-willis opened #210 "Review plant_height script output"
Review task for plant_height script and output:
https://github.com/terraref/extractors-3dscanner/blob/master/plant_height/laser_to_height.sh

We seem to have lost track of this review task in the extractor repo:
https://github.com/terraref/extractors-3dscanner/issues/9#issuecomment-345720796

Note:
* This script is not an extractor
* The script operates on the raw PLY data (in Level 1), not the me

[2017-12-04 15:56] craig-willis commented on #210
Per https://github.com/terraref/extractors-3dscanner/issues/9#issuecomment-345720796:

The first end-to-end test ran over the weekend on ROGER for 2017-06-02. Please check that the
Level_1 and trait data are as expected.

Data is on ROGER:
/projects/arpae/terraref/sites/ua-mac/Level_1/canopy_height/

[2017-12-04 16:00] dlebauer commented on #210
(from https://github.com/terraref/extractors-3dscanner/issues/9#issuecomment-348633347)

* in the Level 1 data, I see 359 unique dates under scanner3DTop and 63 unique dates under scanner3DTop_mergedlas
* in BETYdb, there appear to be some very small and negative values from May 30 through June 2 2017

![image](https://user-images.githubusercontent.com/464871/33506416-62bb4afe-d6b5-11e7-8e1f-5a755

[2017-12-04 16:01] ZongyangLi commented on #210
@dlebauer
Is that means only some of data points have such a very small and negative values? PI643008 is a gene id?

[2017-12-04 16:03] craig-willis commented on #210
@dlebauer What is the relation to mergedlas? I think this script operates only on the PLY files

[2017-12-04 16:08] dlebauer commented on #210
@ZongyangLi PI643008 is a cultivar (== genotype) id.

@craig-willis sorry I missed that.

[2017-12-04 16:09] dlebauer commented on #210
@ZongyangLi It looks like ther are no longer any records < 0 but all of the records with the 'Scanner 3d ply data to height' method are <1.1 cm

[2017-12-04 16:26] ZongyangLi commented on #210
@dlebauer
Last time when we discuss about unit for canopy height: https://github.com/terraref/computing-pipeline/issues/210#issuecomment-300318882, I was thinking I should update the output unit to meter instead of cm.

So it's in meter now. I am sorry if I make another misunderstanding, should I change it for cm?

[2017-12-04 16:37] dlebauer commented on #210
@ZongyangLi yes please change to cm. It is an option to change all of our height data to m but at this point we have been using cm, so the easiest at this point is to use cm, and if it would be useful to change to m, we can decide with inputs from other groups and convert all of the code and data at once.

[2017-12-04 22:10] Paheding commented on #190
@NewcombMaria Thanks for providing those data and associated information. Here is one question regarding data collection. For images with pool targets in all three sets of images, were they taken in the same scene with all pixels are aligned (i.e., pixels are overlapped at the same spot in all images sets) from each other?

[2017-12-05 15:58] dlebauer commented on #210
I purged the old data

[code]

[2017-12-05 16:20] craig-willis commented on #210
@dlebauer Should we run another sample data run, or start full processing?

[2017-12-05 16:32] dlebauer commented on #210
@craig-willis yes, everything else looked good; should be ready to go

[2017-12-05 18:46] NewcombMaria commented on #190
Patrick, regarding the pixel overlap for the pool target images, we returned to the same X and Y coordinates for all 3 sets of images but it's unlikely that the positioning system is precise enough to exact alignment of the pixels.  However it's probably fairly close to the same pixel positions.  Maybe @smarshall-bmr knows more about the precision of the positioning.

[2017-12-05 19:22] Paheding commented on #190
@NewcombMaria Thanks, I think you are right. I've checked few sets of images, it looks like they are pretty much aligned.

[2017-12-05 22:22] NewcombMaria commented on #201
@dlebauer have the FLIR_TG167 images been transferred yet to 'sites/ua-mac/Level1/FLIR_handheld' from the google folder at https://drive.google.com/drive/folders/1TG5_qHqssuAzzAPBbvTC7DnEvxCIxFJY

If not, do I need a user-id and password for cache server access to do the transfer?  If they have been transferred, can this be closed?

[2017-12-05 22:35] dlebauer commented on #201
@jdmaloney what does Maria need to do to transfer these files to the cache server?

[2017-12-06 16:30] Paheding commented on #201
Per this issue, @NewcombMaria @dlebauer If we could link all ground measured trait data (e.g., Plant Count, biomass, yield, etc ) in Betydb to associated images (RGB, hyperspectral, etc.) in Globus will be extremely helpful from the perspectives of plant science and remote sensing.

I have gotten very interesting trait data provided by @NewcombMaria, and I really want to find the associated images

[2017-12-06 16:32] craig-willis commented on #210
@ZongyangLi
There seems to be a problem handling season 1 data

[code]

This won't work for the season 1 names, for example: "MAC Field Scanner Season 1 Field Plot 542 E".

Is this expected?

[2017-12-06 17:20] ZongyangLi commented on #210
@craig-willis
That's right, it can not handle that. I didn't imagine that plot records have different style, shouldn't it be constant?

Besides, I don't think season 1 or season 2 should be involve, since the laser scanner's offset(https://github.com/terraref/reference-data/issues/44) is not constant during the first 2 season.

[2017-12-06 17:37] craig-willis commented on #210
@dlebauer
Is there any additional action to be taken here?  I assume you want me to move forward with running on the later seasons.

[2017-12-06 18:11] dlebauer commented on #210
Yes please run the later seasons. Ignore the season 1 names that do not
contain range and column. I was not aware that the laser offset changed
during the first two seasons. Is there an open issue that addresses this?

On Wed, Dec 6, 2017 at 11:39 AM Craig Willis <notifications@github.com>
wrote:

[2017-12-06 19:15] ZongyangLi commented on #210
I could not find such an issue now, maybe I am wrong. The offset is constant in all the field seasons. Then we don't need to worry about this.

[2017-12-06 20:23] dlebauer commented on #201
@Paheding the lookup you mention is intended to be done based on geospatial and temporal information.

I think there is a basic overview here: https://github.com/terraref/tutorials/blob/master/sensors/06-list-datasets-by-plot.md

@jterstriep have you had a chance to document this in more detail? Is the API up and running yet?

[2017-12-06 21:10] dlebauer commented on #201
@Paheding one caveat is that for these handheld FLIR files I don't think that there is any geospatial metadata. So the spatial+temporal query approach will not work for these files unless we add the geospatial metadata.

[2017-12-07 18:19] dlebauer commented on #201
@jterstriep will do the following:

* submit a PR to terrautils w/ a function defined in https://github.com/terraref/documentation/issues/157
   * assign to @Paheding and @ZongyangLi for review
* deploy the webservice
* update the documentation

[2017-12-07 19:15] Paheding commented on #201
@dlebauer Sounds a good plan. I will review it once it'd done.

[2017-12-08 22:36] NewcombMaria opened #211 "Upload MAC Season5 field metadata (durum wheat)"
@dlebauer the current season5 sites, cultivars, plot types, etc are in the google drive folder
https://drive.google.com/drive/folders/11uzC_XiYFkVwL7IYd3lTBMDeEKjSWOgk

See 2nd and 3rd sheets in 'Season5_DurumWheat_Site_Cultivar_PlotPlan.xlsx' for plots (2nd tab) and subplots (3rd tab).

We also have tentative bounding boxes and centroids for plot (2-row) and subplot (single-row) polygons in shape

[2017-12-08 22:53] dlebauer opened #212 "Oddities in Clowder metadata"
* In geostreams, file paths start with /home/clowder
* in clowder, some files (netcdf, las) have no metadata. Some that do (flir, rgb) have file names like /tmp/tmpROMqXR.tif (as in [this rgb geotiff](https://terraref.ncsa.illinois.edu/clowder/files/5a26bc144f0cda159545f5fb?dataset=5a26bc0d4f0cda159545f543&space=59d3e9594f0c888ad6ca1279))
* on workbench the start with /data/terraref
* on the file

[2017-12-13 20:52] Paheding commented on #190
We did some analysis on the data provided by the team. The results are summarized as follows:
1. We first computed a correlation between the lens with and without deposits for pool target. This helps us to determine if there any pattern can be found and learned by a machine learning technique for data recovery. For pool target, determination of coefficient (R^2) is found to be 0.87, the correspond

[2017-12-13 23:44] NewcombMaria commented on #190
Thanks very much Patrick to you and your colleagues for working on this issue!  Unfortunately there are no images within a minute comparing the target with and without deposits on the lens, although the pool of water was large enough mass that the temperature did not change very rapidly over the day.  We also have 'ground-truth' temperatures from thermocouples.  Have you converted to actual temper

[2017-12-14 21:26] Paheding commented on #190
@NewcombMaria Thanks for your input.  Those values are directly from raw images, I have not converted them to actual temperature yet. Is there any specific formula for temperature conversion? I can try to compare the results using the 'ground-truth' temperatures from thermocouples. Please share the 'ground-truth' data whenever it's ready.

As for the accuracy, it is really hard to determine since

[2017-12-14 22:53] NewcombMaria commented on #190
@Paheding the 'ground-truth' temperatures for the pool and soil targets are in the document 'Notes_ReferenceTempData_2917_11_09_flir.docx' in the google folder 'FLIR test images 2017 data recovery' at https://drive.google.com/drive/folders/0B1OR5-zeXagnY3ZTTFNZcGRIQm8
I'll also send the document by email.

Regarding the conversion to temperatures, @anfrench has worked on the conversion (see Nov 24

[2017-12-15 17:21] Paheding commented on #190
@NewcombMaria Thanks, I will look into those documents.

[2017-12-18 17:16] ebabaeian opened #213 "Download scanner data"
Hello,
I am going to download a sample VNIR and SWIR image to see the quality and quantity of the scanner data. I have tried to do this via space through https://terraref.ncsa.illinois.edu/clowder/spaces, as:
1) Maricopa Agricultural Center Field Scanner - 2017 Data Release Level 1
2) Sample Data
but it seems that the data are not downloadable and I see an error page. On the other hand, I don't fi