[2015-08-05 17:53] dlebauer opened #1 "Establish daily data transfer from Rothamstead."
@yanliu-chn

1. Import MB-GB - scale sensor data daily from Rothamstead.
2. Import raw data files and a meta-data database.

* [x] What method of transfer? (ftp? ssh? other?)
* [x] What server can we put data on now? Ideally scalable, or we can re-assess location at 1 TB.
  * [ ] setup daily automated import (rsync + chron) of files from Rothamstead
* [ ] setup Postgres server; start with daily du

[2015-08-05 19:43] dlebauer opened #2 "Determine meta-data format for raw data from Lemnatec"
* [x] Review and comment on and propose changes to filesystem and meta-data

_Note_ below is a proposal, though worded as a declaration. Please indicate what needs to be changed, what could be changed, what is just right, and what really doesn't matter as long as it is clearly defined.

# Summary:

1. use json with key/value pairs like `key: value`;
  * ~~First proposal:: https://gist.github.com/d

[2015-08-07 14:53] dlebauer opened #3 "Proposed format for meteorological variables exported from Lemnatec platform"
PEcAn uses [Climate Forecasting 'standard names' and 'canonical units'](http://cfconventions.org/Data/cf-standard-names/29/build/cf-standard-name-table.html) conventions (widely used in climate / met community) for meteorological and ecosystem-level mass and energy balance variables.

Here are some examples (note that we can change from canonical units to match the appropriate scale, e.g. "C" inst

[2015-08-10 20:31] dlebauer commented on #1
from Brett

----

from Mike Freemon

* [ ]  Get the ADS storage allocated to the project.
* [ ] Share the NFS connection details.
* [ ] Understand access requirements and stand up the FTP server and work out various associated technical details (mostly authn/z I suspect).

[2015-08-10 20:36] dlebauer opened #4 "Write statement of work descriptions for all of the contributing groups"
replaced by terraref/computing-pipeline#10

---
Write a document that includes definitions of

* [ ] specific tasks and milestones for each group at NCSA
* [ ] contributions expected by other groups within the program (DDPSC, MAC, KSU, WUSTL, Hudson Alpha)

[2015-08-14 15:53] dlebauer opened #5 "Review existing standards, conventions, and ontologies. Which should we use, adopt, support, learn from?"
Our goal is to create data products that are easy to access and use.

There are a few classes of data:
1. Crop physiological traits (#18)
2. Agronomic meta-data (#18)
3. Sensor Output (#14)
4. Derived metrics from image analysis (spectral indices like NDVI, geometric statistics like height, convex hull)
5. Genomics
6. (others? is this the correct list?)

For each class of data:
- what are the key

[2015-08-14 20:11] dlebauer commented on #5
Date-Time: `YYYY-MM-DD hh:mm:ssZ`:
* based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) . Optional offset for local time; precision determined by data (e.g. could be `YYYY-MM-DD` and decimals specified by a period.

[2015-08-17 18:58] dlebauer commented on #1
* will provide virtual machine server for internal use;
  * [ ] setup daily transfer using from Rothamstead to ADS
* ftp server for public access
  * [ ] make url public

[2015-08-25 15:20] dlebauer opened #6 "Add example data formatted in ICASA standards"
@JeffWhiteAZ has data from the Hot Cereal Cereal experiment and cotton yield trials that comply with ICASA variable naming conventions, stored in both JSON and spreadsheet format.

* [x] add both spreadsheet and json formatted data to the Box folder (https://uofi.box.com/terraref); we can use this as a starting point for discussions of data and metadata formats.

[2015-08-25 15:23] dlebauer opened #7 "Begin recording site-level meta-data for TERRA experimental sites"
- [ ] ~~record information that fits within the ICASA standard (e.g. #6) in a spreadsheet or json blob~~
- [x] Data beyond scope of ICASA standards in something like a 'native' format - that can be automatically generated, synced when updated, and parsed
  - [x] site layout including soils (in geojson (?))
  - [x] managements in csv file (site, management type, level, date)
    - fertilization, ti

[2015-08-28 05:39] dlebauer opened #8 "Protocols for identifying IP, licensing, assigning copyright, conditions for reuse (for data, software)"
Most of the data generated by the Cat 5 platform is intended for distribution and reuse with attribution (e.g. CC-BY or BSD-compatible license) or anything goes (CC-0). It is equally important to allow restrictions on access to and use of proprietary algorithms and data product.

What specific features are required? What solutions are available?

In particular:
- What are technical specifications

[2015-09-01 04:53] dlebauer opened #9 "Define Use Cases that end-user API to query data should support"
- [ ] define use cases (@dlebauer)
- [ ] what features should an API have?
  - query by genotype? query by location? time? sensor type? individual plants (entities in BETYdb).
  - what features will make it easy to document and integrate with other API's?
  - What is the value of an API Framework such as [Swagger](http://swagger.io)?
- [ ] what framework does the current BETYdb API use? What featu

[2015-09-04 02:11] gsrohde commented on #2
See my comment on the Gist.

[2015-09-04 02:54] gsrohde commented on #2
Note on Summary item 3: Will there be enough files generated during one second to warrant the level of granularity implied by the directory name `HH-MM-SStz/`.  Also, I question the wisdom of a naming schema for directories where there exist many possible names for the same moment of time: A directory called `21-36-07CDT` could equally well be called `20-36-07CST`.  Even the parent directory might

[2015-09-04 03:11] gsrohde commented on #2
### Metadata

#### geojson:

As far as I can tell, geojson is _not_ a native Postgres data type, nor is it one of the data types added by the PostGIS extension.  (Perhaps there is some other extension that adds it.)  PostGIS _does_ have `geometry` constructor and accessor functions that take and return geojson representations of a `geometry`.  But it has these for GML representations as well.

[Se

[2015-09-04 03:47] dlebauer commented on #2
The hstore extension provides a hstore data type and hstore_to_json and
hstore_to_jsonb functions according to the text "PostGIS in Action" 2nd
edition

On Thursday, September 3, 2015, Scott Rohde <notifications@github.com>
wrote:

[2015-09-04 03:53] dlebauer commented on #2
Will reference all time stamps to UTC with an offset, a subset of ISO 8601.

It is important to note that AZ -where most data will come from - switches
time zones twice per year.

This is also discussed in PecanProject/pecan#602.

On Thursday, September 3, 2015, David LeBauer <dlebauer@gmail.com> wrote:

[2015-09-17 14:55] dlebauer commented on #6
The example ICASA data and documentation are in https://uofi.box.com/terraref-icasa

[2015-09-17 14:55] #6 closed

[2015-09-25 04:16] dlebauer opened #11 "Protocol to define access, re-distribution, attribution of documentation, system specifications, sample data"
The standards committee requested information about the specification of sensors and their location on the gantry. This information is spread across multiple documents. Some could be shared in their entirety, others may need to be modified to have proprietary information redacted. Currently, we do not have a way of identifying the intended audience (e.g. some information that can be shared publicl

[2015-10-06 16:15] rachelshekar opened #12 "Standards Committee Meeting - Arizona"
- [x] Contact David Lee regarding date/location
- [ ] Determine date
- [ ] Determine location
- [ ] Invite Committee Members
- [ ] Determine scope and content
- [ ] Develop agenda

[2015-10-06 16:15] rachelshekar commented on #12
Dear David (Lee)

I am the new Project Manager for the Category 5 program. Prior to this project, I worked with Steve Long on his RIPE project.

David LeBauer asked me to contact you regarding the next Standards Committee Meeting.  We propose to schedule the meeting in Arizona in January immediately before or after ARPA-E visits to see the Gantry system.

Can you suggest ideal dates for the meetin

[2015-10-06 17:46] rachelshekar opened #13 "Virtual Standards Committee Meeting"
- [ ] Determine date (week of Oct 19 doodle poll: http://doodle.com/poll/76rs4y9qv78kbc79#table)
- [ ] Determine location
- [ ] Invite Committee Members
- [ ] Determine scope and content
- [ ] Develop agenda

[2015-10-07 02:53] dlebauer opened #14 "Proposed format for hyperspectral and other imaging data"
This is a proposal for spectral and imaging data to be provided as HDF-5 / NetCDF-4 data cubes for computing and downloading by end users.

Following CF naming conventions [1], these would be in a netcdf-4 compatible / well behaved hdf format. Also see [2] for example formats by NOAA

Questions to address:

* what is the scope of data products can be produced in this format?
* what meta-data is re

[2015-10-07 03:50] czender commented on #14
The CF metadata look good. In the absence of strong reasons to the contrary, I recommend dimension order as time,lat,lon,wavelength, angle. Keep time as the first dimension if possible.

[2015-10-08 14:00] rachelshekar opened #15 "Develop talking points for project"
- [x] Ask Nick for Claire's time
- [x] Compile information for Claire
- [x] Schedule time to meet with Claire
- [x] Claire finishes draft 1
- [x] Feedback from @dlebauer on Draft 1
- [x] Claire finishes draft 2
- [x] Feedback from @dlebauer on Draft 2

[2015-10-08 14:25] rachelshekar commented on #15
Oct 16	Draft 1 ready
Oct 20	Draft 1 feedback
Oct 30	Draft 2 ready
Nov 3	Draft 2 feedback
Nov 10 	Ready

[2015-10-08 14:25] rachelshekar commented on #15
[TERRAref Background.docx](https://github.com/terraref/reference-data/files/10117/TERRAref.Background.docx)

[2015-10-08 21:13] #13 closed

[2015-10-08 21:13] #12 closed

[2015-10-09 13:48] dlebauer opened #16 "Nominations for external members"
We need a minimum of three additional external members for standards committee

* ~~[ ] create google form to request name, institution, contact info and expertise~~
* [x] request nominations from reference team
* [x] review at next teleconference

[2015-10-09 13:53] dlebauer opened #17 "Define expertise of current committeemembers"
This will help understand who can help where, and what we need to fill in.
* [x] create a google form to let people check boxes (or select expertise levels 1-5) as well as provide free-form text responses
* [x] send to committee members

* categories: remote sensing, image analysis, physiology, breeding, genomics, informatics, ...
* levels: 0: never heard of it, 1: have heard of it but don't know,

[2015-10-09 13:55] #4 closed

[2015-10-16 15:02] dlebauer commented on #11
@rachelshekar should we confer with OTM, Mitch, or otherwise?

[2015-10-16 18:17] dlebauer opened #18 "Formats for traits, phenotypes, and agronomic managements"
- Define traits that will be used in GWAS study, including variable names, units, and methods of measurement / validation.

for example:

| name | units | description | method of measurement |
| --- | --- | --- | --- |
| SLA | m2 kg-1 | Specific leaf area leaf area per unit mass | hole punch |

Ultimately, these should be entered into the trait database which will look like this: https://www.betyd

[2015-10-16 19:16] dlebauer commented on #18
### Traits From the FOA (many need to be defined)

* Seedling emergence  (how is this quantified? Growing degree days with reference temp?)
* Seedling vigor (how quantified?)
* Canopy closure (? days? GDD?)
* Leaf number
* Leaf angle (parameters for Leaf angle distribution assuming chi-square? other? an empirical distribution)
* Stem number
* Stem volume
* Stem height
* Lodging (how is this define

[2015-10-17 18:46] chporter commented on #18
DAvid - we put together a set of core variables that are commonly collected in field crop experiments (attached), which is a subset of the ICASA Data Dictionary. These will be used to harmonize data from USDA experiments as part of a National Agricultural Research Data Network.
[Core Harmonized Crop Experiment Data_JWW_chp.docx](https://github.com/terraref/reference-data/files/15501/Core.Harmonize

[2015-10-19 17:49] rachelshekar commented on #17
See https://github.com/terraref/admin/issues/3

I suggest that you send this list to the committee before the meeting and ask for changes during the meeting

[2015-10-19 19:07] davidlee2 commented on #17
At the moment I’m trying to pin down a couple more TERRA individuals about having the next call the afternoon of the 28th or 30th.

From: rachelshekar [mailto:notifications@github.com]
Sent: Monday, October 19, 2015 1:49 PM
To: terraref/reference-data <reference-data@noreply.github.com>
Subject: Re: [reference-data] Define expertise of current committeemembers (#17)

See terraref/admin#3<https://g

[2015-10-20 04:05] dlebauer commented on #18
Thanks @chporter that looks great, thank you for sending. I think it is clear this is a standard that we should support. Do you have suggestions for how to handle overlapping vocabularies? For example, it seems both CF and ICASA have two variants of each variable name (ICASA has 'variable name' and 'short name' while CF has a 'variable name', a 'standard_name', and a 'long name').

It seems the CF

[2015-10-20 16:55] yanliu-chn commented on #2
I'd like to provide some feedback on geo metadata:
- for point cloud or weather data, i assume each record has x and y info. the metadata for each data file needs the projection information so that we data from different places are to be processed later in the pipeline we know how to reproject.
- the projection info can be implicit (e.g., always use lat lon), but may need to be explicit (e.g., if

[2015-10-28 17:51] dlebauer commented on #18
@chporter @jeffwhite_AZ is Core Harmonized Crop Experiment Data a subset of the master variable list?

Does the master variable list on the [AgMIP wiki](http://research.agmip.org/display/dev/ICASA+Master+Variable+List) differ from the [google spreadsheet](http://tinyurl.com/ICASA-MVL)?

[2015-10-29 15:00] JeffWhiteAZ commented on #18
David, I believe The AgMIP wiki version actually is a link to the main Google spreadsheet.
Cheryl can confirm but the core variables are meant to be a subset of the AgMIP/ICASA set.

[2015-11-03 20:05] #16 closed

[2015-11-03 20:06] dlebauer commented on #17
The table of participant expertise is here: https://docs.google.com/spreadsheets/d/14Z-Y2MmVy94X561VJdecBSu577VQ4H6G65gh8p_pkD4/edit?usp=sharing and has been shared with the group

[2015-11-05 17:19] dlebauer commented on #2
@max-zilla to geojson format (this is a standard)? how to define projection? this is not necessarily part of the standard.

[2015-11-05 20:31] max-zilla commented on #2
GeoJSON format is outlined [here](http://geojson.org/geojson-spec.html). Four key members of a GeoJSON object:
* **type** can be:
  * Point, MultiPoint
  * LineString, MultiLineString
  * Polygon, MultiPolygon
  * GeometryCollection
  * Feature, Feature Collection

* **geometry** must have a member called "coordinates" with an array of positions - Point types will of course only have one position

[2015-11-10 17:40] #15 closed

[2015-11-10 17:50] doctorroboto commented on #15
@dlebauer and team,

Is this something we can share with the LemnaTec software team, to explain the role of their system in greater detail and to expedite their delivery of new sensor data / metadata products?

[2015-11-11 18:46] rjstrand commented on #15
I have been talking with Justin Manzo over the past week about LemnaTec's contributions.  Some of the delay on the part of my company stems from the effort to simply meet production, testing, and installation deadlines.  Even with the modified schedule, ARPA-E has pushed a very tight timeline to get the system built.  Granted, the end-date is really set by the growing season in Arizona, this is st

[2015-11-11 18:50] doctorroboto commented on #15
Perfect. And that's right Bob, I'm highly confident that we can't share the Cat5 proposal can't be shared outside of ARPA-e. Joe and team are checking on what can be shared by the gov't folks, but if there's something Dr. LeBauer or the Danforth folks could share publicly, that would streamline the request.

We can talk about this in greater detail tomorrow, and see what there is to be done about

[2015-11-11 19:22] dlebauer commented on #15
I spoke with Todd and the majority of the proposal is not proprietary. But I've tried to summarize bits and pieces of it in the about page http://terraref.ncsa.illinois.edu/about/.

I've also attached a summary that provides more detail about the proposed timeline, though it hasn't been revised following negotiations about specific milestones. [arpa-e-terra-timeline-summary.pdf](https://github.com

[2015-11-16 19:34] tedhabermann commented on #14
Great discussion of decisions about formats and metadata. While several aspects of the CF conventions are really useful and helpful, there are some fairly important caveats. These include lack of support for groups in the files (typically a requirement these days) and a sometimes difficult process of agreeing on names. These are related to the existing CF community tools and to the focus of the CF

[2015-11-16 19:57] czender commented on #14
Just noticed that the draft units have slight typos: "degrees north" should be "degrees_north" etc. for UDUnits compatibility.

[2015-11-16 20:45] dlebauer opened #19 "Proposed formats and databases for genomics data"
(by Mike Gore and Elodie Gazave)

Genomic data have reached a high level of standardization in the scientific community. Below are the most widely accepted formats that are relevant to the data and analyses that will be generated in this project.

Today, all high-impact journals typically ask the author to deposit their genomic data in either or both of these databases before publication.

## Over

[2015-11-16 21:18] nfahlgren commented on #19
I would replace Gbrowse (if we are hosting this ourselves in the Cat5 team) with Jbrowse (http://jbrowse.org/). It's Javascript-based, so it has a much more responsive interface. It's also a GMOD project and is meant to replace Gbrowse at some point. Phytozome has switched to it already. It's compatible with the same data formats as Gbrowse, so not much has to change.

[2015-11-17 19:46] cjfields commented on #19
What @nfahlgren said.  We're advocating people switch to (and support!) JBrowse when possible.

[2015-11-19 06:35] dlebauer commented on #14
@tedhabermann thank you for pointing out CSDMS - is this what you are referring to when you say "we have a (proposed) standard approach for adding ISO-compliant metadata to HDF files"?

Given the diversity of disciplines, it is clear that we will have to support multiple naming conventions. Any advice on how to support multiple vocabularies would be appreciated - I proposed amending our database w

[2015-11-19 06:35] dlebauer commented on #14
@czender fixed - thanks

[2015-11-19 20:43] max-zilla commented on #9
Here are some examples, Not all of these will be valid but perhaps it will engender discussion... these examples might be scattershot across the various components.

**End-users working with existing data in Clowder**
1. Browse a gallery of daily images of the same plant across 2 weeks.
2. Search for images by metadata fields (e.g. one particular sensor with a value exceeding some threshold), and

[2015-11-21 17:35] tedhabermann commented on #18
On names for parameters - the inclusion of a Thesaurus Table in the database design is a good idea. I suspect you will end up needing a many-to-many relationship between parameters and names for those parameters. Obviously, a single parameter can have standard names from different vocabularies and you want to be able to support that for interoperability with other communities. Standard names from

[2015-11-21 17:38] tedhabermann commented on #14
@dlebauer - using standard names is separate from including ISO metadata in the HDF files. See slides on ISO in HDF (link coming up).

[2015-11-22 19:07] dlebauer opened #20 "Example of a big-ish phenomics dataset, for feedback"
# A simulated dataset

[_cross posted on our website_](http://terraref.ncsa.illinois.edu/articles/simulated_phenotypes/)

The intent is to begin to get feedback on some rough sketches of what some data products might look like.

To this end, I have simulated the type of data that a sensor might observe, along with some of the underlying environmental drivers and physiological traits.

Note that th

[2015-11-23 23:14] dlebauer commented on #20
@terraref/standards-committee please review, share, and provide feedback on this simulated dataset.

[2015-12-03 16:34] dlebauer commented on #11
Next step is to write up a document for review by OTM

[2015-12-03 16:36] dlebauer commented on #8
related to #11

[2015-12-03 21:48] #17 closed

[2015-12-04 17:21] dlebauer commented on #19
Mike / Elodie: how do you link this to downstream pipelines such as GapIT? Can we also implement these?

[2015-12-09 21:01] dlebauer commented on #14
need full width / half max data for downstream analyses, including binning.

[2015-12-10 17:27] egazave commented on #19
Yes, we can link to downstream programs for GWAS. If we want to use GAPIT, I can share the python script I have to transform a vcf to GAPIT input format.

[2015-12-10 17:54] dlebauer commented on #2
@max-zilla and @rjstrand please discuss. I think we still need details of what data will be writing from @rjstrand and then Max can document and provide examples for Lemnatec to implement

[2015-12-10 18:40] dlebauer commented on #19
@egazave yes, please share the script. I've spoken with Alex Lipka who in
interested in helping us to integrate GapIT
On Thu, Dec 10, 2015 at 11:27 AM egazave <notifications@github.com> wrote:

[2015-12-28 05:18] ashiklom commented on #14
Following up on @dlebauer -- I've already written a few functions for spectral convolution for a bunch of common remote sensing platforms like Landsat and MODIS in the [PEcAn RTM](https://github.com/ashiklom/pecan/tree/master/modules/rtm) package Shawn, Toni, and I are developing. From that link, if you go to `data/sensor.rsr.RData`, you can see how I've been storing this information. The code for

[2016-01-04 15:02] max-zilla commented on #2
For initial organization, LemnaTec could write the sensor outputs to a directory structure like this, as outlined above:
* SensorName
  * CaptureDate
    * CaptureTime
      * Image & Metadata

Then, a script would iterate through the images for each sensor and use the API to push the images to our Clowder system, sending the contents of the JSON metadata file as metadata without requiring the JSO

[2016-01-07 17:21] rachelshekar opened #21 "Give Roger access to beta testers"
Noah Fahlgren, Rob Pless at WUSTL and Charlie Zender

Include sample data

Private owncloud server?

[2016-01-07 18:13] yanliu-chn commented on #21
the ldap groups they should be assigned to: prj_cg_users and prj_cg_arpae

[2016-01-07 18:14] yanliu-chn commented on #21
If they don't have ncsa account, please let me know their email addresses. i can contact them to create sponsored guest forms.

[2016-01-07 18:25] dlebauer commented on #21
@yanliu-chn email addresses and github usernames are

| name | email | github |
|----|----|----|
| Charlie Zender | zender_at_uci.edu | @czender |
| Noah Fahlgren | nfahlgren_at_danforthcenter.org | @nfahlgren |
| Robert Pless | pless_at_wustl.edu |  |

[2016-01-11 23:49] rmgarnett commented on #20
Hi David,

This looks fantastic and I think it's going to be more than enough to get us started on developing the GP prediction code.  A couple of quick questions:

* The sensor measurements include simulated noise, correct?  This appears to be the case.
* Biomass sometimes appears to significantly decrease towards the end of the growing season.  Is this expected?

I think we can get some initial

[2016-01-13 00:50] dlebauer commented on #20
Yes there is lots of simulated noise. I hope it's not too much - it's not
based on any real error model; I just made it up and tried to make it
reasonable but hierarchical, nonlinear, non normal. Code available upon
request.

There is an expected decline in biomass at the end of the season - leaves
grow and die. At the end of the season growth stops but death,
decomposition, and other losses do no

[2016-01-13 03:04] rmgarnett commented on #20
No I don't think it will be too much noise, and thanks for the explanation of the biomass downturns!  Makes perfect sense.  It's actually somewhat relieving because I had been a bit worried about putting monotonically increasing constraints into the GP predictions for biomass (it's possible but not straightforward); we won't need to do so!

[2016-01-20 02:09] dlebauer commented on #19
(from Geoff:) Phytozome holds the JGI sorghum reference genome so we should probably plan to submit the variant calls to them so it can be browsed as a “Population variation” track on JBrowse.

[2016-01-22 16:21] dlebauer commented on #2
Here are comments from Markus Radermacher at Lemnatec :

---

A first implementation of writing out meta data as json has been finished in our software now and is attached to this mail.

At the current state of development six different kinds of meta data are available. Hence you find six different object sections:

*  user_given_data
  * an arbitrary number of key value pairs, provided by the use

[2016-01-22 22:01] JeffWhiteAZ commented on #7
[China_WH_AgMIP_all_data_V0.6.xlsx](https://github.com/terraref/reference-data/files/101494/China_WH_AgMIP_all_data_V0.6.xlsx)
The spreadsheet is a work in progress for a set of wheat experiments at 5 locations. It mostly follows the ICASA data definitions and divides data into groups corresponding to those used in the standards.
The paper by Reginato explains the agronomy of the experiments.
[Reg

[2016-01-25 15:08] dlebauer commented on #7
@JeffWhiteAZ Thank you for sending these. Do you think it will be possible to send the metadata for experiments at MAC in json format, or is there a way to translate between json and xlsx?

[2016-01-25 15:28] JeffWhiteAZ commented on #7
Hi David,
Cheryl can send sample JSON from another project, but we are not yet set up to interconvert from the spreadsheet layout that I used.
- Jeff

From: David LeBauer [mailto:notifications@github.com]
Sent: Monday, January 25, 2016 8:09 AM
To: terraref/reference-data <reference-data@noreply.github.com>
Cc: White, Jeffrey - ARS <Jeffrey.White@ARS.USDA.GOV>
Subject: Re: [reference-data] Begin re

[2016-01-25 15:56] dlebauer commented on #7
@chporter do you have scripts to process multiple metadata formats? Or to convert something familiar to field researchers (excel) into machine readable text?

[2016-01-25 23:51] czender commented on #2
My understanding is that there will be one file as above for each camera image. Each camera image will actually be a pair of files of the data/data.hdr and whiteReference/whiteReference.hdr variety posted at https://github.com/terraref/computing-pipeline/issues/38
We will combine the JSON with the image data into a netCDF4 file for compression and analysis. @dlebauer please correct any mis-impress

[2016-01-26 00:14] czender commented on #14
I looked at the CSDMS conventions for names. I do not see any compelling reason to propose a bunch of names to either them or CF right now. It would slow-down the prototyping. Once the workflow is established we can think about sustainable naming strategies. For now, choosing CF'ish names seems good enough.

[2016-01-26 00:45] dlebauer commented on #2
@czender

Just to avert confusion - this issue refers generically to all sensors on the gantry. So perhaps we should move the conversation to the implementation of a hyperspectral data pipeline in terraref/computing-pipeline#38, where the field names are located (and for the record, I believe CF does a fair job of providing these). I'll paste the rest of the comments there ...

[2016-01-26 00:52] dlebauer commented on #14
(from #2)

The file level-0 (root) group would contain a level-1 group called "lemnatec_measurement_metadata", which would contain six level-2 groups "user_given_data"..."measurement_additional_data" and each of those groups would contain group attributes for the fields listed above. We will use the appropriate atomic data type for each of the values encountered, e.g., String for most text, float

[2016-01-26 05:01] dlebauer commented on #1
Closing this issue. Data stream from Rothamstead is not available.

[2016-01-26 05:01] #1 closed

[2016-01-26 13:26] chporter commented on #7
I'm attaching a ZIP file (changed to txt for upload) containing a sample json file with two treatments of a maize experiment from Iowa and the associated AgMIP metadata in a csv file. Keep in mind that AgMIp currently considers metadata to be "searchable data". As we start migrating the AgMIP format to NARDN (Nat'l Ag Research Data Network), we will also adopt the NAL metadata, which is based on t

[2016-01-26 13:43] JeffWhiteAZ commented on #7
Hi Cheryl,
Thanks for providing the example scripts. Heidi and I are closing in on releasing the China wheat dataset. After that, I can think about the UF SCA, the new proposal, livestock, etc.
The gantry is almost running and should be planted with wheat this week.
Are you available for Skype sometime soon?
- Jeff

From: Cheryl Porter [mailto:notifications@github.com]
Sent: Tuesday, January 26, 2

[2016-01-26 16:13] tedhabermann commented on #14
Charlie uses the phrase "propose a bunch of names" in the context of CSDMS and CF, but that is not correct. The approach to naming in CSDMS and CF are fundamentally different. You propose names to CF and there is typically a long and arduous review process, particularly for names that are outside of the context of "Climate and Forecast". In CSDMS, you create names that are consistent with a set of

[2016-01-26 17:17] tedhabermann commented on #14
On JSON vs. XML - Both of these representations are important in different contexts. XML is much more prevalent in the metadata world than JSON. If you think only in JSON then you are losing a lot of standard capability.

At HDF we are working with both. What is really critical is the naming of the elements. For sensor metadata an approach based on soft-typing is usually more flexible. Instead of

[2016-01-26 18:03] czender commented on #14
The CSDMS approach looks fine to me, especially for quantities that are not likely to be covered by CF. And much of the data generated by this project is not typically thought of as covered by CF, though CF is trying to expand its domain. In any case, the "standard" names we are talking about are much too long to be useful to humans. They are generally stored as a "standard_name" or similar attrib

[2016-01-27 01:56] dlebauer commented on #7
@chporter thanks for those; I've posted them among our data samples here: https://uofi.box.com/s/8nm7azvgtjeort8hmg4c91j1orwvuvjh

Can you link to the scripts that you use to convert from spreadsheets to json?

[2016-01-27 13:24] chporter commented on #7
@dlebauer - The repo for the csv -> json translator is here:
https://github.com/agmip/translator-generic-csv

with some additional documentation here: http://research.agmip.org/display/dev/Spreadsheet+import#Spreadsheetimport-Links

[2016-01-27 15:41] tedhabermann commented on #14
**Soapbox warning!** I appreciate Charlie's point of view on this, but, at the same time, wonder about how many decisions have been made with the logic "it will slow us down" or "lets do this now, then fix it later". I suspect that there have been many such decisions and that many of them have never been fixed as we move on to the next short-term event. These decisions ultimately lead to inoperabl

[2016-01-28 05:59] dlebauer commented on #14
@czender @tedhabermann

The soapbox here is always open! I really appreciate this discussion and agree with both of you.

Our first task is to put it somewhere safe and make it useable. Our fairly rigid timeline for data product development still gives time for iterative development: alpha release in 2016, beta in 2017, stable in 2018. Our goal is to allow for multiple rounds of feedback. After ea

[2016-02-02 13:50] rjstrand commented on #14
Greetings from the Gantry...

Attached is the first crack by Markus Radermacher on the metadata framework for imagery.

- Bob

As
[2016 02Feb 02 Metadata Example.json.txt](https://github.com/terraref/reference-data/files/113994/2016.02Feb.02.Metadata.Example.json.txt)

[2016-02-02 14:04] rjstrand commented on #3
Hello all,

The gantry is powered up and we are beginning to bring sensors online.  We need to think about the handling of the meteorological data.  The list of instruments is as follows:

1) Wind speed
2) Wind direction
3) Air temperature
4) Humiidity
5) Air pressure
6) Solar intensity*
7) Solar angle*
8) Precipitation

I am checking on the solar values... I'm looking at a simple translation from

[2016-02-02 15:12] dlebauer commented on #3
to be consistent with how we treat other data Id say start by keeping anything meaningful. We can trim later. I suspect especially keep the high frequency sonic anemometer and downwelling light sensors. Isn't there also CO2?

If you have variables not mentioned above in this thread please see the table of CF standard names http://cfconventions.org/Data/cf-standard-names/30/build/cf-standard-name-t

[2016-02-03 20:20] ashiklom commented on #14
How do we deal with the relative spectral response (RSR) curves of
different sensors? Embedding that information directly in the JSON might be
cumbersome, since the data are fairly large matrices. A good approach might
be to store the RSR for each sensor in a file that's linked or otherwise
specified in the JSON.

On Tue, Feb 2, 2016, 8:50 AM rjstrand <notifications@github.com> wrote:

[2016-02-03 20:46] dlebauer commented on #14
specified in the JSON.

This is what @robkooper originally suggested, making the calibration docs accessible via web-based API. However, @czender suggested including it in each file to make the file completely self-documenting, with the rationale that while this is lots of information it is much smaller by the data. This also seems sensible.

@rjstrand do you have the spectral response and other c

[2016-02-03 23:56] czender commented on #14
is the RSR (expected to be) constant-in-time, i.e., same RSR per sensor forever? and how many numbers characterize the RSR at each wavelength?

[2016-02-04 01:03] ashiklom commented on #14
Ideally, yeah, it would be constant, but sensors could drift with age,
which might be nice to capture. @serbinsh might have more insight about
that.

As to how many numbers, depends on the precision of calibration. Imaging
spectrometers like AVIRIS sometimes only report full width half max, which
is a single number per wavelength. But then you have to assume some kind of
distribution which won't b

[2016-02-04 02:53] dlebauer commented on #14
Here are the spec sheets for the spectrometers for reference

[SWIR.pdf](https://github.com/terraref/reference-data/files/116816/SWIR.pdf)
[VNIR 2015.pdf](https://github.com/terraref/reference-data/files/116817/VNIR.2015.pdf)

And the sensor suite (also adding a sonic anemometer)

![image](https://cloud.githubusercontent.com/assets/464871/12804349/1ee19a8c-cab8-11e5-9d6e-b6607f60a94f.png)
![image]

[2016-02-04 03:10] ashiklom commented on #14
Is that all the information they provide? If so, it may be worth contacting
the manufacturer for more precise specs. They don't report spectral
resolution (I.e. wavelength nm per band) for the hyperspectral imagers, but
that's a critical piece of information. They may be reported as 1 nm, but
that's probably after interpolation, since even the $100K ASD instruments
@serbinsh has have a true resolu

[2016-02-04 04:02] solmazhajmohammadi commented on #14
Here are datasheets for the Hyperspec imaging sensors:

[Headwall VNIR imaging spectrometer 380-1000nm.pdf](https://github.com/terraref/reference-data/files/116861/Headwall.VNIR.imaging.spectrometer.380-1000nm.pdf)
[Headwal SWIR imaging spectrometer 900-2500nm.pdf](https://github.com/terraref/reference-data/files/116862/Headwal.SWIR.imaging.spectrometer.900-2500nm.pdf)

[2016-02-04 04:14] dlebauer commented on #14
@solmazhajmohammadi those were the same as attached to my message (in addition to the images of the full sensor suite.

But do you know of or can you get the files from the sensor calibration done by the manufacturer? (I think this was done in December) and any subsequent testing?

[2016-02-04 04:32] solmazhajmohammadi commented on #14
@dlebauer  Not so far. I'll update you once I get further information.

[2016-02-04 14:53] rjstrand commented on #14
@all  The calibration information for the hyperspec devices was never provided in a digital format.  We are in contact with Headwall.  Please be patient.

[2016-02-13 17:29] FlyingWithJerome commented on #2
Hi everyone, I'm Jerome and right now an assistant working with Prof. Zender in converting json to netCDF.
@dlebauer Thank you for your sample jsons: https://gist.github.com/dlebauer/4a20f0d4512bbe2d1cdb
 But I couldn't successfully parse them, and I found that some commas have gone missing?

[2016-02-13 22:27] dlebauer commented on #2
@FlyingWithJerome Sorry for the confusion - those aren't properly formatted json because of the crude loop I wrote to print the file name and file contents.

I've created a new gist with the current draft of the metadata for the two hyperspectral sensors: https://gist.github.com/dlebauer/78bbb0ed2da9172f31fb (these are valid json according to jsonlint.com

For reference, these files along with raw

[2016-02-18 17:45] czender commented on #2
The first results from the JSON->netCDF attributes parser are in. We will re-organize the structure and turn into attributes.
http://dust.ess.uci.edu/tmp/test.json
http://dust.ess.uci.edu/tmp/test.nc

[2016-02-18 17:46] dlebauer opened #22 "Sensor precision, and truncation"
For each sensor, what is the instrument precision, and how does this translate to the numeric precision that we need to store.

Using floats with a fixed number of significant digits. Not optical sensor provides more than 5 significant digits, so single precision float is more than enough.

[2016-02-20 21:58] FlyingWithJerome commented on #2
We tuned up the JSON->netCDF parser and now it can export a better organized netCDF file:
https://drive.google.com/a/uci.edu/file/d/0B7JWv6BOtHUzZWd6U3FSbzdYRGc/view?usp=sharing

[2016-02-25 16:38] FlyingWithJerome commented on #2
And here is the newest version of netCDF:
https://drive.google.com/a/uci.edu/file/d/0B7JWv6BOtHUzOHB5b1RMNUFNd2s/view?usp=sharing
@dlebauer Sorry for the previous one, I had not assigned value for it and there were still some flaws.
This one would be better.

[2016-02-25 17:39] dlebauer commented on #2
here is the ncdump: https://gist.github.com/dlebauer/3afb356094bd89e95b00

[2016-03-03 17:46] czender commented on #2
ncap2 script to combine 2D TR image data into single 3D variable working. Example:
/* Purpose: Combing 2D TR image data into single 3D variable
   Usage:
   ncap2 -4 -v -O -S terraref.nco in.nc out.nc */

*sz=926;

defdim("band",sz);

allbands[band,x,y]=0.0f;

for(*idx=1;idx<=sz;idx++)
{
 {@loop=snprint(idx,"Band%d");}
   allbands((idx-1),:,:)=*@loop;
}

// Sanity check: Make sure Band10 minus ten

[2016-03-10 19:28] solmazhajmohammadi opened #23 "Images from full grown plants"
In order to validate the algorithm for image alignment and stitching, I need images from full-grown plants.

[2016-03-10 20:05] dlebauer commented on #21
This issue was moved to terraref/computing-pipeline#71

[2016-03-10 20:05] #21 closed

[2016-03-10 23:12] FlyingWithJerome commented on #2
the cdl dump for the merged netCDF file (data generated by Prof. Zender and metadata generated by me) is available now on gist:
https://gist.github.com/e397c63918bdfb3cbe45

[2016-03-11 00:14] czender commented on #2
You are right. Jerome inadvertently used the old version that had 926 variables, because that was the only data file he had. Workflow is the same with the one 3D variable version. Will update the gist soon.

[2016-03-11 05:05] dlebauer opened #24 "Define data products, repositories, publication venues"
We will be producing diverse data products, protocols, and software (hereafter ‘products’).  These are intended for distribution and reuse with attribution Products will be continuously revised, updated, and expanded. New versions released annually, with opportunity for community feedback. Other teams will potentially contribute protocols, similar types of data. Data sets from different teams coul

[2016-03-11 23:26] dlebauer commented on #3
@czender and @terraref/standards-committee  this the first draft of the environmental sensor data from Arizona. It is a 4MB json file; it appears data is collected every two seconds and a new file is written every two minutes.

[2016-02-15_21-20-08_enviromentlogger.json.txt](https://github.com/terraref/reference-data/files/170133/2016-02-15_21-20-08_enviromentlogger.json.txt)

[code]

[2016-03-17 17:43] dlebauer opened #25 "Updates and revisions to Lemnatec Field metadata"
Here is a recent meta-data being generated by the Lemnatec Field system is here: https://gist.github.com/dlebauer/ccc1940fefbacaa60296

We will also need the following information:

* the position of each sensor within the box
* the position of the 0,0,0 point
* additional time information
  * for sensors like VNIR/SWIR that are operated in line-scan mode, presumably we need the start time as well

[2016-03-17 17:58] dlebauer opened #26 "Changes to data stream from environmental sensors"
The first environmental data samples (e.g. [2016-02-15_21-20-08_enviromentlogger.json.txt](https://github.com/terraref/reference-data/files/178402/2016-02-15_21-20-08_enviromentlogger.json.txt)) are in a json key:value format.

I propose the following changes:

1. write one file per hour (rather than every 2 minutes)
2. use variable names and units defined in #3 to avoid confusion
3. write all var

[2016-03-17 19:10] dlebauer commented on #3
I have moved the data product description to the [documentation](https://github.com/terraref/documentation/blob/master/environmental_data.md) in https://github.com/terraref/documentation/commit/ae09deab200b8415af35df19dbd83ba2343eab15 and the remaining changes in the format output by the Lemnatec sensors to #26.

And will now close this issue.

[2016-03-17 19:10] #3 closed

[2016-03-17 22:52] #2 closed

[2016-03-18 13:49] dlebauer commented on #24
@rachelshekar please review [submission instructions](http://www.nature.com/sdata/for-authors/submission-guidelines) and draft a letter of inquiry to Nature Scientific Data, regarding the timing of submission with respect to our timeline for developing data products and division of data sets into multiple submissions. http://www.nature.com/sdata/

Note Nature's endorsement of this effort: http://w

[2016-03-18 18:18] rachelshekar commented on #24
@dlebauer :I have created a draft at: https://docs.google.com/document/d/1lJHsUXdOooCoDAh0Gz8rGDIZb8K3-ujpdYBgL5ZqrbM/edit

[2016-03-23 15:05] dlebauer commented on #24
@rachelshekar I've revised your draft - could you please review once more, edit for clarity, and add anything necessary, send to Heidi for her feedback / additions?

[2016-03-29 21:29] rachelshekar commented on #24
@dlebauer  - I've made additional edits

[2016-03-31 21:21] yanliu-chn commented on #26
Is there a way to get the geo location of the weather station or sensor, and link station id with the observations?

[2016-04-03 02:58] dlebauer commented on #25
@markus-radermacher-lemnatec

[2016-04-03 02:59] dlebauer commented on #14
@markus-radermacher-lemnatec

[2016-04-12 17:17] dlebauer opened #27 "Feedback on initial draft of hyperspectral data file format"
The first sample of hyperspectral image data is ready with units of "Exposure on scale from 0 to 2^16-1 = 65535". Data available as 134MB file [foo.nc](http://dust.ess.uci.edu/tmp/foo.nc) and much smaller metadata text file [foo.cdl](http://dust.ess.uci.edu/tmp/foo.cdl).

This has been prepared using the [hyperspectral/terraref.sh](https://github.com/terraref/computing-pipeline/blob/master/scripts

[2016-04-12 21:11] dlebauer commented on #26
@markus-radermacher-lemnatec

It appears that the json files are invalid -

[code]

One way to fix this:
1. enclose contents with `[]` (make file begin with `[`, and end with `]`)
2. separate elements with a `,`: change `}{` to `},{`

[code]

However, we should discuss the more general changes in the logger above before implementing this simple fix.

[2016-04-15 17:50] dlebauer commented on #26
The CO2 sensor data have .bil extensions and each observation is written into a separate file; these observations should have timestamp + concentration and should be saved as a time series at daily or hourly time steps.

[2016-04-15 18:21] czender commented on #26
irradiance/spectrum as a .bil file might be helpful for other purposes, but a 1-D json array would be easier for the hyperspectral workflow.

[2016-04-20 10:45] markus-radermacher-lemnatec commented on #26
regarding 1)
It's just a setting within the software that easily can be changed to 1h or 1d. Right now the time between two files should be long enough to not create to many files and short enough to ensure that in case of a problem not to many data points are lost.
The environment logger software in the current state is very simple but it works well and i prefer to keep it like it is for now. I w

[2016-04-20 11:05] markus-radermacher-lemnatec commented on #26
regarding 2)
Could you provide an example for your preferred environment logger output file. Then we change the output according to your template. Right now the output file format is just a first suggestion.

[2016-04-20 11:18] markus-radermacher-lemnatec commented on #26
regarding 3)
If you prefer to have the spectrum to be written into a separate file, please provide an example file.

CO2 sensor: right now it is located inside the camera box, thus by definition it is not an ambient sensor. Its distance to the canopy is round about 2m during measurements (except fluorescence: than it is closer to 1m). The other ambient sensor a mounted on top of the gantry, facing

[2016-04-20 12:03] markus-radermacher-lemnatec commented on #26
regarding 4)

Using the same extension bin for most of the sensors is just for consistency. The idea behind that is that the file extension should not be used directly, instead there is a description of the file in the meta data,  "Output data format": "text/xml" in this case.

[2016-04-20 13:20] markus-radermacher-lemnatec commented on #26
regarding 5)

whats the difference to 3)
Could you give a clear definition.

[2016-04-20 13:40] markus-radermacher-lemnatec commented on #26
regarding 6)

could you send me the original file, because of the ongoing repair of the gantry the remote access is shut off.
Most probably the software has been terminated during file writing, but I will check.

[2016-04-20 15:05] dlebauer commented on #26
@markus-radermacher-lemnatec

* **1) time span of environmental logger** 1h as you suggest is okay.
* **4) changing .bin to .xml** ok. keep as is with .bin extension
* **6** the error is in all the dozen or so files I have checked. the sample file is listed at the top of the original post  ([2016-02-15_21-20-08_enviromentlogger.json.txt](https://github.com/terraref/reference-data/files/178402/2016

[2016-04-20 15:14] markus-radermacher-lemnatec commented on #25
Position of sensors in the box->
position of remaining sensors in the camera box will be added to meta data files from my colleagues Tino and Bob next week.

the position of the 0,0,0 ->
we have one fixed coordinate system of the gantry, that can not be changed. But of course there should be a well defined transformation of this coordinate system to either a customer coordinate system (in which th

[2016-04-25 16:30] czender commented on #26
@markus-radermacher-lemnatec @dlebauer @FlyingWithJerome
Jerome is working to parse the environmental sensor data for combination with the hyperspectral imager data. He finds the ES data is not properly formatted (below). Can Lemnatic please address this so we do not need to write workarounds? Thanks!
Jerome says:
Right now I'm working on parsing the environmental logger, and I noticed that there'

[2016-04-25 16:33] dlebauer commented on #26
@czender is more than `sed 's/}{/},{/g'` required to correct the error?

@markus-radermacher-lemnatec what is the timeline for fixing this?

[2016-04-25 16:40] czender commented on #26
@FlyingWithJerome will answer your question @dlebauer
i'm just a messenger :)

[2016-04-26 04:58] FlyingWithJerome commented on #26
@dlebauer @czender
Sorry, I just noticed this discussion thread.
I reformatted them like this:
[ {"environment_sensor_set_reading": {...}} , { "environment_sensor_set_reading": {...}}, {"environment_sensor_set_reading" : {...}} , ...... ]
so yes, as you mentioned above, adding square brackets and commas would fix this problem.

[2016-04-27 17:51] TinoDornbusch commented on #26
@dlebauer , I cannot do anything about it. I need to push Markus.

[2016-04-27 18:56] dlebauer commented on #20
@rachelshekar could you please (edit and) send out this post [the version on the website](http://terraref.org/articles/simulated_phenotypes/) to the mailing list?

[2016-04-27 20:54] TinoDornbusch commented on #25
@dlebauer by Bounding box of sensors you mean the theoretic coordinates in m on a plane 2m away?

IF so which format? as array? [xmin,ymin,xmax ymax]?

[2016-04-27 22:59] dlebauer commented on #25
@TinoDornbusch as an array or set of key:value pairs is fine. A standard format like geojson (see https://github.com/terraref/reference-data/issues/2#issuecomment-168700121) would be ideal, but transferring the information is most important.

But if your interested, [geojson would define a bounding box](http://geojson.org/geojson-spec.html#id4) as:

[code]

[2016-04-28 01:12] TinoDornbusch commented on #25
OK, will add the bounding box in this notation. Please note that it will be as text. Not sure how to write the text 100% like your example in XML.

Position of all cameras/sensors in box added to Metadata.

Downdwelling solar radiation is given in EnvironmentalSensors (PAR and Spectrometer).

Please check and Lets make an update on missing meta data tomorrow.

[2016-04-28 05:26] dlebauer commented on #25
this is discussed further under 'changes to environmental sensors': terraref/reference-data#26

but for the spectrometer, I see this:

[code]

that doesn't provide a measure of energy flux. I might expect a third field 'radiance' or other measure of energy flux

[2016-04-28 07:58] markus-radermacher-lemnatec commented on #26
@dlebauer the output format for the environment logger will be changed as suggested to a json list, the fix will be available from the 3th of May on.

[2016-04-28 17:17] TinoDornbusch commented on #25
I added the field of view as Metadata. From the postion of camera in box & FoV you can compute bounding box.

[2016-04-29 16:35] rachelshekar commented on #20
@dlebauer ready for you to approve edits prior to distribution

[2016-05-03 14:06] Ndrey commented on #26
@dlebauer Hi this is André from LemnaTec, since Markus is ill this week I will jump in to fulfill our promise. Did I understand it correct that in first place you guys are happy if the environment logging json files are valid and as json Arrays?

[2016-05-03 16:26] dlebauer commented on #26
@Ndrey yes, it is okay if the environment logging is provided as valid json files. It isn't clear what you mean by as arrays (could you paste an example?) but even key-value pairs are okay.

That is okay for format, but for content and frequency please see additional comments above.

[2016-05-03 16:39] Ndrey commented on #26
@dlebauer With json array I only meant to put the elements in square brackets and seperate them with commas as suggested.

Markus already changed it to a lower frequency, so each hour a new file is created instead of each 2 minutes, but the file size is then around 170 MB each...

[2016-05-03 17:05] czender commented on #26
@Ndrey @dlebauer to be a bit more general, please ensure that all sensor files indicated (by .json suffix) as storing JSON are actually valid JSON. Once we convert them to netCDF, their size will be significantly reduced.

[2016-05-04 13:42] markus-radermacher-lemnatec commented on #26
See below the updated output of the environment logger to a more structured format now.
Could you confirm, that the layout of the new format fits your needs and meets the json standard.
After your confirmation I will update the software on the gantry system.

{
  "environment_sensor_fixed_infos": [
    {
      "par_sensor": {
        "fixed_info_0": "...",
        "fixed_info_1": "..."
      },

[2016-05-04 13:59] dlebauer commented on #26
1. Where is spectral flux
2. Does it pass the jsonlint validator?
On Wed, May 4, 2016 at 8:42 AM markus-radermacher-lemnatec <
notifications@github.com> wrote:

[2016-05-04 15:19] czender commented on #26
please at the same time fix the spelling of the filenames from "...enviromentlogger.json" to "...environmentlogger.json".

[2016-05-04 16:13] TinoDornbusch commented on #26
The output of the spectrometer is 'raw' counts.

You need to use the attached calibration files to convert it to units of µW m-2 s-1. Careful you need to take the bandwidth of the chip into account (0.4nm) if you want to convert to µmol m-2 s-1.

I added the calibration files to the gantry ftp:

/gantry_data/LemnaTec/EnvironmentLogger/CalibrationData

[2016-05-04 16:15] Ndrey commented on #26
@dlebauer The file Markus pasted here passed the json validator from Newtonsoft as well as the http://jsonlint.com/ validator

[2016-05-04 16:32] rachelshekar commented on #20
@dlebauer is this ready to be sent out?  The text and the web link or abbreviated text and the web link?

[2016-05-05 14:48] rachelshekar opened #28 "Expand mailing list"
add users
request that users encourage their postdocs and graduate students to sign up

[2016-05-05 15:23] max-zilla commented on #26
@dlebauer @czender Here are the two Calibration files that Tino mentioned:
[Calibrations.zip](https://github.com/terraref/reference-data/files/250620/Calibrations.zip)

[2016-05-05 15:24] max-zilla commented on #26
..and here is the latest EnvironmentalLogger json file, from this morning (5/5):
[2016-05-05_07-20-52_enviromentlogger.json.zip](https://github.com/terraref/reference-data/files/250623/2016-05-05_07-20-52_enviromentlogger.json.zip)

[2016-05-05 16:00] dlebauer commented on #26
@markus-radermacher-lemnatec @TinoDornbusch could you make sure to correct the spelling of enviROMent in the environmentlogger file?

[2016-05-05 17:19] TinoDornbusch commented on #26
@dlebauer. I have no access to the source code to make these changes. I try to bother Markus on holiday.

[2016-05-05 17:36] TinoDornbusch commented on #25
I have added information on userGiven.xml to get first information on experiment Metadata in.

Important are two entries: "campaign" and "mission or scan".

"campaign" somewhat denotes a series of different measurements grouped together. Currently we run "seedling emergence and early vigor" experiments.

"mission or scan" denotes the a scan done with a specific set of sensors.

At the moment I hav

[2016-05-05 18:15] dlebauer commented on #28
Here is the spreadsheet: https://docs.google.com/spreadsheets/d/1CWvyOrf4ZaMWOp44YvWgfEffGBIZPkUJ4aQ-RWJbaeY/edit#gid=0

[2016-05-05 18:58] dlebauer commented on #26
@markus-radermacher-lemnatec @TinoDornbusch What is the status of the CO2 sensor - are you going to fix it on the gantry and combine the data stream with the environmental logger?

[2016-05-05 19:10] TinoDornbusch commented on #26
Could someone help out with a batch rename script for ftp to rename the environment jsons?

[2016-05-05 19:31] dlebauer opened #29 "Fix invalid environmental_logger files"
Need to re-process existing environmental logger files per terraref/reference-data#26

* [x] rename to fix typo in name
* [x] convert to valid json
* [ ] move corrected files back to /projects/arpae/terraref/raw_data/ua-mac/EnvironmentLogger
* [ ] delete invalid, misnamed files

something like:

[code]

It may not be the most efficient, but it seems to work.

When everything checks out, we can `rm

[2016-05-05 19:32] dlebauer commented on #26
@TinoDornbusch I've made a separate issue (#29) for the fixing and renaming of the logger files.

[2016-05-05 19:35] czender commented on #26
@FlyingWithJerome
Please alter EnvironmentalLoggerAnalyser.py to work with
2016-05-05_07-20-52_enviromentlogger.json
as new default filetype. it should not have any JSON issues, and so should be opened read-only (not r+, which causes failure on Roger computer since we don't have write permission on input directory). Print a warning and exit if there is a JSON issue. Assume from now on that all log

[2016-05-05 19:55] FlyingWithJerome commented on #26
@czender I just tested it and EnvironmentalLoggerAnalyser.py can deal with it without any changing. The total running time is 26.894s and the output netCDF is 7.7MB. However, we should not remove the reformatting function or changing the reading mode.
2016-05-05_07-20-52_enviromentlogger.json is not a valid JSON. We still need to reformat the "environmental_sensor_set_reading" to an array. If we d

[2016-05-05 19:58] dlebauer commented on #26
@FlyingWithJerome we are going to fix all of the invalid files (#29) so you should not have to deal with them ...

[2016-05-05 20:06] FlyingWithJerome commented on #26
@dlebauer I'm sorry and I just noticed that, thank you!

[2016-05-05 20:20] dlebauer commented on #29
I've copied files to /gpfs_scratch/terra-rename/ and have submitted a job ([this script](https://gist.github.com/dlebauer/3eb6910b687209486b88f7c12110a370)) to process these files

[2016-05-06 03:25] dlebauer commented on #29
Here is the code so far:

[code]

[2016-05-06 03:30] dlebauer commented on #29
@yanliu-chn when PID 35213 is finished, could you please run the following (requires write access to `raw_data` folder)?

[code]

after everything is okay we can delete the scratch folder

[code]

[2016-05-06 03:51] TinoDornbusch commented on #29
Thanks for this workaround. We will fix this as soon as Markus is back on track from his sick leave.

[2016-05-06 05:19] #11 closed

[2016-05-06 15:07] yanliu-chn commented on #29
Done except that I didn't remove the scratch data. Could anyone check if rsync was successful?

[2016-05-06 16:18] dlebauer commented on #26
@FlyingWithJerome all of the environmental data through 2015-04-13 have been corrected. I've checked that these files are valid json. Could you please check that your script works with these?

[2016-05-06 17:19] TinoDornbusch commented on #26
Spelling error is fixed from 6.5.2016 on.

[2016-05-06 17:45] FlyingWithJerome commented on #26
@dlebauer Yes, I rerun the script after removing the reformatting function. It works well, thank you!
There's a wrinkle for me and seems it is OS X only. "sed" command needs one more option, so I added an empty string to solve it:
sed -i '' 's/}{/},{/g' $file

[2016-05-06 17:52] dlebauer opened #30 "How to calculate downwelling spectral radiances"
Currently the spectral radiances are uncalibrated, and provided in the environmental logger as:

[code]

from
[2016-04-13_00-38-15_environmentlogger.zip](https://github.com/terraref/reference-data/files/252642/2016-04-13_00-38-15_environmentlogger.zip)

Calibration files are in EnvironmentLogger/CalibrationData/
[Calibrations.zip](https://github.com/terraref/reference-data/files/250620/Calibration

[2016-05-06 18:00] TinoDornbusch commented on #30
The spectrometer output is irradiance. Which units do you want? W m-2 s-1?

[2016-05-06 18:00] czender commented on #26
Either the logger data on Roger have not been updated, or there is a problem with the updated files, or there is a problem with EnvironmentalLoggerAnalyser.py. Same problem with 2016-04-07 files:

ender@cg-gpu01:~$ python ${HOME}/terraref/computing-pipeline/scripts/hyperspectral/EnvironmentalLoggerAnalyser.py /projects/arpae/terraref/raw_data/ua-mac/EnvironmentLogger/2016-05-02/2016-05-02_12-10-52

[2016-05-06 18:02] dlebauer commented on #9
1. Find all plots where [accession X] was planted
  1. Find all points and dates where seeds of [accession X] were planted
  2. find bounding boxes associated with these plots
  3. use bounding boxes to query data from [sensor X] (e.g. raster image) from [date range] (in Clowder)
2. find all trait values (in BETYdb traits table, summarized to plant or plot level) associated with [accession X] coll

[2016-05-06 18:09] czender commented on #30
My understanding is we will multiply the calibration times the count to obtain the irradiance in uW m-2 s-1. We are interested in that, and in _spectral irradiance_, i.e., uW m-2 m-1 s-1 where the additional "m-1" is per unit wavelength. It's unclear to me how to obtain this. Do we divide by the bandwidth = 0.4e-9 m? That would imply that the reported irradiance only accounts for the energy in the

[2016-05-06 18:12] TinoDornbusch commented on #30
Irradiance in µW m-2 s-1 nm-1  =  count * Joule/count / area / integration time

count                  //spectrometer output
Joule/count        //table in calibration file
area                   = pi/4 *(3900µm/10^6 µm/m)^2; //this is the area of the fibre optics the light
 integration time = 5000µs/10^6 µs/s  //spectrometer output

[2016-05-06 18:15] TinoDornbusch commented on #30
Yes right......... µW m-2 s-1 nm-1 you need to divide by 0.4nm (average bandwidth).

[2016-05-06 18:26] czender commented on #30
Do you have a table of the actual bandwidth per channel? Or should we effective bandwidth of each channel is 0.4 nm? We will treat these bandpasses as effective square-wave (boxcar) bandwidths unless you say otherwise.

[2016-05-06 18:32] dlebauer commented on #30
Current plan is for data products to follow CF conventions, as described in #14. [CF provides these variables](http://cfconventions.org/Data/cf-standard-names/32/build/cf-standard-name-table.html). The units they have include steradian. Will this be required to interpret the downwelling flux?

* downwelling_radiative_flux_per_unit_wavelength_in_air
  * alias: downwelling_spectral_radiative_flux_in

[2016-05-06 18:42] dlebauer commented on #30
@czender if I understand correctly the boxcar being integrating over  [&lambda - 0.2, &lambda + 0.2]. That seems a reasonable assumption to start with - would such an assumption about the shape of this function introduce a meaningful level of error? (i.e. I don't fully understand, but the maximum flux of a boxcar would lower than a normal distribution).

@serbinsh and @ashiklom have suggested that

[2016-05-06 18:48] dlebauer commented on #26
@czender per https://github.com/terraref/reference-data/issues/26#issuecomment-217488670 above "all of the environmental data through **2015-04-13** have been corrected."

From the command you executed, it looks like you were trying to process data from 2016-05-02. These data are still transferring, and I will fix them after we get the last of the old malformed envir**om**entlogger files -

[2016-05-06 18:48] czender commented on #30
radiance, not irradiance, has sterradian in the units. irradiance is radiance integrated over angles and multiplied by a cosine factor. my understanding is that the sensor essentially measures irradiance (at least that is what it is calibrated to return). so the docs may need to change.

i asked, and @TinoDornbusch will tell us what the 0.4 nm really means. it sounds like it is an effective square

[2016-05-06 18:57] TinoDornbusch commented on #30
@czender Thanks for explaining the difference between radiance and irradiance.

I ask Ocean Optics for some clarification of that 0.4nm bandwidth. Nothing written in their documentation.

Note that the spectrometer has a cosine-corrected integrator. Hence we measure irradiance.

[2016-05-06 19:06] #28 closed

[2016-05-06 20:00] TinoDornbusch commented on #26
@dlebauer ... The CO2 sensor moves and is hence a moving sensor. Relocating it to the top of the gantry and change the datastream require time and work ressources. I cannot do that.

I find measuring the CO2 concentration close to the canopy a valuable measurement

[2016-05-06 20:02] TinoDornbusch commented on #26
@dlebauer Of course if you want that we implement this, but it will take some time.

Moreover we are in measurement campaign and gantry downtimes should be minimal.

My suggestion would be to do that after the experiment along with other upgrades.

[2016-05-06 21:43] dlebauer commented on #26
That is what I am confused about - it is not clear what information this will provide? I don't think it will be possible to resolve plot-scale (~2x4 m plots) effects on atmospheric [CO2] at > 2m above the canopy. [LiCOR provides an excellent book explaining the theory](https://www.licor.com/env/pdf/eddy_covariance/Brief_Intro_Eddy_Covariance.pdf) of eddy covariance, but we are not set up to use th

[2016-05-11 15:00] dlebauer commented on #26
@TinoDornbusch

the environmental sensor data still writes out "?" which I suspect should be "micro"?

[code]

[2016-05-11 15:12] TinoDornbusch commented on #26
@dlebauer ...yes it is µ... I will have our IT guys fix this.

[2016-05-11 20:16] TinoDornbusch commented on #26
you should get units of    umol  and   us

[2016-05-12 15:59] dlebauer commented on #30
@czender raises the issue that the hyperspectral sensor measuring downwelling spectral radiances does not cover the range of the SWIR database.

He suggested that the key source of variability would be column water vapor (O 10%) , we could use near IR absorbance model the solar spectral flux in the longer wavebands (> 800).

My suggestion was that we could use the white reflector to calibrate an e

[2016-05-12 17:12] dlebauer commented on #29
@yanliu-chn sorry, I gave you the wrong Rsync code ...

1. [ ]  delete the previously moved *environmentlogger.json from /projects/arpae/terraref/raw_data/ua-mac/ (`rm /projects/arpae/terraref/raw_data/ua-mac/*.environmentlogger.json`)
2.  [ ] delete the misspelled original files `rm /projects/arpae/terraref/raw_data/ua-mac/EnvironmentLogger/*/*.enviromentlogger.json`
2.  [ ] move files from /gpfs

[2016-05-12 17:58] yanliu-chn commented on #29
ok. i have rerun the rsync. but the `*/*environmentlogger.json` does not work because there are too many files to fit in a linux command. instead, i did the following. Please check to see if it worked as expected. It should work now.

<pre>
for f in /gpfs_scratch/terra-rename/EnvironmentLogger/*; do [ -d $f ] && echo "rsync -routi $f/*environmentlogger.json /projects/arpae/terraref/raw_data/ua-mac

[2016-05-12 20:32] dlebauer commented on #25
@TinoDornbusch please use [ISO-8601 standard](https://en.wikipedia.org/wiki/ISO_8601) standard for all dates and times. i.e. "YYYY-MM-DD".

[2016-05-12 20:46] dlebauer commented on #25
@TinoDornbusch I see that you have added the bounding box information - which is great - but it is not clear what information the bounding box and field of view provides. We will need to calculate the coordinates in [x, y, z] for the bounding box in the focal plane for each image.

Here is a sample from the file /projects/arpae/terraref/raw_data/ua-mac/MovingSensor/stereoTop/2016-05-10/2016-05-10_

[2016-05-12 21:15] dlebauer commented on #25
@TinoDornbusch I also noticed that the file above does not contain the location of the sensor box, only the location of the sensor within the box. Earlier metadata files had this information under 'gantry_system_variable_metadata'

e.g. from VNIR/2016-05-05/2016-05-05__08-11-33-268/2a071022-6c45-459d-839a-73f0ab69d73f_metadata.json

[code]

[2016-05-13 09:23] TinoDornbusch commented on #25
@dlebauer  will adjust times in Metadata....Changes in source code forwarded to IT

I thought bounding box at 2m distance was of interest. Else please specify what you need.

Gantry_system_variable_metadata contains the position of the reference point in the camera box, to which all sensors are referenced to.

[2016-05-13 14:43] dlebauer commented on #25
* I don't see the gantry position in the file referenced above. Can you
confirm that these are being generated?
* I don't understand the data provided in the bounding box. There are two
values provided. Are these coordinates or dimensions? Preferably
coordinated referenced to the gantry [0,0,0] point.
On Fri, May 13, 2016 at 4:23 AM TinoDornbusch <notifications@github.com>
wrote:

[2016-05-13 18:40] TinoDornbusch commented on #25
@dlebauer I do not get it gantry position was X=203.6m Y=0m Z=0.67m as specified in gantry_system_variable_metadata. Sorry

Field of view means a box with dimension in X and Y given with the camera X,Y as center of mass. That was a value Jeff White was interested in.

[2016-05-16 19:19] dlebauer commented on #25
@TinoDornbusch The file mentioned in https://github.com/terraref/reference-data/issues/25#issuecomment-218888032 did not have the sensor box position. [stereoTop/2016-05-10/2016-05-10__14-10-32-010/a3012717-3e46-4f3b-bf3b-8606d457e3e4_metadata.json](https://gist.github.com/dlebauer/8da83f500a6003dcf736e1890f3d6131#file-a3012717-3e46-4f3b-bf3b-8606d457e3e4_metadata-json). But now I see that is beca

[2016-05-17 07:53] TinoDornbusch commented on #25
@dlebauer  yes my apologies I/Bob did an XML spelling mistake and some user-defined metadata was not written.

The center of the bounding box is the camera position.

[2016-05-17 15:31] dlebauer commented on #11
Genomics data: Ft. Lauderdale accords.
[wellcomereport0303.pdf](https://github.com/terraref/reference-data/files/268559/wellcomereport0303.pdf)

[2016-05-17 15:34] dlebauer commented on #11
TL:DR; CC-BY (not share alike) for data, MIT for software, Ft. Lauderdale for data.

[2016-05-18 14:18] TinoDornbusch commented on #30
@czender   I asked Ocean Optics support. The bandwidth of the dispersion is NOT constant 0.4nm. To compute the width you need subtract adjacent center wavelengths.

To compute W m-2 you need to divide by this value, which roughly 0.4 nm.

[2016-05-18 15:07] dlebauer commented on #30
@TinoDornbusch this is not clear to me. Could you please write out a formula? For example, if we have wavelengths

id | wavelength | bandwidth |
|:---|:---|:---|
|1 |  337.70483 | |
|2 | 338.16013791719934 ||
|3 | 338.61548740418232 | |
|4 |        339.07087845402685 | |

What would be the bandwidth for each of these wavelengths?

From what you say, it would be bandwidth_2 = wavelength_3 - wavelen

[2016-05-18 15:26] czender commented on #30
@FlyingWithJerome please change the bandwith wvl_dlt from scalar constant 0.4 nm to variable bandwith as indicated above, i.e., as difference between midpoints of adjacent center wavelengths. Maybe this will solve the issue we noticed yesterday, which is that 0.4 nm gives unrealistic spectral flux peaking toward UV rather than visible wavelengths. I will describe this during telecon tomorrow.

[2016-05-18 16:41] TinoDornbusch commented on #30
@dlebauer We have no technical documentation of Ocean Optics. I ask for it.

[2016-05-19 09:34] TinoDornbusch commented on #30
@dlebauer @czender   Simply making the difference between adjacent center wavelength. This came from Ocean Optics:

1	337.7048	0.45530792
2	338.1601	0.45534949
3	338.6155	0.45539105
4	339.0709	.
		.
last pixel		copy of second to last

Delta 1 = WL2-WL1
Delta 2 = WL3-WL2
.
.
.
Last delta = second to last delta

Rounding to 3 digits is more than sufficient to achieve good accuracy.

[2016-05-19 19:19] czender commented on #30
@TinoDornbusch We are having some difficulty obtaining reasonable numbers. Above you say

Are the numbers in the calibration file "joules/count", or do they include the area and integration time, so that they are "joules/count/area/integration time"? We have been assuming the latter, and so have not applied area and integration time corrections ourselves.

[2016-05-20 14:38] TinoDornbusch commented on #30
The computation is correct. We have got a problem to solve. The dark reference. We need to collect a dark reference with closed sensor cap at regular intervals.

THe formula is Irradiance in µW m-2  = (count-darkref) * Joule/count / area / integration time / bandwidth

That's why your values do not make sense. At the moment we have no other solution that someone going up that gantry and covering t

[2016-05-20 15:16] czender commented on #30
@TinoDornbusch I think you neglected a factor of m-1:
 µW m-2 m-1 = (count-darkref) * µJoule/count / area / integration time / bandwidth
Without measured spectral surface insolation, how will we calibrate the hyperspectral imagery into reflectance? The only viable paths are to "fix" the environmental logger calibration (which still won't solve the issue for SWIR calibration) or use a model instead

[2016-05-20 20:35] czender commented on #30
The broadband flux computed as I understand your instructions, is O10^12) too big. See flx_dwn variable [here](http://dust.ess.uci.edu/tmp/environmentlogger_test.nc). While the darkref count will reduce this, it will not eliminate it. There must be a units error or missing factor somewhere.

[2016-05-21 12:58] TinoDornbusch commented on #30
I made a test myself and got 15 kW m-2 at 0:40AM. Off scale by serveal orders of magnitude. The oceanoptics Support confirmed the proposed formula. I suggest to ask Ocean optics directly for clarification:

Oliver Lischtschenko <oliver.lischtschenko@oceanoptics.com>

[2016-05-22 04:34] czender commented on #30
I will be on travel this week and unable to pursue this further until week of 5/31. In the meantime, I encourage others to prioritize flux calibration with Ocean Optics and/or gantry system integrators.

[2016-05-24 06:36] TinoDornbusch commented on #26
@dlebauer  CO2 sensor is now in the environmentlogger.json. I still have it implemented in the moving sensor data acquisition. Will remove if you do not wish to have positional information.

Sensor will be moved on top of the gantry during winter upgrades.

{
  "environment_sensor_fixed_infos": {
    "par_sensor": {
      "manufacturer": "www.apogeeinstruments.com",
      "model": "SQ214",
      "

[2016-05-24 21:03] dlebauer opened #31 "Vocabularies / ontologies to support, and framework for linking synonyms"
Vocabularies to support and framework for relating synonyms across vocabularies, enable to search datasets with translation across vocabularies

Vocabularies to support:
- CGIAR sorghum ontology:
  - http://www.cropontology.org/ontology/CO_324/Sorghum%20ontology
  - http://www.cropontology.org/ontology/CO_715/Crop%20Research
- CF Standard name XML table http://cfconventions.org/Data/cf-standard-na

[2016-05-25 04:34] dlebauer commented on #30
@TinoDornbusch would the [Ocean Optics sea breeze software](http://oceanoptics.com/product/seabreeze/) help in generating calibrated output from this sensor?

[2016-05-25 04:36] dlebauer commented on #30
@czender I am still waiting on a reply from Oliver but found this page on how to calibrate the sensor http://oceanoptics.com/faq/order-operations-spectral-calculations/

[2016-05-25 20:54] dlebauer opened #32 "Converting lemnatec scanner metadata to absolute geographic positions"
_From @solmazhajmohammadi on March 18, 2016 20:31_

@czender, At the moment there is no accurate GPS at the gantry box. It is planned to add geographical coordinates to metadata, based on the fixed point on the ground and a RTK GPS location.
Here are locations from each corner of the field that @rjstrand sent from his phone:

SE Corner 33° 04.470' N / -111° 58.485' W
SW Corner. 33° 04.474' N / -11

[2016-05-25 21:08] rjstrand commented on #32
@dlebauer Thanks for the reminder.  I just uploaded a .zip file to Box that contains RTK GIS measurements in various shape files.  It is located in UA Site Information\GIS Shape Files.  There are shape files for rail extents, foundation locations, sprinkler locations, a set of calibration points through the field, and a single point that represents the reference (0,0) for the current setup.  Each

[2016-05-25 21:16] dlebauer commented on #32
Thanks @rjstrand since the Box folder is restricted I uploaded them here for quick reference:

 [Gantry_Adjusted.zip](https://github.com/terraref/reference-data/files/283002/Gantry_Adjusted.zip)

[2016-05-25 21:18] czender commented on #32
We are at an impasse with calibrating the radiometric data, so this is a good time to try to implement the above geolocation. @FlyingWithJerome please read this thread and try to implement the suggested algorithm within JsonDealer, i.e., decorate the hyperspectral output file lat(x,y) and lon(x,y) where x and y are the existing pixel dimensions.

[2016-05-25 22:59] SolmazHajmohammadi-LemnaTec commented on #32
@czender @FlyingWithJerome
I think it would be better to wait for the triggered data from Hyperspectral camera. I think it is currently working for VNIR.  Using external trigger will solve the problem, and you only need to convert from Gantry coordinate system to GPS coordinate(if you want GPS location)

[2016-05-25 23:51] dlebauer commented on #32
@rjstrand, I think cz is referring to issues computing down welling radiance a from the ocean optics hyper spectral sensor https://github.com/terraref/reference-data/issues/30

[2016-05-25 23:52] dlebauer commented on #32
I meant @SolmazHajmohammadi

[2016-05-26 14:49] rjstrand commented on #32
@czender @dlebauer
Just for clarification, the SWIR is functioning with the external trigger.  The VNIR is the instrument that has been giving us problems with the external trigger.  Additionally, VNIR is currently down.  I will look at it when I return to Maricopa on 31 May.

[2016-05-27 21:16] caicai89- commented on #32
When calculating the positions, we found that we need more information about the gantry and field.
1. Are the sensors fixed on the gantry?
2. In what direction can gantry move, or what is the direction of the track?
3. What is the exact point on gantry that have the position recorded in the metadata? And what is the coordinate origin, SE corner?
4. What is the exact point on camera that have the p

[2016-05-27 22:46] dlebauer commented on #32
@caicai89- see some of the discussion here: https://github.com/terraref/reference-data/issues/25#issuecomment-219126297

I'll answer but will want someone from Lemnatec (@rjstrand or @TinoDornbusch?) to confirm.

First lets define rails, gantry is the big two-legged bit attached to rails and sensor box is moved around by the gantry.

![image](https://cloud.githubusercontent.com/assets/464871/15622

[2016-05-27 22:48] dlebauer commented on #32
@caicai89- see also https://github.com/terraref/reference-data/issues/32

[2016-05-28 06:11] TinoDornbusch commented on #32
@dlebauer all correct. Godd drawing. May be the schematic drawing of the sensorbox helps to understand the Relations inside the box.
[7100019_20160215_Kamerabox_Koordinaten.pdf](https://github.com/terraref/reference-data/files/287591/7100019_20160215_Kamerabox_Koordinaten.pdf)

[2016-05-28 15:26] rjstrand commented on #32
A few clarifications...

(0,0) - the X,Y origin is not at the SE foundation.  If you look at the set of shape files, there is one called "reference".  This is the single point representing the SE corner of the camera box when the gantry coordinates read (0,0).  This location was set by our electrical/control contractor.  We did not have a chance to modify this before the experiment started, so we

[2016-06-07 00:10] TinoDornbusch commented on #30
I put a black cap on the spectrometer today (7.6.201) around 4PM to measure dark reference over a period of min 24h to see if there are diurnal variations. Lets hope this is quite stable since the spectrometer is in a climatized box. Let me know whether you computed values make more sense now after subtraction of dark current.

[2016-06-08 14:11] caicai89- commented on #32
@rjstrand With the .dbf file and gantry coordinates from @TinoDornbusch , I think we can check if the error. Where could I find the file? Do you mean current field is with size of  203.5 (207.3-3.8)   * 22.135?

[2016-06-08 14:33] dlebauer opened #33 "Upload plot center coordinates to clowder"
From @LTBen: The researchers marked the measurement “center” of each range (plot).  Stuart and Tino collected the gantry coordinates of these positions

@smarshall-bmr and @TinoDornbusch could you please send these coordinates to me or upload them to google drive?

[2016-06-08 14:37] dlebauer opened #34 "Document sensor calibration protocols"
From 2016-06-03 meeting, @LTBen offered to draft sensor calibration protocols, and would do this with help from @smarshall-bmr , @jeffwhiteAZ, @TinoDornbusch

[Here is the list of sensors on google drive](https://docs.google.com/spreadsheets/d/1xkEHQd_5x3Yzv3f61bfns3ZFoP7xXq8AUNK4fmS3kXg/edit#gid=1085009115)

[Draft of Calibration Protocols](https://docs.google.com/document/d/18mfZXAyf3_e3tJHz6R2G

[2016-06-08 14:48] JeffWhiteAZ commented on #34
From the Tuesday 8 June meeting at ALARC, field calibration of hyperspectral and FLIR are challenging and will require testing different options. We expect to pursue this during June-July and will hold meetings at ALARC to discuss progress.
I'd suggest Ben focus initially on protocols for:
RGB color component of StereoVIS
Stereo component of StereoVIS
3D Laser

[2016-06-08 15:40] JeffWhiteAZ commented on #34
If there is pressure for an initial document, I would just ask Lemnatec (Ben) to provide their basic protocol.

From: David LeBauer [mailto:notifications@github.com]
Sent: Wednesday, June 8, 2016 7:55 AM
To: terraref/reference-data <reference-data@noreply.github.com>
Cc: White, Jeffrey - ARS <Jeffrey.White@ARS.USDA.GOV>; Mention <mention@noreply.github.com>
Subject: Re: [terraref/reference-data] D

[2016-06-08 15:50] JeffWhiteAZ opened #35 "Quick inventory of data available"
Just had a query for wheat data. Do we know if any usable data were obtained from the Scanalyzer?
Is Clowder the best place to monitor data availability? I'd guess I'd like a data overview that tells the status of anything in the pipeline - raw, initial QC ... final product

[2016-06-08 16:00] dlebauer commented on #35
@JeffWhiteAZ wheat data should be available, though if I recall correctly there is a lot of missing information in the meta-data. You can currently search by date in Clowder (e.g. https://terraref.ncsa.illinois.edu/clowder/search?query=2016-03) for data collected before the first week in April. You could also look in Globus ([see documentation](https://terraref.gitbooks.io/terraref-documentation/c

[2016-06-08 16:14] JeffWhiteAZ commented on #35
But looking at Clowder, there is no easy way to know:
- if these are just random tests or are useful whole field scans?
- if the system performed as expected?
- what level of processing they received
A search for "wheat" == no results.
How do we clean up metadata from these initial runs?
Possibly, there are no useful Scanalyzer data for 2016 wheat, so maybe not worth pursuing.

[2016-06-08 16:17] JeffWhiteAZ commented on #35
For the 2016-03 search, the displayed results show two "collections" identified as:
Name:
2016-04-03
Description:
All datasets on this date.

One seems to be VNIR and one is FLIR. Can we improve the information displayed here or again, is this because metadata are incomplete?

[2016-06-08 16:23] JeffWhiteAZ commented on #35
A search for "2016-04" identifies one collection from 2016-04-04.
A search for "2016-03" identifies one collection from 2016-03-05 and the two mentioned above from 2016-04-03.
I would have expected multiple datasets between 2016-03-05 and 2016-04-03. Am I misunderstanding the search procedure?

[2016-06-08 16:51] caicai89- commented on #32
@rjstrand  the gantry coordinate system is right-handed.
1. Is the camera box coordinate also right-handed?
2. to = [+xg+Vx*(t) +yg +zg]', for this formula, where can I find the t value? The sample metadata is the following.
"gantry_system_variable_metadata": {
      "Time": "05/07/2016 15:58:43",
      "Position x [m]": "203.6",
      "Position y [m]": "2.499",
      "Position z [m]": "0",

[2016-06-08 16:57] max-zilla commented on #35
@dlebauer yes, the logs are collecting information about what is being collected. I'm working with Rob to integrate them with LogStash so we get a digest summary - the logs are large and unwieldy right now. Hope to have this ready soon.

@JeffWhiteAZ the metadata and Clowder search capabilities are still being improved.

The duplicate collections are likely an artifact of the development process -

[2016-06-08 18:38] #26 closed

[2016-06-09 00:39] TinoDornbusch commented on #33
It is uploaded to Google Docs.

[2016-06-09 17:15] gsrohde commented on #32
@dlebauer @rjstrand I just thought I should clarify "right-handed" coordinate system vs. "left-handed" coordinate system.  "right-handed" (also called "standard orientation") is what mathematicians usually use.  I means that if the positive x-axis is going off to your right and the positive y-axis is going up, then the positive z-axis is coming toward you.  What's unusual here is that in a geograp

[2016-06-09 19:20] BuffMyRadius commented on #33
[https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=883764630](url)

[2016-06-09 19:54] dlebauer commented on #33
The goal here is to develop a map of the field that includes the bounding boxes of each plot (as shown in [this field map](https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo/edit#gid=1066629008).

This worksheet provides the northern and southern boundaries and the centerline for each range. I believe that we also need the eastern and western boundaries and centerl

[2016-06-10 01:22] BuffMyRadius commented on #33
It would be hard for me to define east-west boundaries of the plots. Plants will grow into each other over time; its entirely plausible that a plot of smaller plants could get completely out-competed by neighboring plots and essentially cease to exist within just the next few weeks. The x-axis division of plots won't have this issue because the isles between ranges will be trimmed and maintained.

[2016-06-10 23:34] smarshall-bmr commented on #33
I took a few y-axis measurements today; its looking like the plots are not 100% square with the gantry coordinates. Storms are popping up some I'm parked for the time being. How high would you say priority is on this?

[2016-06-12 11:16] TinoDornbusch commented on #33
@smarshall-bmr can you specify how much plots are not square? Note that this is a field experiment. 100% square and resolution is an illusion. The plots should be roughly 4m long. To me the idea is to cut out a region of interest roughly 3m long (in X) and 0.4m wide (in Y) leaving out edge effects in X- and Y- direction. In this area, one should find predominantly plant structures of the genotype

[2016-06-13 17:01] dlebauer commented on #33
@smarshall-bmr

To further clarify: I am looking for the boundaries of each plot based on the experimental design; this measurement will be **_independent_** of how the plants end up growing.

Any division according to how the plants actually grow will be handled separately. As @TinoDornbusch points out, we will also provide a smaller bounding box within each plot that would be of more interest to

[2016-06-13 23:32] smarshall-bmr commented on #33
Ah! Now that I can do! I'll try and get help doing this tomorrow then.

[2016-06-16 21:13] dlebauer commented on #33
@smarshall-bmr any updates? Have you been able to measure the column coordinates here, and what about the position of the [0,0] for standard coordinates starting in the SW corner?

[2016-06-16 21:30] dlebauer commented on #7
@gsrohde I've begun preparing the data provided by Maria in this spreadsheet: https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=1066629008

I've created a citation Newcomb 2016 that can be associated w/ field data

Please start by uploading the sites, cultivars, and treatments tables

[2016-06-17 18:23] smarshall-bmr commented on #33
With Tino's help I was able to check the column coordinates under control from the PLC. The skew that I thought was present turned out to not be there. I suspect that the first time I was confirming measurements under manual control that something went amiss with the gantry's movement. We have measured column 4 =  22.04m and column 32 = 0.632m. Columns 1-3 aren't accessible to the zero point on th

[2016-06-17 18:50] dlebauer opened #36 "Document the parts numbers and specifications for calibration panels / objects?"
We need to know the part numbers and specs for the calibration panels we are using. For example, SphereOptics says that for each panel

We need to collect this documentation. Please attach such documents to this issue.

It will also be useful to have pictures of each panel made with a standard RGB camera.

| object | image | manufacturer | part number | comments |
| :-- | :-- | :-- | :-- | :-- |
|

[2016-06-17 19:07] dlebauer opened #37 "Add level to calibration test object"
For consistent interpretation of calibration panels, Larry Biehl suggests making sure that the panel is level.

Would it be feasible to attach a circular level [similar to this one](http://www.stahl-libellen.com/Circular_spirit_levels/Aluminium_transparent_28.html) to the test objects?

<img width="156" alt="screen shot 2016-06-17 at 2 05 20 pm" src="https://cloud.githubusercontent.com/assets/4648

[2016-06-17 19:16] dlebauer opened #38 "Define calibration protocols for each sensor"
An initial draft of calibration protocols: https://docs.google.com/document/d/132_dkGAIQJ3cG7bQkPIkX7-RgXyWLDoQWJFDj5c-5uU/edit#

For each sensor, define:

* sensor name
* test object(s) / calibration panels
* method of calibration
* required experiments to validate the quality of calibration protocol

[2016-06-17 19:19] dlebauer commented on #38
whoops this is a duplicate of #34

[2016-06-17 19:19] #38 closed

[2016-06-17 19:29] dlebauer commented on #33
@smarshall-bmr where on column 4 is this? Did you make a permanent mark for this point? Shall we set this as [0,0,0]? what is the height of this point relative to the gantry coordinate system?

[2016-06-17 20:29] smarshall-bmr commented on #36
The white reflectance panel is made by SphereOptics. It is uncalibrated and carries only an I.D. number SG3156-U and has a 95% reflectance.

The color chart is manufactured by mennon. It is printed almost exclusively in Japanese, but it does have a key of the RGB values of all the color squares.

The 3D Object came with a set of labsphere Spectralon diffuse color standards Art 050-166. All 8 targe

[2016-06-17 20:35] smarshall-bmr commented on #37
Before each scan I have been checking the test object for levelness with a bubble level. A circular level would certainly make my job much easier though, as long as it can put up with the hot sun here. The 3D object gets scaldingly hot out in the sun!

[2016-06-17 21:00] dlebauer commented on #36
@smarshall-bmr

What are the labels on the 8 targets. Are these calibrated?

It seems odd that we have calibration objects that aren't themselves calibrated - how will we use these if we don't know what their properties are?

For now, please put the information in a new worksheet here: https://docs.google.com/spreadsheets/d/1xkEHQd_5x3Yzv3f61bfns3ZFoP7xXq8AUNK4fmS3kXg/edit#gid=1085009115

And any

[2016-06-18 00:57] smarshall-bmr commented on #36
It's common practice to use uncalibrated targets to quantify differences between runs. Calibrated targets are only used for initial calibration because they are both expensive and fragile. The uncalibrated target is measured on the calibration run and then further runs can be compared using the uncalibrated target without putting the calibrated standard target at risk through daily use.

Both the

[2016-06-18 02:33] smarshall-bmr commented on #33
These values were measured at 3.8, 101.75, and 207.3. We drove the gantry from 101.75 to 3.8 on PLC control and the column runs true to a tolerance that's certainly smaller than I am capable of measuring.

I didn't measure the z-axis coordinates of this point or make any permanent mark at it's location.

If we are to set a point of origin at the south end of the field I would suggest [3.8,0,-0.5]

[2016-06-18 02:48] dlebauer commented on #33
I think I agree - but your last two paragraphs seem to contradict each
other. Could you draw a quick diagram?
On Fri, Jun 17, 2016 at 9:33 PM smarshall-bmr <notifications@github.com>
wrote:

[2016-06-18 03:23] dlebauer commented on #36
Sounds like in the end we can calibrate our uncalibrated panels with sufficient precision, it just won't be certified by NIST.

[2016-06-19 00:41] smarshall-bmr commented on #33
The x-axis rail anchor point is in the middle of the field, somewhere around 102M. What I was trying to say is that we can set the origin at the south end of the field at the minimum (x,y) for the gantry system but it might save some headache later to set the origin at the midpoint anchor on the x axis where the gantry coordinates and real world field coordinates will be the same, regardless of te

[2016-06-19 00:50] smarshall-bmr commented on #36
Using the calibrated color panels is more than enough to figure out the necessary correction curves for the colors we will be measuring, yes. The white panels that we have are still good for run to run color corrections too.

[2016-06-23 20:48] smarshall-bmr opened #39 "Mislabeled aperture in metadata"
While the VNIR is uninstalled I have taken the opportunity to try out different aperture settings on the StereoVIS system while the RGB cameras are accessible. I have just discovered that the cameras have been physically set at f/16 while the metadata has been reporting them as set at f/4.

I have taken the liberty of changing the fixed metadata file so it will write correct values moving forward.

[2016-06-23 21:01] dlebauer commented on #39
@smarshall-bmr

To be clear do you mean "for all SteroVIS metadata files collected before June 23 change aperature from f/16 to f/4"?

[2016-06-23 21:03] dlebauer commented on #39
@pless could you please comment on the appropriate settings?

[2016-06-23 21:06] smarshall-bmr commented on #39
@dlebauer I'm assuming that the settings on the cameras have never been changed since installation. I would have to confirm that.

@pless I'm going to do some optimizing to get us "in the ballpark" of the best settings. I'll keep you updated.

[2016-06-23 21:12] rjstrand commented on #39
@smarshall-bmr - To my knowledge, the settings have not been changed since they were set by Hans Georg Luigs back in January/early February.  There only a few that would have made changes and I will contact them to verify.

[2016-06-23 22:01] smarshall-bmr commented on #39
The only thing that concerns me is that the f/4 that was being written to metadata had to come from somewhere. Either the setting was just misread/misquoted at some point, or it was actually set at f/4 at some point in the past but the metadata wasn't updated when the cameras were changed to f/16.

At any rate it's looking like the final setting will be somewhere between f/8 and f/5.6. This puts g

[2016-06-27 16:36] smarshall-bmr commented on #39
@dlebauer @rjstrand @pless @TinoDornbusch I have done a set of motion blur tests and haven't had any issues, even at 0.33m/s (full speed). I'm about to crank up the scan speed on the VIS/IR scan unless someone has concerns about me doing so. My primary concern is that the FLIR won't keep up.

[2016-06-27 16:38] pless commented on #39
Awesome!!

Robert

On Mon, Jun 27, 2016 at 11:36 AM, smarshall-bmr <notifications@github.com>
wrote:

[2016-06-27 16:46] JeffWhiteAZ commented on #39
Good to hear.
What metrics were used to quantify "haven't had any issues"?
Keep in mind that the scanner is to produce "reference datasets." End-users will expect to know about tradeoffs among scan speed, pixel blur, depth of field, and gain, all as affected by illumination.

[2016-06-27 17:37] smarshall-bmr commented on #39
@JeffWhiteAZ @pless  I did a pixel luminescence decay test in FIJI. All of the decay curves are virtually identical (within 5%) to a static image. I was slightly baffled by this and actually manually triggered a measurement while running 1m/s on the x-axis and found a 27% increase in decay distance. I suspect that the set of images that I took are not exactly at the focal point but I did a lot of

[2016-06-28 22:21] solmazhajmohammadi opened #40 "Camera Position in metadata"
Recorded camera location in camera box for some of the sensors (including SWIR) is not correct. Stuart is going to fix it.

[2016-06-29 14:32] TinoDornbusch commented on #40
@smarshall-bmr  I thought that positions have been recorded correctly in Aachen. Well always doublecheck.
How do you want to measure? I suggest to plumb down the center of view of each camera and measure relative to the plumbed down position of center box (0,0).

[2016-06-29 16:23] solmazhajmohammadi commented on #40
@TinoDornbusch It might be just a typo, and reporting VNIR position instead of SWIR.

[2016-06-29 17:14] smarshall-bmr commented on #40
@solmazhajmohammadi @TinoDornbusch I'll have a look this afternoon if the weather doesn't go downhill. Predictions aren't looking optimistic right now.

[2016-06-29 21:41] gsrohde commented on #7
I think I'm done with my portion of this.  Re-assigning.

[2016-06-30 17:15] solmazhajmohammadi opened #41 "Over-exposed Hyperspec data"
@czender Can you please take a look at the SWIR data from the following dates:
"time": "06/08/2016 10:57:09"
"Time": "05/06/2016 10:51:25"
It seems that  all the bands are overexposed.
@TinoDornbusch  any changes have been made on camera setting since last month?

[2016-06-30 20:34] smarshall-bmr commented on #41
It's worth noting that the preview jpeg images still look the same. That should narrow down possible causes.

[2016-07-07 13:50] rachelshekar commented on #5
@gsrohde - have you started on this yet?

[2016-07-07 13:53] dlebauer commented on #5
@craig-willis please discuss with @gsrohde

[2016-07-07 14:01] rachelshekar commented on #32
@caicai89-  please update this issue

[2016-07-07 16:12] czender commented on #41
Yes the jpeg images look good from the June image. I thought jpegs were created from three bands (RGB) of the hyperspectral image, meaning at least those bands should be good. Am I wrong about that?

[2016-07-07 16:18] smarshall-bmr commented on #41
The three band image from RGB wasn't working, but the three band from HSI was. I just tried opening a newer image and it worked though. Have settings been changed? @solmazhajmohammadi could you check that hypercube is working on your end now as well?

[2016-07-07 16:47] JeffWhiteAZ commented on #35
Any progress on improving search capabilities? I need RGB and FLIR data from sorghum plots showing leaf desiccation for a talk on 4 August.
Thanks!

[2016-07-07 16:48] solmazhajmohammadi commented on #41
I don’t see any data from SWIR  after 6/30 on globus. @smarshall-bmr  Did you do the scan recently?

[2016-07-07 16:52] JeffWhiteAZ commented on #35
(sorry about "closing" -- I misunderstood "close" as "exit" -- not close the issue discussion)
Is the a quick guide to the search tool syntax. I just tried "2016-07" expecting to get datasets from July, but the response was no data for 2016-04-07. Help icon is not very informative.

[2016-07-07 16:56] smarshall-bmr commented on #41
6/30 was the last SWIR scan run. The 4M calibration scan hasn't been run since then because the plants are too tall to set up the calibration targets.

[2016-07-07 16:57] dlebauer commented on #35
once terraref/computing-pipeline#64 is complete, the data will be converted into a useable format.

Enhanced search functionality is in progress (terraref/computing-pipeline#46) by @max-zilla and @craig-willis. @JeffWhiteAZ - defining specific use cases there would help ensure we implement the functionality you are looking for.

[2016-07-07 17:14] max-zilla commented on #35
@JeffWhiteAZ in Clowder there is not currently any data from July - just globus. @robkooper and I needed to refactor several aspects of Clowder to support the volume of data coming in because the Clowder uploads were not keeping up with the globus transfers, and the code fixes are currently being tested before rollout. this update should occur soon and allow us to catch up to current data.

but as

[2016-07-11 20:07] #20 closed

[2016-07-11 20:10] #19 closed

[2016-07-11 20:11] #14 closed

[2016-07-11 20:24] #27 closed

[2016-07-11 20:27] dlebauer commented on #25
closing this issue.  existing components of the meta-data format for raw data from the scanalyzer should not be changed. Additional fields can be added. If changes to existing fields are necessary, these can be described as a github issue and scheduled for implementation prior to 2017 field season

[2016-07-11 20:27] #25 closed

[2016-07-14 13:50] craig-willis commented on #31
As per discussion with @dlebauer, for this task I'll focus on a system to support vocabulary mapping, initially focusing on the listed vocabularies/ontologies. I'll review existing solutions, particularly the EC Geosemantics server, and flesh out requirements. The basic requirement here appears to be a software-based solution and process for mapping these vocabularies where the resulting mapping c

[2016-07-14 13:57] craig-willis commented on #18
Per discussion with @dlebauer, the remaining work on this task it to ensure that the identified traits are available in the system and using the service in #31 we have a method to map synonyms between vocabularies. Tentatively, this might mean defining an initial representation (e.g., vocabulary/ontology); ensuring the new traits are present in BETYdb; and that the resulting vocabulary/ontology is

[2016-07-14 13:59] craig-willis commented on #5
Per discussion with @dlebauer, the remaining work on this task is to ensure that the data standards documentation is up-to-date based on discussions in the subissues.

[2016-07-14 15:30] solmazhajmohammadi commented on #40
@smarshall-bmr can you please update the issue... From which date you have applied the changes in metadada? Which one of the camera's location has been changed?

[2016-07-14 17:35] dlebauer opened #42 "Create a metadata file for fixed sensor / field scanner meta-data"
### Description

I propose that we keep a separate file containing 'fixed sensor metadata'. It should have the same fields / schema that are currently in the *_metadata.json files as well as additional information.

We should _not_ change the current _metadata.json files that are generated, just have a new canonical source for the information.
### Context

There have been a number of times when th

[2016-07-14 17:37] dlebauer commented on #40
@smarshall-bmr I also created #42 which should make it easier to update the fixed sensor meta-data

[2016-07-14 18:53] smarshall-bmr commented on #40
@solmazhajmohammadi @dlebauer would you prefer that the z-axis be the distance to the camera housing, distance to the lens, or distance to the actual detector? In the case of the SWIR there is a mirror that redirects the path of light so the effective imaging distance is quite a bit further away then the vis cameras even though their housings are relatively close in the z-axis.

[2016-07-14 19:47] dlebauer commented on #40
The detector seems like the logical location but I will defer to Solmaz, Robert @pless, and others

[2016-07-15 14:26] craig-willis commented on #5
@dlebauer is there a list of known/expected data products similar to the NEON [catalog](http://www.neonscience.org/sites/default/files/basic-page-files/NEON_DOC_002652.pdf)? If not, would it be worth me trying to put something like this together? I think it would be helpful to ensure full coverage of existing standards for this task.

[2016-07-15 19:40] dlebauer commented on #5
@craig-willis

not beyond what is already in the documentation, and not summarized in a table you linked, but this is a good idea.

That is a good idea, although I think the data products will either be in as-yet non-existent directories (not under raw_data/ua_mac/moving_sensors), and at this point I am not sure of the directory structure that Clowder users, and I don't think it is organized by se

[2016-07-18 15:35] solmazhajmohammadi commented on #40
Distance to the detector and lens, both are logical. The principal point usually is inside the lens glass, distance to the lens might be a better option.

[2016-07-18 17:53] craig-willis commented on #5
@dlebauer perhaps I could just maintain this as internal documentation for now.  Is there a place we put internal docs, e.g., Wiki? I'm using the NCSA Confluence for my personal notes now.

Another question: I'm trying to map different processes (e.g., extractors) to the different data levels/products.  Max walked me through 3 extractors: Geospatial, PlantCV, and Hyperspectral.  Is there a list of

[2016-07-18 18:38] dlebauer commented on #40
What is the "principal point"?
On Mon, Jul 18, 2016 at 10:35 AM Solmaz Hajmohammadi <
notifications@github.com> wrote:

[2016-07-18 18:59] solmazhajmohammadi commented on #40
It is the point that the focal length is measured from it.

[2016-07-19 17:49] dlebauer commented on #5
@craig-willis You can use the documentation repository (github.com/terraref/documentation) or google drive for drafting this.

Not that I can point to right now - many exist as open issues in the computing pipeline repository but I can start writing one up.

[2016-07-22 20:38] JeffWhiteAZ commented on #34
Now that  Lemantec has applied the calibration matrix to the 3D scanners, how can we best test how well the system is working? A first step would seem to be scan the aluminum target and determine how well the  measurements with calibrations applied compare to the measured dimensions of the target.
This could easily be done while the field is clear. It would be interesting to try:
1. Different orie

[2016-07-22 22:00] solmazhajmohammadi commented on #34
@JeffWhiteAZ I am working on this. Staurt is going to do couple of test scans for me next week. Currently west 3D scanner is working perfectly, but East scanner needs some modification in the calibration file.

[2016-07-29 20:27] rachelshekar commented on #32
@yanliu-chn - please update this issue

[2016-07-29 20:34] yanliu-chn commented on #32
@caicai89- could you update the status of this issue? as we discussion, we need a timeline to deliver the first version of this feature.

[2016-07-29 21:34] caicai89- commented on #32
This work will be closed once /pipeline/#101 is finished.

[2016-08-01 14:07] rachelshekar commented on #32
https://github.com/terraref/computing-pipeline/issues/101

[2016-08-01 15:39] craig-willis commented on #5
@dlebauer I've been writing up notes from my analysis if this and #18 and #31 in a Google Doc

https://docs.google.com/document/d/13gXD_OVLffm0hqahDZ3tUvru8IV1fRfM6DiuOcfjr3s/edit?usp=sharing

and accompanying spreadsheet:

https://docs.google.com/spreadsheets/d/1qu3LYomGIiC4Lmzler-bH8jvyfR-GA6lDl5Go0NhO2c/edit?usp=sharing

They are still rough, but I wonder if any of it might be useful for the up

[2016-08-03 13:52] craig-willis commented on #31
Spoke with IN-CORE project team at NCSA -- they have evaluated a number of vocabulary servers and seem to have closely aligned needs.  Will try to setup a meeting with ECGS and IN-CORE team in the coming week or so to share information and requirements.

[2016-08-03 18:50] craig-willis opened #43 "Create a list or catalog of data products"
Creating a list or catalog of existing and planned data products for the TERRA project -- more than just the individual sensor metadata. It might be worth compiling a catalog similar to the NEON project (http://www.neonscience.org/sites/default/files/basic-page-files/NEON_DOC_002652.pdf).   Based on the NEON data catalog, possible attributes of a data product description (e.g., catalog record) are

[2016-08-09 14:54] solmazhajmohammadi opened #44 "The origin of the coordinate system of pointclouds"
@ZongyangLi @pless
Right now the origin of the coordinate system is set to the location of calibration object during the first calibration run.
- We can change the origin in the configuration file and reprocess the data. (Requires Fraunhofer to change it)
- Or we can find the exact location by some test scans and define a new origin and add a transformation matrix to the metadata.
  We can go for

[2016-08-09 16:01] ZongyangLi commented on #44
@solmazhajmohammadi Thanks! We do not have to change the origin. I just want to make sure:

1. Coordinate of ground surface is constant, it will not change as gantry  position z changed;

2. A parameter of converting coordinate into field meters, as y scan distance is 21.8 meters, Y coordinate range in west scanner is from -600 to 21200, can we simply set this parameter to 1000, and assuming that

[2016-08-09 21:02] dlebauer opened #45 "Write protocols for field measurements"
- [ ] For field measurements, clearly specify how they should be taken so that they can be reproduced across sites.
- [ ] Identify and review existing protocols
  - [Pérez-Harguindeguy et al 2013](http://dx.doi.org/10.1071/BT12225), covers plant traits in general
  - [genomes2fields standard operating proceedures](https://github.com/terraref/reference-data/files/409876/GxE-2016-SOP-v1.1_041116FINA

[2016-08-09 21:07] dlebauer commented on #24
@craig-willis please review - and if it would be easier, open new issues that separately address how to define protocols and data product descriptions (unless they already exist).

[2016-08-09 22:19] dlebauer opened #46 "Upload 2016 first season field measurements to BETYdb"
TERRA-Ref Maricopa Sorghum 2016 first season summary:
- Planting date:  April 19
- Harvest dates:  July 11-14
- Crop duration:  82 days post planting

Summary of manually-collected field measurements (ground truth data collection):
- [x] Emergence: compute percent emergence, n, and statistic
  - [x] Emergence seedling vigor, BAP:  7 dates
    -  [F13_2016_sorghum_emergence.csv](https://docs.google

[2016-08-11 13:42] craig-willis commented on #31
I've been reviewing several services considered by the IN-CORE team for vocabulary management -- iQvoc, TemaTres, LOV, and Skosmos. I've also reached out to the Marine Metadata Interoperability (MMI) project about their ontology registry (http://mmisw.org/orr/). The MMI ORR was selected by the Earth Science Information Partners (ESIP) federation.  While MMI ORR is ontology-centric, it is designed

[2016-08-15 14:22] craig-willis commented on #31
@JeffWhiteAZ @chporter @dlebauer

We discussed one goal of this task as mapping the TERRAref output data and BETYdb to the ICASA vocabulary, possibly hosting a mapping service. Most of the services I've explored so far  (ECGS-KIS, MMI ORR, etc) rely on vocabularies or ontologies being represented in standard formats such as OWL or SKOS to take advantage of semantic mapping operations such as owl:s

[2016-08-15 15:00] JeffWhiteAZ commented on #31
Craig,
We have had several discussions about "ontologizing" the ICASA master variable list and as a first step, have considered publishing in a more readily viewed and searched format. That work hasn't moved ahead due to lack of funding. I expect Cheryl would support me in saying "yes" to any effort by TERRA to help us move in that direction. Thanks for the offer.
What sort of effort would this re

[2016-08-15 15:42] craig-willis commented on #31
Thank you, Jeff. Now that I know you're open to it, I'll put together a few options for discussion this week.

[2016-08-17 19:48] rachelshekar commented on #33
@smarshall-bmr - has this task been completed?

[2016-08-18 04:54] caicai89- commented on #32
#			N(x)
#			^
#			|
#			|
#			|
#W(y)<------SE

SE point has gantry position (3.8,0.0) and GPS position (33.0745,-111.97475).

When transforming a point from gantry coordinate to GPS position, we follow the following 3 steps.
1. Calculate the UTM position of the SE point
2. Calculate the UTM position of the point taking SE point as reference
3. Get the GPS position based on UTM

I tested the extr

[2016-08-18 05:01] dlebauer commented on #32
@rjstrand @smarshall-bmr any ideas?

[2016-08-18 16:14] dlebauer opened #47 "Add geospatial metadata to hyperspectral metadata"
Currently the files only contain the start position. We don't have the width of the line and we don't have the location of each line.

Presumably the gantry knows the x location where each line is triggered.

1. We need the bounding box for the field of view
2. We also need to know the x position of each line

Additional questions:

1. is the grid regular with x and y orthogonal?
  * e.g. does x c

[2016-08-18 16:56] dlebauer opened #48 "Metadata for new Weather Station"
* What sensors are on board?
* How are they calibrated?
* What do column names mean?

[2016-08-18 18:52] max-zilla commented on #32
@caicai89- You mentioned current metadata format during the meeting. I looked at several sensor metadata JSON files from August 17th for the geospatial format.

The gantry data (gantry_system_variable_metadata) is available with every sensor:
[code]

More detailed information (sensor_fixed_metadata) varies by sensor as you might expect. Here are the fields per sensor, **limited to only include the

[2016-08-18 18:53] craig-willis commented on #18
@JeffWhiteAZ @chporter
I'm looking at the ICASA JSON Data Objects page (http://research.agmip.org/display/dev/JSON+Data+Objects) to understand how we can use this as a common interchange format. Is there a specification or schema for the JSON data objects? It looks like some of the object names in the examples differ from the data dictionary dataset/subset/group (initial_condition v initial_condit

[2016-08-18 19:38] smarshall-bmr commented on #33
Range and row coordinates are available here @rachelshekar  https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=883764630

[2016-08-18 19:52] dlebauer commented on #32
@max-zilla why don't you think z would matter?

For a fixed bounding box describing the field of view, if the box is on the ground the view at the top of the canopy is much smaller than the box. I think the field of view is always defined as 2m from the base of the sensor box see also original post / comments here and terraref/computing-pipeline#101

[2016-08-18 19:59] max-zilla commented on #32
@dlebauer just meant not every sensor has a "location in camera box z" in the metadata like they do x and y. We have the gantry z position however. Perhaps this is already accounted for in @caicai89-'s script.

[2016-08-18 20:09] dlebauer commented on #18
@chporter Before we put effort into using this as a common format I just want to confirm a few of my assumptions:

* you think this is a good idea (on behalf of the AgMIP IT group)
* this is the format used within AgMIP / FACE-IT ... and therefore if we export data in this format it could be easily integrated into the FACE-IT / AgMIP workflows ...
* this format would be supported by the proposed N

[2016-08-18 20:19] chporter commented on #18
@dlebauer
- I think it is a good idea, with caveats. For example, ICASA (and therefore AgMIP) does not yet handle sub-daily data.
- this is the format that all of our translation libraries are based on, including model-specific translators. These libraries are implemented in FACE-IT, some desktop applications and some HPC simulations (such as Joshua Elliott's PSIMS
- This is the format we are prop

[2016-08-18 20:20] chporter commented on #18
@craig-willis
There is minimal structure in the json, but there is some.
There are 3 main sections: experiments, weathers and soils. I see that this is not adequately documented on the research site. I'll fix that soon.
Other subsections are correctly described. 'Management events', 'initial conditions', and 'observed' are sub-sections of experiments.

[2016-08-18 21:44] dlebauer commented on #32
@max-zilla two sensors facing up (PRI and NDVI) neither have z nor field of view.

@TinoDornbusch and @SolmazHajmohammadi-LemnaTec @markus-radermacher-lemnatec is there a reason that scanner3DTop doesn't provide any information about sensor position or field of view in its metadata?

[2016-08-18 22:51] solmazhajmohammadi commented on #32
Regarding 3Dscanner metadata, PLY files contain all the necessary information regarding the location of data. And I asked Markus to add the 3Dscanner's position to its metadata.

[2016-08-19 15:15] markus-radermacher-lemnatec commented on #32
Camera box offset and field of view is missing in the metadata of the 3D scanner.
Those values must be determined by a test measurement that has not be done yet, because the setup of the ply calculations has not been finished yet.
@SolmazHajmohammadi-LemnaTec could you perform this test measurement during you visit to the system during the FAT and add the needed metadata?

[2016-08-19 17:49] solmazhajmohammadi commented on #32
Sure, will do

[2016-08-19 22:33] dlebauer commented on #48
(from John Heun at MAC):

This is what the data would look like, if opened with Excel. The top row can be ignored. The second header row contains column information:

* Timestamp - date and time the measurement was made.
* Record - the record number/measurement number since the current program was started.
* BattV - battery voltage of the station.
* PTemp_C - panel temperature of the data logger.

[2016-08-23 15:43] rmgarnett opened #49 "historical weather data"
It would be great to have daily historical weather data (to include t_min, t_max, and precipitation) for Maricopa (or a nearby location) available somewhere.  I will use this to build a weather model to base the regression on.

[2016-08-23 17:45] nfahlgren commented on #31
@craig-willis @dlebauer I saw the note about a standard/interchange format for PlantCV, do we want to have that discussion here or a separate issue?

[2016-08-23 19:59] dlebauer commented on #49
Here is one for 1979-2010. Is that a long enough time series?

[maricopa_daily_met.csv.txt](https://github.com/terraref/reference-data/files/433424/maricopa_daily_met.csv.txt)

For (mostly my own) reference here is the R code to extract the data

[code]

[2016-08-23 22:08] rmgarnett commented on #49
Perfect for now, thank you!  Closing the issue; will open a new issue if something goes awry.

[2016-08-23 22:08] #49 closed

[2016-08-23 22:29] dlebauer commented on #49
PS Temperature in C and precipitation in mm / d

[2016-08-23 22:30] dlebauer commented on #49
PPS citation for these data:

Wei, Y., S. Liu, D.N. Huntzinger, A.M. Michalak, N. Viovy, W.M. Post, C.R. Schwalm, K. Schaefer, A.R. Jacobson, C. Lu, H. Tian, D.M. Ricciuto, R.B. Cook, J. Mao, and X. Shi. 2014. NACP MsTMIP: Global and North American Driver Data for Multi-Model Intercomparison. Data set. Available on-line [http://daac.ornl.gov] from Oak Ridge National Laboratory Distributed Active A

[2016-08-24 14:28] craig-willis commented on #18
Thank you, @chporter

@dlebauer @nfahlgren I've added a Google Doc to the computing-pipeline folder with a very rough rendering of the PlantCV metadata from https://github.com/terraref/computing-pipeline/issues/36 using the AgMIP JSON Data Objects approach.  This is just for discussion.

https://docs.google.com/document/d/1pkt_OBytwx4HioeTCOEQeJKXP4xGGXDmGiwFHWhBqUQ/edit#

Any feedback welcome.

[2016-08-24 14:29] craig-willis commented on #31
@nfahlgren I think #18 is the right forum for this.  I've added a Google Doc with a rough sketch of my thinking and welcome your feedback.

[2016-08-24 14:35] craig-willis commented on #31
@JeffWhiteAZ @chporter @dlebauer

I've added a (rough) document to the computing pipeline folder with some options for creating a linked-data suitable version of the ICASA model.

https://docs.google.com/document/d/1fTcTpKxcanPfRKPC-ZG8KjufGHscx5OCCB-5Ti58ARg/edit?usp=drive_web

Any feedback welcome.

[2016-08-24 14:59] chporter commented on #31
@craig-willis
This is a really nice framing of the issues involved in using the ICASA vocabulary for linked data.
For what we are doing in AgMIP and DSSAT currently, the flat data dictionary is sufficient, but we understand the need for linked data and we want to support the efforts of groups that need that capability. We don't currently have resources to put a lot of effort into making that trans

[2016-08-25 01:42] craig-willis commented on #31
Thank you, @chporter.  I'll bring this up in our weekly meeting tomorrow and report back.

[2016-08-25 02:17] dlebauer commented on #44
To follow up on a discussion from today's call, it does not seem that the scanner3DTop metadata includes information about the sensor position or field of view as is the case with all other sensors. It does, however, provide the location of the scanner box:

Here is the metadata from `sites/ua-mac/raw_data/scanner3DTop/2016-08-12/2016-08-12__02-24-02-273/b6bc5837-3aaf-4443-8dad-289137e3fa9b_metada

[2016-08-25 14:27] JeffWhiteAZ commented on #44
David,
Thanks. It looks like we need to review the metadata for completeness and correctness for each instrument. Stuart, Maria and I looked at the 3D scanner metadata, and I was surprised that there was no data for location within the sensor box. Sensor position in the box is precisely the sort of data that might get changed if we ever modify the sensor box to include new instruments.
Do we have

[2016-08-26 07:55] markus-radermacher-lemnatec commented on #44
Due to a glitch in the config file, only a few meta data infos got into the 3D results. This has been fixed now. Solmaz is working on the transformation from the 3D Ply files into the gantry/world coordinate system.

[2016-08-26 11:40] craig-willis commented on #31
@chporter @JeffWhiteAZ
We discussed this at the meeting yesterday and do want to move forward with the effort to put together a RDF or similar version of the ICASA data dictionary and model -- the task will be assigned to me.  I'll setup a call to discuss. Thanks for your feedback.

[2016-08-26 12:21] chporter commented on #31
@craig-willis @JeffWhiteAZ
Glad to hear it, Craig.

[2016-08-30 19:38] solmazhajmohammadi commented on #32
@caicai89- The issue regarding the difference between the UTM, Gantry and GPS location has been solved? If not, I can take a look at it.
Can you provide more details on how you are calculating UTM locations.

[2016-09-01 17:40] smarshall-bmr opened #50 "SWIR out for service"
Friday 8/26 the SWIR was uninstalled because its sensor thermoregulation system is failing to maintain a constant temperature. We are currently waiting for an RMA tag from Headwall before we ship it out for repairs. LemnaTec is heading this process but I'll act as a liaison and keep everyone updated as the RMA process continues. If the RMA on the VNIR is anything to go by then we will be without t

[2016-09-08 19:26] max-zilla opened #51 "Create custom spatial reference systems for PostGIS"
@yanliu-chn talked today about creating 3 custom SRS's for this project that I didn't capture very well in my notes:
- Arizona MAC coordinate system
- USDA coordinate system
- (0,0) inversion

Could you say a tiny bit about these? I wanted to create an issue to capture that. For my own understanding, I found this:
http://geeohspatial.blogspot.com/2013/03/custom-srss-in-postgis-and-qgis.html
http:/

[2016-09-08 19:33] dlebauer commented on #51
I think the 3 reference coordinate reference systems should be

* Arizona MAC coordinate system
* Raw gantry with x positive west
* inversion of gantry coordinate with 0,0 in SW corner

The USDA points can be treated as truth because unlike the UA MAC System it was accurately calibrated.

RTK GPS data corresponding to these are on Clowder along with a long email thread uploaded as PDF (hint, start

[2016-09-08 19:43] JeffWhiteAZ commented on #51
I agree with the list of three as reference systems for public consumption. However, may want to conserve the MAC coordinate system as well because as long as MAC is using their field equipment for planting and tractor scans, we will receive data with the biased MAC coordinates.
Alternately, we need to clarify with Pedro about coordinate adjustments for any data from MAC.
- Jeff

[2016-09-08 19:46] dlebauer commented on #51
@jeffwhiteaz the UA MAC system is first on the list for that reason

[2016-09-08 20:00] JeffWhiteAZ commented on #51
I'm sorry. I misread the previous messages. My understanding:
- "USDA" is based on a correctly located base station and hence is the most accurate and useful for long-term use. What we are really saying is that we're using standard geocoordinates (UTM referenced to a specific datum?). USDA ALARC's base station + rover is simply the best available source of RTK-corrected data so that is what was us

[2016-09-08 20:19] dlebauer commented on #51
Inversion of gantry coordinate with 0,0 in SW corner is standard for people **and computers**.  UTM magnitudes are too large,  reversed x axes cause errors but don't fail, and the gantry + its data are not square with UTM. Some of this discussion goes in #29; lets keep this issue is about implementation.

[2016-09-21 14:35] dlebauer opened #52 "Halogen direct illumination spectrum"
Please provide a per-wavelength analysis of the light produced by the halogen lights in the sensor box. Columns would be wavelength and flux.

Something like this (from http://www.cs.virginia.edu/~cab6fh/research/meetings/6_14_11/wikidown_6_13_11.html):

![image](https://cloud.githubusercontent.com/assets/464871/18715281/581b161c-7fde-11e6-9fb4-22ed7c4f2aef.png)

Presumably this should extend acro

[2016-09-21 14:41] dlebauer opened #53 "Provide RSR curve data for hyper / multispectral imaging"
Relative Spectral Response curves for all of the spectrometers

First column in each table should be the wavelength. Then, for each detector there should be a column (e.g. three cols for NDVI, four (?) for RGB). Presumably there is one for each of the following:
- [x] VNIR
- [x] SWIR
- [x] Skye NDVI pointing up
- [x] Skye NDVI pointing down
- [x] Skye PRI
- [x] ~~Crop Circle~~ proprietary, not pro

[2016-09-21 15:21] craig-willis opened #54 "Format and method for publishing authoritative sensor metadata"
The JSON data produced by Lemnatec includes a "sensor_fixed_metadata" section with the sensor name, description, manufacturer, and serial number.  We also have copies of the sensor manuals and data sheets with calibration data, sometimes as PDF or CSV.

For example:

[code]

The goal is to publish this authoritative sensor metadata in a way that can be easily consumed programmatically.  Ideally, t

[2016-09-21 15:30] JeffWhiteAZ commented on #54
The JSON example from LemnaTec would be enough information to allow a researcher to write a sentence in a methods section for a paper, but it wouldn't help someone troubleshooting data problems. Would we have information on sensor maintenance and routine calibration linked via the serial number and contained in a separate sensor log?

[2016-09-21 17:25] craig-willis commented on #54
@JeffWhiteAZ Are we already collecting this information?  I hadn't considered it, but linking from the sensor description to a maintenance log shouldn't be too difficult.

[2016-09-21 17:35] JeffWhiteAZ commented on #54
A more less binary flag is set for each sensor, every time the operator logs the system status.
You can see this at:
https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=1394972273
I don't believe that more detailed information on calibrations or maintenance is being captured, in part because we are still learning from LemnaTec as to what these involve. Note

[2016-09-21 19:55] max-zilla commented on #43
@craig-willis some pointers where documentation exists for the extractors...
- https://github.com/terraref/extractors-stereo-rgb
- https://github.com/terraref/extractors-lemnatec-indoor (PlantCV)
- https://github.com/danforthcenter/plantcv
- https://github.com/terraref/extractors-environmental
- https://github.com/terraref/computing-pipeline/tree/master/scripts/hyperspectral

I've fleshed out some

[2016-09-22 15:57] dlebauer commented on #54
Notes on scope of content:

* info from sensor docs
* reference / calibration objects
  * what they are
  * where they are
* calibiration protocols

from @ashiklom and @serbinsh
developing a mini relational database (SQLite) with tables:
* "spectra" stored by band number and spectral ID (one per spectrum),
* "specInfo" that links each spectral ID to an instrument, collection date, species, locatio

[2016-09-22 18:26] craig-willis commented on #54
@dlebauer Please clarify the above comment -- when we spoke yesterday we discussed the fixed sensor metadata from Lemnatec, PDF manuals, and PDF/CSV calibration data.

From your comment, it sounds like you want this stored in a database? From my understanding, most of the information was in a PDF file -- so are you expecting that we'd extract data from the PDF to put in the relational database.

[2016-09-22 22:35] dlebauer commented on #54
@craig-willis on one hand, those are quick notes from a conversation with colleagues on what is useful, and much of it is already within the scope (e.g. RSR, camera info) + calibration details. once we have a format for storing the relevant sensor metadata, we should extract relevant information from the PDFs and make them accessible. This can all be in json - I only mentioned SQLite because that

[2016-09-22 23:25] craig-willis commented on #54
Thanks, @dlebauer -- I understand now.  If available, pointers to the project, database schema, and any associated documentation would be helpful.

Can you remind me where I can find the PDFs for the various sensors?

[2016-09-23 15:37] dlebauer commented on #54
They are on google drive here: https://drive.google.com/open?id=0B7JeWs8SrKqJSlpjYjktQ1BFdjA

And here, for convenience:

[Vaisala.pdf](https://github.com/terraref/reference-data/files/490068/Vaisala.pdf)
[Ocean Optics.pdf](https://github.com/terraref/reference-data/files/490070/Ocean.Optics.pdf)
[FLIR.PDF](https://github.com/terraref/reference-data/files/490071/FLIR.PDF)
[G4-384 VNIR Wavelength_C

[2016-09-23 15:45] dlebauer commented on #54
@craig-willis there is already a spreadsheet on google drive that summarizes a lot of the general information about these sensors: https://docs.google.com/spreadsheets/d/1xkEHQd_5x3Yzv3f61bfns3ZFoP7xXq8AUNK4fmS3kXg/edit#gid=194274492

(note that on google drive these are in the folder terraref/terraref-danforth-team/field scanner operations)

[2016-09-23 17:19] rachelshekar commented on #29
@yanliu-chn - can this be closed?

[2016-09-23 17:25] #22 closed

[2016-09-23 17:27] rachelshekar commented on #30
@czender  - can this issue be closed?

[2016-09-23 17:29] rachelshekar commented on #34
See https://docs.google.com/spreadsheets/d/1xkEHQd_5x3Yzv3f61bfns3ZFoP7xXq8AUNK4fmS3kXg/edit#gid=194274492

[2016-09-23 17:29] #34 closed

[2016-09-23 17:29] #35 closed

[2016-09-23 17:33] #39 closed

[2016-09-23 17:33] #40 closed

[2016-09-23 17:34] #41 closed

[2016-09-23 17:39] rachelshekar commented on #46
@dlebauer - is this a priority for the V0 release?

[2016-09-23 17:40] rachelshekar commented on #47
@dlebauer - can you assign this to someone?

[2016-09-23 17:41] rachelshekar commented on #48
FYI @ZongyangLi

[2016-09-23 17:41] #48 closed

[2016-09-23 17:46] craig-willis commented on #31
Why is this closed? The related work is incomplete.

[2016-09-23 17:47] #33 closed

[2016-09-23 17:48] rachelshekar commented on #32
@caicai89-  - can this issue be closed?

[2016-09-23 18:59] dlebauer commented on #46
@rachelshekar yes!

[2016-09-23 19:01] dlebauer commented on #37
@smarshall-bmr should this issue be closed? Can you get a circular level and attach it to the object(s)? Would be great to have these in the images.

[2016-09-23 19:02] dlebauer commented on #36
@craig-willis please make sure to capture this information in the sensor metadata

[2016-09-23 23:06] czender commented on #30
Not yet. Last time @FlyingWithJerome and I checked the irradiance was 10^12 too big. We never looked at whether subtracting the dark current measured on 20160607 improved the irradiance retrieved from the EnvironmentalLogger. We will try to look again next week. @TinoDornbusch do you now get reasonable values for irradiance when correcting for dark current?

[2016-09-24 20:27] craig-willis opened #55 "ICASA RDFS/OWL ontology"
As a result of the 9/7/2016 meeting "[TERRAref RDF model for ICASA](https://docs.google.com/document/d/1rPZTQ1AmVs4C0PVrsu_5o0oGXgckfW19vGPeKnzZdIo/edit)", we agreed to pursue a best-effort rendering of the [ICASA Master Variable List](https://docs.google.com/spreadsheets/d/1MYx1ukUsCAM1pcixbVQSu49NU-LfXg-Dtt-ncLBzGAM/pub?output=csv) as a linked-data vocabulary or ontology. The goal is to be able

[2016-09-24 20:38] craig-willis commented on #55
@chporter @JeffWhiteAZ

This is in progress, but I do have a preliminary OWL implementation for the ICASA Management_Info:

https://github.com/craig-willis/icasa

A few questions/issues I could use guidance on:
* Person/Institution/Document models appear to be duplicated for Experiment, Soil, Weather, and Suite. I think these can be represented using a single class (e.g., Person instead of SoilPer

[2016-09-26 13:57] chporter commented on #55
@craig-willis @JeffWhiteAZ
Craig - this looks like a great start. I think we should schedule another call to discuss, but here are some short answers.

1st question - Yes, I think that some of these variables could be collapsed. But the people collecting soils and weather and experimental data are very likely to be different. As long as we can capture that, we are OK.
2nd question - We added some

[2016-09-26 16:14] TinoDornbusch commented on #53
@dlebauer Do you want to get the response curves as numeric values? Please check with @czender on the requirement of spectral sensitivity of Hyperspectral cameras. To my understanding the spectral sensitivity of the chip is elimated by referencing to the Spectralon White target.

[2016-09-26 16:15] TinoDornbusch commented on #52
@dlebauer Sorry I just saw this today. I add it to my ToDo list and send it asap.

[2016-09-26 16:18] TinoDornbusch commented on #30
@czender I did not have time to make the computation. In other words, I will look at it asap.

[2016-09-26 16:25] TinoDornbusch commented on #53
@dlebauer @czender  Here is what I got from Labsphere regarding the Spectralon Target:

The target is not specifically calibrated. It is part of a production chain. Attached the relevant documents.

[2016-09-26 17:25] craig-willis commented on #55
Thanks for the feedback, @chporter.  I'll setup a follow-up call, but would like to finalize a couple of JSON-LD examples that cover both the AgMIP examples and PlantCV.

Your responses all make sense (and I just noticed the "Explanatory_Notes" sheet in the ICASA spreadsheet).  Regarding question 3, these are likely simple typos (tr_name = trt_name; icrzno=icrz#).

I've just checked in a couple of

[2016-09-26 18:33] craig-willis commented on #54
@dlebauer  I've been comparing the "sensor_fixed_metadata" in the latest *metadata.json files to the calibration certificates in Google drive and noticed the following:

* FLIR: sensor_fixed_metadata product name (A645) and serial number (13070601) do not match calibration certificate (A615, 55003076)
* VNIR/SWIR: sensor_fixed_metadata serial number (PaS6-114/PaS6-115) does not match calibration c

[2016-09-26 18:42] dlebauer opened #56 "Missing calibration data sheets"
From https://github.com/terraref/reference-data/issues/54#issuecomment-249656855

@craig-willis noticed
1. comparing the "sensor_fixed_metadata" in the latest *metadata.json files to the [calibration certificates in Google drive](https://drive.google.com/open?id=0B7JeWs8SrKqJSlpjYjktQ1BFdjA) and noticed the following:
   - FLIR: sensor_fixed_metadata product name (A645) and serial number (13070601

[2016-09-26 18:43] dlebauer commented on #54
@craig-willis I've put the issues with inconsistent and missing sensor data sheets in #56 and have assigned this to @TinoDornbusch

[2016-09-26 21:58] craig-willis commented on #54
@dlebauer

Discussed two options for storing sensor data with @max-zilla and @robkooper today:

1. Store in Clowder.  Create a Collection "Sensor Information" with per-sensor dataset. The dataset would contain the sensor metadata, PDF, calibration matrices, photos, etc.  Each sensor would therefore have a linkable unique ID in Clowder.  With the postgres plugin enabled, we can also add the sensor

[2016-09-26 22:06] dlebauer commented on #54
Both of approaches sound sensible and it makes sense to start with the first.

[2016-09-27 14:58] czender commented on #53
Please provide a specific hyperlink to the documentation you refer to. The calibration procedure requires numeric values for the absolute reflectance at each wavelength. Right now we assume 95% at all wavelengths. @TinoDornbusch we're looking for tabular values for VNIR and SWIR wavelengths.

[2016-09-27 16:48] serbinsh commented on #53
If you received a reflectance calibration standard from Labsphere you should also have received a PDF and a small CD with the calibration coefficients to convert relative reflectance to absolute reflectance.  And example PDF is attached here for one of my standards

S
------------------------------------------------------------------------------
Shawn P. Serbin
Environmental & Climate Sciences Dep

[2016-09-27 16:55] dlebauer opened #57 "Add Agronomic management data to BETYdb"
Add information on fertilization, date of planting, any tillage, and irrigation to BETYdb.

This can be done via the BETYdb web interface (https://terraref.ncsa.illinois.edu/bety). See documentation for details: https://pecan.gitbooks.io/betydbdoc-dataentry/content/adding_managements.html

[2016-09-27 17:19] NewcombMaria commented on #57
I've been including agronomic management activities from the current planting in the Field Book (https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=665425213).  Let me know if it would be helpful to collate the agronomic management activities into a separate document.  (Maria)

[2016-09-27 17:38] dlebauer commented on #57
@NewcombMaria if you could please either format the managements in this table: https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=522503440 or add them using the web interface (https://terraref.ncsa.illinois.edu/bety/managements) that would be great.

To use the web interface, you will need to create an account; then I can give you the permissions that you

[2016-09-27 20:28] craig-willis commented on #43
@dlebauer

I've been working on a proof-of-concept that will allow us to store the data product information in JSON and generate a Data Products page via Github Pages/Jekyll -- drawing related content from the Clowder API.

You can see an example here: https://craig-willis.github.io/

The data product descriptions are in JSON:
https://github.com/craig-willis/craig-willis.github.io/blob/master/data

[2016-09-27 21:28] craig-willis commented on #54
Thanks, @dlebauer

I've started a collection on the dev instance:

https://terraref.ncsa.illinois.edu/clowder-dev/collection/57ea83a4e4b0581365b856c0

Also -- do we have more LemnaTec specifications similar to  the [stereo camera](https://github.com/terraref/reference-data/files/490082/Stereocamera_Specification_V06.pdf). This is a good source of contextual information that isn't necessarily in th

[2016-09-27 21:45] dlebauer commented on #54
@craig-willis you can feel free to curate the collection on the production instance if it would be easier.

@TinoDornbusch will know if there are specification docs from Lemnatec similar to the one from the stereo camera.

There is a specification for the entire Gantry
[7100019_System_Specification_V10_General_Version.pdf](https://github.com/terraref/reference-data/files/496697/7100019_System_Spec

[2016-09-27 21:47] dlebauer commented on #43
@craig-willis this is a nice start. We should review this on Thursday with the group.

[2016-09-27 21:51] craig-willis commented on #54
@dlebauer I'm using the dev instance because it has the postgres plugin enabled, which allows me to create the associated geostreams/sensor records, and I'm learning a few lessons along the way.  I will certainly move to the production instance as soon as it makes sense.

[2016-09-28 00:44] solmazhajmohammadi commented on #47
This could be combined with [Georeferencing hyperspectral data, issue #144](https://github.com/terraref/computing-pipeline/issues/144)

[2016-09-28 00:47] dlebauer commented on #47
@solmazhajmohammadi closed as duplicate of #144

[2016-09-28 00:47] #47 closed

[2016-09-28 07:12] LTBen commented on #53
We did, the CD with the reflectance calibration is in Maricopa with the target, in a red envelope.
I’m not sure if Bob has it already or if Stuart has access to it, either way we will upload the content of the CD soon.

Would it help for setting up the workflow to get the values from a different target in the meantime?

Best regards
Ben

Von: Shawn P. Serbin [mailto:notifications@github.com]
Gesen

[2016-09-28 13:33] TinoDornbusch commented on #56
1. This is an error in the FLIR firmware of the camera. Product name (A645) and serial number (13070601) are encoded in the camera firmware. We change this our code.

Regarding the Hyperspecs serials. I personally noted the serial numbers down on site. Will double check asap.

2. These sensors are not calibrated.  Cameras as build in stereo vis and PS2 are never calibrated.
3D scanner is calibrate

[2016-09-28 13:54] TinoDornbusch commented on #52
@dlebauer  We have no measured spectrum for the build-in halogen lamps Showtec 240V/75W. This information is also not available from the supplier.

We have a similar type measured Philips Twistline Halogen 230V 50W 18072. attached the spectrum.
[MeasurementPhilipsHalogenSpot.xlsx](https://github.com/terraref/reference-data/files/498197/MeasurementPhilipsHalogenSpot.xlsx)

[2016-09-28 14:40] craig-willis commented on #56
@dlebauer  @TinoDornbusch
Regarding the FLIR camera, doesn't this imply that we have the wrong calibration certificate? How is it possible that the certificate, which includes the serial number, wouldn't match the physical device?

[2016-09-28 16:04] yanliu-chn commented on #29
if @dlebauer verified the results, it can be closed.

[2016-09-28 16:13] yanliu-chn commented on #51
[usdagps_TerraRef_Lemnatec_Field_AZ_UTM.txt](https://github.com/terraref/reference-data/files/498718/usdagps_TerraRef_Lemnatec_Field_AZ_UTM.txt)

This is the specialized UTM projection definition developed by @tingli3 for the Lemnatec field based on USGS RTK GPS data.

Need to verify the accuracy by comparing with ground truth points.

[2016-09-28 19:51] #29 closed

[2016-09-28 22:17] nshakoor opened #58 "Create timecourse representations of sensor data from the gantry"
@pless Can we create movie-like timecourse representations of sensor data from the gantry?

[2016-09-29 11:19] TinoDornbusch commented on #56
@craig-willis
I do not know how this happened. You might want to address this issue to FLIR. Either they have shipped a wrong camera or they put the wrong firmware on it.

[2016-09-29 11:27] TinoDornbusch commented on #56
@craig-willis
I double checked with our logistics, the delivered camera is Model A615, serial 55003076. I update the meta data

[2016-09-29 11:35] TinoDornbusch commented on #56
Serial number of VNIR and SWIR has been changed according to certificate.

[2016-09-29 11:40] TinoDornbusch commented on #53
Attached the ceriticate for Spectralon white target
[SphereOptics Panel.pdf](https://github.com/terraref/reference-data/files/500521/SphereOptics.Panel.pdf)

[2016-09-29 11:42] TinoDornbusch commented on #53
Attached the spectral response of VNIR (G4-384) and SWIR (G4-383) we have got from headwall

[G4-383 & 384 Pixel to wavelength.xlsx](https://github.com/terraref/reference-data/files/500526/G4-383.384.Pixel.to.wavelength.xlsx)

[2016-09-29 13:26] TinoDornbusch commented on #53
Spectral characteristics of RGB camera not available according to AVT support:

Sehr geehrter Herr Dr. Dornbusch,

Das Quanteneffizienz-Diagram bekommen wir direkt von dem Hersteller, in diesem Fall OnSemi. Onsemi veröffentlicht keine numerische Werten für ihre Sensoren. Auf Seite 9 und 10 des entsprechenden Onsemi Manuals der Sensor, befindet sich  (Link: http://www.onsemi.com/pub_link/Collateral

[2016-09-29 16:37] czender commented on #53
@TinoDornbusch thank you for posting the spreadsheet and certificate. It appears on my MacOS application (Numbers) to show pixel vs. wavelength for both sensors. I thought there would also be a spreadsheet with the calibrated reflectance vs. wavelength at 1 nm resolution (based on file posted by @serbinsh). Instead, for reflectance, the only information I see is a poor quality photo of a PDF that

[2016-09-29 16:46] dlebauer commented on #53
@craig-willis please see e6a540a6ac40bff4201d46c43bfd0f7a787ca81e for how the spectralon data are used in the computing pipeline, and where being able to query it on the fly would be of value.

@TinoDornbusch fig 6 provides the RSR curves for the RGB, no? Is AVI willing to provide the figure but not the raw data?

[2016-09-29 18:09] solmazhajmohammadi commented on #53
@dlebauer Here is the response I got from Allied Vision:

=================================================================================

_Hello Solmaz,
 I regret it's not available in spreadsheet format.  I guess you could create such a table "by eye and hand", by reading from the graph.  Remember, it's just a sample measurement meant to be representative, so modest variations according to how

[2016-09-29 21:10] dlebauer commented on #58
This issue was moved to terraref/computing-pipeline#178

[2016-09-29 21:10] #58 closed

[2016-09-29 22:10] dlebauer commented on #51
@yanliu-chn and @tingli3

Could you please elaborate on how this was developed, and how it can be used?

Also, I have summarized the GPS and Lemnatec coordinates in this spreadsheet: https://docs.google.com/spreadsheets/d/1pTgmpf9kltYW1SHo_K51cynVTYs6-JdS6rt4usfwV10/edit#gid=0

Is this the data that you used? Otherwise, can these be used as ground truth points?

[2016-09-29 22:30] solmazhajmohammadi commented on #53
Spectral Response Curve for PAR sensor :
[SQ-110 and SQ-500  Spectral response.xlsx](https://github.com/terraref/reference-data/files/501829/SQ-110.and.SQ-500.Spectral.response.xlsx)

[2016-09-29 22:34] yanliu-chn commented on #51
@dlebauer Thanks a lot for the new google sheet! This is what we wanted. The original excel file was hard to understand the diff b/w USDA and MAC gps.

The projection file I uploaded is in WKT format and is recognized by most of GIS software for reprojection. It was developed by tuning the central meridian line of AZ's UTM projection so that the line denoted by S-W and S-E matches the X axis in th

[2016-09-30 06:46] TinoDornbusch commented on #53
@czender  This is all we got from headwall. Further we have no tabular data of the Spectralon target.

@dlebauer AVT gets these response curves from their chip supplier and they told me that they do not have the raw data.

[2016-09-30 11:39] dlebauer commented on #53
This looks like it
https://github.com/terraref/reference-data/blob/master/Zenith%20LiteT%20Diffuse%20Reflectance%20Target%20-%2095%25R.csv
On Fri, Sep 30, 2016 at 1:46 AM TinoDornbusch <notifications@github.com>
wrote:

[2016-09-30 16:29] solmazhajmohammadi opened #59 "Missing Enviromental data in globus"
I have noticed that some of the data from EnviromentalLogger is missing. It seems that gantry's weather station is working almost 24hours but still some of the data has not been transferred yet.

Here is some examples:

**Data from 2016-06-06:**
- Gantry server: 07-09-31: 23-09-34
- Globus: 07-09-31: 15-09-33

**Data from 2016-06-07:**
- Gantry server: Recorded 24hours
- Globus: 03-09-35 : 23-09-3

[2016-09-30 16:52] czender commented on #53
@dlebauer Yes! looks like @serbinsh received 50 nm more calibration, out to 2500 nm,  but we'll take what we can get.

[2016-09-30 19:06] solmazhajmohammadi commented on #30
@czender
I think the calibration file includes the area and integration time.
**(Spectrum-Dark_current).*Calib_Joul_Count/bandwidth** gives me something around 20-55 for visual range.
Dark measurement data is missing in globus, I upload them here:
[https://drive.google.com/drive/folders/0Bz72iLVLzGKQQzdWcS1HY2xWT28?usp=sharing](url)

[2016-10-05 15:56] dlebauer commented on #51
This issue was moved to terraref/computing-pipeline#179

[2016-10-05 15:56] #51 closed

[2016-10-07 15:50] solmazhajmohammadi commented on #30
To conduct an absolute irradiance measurement, it is necessary to have the following:

* S: Sample spectrum (counts per nanometer)

* D: Dark spectrum (counts per nanometer, with the same integration time, corrections, and smoothing as sample)

* C: Calibration (represented in micro-Joules per count)

* T: Integration time (represented here in seconds)

* A: Collection area (represented in square

[2016-10-07 16:50] czender commented on #30
@FlyingWithJerome and @hmb1 pointing you to this thread. Jerome, please try to reconstruct these results with the environmental logger calculator.

[2016-10-07 20:10] FlyingWithJerome commented on #30
@solmazhajmohammadi
Hi Solmaz, thank you for your data and algorithm. I just downloaded these JSONs from your Google drive.
Is there a variable called "dark spectrum?" Or it has been marked as something else? They seem to be the same as the older JSONs for me.

[2016-10-10 07:41] TinoDornbusch commented on #30
Introduction to Environmental Biophysics says Iradiance is 500 W m-2 or 2100 µmol m-2 s-1 integrated from 400-700 nm

[2016-10-11 15:20] solmazhajmohammadi commented on #30
@TinoDornbusch the graph shows the Spectral irradiance which is a function of photon wavelength.
And it's true what you mentioned. Total Irradiance  can be computed by integrating the spectral irradiance over all wavelengths. For the sample that I checked was 450 W/m^2
@FlyingWithJerome Dark measurment has been done on June 6th from 4pm to June 7th 4pm. You can find the data here:
https://drive.go

[2016-10-11 16:24] solmazhajmohammadi commented on #30
@FlyingWithJerome no specific name, You just dont see any changes in the spectrum (dark current is something between 1493-1507 for all the bands)

[2016-10-11 16:50] dlebauer commented on #30
@solmazhajmohammadi @FlyingWithJerome is the dark spectrum something fairly constant that should be stored along with other more static calibration data (like RSR curves)? If so, could you send the file to @craig-willis so he can add it?

[2016-10-11 17:53] rachelshekar commented on #56
@craig-willis - we are still in need of the calibration certificates for
Stereo-VIS,
PSII camera,
3-D scanner

Correct?

[2016-10-11 18:07] czender commented on #30
@FlyingWithJerome since it requires major effort to perform a dark count calibration these data are likely to remain static for some time so please place directly in the environmental logger calibration routines.

[2016-10-11 18:19] solmazhajmohammadi commented on #30
@dlebauer as long as we dont make any changes in the integration time, we can use the same dark measurement. I'll send the mean dark current measurement to @craig-willis today.

[2016-10-11 19:19] craig-willis commented on #56
@rachelshekar
Based on my records, that correct.  I'm not clear on whether we should expect them, but I don't have callibration information for Crop Circle, PAR, the Theis Clima either.

[2016-10-11 22:08] solmazhajmohammadi commented on #30
Mean dark current values:

[Spectrometer_DarkMeasurments.xlsx](https://github.com/terraref/reference-data/files/523062/Spectrometer_DarkMeasurments.xlsx)

[2016-10-12 15:30] solmazhajmohammadi commented on #53
RSR Curve for NDVI and PRI sensors

[45951-45954.xlsx](https://github.com/terraref/reference-data/files/524953/45951-45954.xlsx)

[2016-10-16 19:46] craig-willis commented on #43
@dlebauer @rachelshekar
Created a pull-request for version1 documentation with a rough draft of a similar data product table, linking to subpages with detailed descriptions of each data product.  Feedback welcome.

https://github.com/terraref/documentation/pull/80

[2016-10-17 19:12] solmazhajmohammadi commented on #30
@czender @FlyingWithJerome

It was nice talking to you today and thank you for your feedbacks.
I have plotted the raw spectrum output (unit : count) in the following figure:

![count_wavelength](https://cloud.githubusercontent.com/assets/17046539/19450459/20cf4c46-946f-11e6-984a-14c8d273f285.jpg)
I chose some random days and plotted them, for all of them we have a pick in the visible range.

Just

[2016-10-17 19:38] dlebauer commented on #30
@solmazhajmohammadi sorry I don't know all of the context, but are you saying that the time field under gantry_system_variable_metadata is provided in central time? I now realize that this is not provided according to ISO 8607 as discussed in terraref/reference-data#2 and terraref/reference-data#25; it is too late to change this field but perhaps adding a `standard_time` or at least a `timezone` f

[2016-10-17 19:46] solmazhajmohammadi commented on #30
@dlebauer Sorry, I double-checked... ,y bad
It is stored at local time.
I corrected the comment

[2016-10-17 22:12] czender commented on #30
Thanks @solmazhajmohammadi Your plots look reasonable and have the expected spectral features. @FlyingWithJerome and I will make sure we get similar/identical results in the workflow.

[2016-10-19 14:12] rachelshekar commented on #32
@tingli3 - can you please update this issue?

[2016-10-19 15:36] tingli3 commented on #32
Please see #174

[2016-10-20 00:17] FlyingWithJerome commented on #30
@solmazhajmohammadi  We double check the algorithms and data and yes, what we are facing now is just the plotting issue; the data themselves are OK.
BTW, Did you have the result on the integration from 400 - 700nm period?

[2016-10-20 01:19] dlebauer commented on #32
Closed!!!! 👍 👍 👍 code is in https://github.com/terraref/computing-pipeline/tree/master/scripts/geospatial

[2016-10-20 01:19] #32 closed

[2016-10-20 16:43] solmazhajmohammadi commented on #30
For the data on June 6th, I got 310.4671 W/m^2
I plotted some sample here with the integration result using the data from 2016-07-29
![spectral](https://cloud.githubusercontent.com/assets/17046539/19569181/75574e24-96ba-11e6-8da9-161e1bc1e206.jpg)

[2016-10-26 17:54] dlebauer commented on #56
@TinoDornbusch any luck finding calibration documents for the remaining sensors?

[2016-10-26 18:01] craig-willis commented on #53
@TinoDornbusch

I'm new to RSR curves and have been asked to convert the provided files into a common matrix format . Most of the provided spreadsheets report the response at a given wavelength, except for VNIR/SWIR. "G4-383 & 384 Pixel to wavelength.xlsx" has two columns Pixel and Wave. It's unclear to me how this relates to the RSR curve -- is this something you can help clarify for me?

[2016-10-26 18:26] craig-willis commented on #54
@dlebauer I'm looking for the sensor_fixed_metada for the Quantum PAR and Ocean Optics spectrometer, but don't see folders for either in Globus. Is this expected?  I can create the fixed metadata from the Lemnatec sensor documentation.

[2016-10-26 18:41] solmazhajmohammadi commented on #53
@craig-willis please disregard the VNIR/SWIR file. That's not a RSR curve

[2016-10-26 18:45] dlebauer commented on #54
These are both in the EnvironmentalLogger meta-data

* quantum PAR sensor:

[code]

The Ocean Optics spectrometer:

[code]

[2016-10-26 18:51] dlebauer commented on #53
@solmazhajmohammadi what is it? Are the RSR curves for these sensors available?

[2016-10-26 19:17] solmazhajmohammadi commented on #53
@dlebauer That's wavelength to pixel calibration data which is shown in the headwall camera's certificate. Headwall does not have the RSR curve for SWIR (not delivered from their suppliers), and for the VNIR, LemnaTec will sign a non-disclosure agreement to get the file.

[2016-10-26 19:48] craig-willis commented on #53
@dlebauer
I've put together an example Clowder dataset for the NDVI sensors with the RSR matrices embedded in the attached JSON.

In this case, there are two NDVI sensors (serial numbers 45951 top/up and 45952 down).

I've created a dataset in clowder-dev for the NDVI sensor with attached PDFs, etc.

https://terraref.ncsa.illinois.edu/clowder-dev/datasets/5811034ce4b0d51359b959e8

The attached met

[2016-10-26 21:08] dlebauer commented on #53
@craig-willis looks great! @ashiklom I think that the following would be identical to the rsr curves that you have:

[code]

[2016-10-26 21:12] serbinsh commented on #53
I agree this organization looks great and is comparable to what we work with for other sensors, nice job!  I really like how easy it is to pull the data from JSON in R

On Oct 26, 2016, at 5:08 PM, David LeBauer <notifications@github.com<mailto:notifications@github.com>> wrote:

@craig-willis<https://github.com/craig-willis> looks great! @ashiklom<https://github.com/ashiklom> I think that the foll

[2016-10-27 20:53] rjstrand commented on #56
@dlebauer
I just talked to Holland Scientific.  They set the zero and span for the Crop Circle at the production facility and then ship them.  There is no documentation.

[2016-10-28 16:52] dlebauer opened #60 "Standard naming scheme for plots"
Following terraref/computing-pipeline#187
### Background

We need a standard way of defining plots.
- there can be multiple concepts of plots -
  - the full plot as the unit of replication in an experimental design
  - the center of the plot used for image analysis and hand measurement
  - individual rows within the plot (e.g. in some cases hand measurements are separated into E and W rows)
- In a

[2016-10-28 16:59] ZongyangLi commented on #60
A 'Range' extends in the Y direction (East-West)

Is this 'Range' means in the North-South direction?

[2016-10-28 17:02] dlebauer commented on #60
@ZongyangLi in the gantry coordinate system, the Y direction is East West and the X direction is North South. This is not intuitive and has been the source of great confusion. See https://github.com/terraref/computing-pipeline/issues/174#issuecomment-250893581

[2016-10-28 17:05] ZongyangLi commented on #60
@dlebauer Yes I know.
So to my understanding, this 54 Ranges means X direction in gantry system and it's in the North-South direction in a real world coordinate system.

[2016-10-28 17:08] dlebauer commented on #60
@ZongyangLi sorry - I think I was confused because the range numbers increase going north but each one is oriented E-W.

[2016-10-28 17:12] dlebauer opened #61 "List of MAC field measurements to import into BETYdb"
@NewcombMaria please provide a list of the field measurements that are ready to be added to BETYdb (have a date column and are arranged in 'long' format with one measurement per row.

* Season 1 (#46)
  * [x] emergence vigor
  * [x] emergence final stand counts
  * [x] plant heights
  * [x] node and tiller counts on marked plants
  * [x] phenology growth stage data
  * [x] leaf desiccation ratings

[2016-10-28 19:14] rickw-ward commented on #60
I yield to @NewcombMaria on terminology.  As I use it, Range 1 is in the south, range 54 at the north.    Ranges are adjoining plots between two alley walk ways (which go east/west, i.e. in the Y vector of the gantry).

[2016-10-28 22:45] craig-willis commented on #54
@dlebauer it looks like the SensorML group has created a set of vocabularies (sensorml.com/orr/) that will be useful here without requiring us to conform to the SensorML spec.

Question:  The PDF 09001-SensorDocumentation_V4_oK.PDF from Lemnatec has a ton of device/sensor information, but it would be cumbersome to extract (copy/paste) values from PDF.  Who would I contact to find out whether the i

[2016-10-28 23:03] dlebauer commented on #54
@TinoDornbusch @LTBen @markus-radermacher-lemnatec : do you have the sensordocumentation in a different format, e.g. word with tables etc?

@craig-willis I would consider the sensor metadata that we already have in spreadsheets and text files (like metadata.json and google sheets) to be the first priority. If it is onerous to extract data from the pdf, we can extract additional parameters can be a

[2016-10-28 23:16] craig-willis commented on #54
Thanks @dlebauer -- yes, this is helpful and I do understand the priorities.  However, some of this information is duplicated across all three sources (JSON, Sheets, PDF).  For the calibration, certification and test-specimen data, which should I consider to be the more reliable source of information: JSON, Google sheets or PDF?  In some ways it seems that the PDF is actually more up-to-date.

[2016-10-28 23:23] dlebauer commented on #54
I'd consider reliability json > PDF > google sheets. If you see any differences between json and PDF we can use the json value but ask Lemnatec to resolve them.

[2016-10-30 19:52] NewcombMaria commented on #61
Working on it.  Will update field measurements list and agronomic metadata as soon as possible.  Not certain what is meant by plot to genotype mappings.  Unique genotype id??

[2016-10-30 21:12] dlebauer commented on #61
by plot to genotype mappings, I meant, what genotype was planted in each plot?

[2016-10-31 14:54] craig-willis commented on #54
@dlebauer
Focusing just on the calibration information, the JSON data is both incomplete and inconsistent.  The PDF reflects what's actually in the calibration certificates.  For example, the sensor_fixed_metadata only has calibration dates for 3 sensors, we have certificates for 7 (same in PDF); the sensor_fixed_metadata has three different fields "calibration available", "Calibration available",

[2016-10-31 15:42] dlebauer commented on #54
@craig-willis ok, makes sense to use PDF as source of truth but to keep track of inconsistencies and let Lemnatec know

[2016-10-31 16:22] smarshall-bmr commented on #50
We reinstalled the SWIR on 10/29. We're still working out some kinks with the frame grabber at the moment though.

[2016-10-31 20:48] smarshall-bmr commented on #36
I have uploaded the calibration certificates and spectral response csv files for the 8 diffuse color targets in Drive under TERRA-REF>Maricopa Expirements>field scanner operations>Sensor datasheets

[2016-10-31 21:32] craig-willis commented on #54
@dlebauer Looking back at https://github.com/terraref/reference-data/issues/42,  this seems to be a duplicate.  Feel free to assign to me if you agree.

I've created and populated a collection on the production Clowder instance with the various PDFs and datasheets and with the dataset metadata set to the original raw LemnaTec fixed sensor data.

https://terraref.ncsa.illinois.edu/clowder/collectio

[2016-10-31 22:10] craig-willis commented on #36
Thank you,  @smarshall-bmr.

For the record,  my plan is to organize the calibration target information in the same way as the sensor/device information in the Clowder Devices and Sensors collection:

https://terraref.ncsa.illinois.edu/clowder/collection/58035fa34f0c4a438cbb53dc

Each calibration object will be represented as a dataset with any associated images and documentation attached as files

[2016-10-31 22:17] craig-willis commented on #36
@dlebauer

What is the origin of https://github.com/terraref/reference-data/blob/master/Zenith%20LiteT%20Diffuse%20Reflectance%20Target%20-%2095%25R.csv?

I see "Zenith Polymer" (not LiteT) mentioned in the LemnaTec  sensor documentation for testing the VNIR. We have a calibration certificate for the Zenith Polymer (SG3051), but these don't match what was mentioned in the June comments above.

[2016-10-31 22:19] dlebauer commented on #36
@craig-willis I am not sure - maybe @TinoDornbusch or @smarshall-bmr can provide some insight?

[2016-10-31 23:35] smarshall-bmr commented on #50
Back up and running! Turns out an internal power switch had been flipped off.

[2016-11-01 16:19] craig-willis commented on #53
Hello @czender

One of my tasks has been to define a way to store reflectance data so that it's accessible programmatically and I could use your input on how I'm handling the SphereOptics Zenith target.

Similar to the approach taken for the sensor RSR data above, I've created a dataset to represent the SphereOptics Zenith Polymer target in Clowder that contains a product datasheet and the calibra

[2016-11-02 14:33] craig-willis commented on #42
@dlebauer
As noted in [#54](https://github.com/terraref/reference-data/issues/54), I've created the [sensor-metadata](https://github.com/terraref/sensor-metadata/) repository and attached the current LemnaTec fixed_sensor_metatata as JSON-LD to each sensor dataset in Clowder.   I think this fulfills most of the requirements outlined above, except for the addition of any proposed new fields (the cu

[2016-11-02 14:56] JeffWhiteAZ commented on #42
If I click on the sensor-metadaa hot-link, I get a 404 error. Is this a broken link?
- Jeff

From: Craig Willis [mailto:notifications@github.com]
Sent: Wednesday, November 2, 2016 7:34 AM
To: terraref/reference-data <reference-data@noreply.github.com>
Subject: Re: [terraref/reference-data] Create a metadata file for fixed sensor / field scanner meta-data (#42)

@dlebauer<https://github.com/dlebaue

[2016-11-02 15:16] rachelshekar commented on #59
FYI @jdmaloney

[2016-11-03 16:10] czender commented on #53
Hi Craig,

Thanks for systematizing the Spectralon data.
The JSON-LD structure is "metadata-poor", yet should be serviceable for some programs. If the goal is to make this site the one-true repository of the calibration data, then please add all the relevant metadata for the wavelength and reflectance fields that you find in the hyperspectral_calibration.nco file. Also, perhaps we should adopt the

[2016-11-03 18:20] NewcombMaria commented on #60
@dlebauer, David, if it's helpful Jeff White and I came up with a definition for 'field plot'.  For the Maricopa field, it's useful to consider that there are experimental plots as you mentioned 'the unit of replication in an experimental design', and also border plots which could be useful for observational data.  Plot numbering will be different for each planting.
 - Field plot:  the unique fiel

[2016-11-03 19:19] dlebauer commented on #42
Jeff - which link?
On Wed, Nov 2, 2016 at 9:56 AM Jeff White <notifications@github.com> wrote:

[2016-11-03 19:21] craig-willis commented on #42
Sorry, resolved this via separate email thread.  The Github repository was created private by default, I've changed to public.  This caused a 404 on the repo link.  The sensor datasets in Clowder were also by default private (inherited from the space), which I've changed to public as well.

[2016-11-03 19:23] JeffWhiteAZ commented on #42
Craig resolved a couple of permission issues, so the problem no longer exists. The link was:
https://github.com/terraref/sensor-metadata/
We also found an additional permission as you drill down to metadata for individual sensors—also fixed.

From: David LeBauer [mailto:notifications@github.com]
Sent: Thursday, November 3, 2016 12:20 PM
To: terraref/reference-data <reference-data@noreply.github.co

[2016-11-03 20:49] dlebauer commented on #60
@gsrohde could you please do the following:

* [ ] Some sitenames say `MAC Field Scanner` while others use `Field Scanner`; could you please use some regex or other magic to append `MAC` to all sites that say `Field Scanner`
* [ ] For sites that start `MAC Field Scanner` but do not include a `Season`, please add `Season 1` after `MAC Field Scanner`.
* [ ] Where names say `... Season 2 Row <n> Col

[2016-11-04 16:44] gsrohde commented on #60
@dlebauer I've made all of these changes.  Note, however, that 'Season 2' appears last in site names that have a Field Plot number whereas it appears directly after 'MAC Field Scanner' in names that have a Range and Pass number.

[2016-11-04 23:05] smarshall-bmr commented on #50
I suppose I should reopen this while we are still having issues with y-axis triggered frame grabbing.

[2016-11-07 14:41] craig-willis commented on #42
@dlebauer @TinoDornbusch
Is there someplace I can find definitions for all of the fields provided by LemnaTec in the metadata.json files?

[2016-11-07 15:00] dlebauer commented on #42
I've never seen this ...
On Mon, Nov 7, 2016 at 8:41 AM Craig Willis <notifications@github.com>
wrote:

[2016-11-07 21:33] craig-willis commented on #53
@czender Thanks for the feedback.  I'll make the changes as suggested.

[2016-11-08 05:18] NewcombMaria commented on #61
For genotype names, please use the genotype in the column 'name_corrected' in the spreadsheet https://docs.google.com/spreadsheets/d/107aijRIvO5i-HHwVDQTXn0-9sE02cXO_MdZk3DERzQ0/edit#gid=1166373347
@dlebauer @rachelshekar Let me know if you have questions.  Thanks.

[2016-11-08 05:32] NewcombMaria commented on #61
The following are formatted and ready for importing into BETYdb:

Season1 plant heights: see 'Sorghum_ManualData_Maricopa2016_HtsAddedJuly22_LongFormatJuly25' the last sheet (Heights_Full_field_LongFormat) in https://docs.google.com/spreadsheets/d/1FQ8_ualom7ZUtr5iKiEn80vHlh9zIYpDxawpaek20Og/edit#gid=2067779457

Season1 emergence stand counts 'F13_2016_sorghum_whole_field.csv' in https://docs.goog

[2016-11-08 06:25] NewcombMaria commented on #61
I added 2 new files of Sorghum season2 data in the Data for uploading google docs directory https://drive.google.com/drive/folders/0B4JvLJOau3GmaFZrZ2Yzc2xSbUk

Sorghum2_emergence_SubsetPlots_plusFinalCounts_Nov7.xlsx, see https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=1432184448 .  This has emergence vigor and emergence final stand counts - needs to b

[2016-11-08 06:42] NewcombMaria commented on #61
The following is formatted and ready for importing into BETYdb:

Season1 leaf desiccation ratings (see 'Sorghum_ManualData_Maricopa_Leaf_Desiccation_final' at https://docs.google.com/spreadsheets/d/1CDV3dJSoV5F_mFgZI6cYEt2fUpa4BHgv-adbP704bSQ/edit#gid=2112860580  ).

@dlebauer @rachelshekar  The ratings include an incidence and a severity of leaf desiccation.  Let me know if you have questions.  T

[2016-11-08 06:56] NewcombMaria commented on #61
I will ask Nadia if someone at Danforth can work on reformatting the following for importing into BETYdb:

Season1 phenology growth stage data, (see 'Sorghum_ManualData_Maricopa_Phenology.xlsx' at https://docs.google.com/spreadsheets/d/1BQeFBlyk9y_eE4wiDKYCwQ2wxMqMx1t8rUrplGSqMhI/edit#gid=194121296 ).

Season1 radiation interception, (see 'Sorghum_ManualData_RadiationInterception' at https://docs.

[2016-11-08 16:23] NewcombMaria commented on #61
I added management activities for sorghum season1 and sorghum season2 at https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=522503440

@dlebauer   It may be incomplete, but it fills in the info that I have available to me at this time.  Thanks

[2016-11-08 17:27] NewcombMaria commented on #57
I added management activities for sorghum season1 and sorghum season2 at https://docs.google.com/spreadsheets/d/1s-kQc3K0h4-hfwMzKOU_zpRXN5loByIpKW8Rvw76mh0/edit#gid=522503440

[2016-11-08 17:53] max-zilla opened #62 "MAC phenotractor documentation"
@craig-willis @dlebauer @rickw-ward @jtheun

There was some email traffic recently regarding documentation of phenotractor data/metadata. Thought to start summarizing here. Relevant files:
https://terraref.ncsa.illinois.edu/clowder/collection/57d2cf2d4f0cf74155f89831

**Tractor sensor offsets**
![screen shot 2016-11-08 at 11 25 10 am](https://cloud.githubusercontent.com/assets/14166971/20109525/0e

[2016-11-08 19:41] dlebauer commented on #62
I've started a draft for the phenotractor here: https://github.com/terraref/documentation/blob/version1/user/protocols-tractor.md

@craig-willis where should this information in this issue go? Should the json bits go in https://github.com/terraref/sensor-metadata?

[2016-11-08 19:52] NewcombMaria commented on #61
I reformatted sorghum season2 plant heights, and added the long format as the last sheet in the following file 'DRAFT_Sorghum2_PlantHeights_AugustPlanting.xlsx',  (https://docs.google.com/spreadsheets/d/1B30WB5vD-JAU2Pgluhdu1kIxwttdOcQphSIin7BByKg/edit#gid=2076100922 ).

@dlebauer @rachelshekar  Please let me know if this needs additional formatting changes.  Thanks

[2016-11-08 22:23] NewcombMaria commented on #61
I reformatted sorghum season2 emergence vigor, and the emergence vigor and emergence final stand counts are both now in the long format in the spreadsheet 'Sorghum2_emergence_SubsetPlots_plusFinalCounts_Nov7.xlsx' (https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=732810075).

[2016-11-09 04:47] NewcombMaria commented on #61
Cesar and Nadia (Danforth) reformatted the sorghum season1 phenology data.  The long format data are in the csv file 'Sorghum_ManualData_Maricopa_Phenology_Fixed.csv', see https://docs.google.com/spreadsheets/d/1AFwjkUz5lRzR47xc3R2OwjKd-mRJLz-ongAIzD2Hnvs/edit#gid=1209684786 .  Please find the definitions in the 2nd sheet/tab in the spreadsheet 'Sorghum_ManualData_Maricopa_Phenology.xlsx', in http

[2016-11-09 05:36] NewcombMaria commented on #61
Cesar and Nadia (Danforth) also reformatted the sorghum season1 radiation interception data, and I added interpolated incident radiation for each measurement.  The long format data set is in the csv file 'Sorghum_ManualData_RadiationInterception_BAP_Fixed_V2.csv' (https://docs.google.com/spreadsheets/d/1aW3NJ98GxF-XIRibvUwBcuqG6CQVqVqFBW1-_SRfLJ0/edit#gid=1280560409 ).  Please find the definitions

[2016-11-09 06:05] NewcombMaria commented on #61
I reformatted the sorghum season1 leaf node and tiller count data on marked plants.  See the last sheet (long format) in the spreadsheet 'Sorghum_ManualData_NodeCounts_BAP_RepeatMeasures.xlsx' (https://docs.google.com/spreadsheets/d/1hGeZq2CWd-LakcuHZhGXiONFZrdPwWUTVJeDYxDP7ZY/edit#gid=680357011)
Definitions are on the first sheet/tab of the worksheet.

@dlebauer @rachelshekar   Please let me know

[2016-11-09 06:16] NewcombMaria commented on #61
It's still incomplete and will need additional info, but the preliminary sorghum season1 harvest info provided by Mike Ottman is in the spreadsheet 'Sorghum1_harvest_data_July2016_INCOMPLETE_SAS - Copy.xlsx' (https://docs.google.com/spreadsheets/d/1iHmSyFeCO7np_lxYyvdiXQQcAwBJpIKpeAOyMXFd-OY/edit#gid=901711246) .

[2016-11-09 15:31] dlebauer commented on #61
@gsrohde could you work on importing these spreadsheets into the bety6 database?

I've updated the cultivars (https://gist.github.com/dlebauer/e42dd56cc7823ff1cf3f3852218a6886)

[2016-11-09 15:55] dlebauer commented on #61
@NewcombMaria is this emergence vigor or emergence count? ['F13_2016_sorghum_emergence.csv'](https://docs.google.com/spreadsheets/d/1zhyhAGOFJ-KXd_-kF_6kOeqh4NtppKbRwVHRk1cZzAk/edit#gid=23726065),

[2016-11-09 18:21] NewcombMaria commented on #61
Regarding:  is this emergence vigor or emergence count? 'F13_2016_sorghum_emergence.csv':
     It's emergence count over time, or an emergence rate, which some prefer to call emergence vigor.  A repeat measure of emergence over time, which indicates emergence vigor

[2016-11-09 22:59] gsrohde commented on #61
@dlebauer Before I begin work on importing these, I need to know _exactly_ which spreadsheets you mean.  For example, do you mean _every_ CSV or spreadsheet file linked to in this issue?  Or only those with unchecked checkboxes next to them?

Then I will probably have questions about each one, since they are not yet in the format required for bulk upload.  And perhaps some don't even pertain to tr

[2016-11-10 01:04] dlebauer commented on #61
@gsrohde the links in https://github.com/terraref/reference-data/issues/61#issuecomment-259049732 go to the relevant worksheets. The first set of 8 should be ready or close enough. Did you see these? All are traits except the managements that can be entered via the web interface or insert statements.

[2016-11-10 17:13] gsrohde commented on #61
@dlebauer Many or most of these files contain several sheets.  It's not clear whether I need only pay attention to the one that opens upon clicking the link.

So I'll start with items 2 and 3, which each consist of only a single CSV file.  Here are my questions and comments on those:

First of all, I’m assuming all new trait rows connected with this data should refer to citation "Newcomb, Maria, 2

[2016-11-10 17:18] dlebauer commented on #61
Yes, data are in the worksheet that opens from the link. Many I've highlighted columns to upload in green

Yes all of your assumptions are correct. We will insert  cultivars and methods separately / later

[2016-11-10 17:55] gsrohde commented on #61
OK, items 2 and 3 are done.  Here are the id numbers of the new traits:

F13_2016_sorghum_whole_field: 6000018709–6000019908
F13_2016_sorghum_emergence: 6000019909–6000021252

I'll take a look at the other files next and see if I have further questions.

[2016-11-10 18:00] NewcombMaria commented on #61
@gsrohde If you have questions for me on the other files as you move forward, I'll do my best to answer promptly.  Thanks!

[2016-11-10 20:40] gsrohde commented on #61
I'm about to upload the first spreadsheet ('Sorghum_ManualData_Maricopa2016_HtsAddedJuly22_LongFormatJuly25').  I'm making the same assumptions as before.  I'm ignoring columns, DataEvent, Experiment, Plot,	Range, Column, Rep, Entry, and Row_subplot.  I removed all rows having neither a `canopy_height` nor a `spike_height` value.  I partitioned the remaining rows into two separate files: One for t

[2016-11-10 20:58] gsrohde commented on #61
'Sorghum_ManualData_Maricopa2016_HtsAddedJuly22_LongFormatJuly25' data is uploaded now.  The id numbers are 6000021253–6000028399.

[2016-11-10 21:21] gsrohde commented on #61
@NewcombMaria, @dlebauer I'm looking now at the fourth sheet, 'managements for sorghum season1 and sorghum season2'.  Most of this seems pretty straight-forward: the column headings date, mgmttype, level, units, and notes correspond exactly with like-named columns in the managements table of the database, and I assume the `citation_id` should point to the citation "Newcomb, Maria, 2016, Field meas

[2016-11-10 21:27] gsrohde commented on #61
@dlebauer The worksheet that opens from the _5th_ link is just a Readme sheet.  It's not clear what to do with this.

[2016-11-10 22:30] gsrohde commented on #61
@NewcombMaria, @dlebauer I'm about to upload the 6th item ("sorghum season2 emergence vigor 'Sorghum2_emergence_SubsetPlots_plusFinalCounts_Nov7.xlsx'").

I'm making the following (additional) two assumptions: (1) the word "Field" should be omitted from site names.  For example, "MAC Field Scanner Season 2 Field Range 3 Pass 3" should actually be just "MAC Field Scanner Season 2 Range 3 Pass 3"; (

[2016-11-10 22:43] gsrohde commented on #61
I've upload data from the 6th item.  Id numbers are 6000028400–6000028903.

[2016-11-11 20:32] gsrohde commented on #61
@NewcombMaria (and @dlebauer): I'm looking at the **_7th_** item, "season 2 emergence final stand counts" (file 'Sorghum2_emergence_SubsetPlots_plusFinalCounts_Nov7.xlsx - StandCounts_Final_AllPlots_long').

The only column heading that looks like it might be a trait variable name is "Final_stand_count", but there is no variable by this name.  Also, the dates are all in the wrong format.  I'm agai

[2016-11-11 20:56] gsrohde commented on #61
@NewcombMaria OK, I'm now looking at the last tab of 'DRAFT_Sorghum2_PlantHeights_AugustPlanting.xlsx' (the 5th item).  As with the 7th item, the dates are all in the wrong format, I'm assuming "Name_corrected" should be used for the cultivar name, and I don't see any site names in this file.  I assume "Canopy_ht_cm" should map to the trait variable "canopy_height" (which has "cm" for units).  The

[2016-11-11 21:01] gsrohde commented on #61
@dlebauer In https://docs.google.com/spreadsheets/d/1hGeZq2CWd-LakcuHZhGXiONFZrdPwWUTVJeDYxDP7ZY/edit#gid=680357011 (item 8), "Common_name" isn't one of the columns you highlighted, but the values in this column all match an existing cultivar.  Shall I use this column to set `cultivar_id` or leave it NULL?

[2016-11-11 22:38] gsrohde commented on #61
@dlebauer, @NewcombMaria: I've inserted the managements from spreadsheet 4 into the database.  I used a dateloc value of 5 (date accurate to the day).  There was only one management row ("planting (plants / m2)") in the table before I started, so the 33 others are the new ones.  Many of the level and units column values are blank.  It's possible that in some cases these can be populated from infor

[2016-11-15 17:25] craig-willis commented on #43
Closing this, as I think it's fulfilled by
https://terraref.gitbooks.io/terraref-documentation/content/user/data-products.html

[2016-11-15 17:25] #43 closed

[2016-11-15 17:26] craig-willis commented on #5
@rachelshekar
It's not clear to me whether I can call this "done"  given the earlier work on
https://github.com/terraref/documentation/blob/master/existing_data_standards.md

[2016-11-17 16:02] dlebauer commented on #56
@craig-willis At this point, I'd say gather+organize what we have and close the issue. We can re-open / address as needed based on need / end-user demand.

[2016-11-30 18:05] rachelshekar commented on #59
@jdmaloney ???

[2016-11-30 18:07] jdmaloney commented on #59
@rachelshekar This is included in @max-zilla and I's work on the pipeline, hope to have it all completed by week end.  We're moving at the speed of our disk cache at Arizona & it's Internet connection.

[2016-11-30 18:32] #52 closed

[2016-11-30 18:34] rachelshekar commented on #50
@smarshall-bmr - has the frame grabbing issue been corrected?

[2016-11-30 18:36] rachelshekar commented on #37
@smarshall-bmr ???

[2016-11-30 18:38] rachelshekar commented on #36
@craig-willis  - can this be closed?

[2016-11-30 18:38] rachelshekar commented on #30
@czender can this be closed?

[2016-11-30 18:39] rachelshekar commented on #18
@craig-willis can this be closed?

[2016-11-30 18:39] rachelshekar commented on #7
@dlebauer - what are the next steps for this issue?

[2016-11-30 18:41] rachelshekar commented on #57
@dlebauer - is this info in the database now?

[2016-11-30 18:43] rachelshekar commented on #61
@dlebauer - what is the next step?

[2016-11-30 18:45] #62 closed

[2016-11-30 18:45] rachelshekar commented on #60
@dlebauer can this be closed?

[2016-11-30 18:48] czender commented on #30
Yes, indeedy.

[2016-11-30 18:48] #30 closed

[2016-11-30 21:13] craig-willis commented on #36
Yes. I think anything related should be opened as a new issue.

[2016-11-30 21:13] #36 closed

[2016-11-30 21:14] craig-willis commented on #18
@rachelshekar
Unfortunately this is such a large open-ended issue, it's hard to know when it's done.  We don't yet have a final set of formats for traits, phenotypes, and agronomic managements, but we're making process.  Personally, I'd like to see us close these large open-ended issues and open new ones with specific completion criteria going forward.

[2016-12-01 14:24] NewcombMaria commented on #57
@rachelshekar the agronomic management data was included in Issue #61 (List of field measurements to import into BETYdb).  Scott Rohde inserted managements from the spreadsheet into the database, but more work needs to be done on the units and levels.  Next week (after harvest) I can work on collecting the missing information.  I'll need to know if I should update the spreadsheet or otherwise how

[2016-12-01 14:45] NewcombMaria commented on #61
@dlebauer @rachelshekar some spreadsheets need additional work.  I can work on this next week if it's clarified what the next steps are on my end (for example which spreadsheets need work and what revisions are needed).

[2016-12-01 16:37] dlebauer commented on #61
@NewcombMaria and @gsrohde I think that some of the confusion is that in editing existing comments it isn't clear who made what comment and email notifications aren't sent out. (I originally started doing this thinking it would be more clear to update an existing comment ... but obviously this is a catch)

IN any case, to answer a few questions:

* date is the one variable with a clear standard: Y

[2016-12-01 17:03] craig-willis commented on #56
Closing this.  All available calibration data sheets have been added to Clowder.

[2016-12-01 17:03] #56 closed

[2016-12-02 00:44] TinoDornbusch commented on #50
@rachelshekar  No the SWIR triggering is not working. Camera will be shipped back for repair again.

[2016-12-02 18:03] dlebauer commented on #61
TODO

* [ ] run queries from col S here: https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=879963447

[2016-12-02 20:32] rachelshekar commented on #50
FYI @dlebauer @czender @FlyingWithJerome

[2016-12-02 20:48] gsrohde commented on #61
@dlebauer Regarding the "Multiple matching referents" error for cultivar "TX7000".  The problem is that in the Bulk Upload Wizard, matching is done case-insensitively, and there is also a cultivar whose name was entered as "Tx7000".  On the other hand, the database constraint that checks for duplicate cultivar names _is_ case sensitive.  Perhaps this is a sort of bug, and either the constraint sho

[2016-12-02 21:20] gsrohde opened #63 "Revise entity names"
This issue pertains to item one in this comment: https://github.com/terraref/reference-data/issues/61#issuecomment-264520078

[2016-12-02 23:00] dlebauer commented on #61
@gsrohde TX7000 is preferred ...

[2016-12-03 20:41] gsrohde commented on #61
OK, I deleted the Tx7000 cultivar and and reassigned all the traits referring to it to TX7000.

[2016-12-04 20:26] NewcombMaria opened #64 "Early sorghum-season 2 metadata corrections until about Aug 23"
Metadata for the first scans after the August 3rd planting needs to be checked up until approximately August 23rd, for 'sorghum season 2' entry and 'August 3' planting date entry, and for the correct name for the Stereo-Vis scans (sorghum2).

[2016-12-05 20:42] gsrohde commented on #63
@dlebauer In https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=879963447, it looks like the new entity names not only substitute W2, W, E, and E2 for a, b, c, and d (respectively), as I remember from our phone meeting with Maria; it looks like the Range and Pass numbers change as well.  Is this intended?  I just thought I'd check since I didn't remember d

[2016-12-07 15:29] NewcombMaria commented on #60
@dlebauer this is a good time to establishe the preferred sitename format for BETYdb, and preferred plot naming scheme because we are currently putting together the spreadsheet for the next planting (durum wheat).  3 questions to be answered before the start of this next winter crop:
1) Considering the options below, is there a preference for either 1) a Plot location (for example the first two op

[2016-12-07 18:33] dlebauer opened #65 "Unique identifier for germplasm"
### Issue

We need to uniquely identify germplasm. Currently these are stored in the 'cultivars.name' field of BETYdb, but this is not sufficient and not consistently used within the TERRA program.

This is something that DivSeek and AgBioData groups are working on.

### Requirements

* [x] Get input from Noah Fahlgren, Geoff Morris, Mike Gore, Carolyn Lawrence-Dill, and others
* [x] Identify one

[2016-12-07 20:14] dlebauer opened #66 "Create form where users can apply to the early access program"
Collect information about users who are interested,

### Fields:

* name
* affiliation
* role
* preferred user name
* use cases /, applications
  * what data are you most interested in?
  * by sensor (hyperspectral, 3D, RGB)
  * traits
  *
* background / expertise (click one or more)
  * breeding
  * crop science
  * plant physiology
  * genomics
  * computer vision
  * machine learning
  * roboti

[2016-12-07 20:42] dlebauer commented on #66
Here is some text based on a response that I recently sent in response to an inquiry:

[2016-12-09 17:35] rachelshekar commented on #66
@dlebauer First draft:
https://docs.google.com/forms/d/1YCKF9JUn7Yur3UzoqbtZ9wqLs1LywvXvS4jhlZKG5yQ/edit?usp=sharing

[2016-12-12 19:33] dlebauer commented on #63
@gsrohde I think the range and pass numbers will also change. I think that on a few of the uploads all of the range / pass specifications were identical, as a result of incorrectly specifynig the formula in google drive that I filled down. This will likely require re-uploading a few of the datasets since it will not be possible to differentiate among the sites when they all had the same name.

The

[2016-12-12 19:53] gsrohde commented on #63
@dlebauer After your first sentence, I'm not sure I follow.  I tried the following query of traits for sites in Arizona:
[code]
No site has more than 21 traits associated with it.

[2016-12-12 20:06] dlebauer commented on #63
Sorry I remembered incorrectly. The error was that I used column numbers
instead of pass numbers. The old names might have 16 columns. The new ones
should have 7 passes (the border rows on each side account for the two
additional columns)

On Mon, Dec 5, 2016 at 2:42 PM Scott Rohde <notifications@github.com> wrote:

[2016-12-12 20:13] gsrohde commented on #63
@dlebauer I guess the crucial question is whether you want me to check your proposed update statements based on some well-defined rule, or whether I should just take it on faith that you wrote them correctly.  If the former, perhaps looking at a plot map would help get a more solid picture of what the updates should be.

[2016-12-12 20:25] dlebauer commented on #63
@gsrohde The updates should be
* update the column used to define pass number from col F to E
* Add the E / W designation for the subplots.
* All of Maria's spreadsheets should have the same set of plotnames.

the plots are defined in the [Sorghum_2ndCrop_fieldmap](https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=1432184448) worksheet of the same spreads

[2016-12-13 16:55] dlebauer commented on #66
@rachelshekar I added a lot of questions. It is way too long and I'll probably revise again, and want to get feedback from others on the team, but feel free to take a look.

[2016-12-13 17:20] dlebauer opened #67 "Requirements gathering for operating VNIR & SWIR at higher speeds / lower spatial resolution"
It will be useful to run the hyperspectral cameras at the same speed as other imaging sensors. This is not to replace the full field high resolution scans (which take >2 days) but to evaluate the feasibility of also running these cameras at lower resolution so that they can keep up with the other sensors.

This issue is to open a discussion that should address the following:

* What is currently p

[2016-12-14 00:00] smarshall-bmr commented on #67
The primary issue of accelerating the hyperspecs is that they have a fixed refresh rate that the triggering system runs up against at high speed. I'll inquire with Bob about how this works but I know that currently the SWIR is set up to fire once every trigger pulse, while the VNIR fires fires twice every trigger pulse. If the system is rolling too quickly the trigger pulses simply overwhelm the c

[2016-12-14 19:12] smarshall-bmr commented on #67
I spoke to @solmazhajmohammadi about this. She showed me that running the scan faster does indeed start dropping frames. The cubes taken at 4cm/s are half the size of those taken at 2cm/s. Perhaps it works out that if a trigger signal is received while a frame is being taken that trigger is simply ignored? This still doesn't explain why data comes out garbled at speeds above about 12cm/s, it might

[2016-12-14 19:22] smarshall-bmr commented on #50
The current plan is that the SWIR will be used in it's current state (running in untriggered mode) to capture emergence of the wheat crop before being uninstalled; likely sometime in the second or third week of January is my best guess.

[2016-12-14 20:04] dlebauer commented on #50
@smarshall-bmr @JeffWhiteAZ 'untriggered mode' may break the hyperspectral workflow that @czender et al developed. How will the data be different? Is this a mode that we want to support in the long term, or more a short term bug that we can handle with some one-off fixes to the code.

If it is worthwhile to support this in our workflow can you please create a new issue in which we can address thes

[2016-12-14 20:19] JeffWhiteAZ commented on #50
I would prefer to see the SWIR shipped as soon as possible. It is more useful for later stages of crop development, so with luck, we can get it back in time to use on the wheat. It would be especially useful just before harvest in order to look at moisture, cellulose and lignin.
On the un-triggered mode, my understanding is that we still have exact data on the X (north-south) position, but that th

[2016-12-15 15:41] rachelshekar commented on #66
@dlebauer
This questionnaire is user friendly.
Not sure about difference between interface vs. access questions.
Lets get feedback from the team on most important questions.  We could do follow-up questionnaires for the least important.

[2016-12-15 16:27] craig-willis commented on #5
Closing this issue. Updating this documentation will likely be ongoing but can be incorporated into future tickets as needed.

[2016-12-15 16:27] #5 closed

[2016-12-15 16:40] craig-willis commented on #18
@dlebauer @rachelshekar
I'd like to close this issue and open any related issues for work that remains to be done.  I see a few different threads:

1. Defining an exchange format for traits, phenotypes, and agronomic managements, which I think is covered by the existing ICASA ontology issue (https://github.com/terraref/reference-data/issues/55)
1. Making sure specific variables are in BETYdb - it'

[2016-12-15 16:43] craig-willis commented on #54
I think this issue can be closed after we have the sensor metadata review. Additional issues can be opened to address feedback or recommended changes.

[2016-12-15 17:29] rachelshekar commented on #65
@nshakoor to share with groups and ensure that the correct identifiers are used.

[2016-12-15 17:30] dlebauer commented on #65
@nshakoor please review this list: https://terraref.ncsa.illinois.edu/bety/api/beta/cultivars?key=

[2016-12-15 17:45] dlebauer opened #68 "How to share genomic data and pipeline?"
Currently the genomic data is on Roger.

It needs appropriate metadata and registration in Clowder
* [ ] needs to link to names in cultivars table https://terraref.ncsa.illinois.edu/bety/api/beta/cultivars?key=
* [x] link to code used in the pipeline - can we put this in a repository under github.com/terraref?
* [x] update documentation https://terraref.gitbooks.io/terraref-documentation/content/p

[2016-12-15 18:57] #18 closed

[2016-12-15 18:58] #57 closed

[2016-12-15 19:07] rachelshekar commented on #66
Moved alpha tester questions to new form https://docs.google.com/forms/d/1KG65Ai0WiS9yWAK56ChHFAf3bYgdNwObkUb2JPSr_QM/edit

[2016-12-15 19:08] rachelshekar commented on #66
Under
Check any of the following interfaces that you would be likely to use to get data?
What does "just the data" mean?

[2016-12-15 20:32] dlebauer commented on #66
I see 'just the files' ... that is what we currently offer.

[2016-12-16 16:16] remotesensinglab commented on #67
Can some provide the following information?
- Lens/aperture size
- Max Frame Rate
- Shortest integration time possible?
- Possible to trigger many frames per second instead of using cm/second?

We evaluated the data scanned with 20 - 55 ms integration. Basically, the 20 or 25 ms turns out to be good based on the data I was provided. I did know other setting used for the data collection, but based

[2016-12-16 16:24] dlebauer commented on #67
@remotesensinglab we should have this in our documentation / sensor metadata. @craig-willis can you help him find it, or put it there when we get this information? And @remotesensinglab it would be great if you could review our documentation and sensor metadata to make sure we have what we need. There will be a review in January but this is the type of information that we should have available.

[2016-12-16 20:51] gsrohde commented on #63
@dlebauer Run this on the terraref database and see if the name changes look correct:
[code]
I'm assuming sitenames containing 'subplot a', 'subplot b', etc. should change even if they don't happen to be mentioned in the spreadsheet https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=879963447.

If these name changes look correct, I'll run the following upd

[2017-01-05 17:08] dlebauer opened #69 "Review alpha user sign up form"
We are preparing a form for users who want to apply for early access to data. At the same time we are trying to get an idea of expected use cases. I would appreciate feedback on, e.g.

* are any questions too open ended?
* is there anything else we should ask?
* any of the existing questions that are too redundant / should not be asked?
* can we make it sound more friendly?
* any questions that ne

[2017-01-05 20:17] solmazhajmohammadi opened #70 "Top 3D Scanner Misalignment"
Physical position of the scanner has been changed (due to temperature change or wheel replacement). this  caused the misalignment between the heading_west and heading east pointclouds.
Applying following transformation to the "Top-heading-west" pointcloud will fix it.

New offset:[-10  +42  0]

I will write a script to compensate the offset.

[2017-01-05 20:22] dlebauer commented on #70
@craig-willis is the sensor offset available in the meta-data, and if so, can we (should we) programmatically access it with related extractors? Can we assign dates for which this information is valid? What would be an appropriate protocol for updating metadata?

@solmazhajmohammadi can you work with Craig to generalize this solution?

[2017-01-05 20:31] solmazhajmohammadi commented on #70
Sure,
It has not been added to metadata yet. I'll ask Markus to add it to the metadata.
I am looking at the data to see when the misalignment occurred.

[2017-01-05 21:37] dlebauer commented on #70
@solmazhajmohammadi I am not sure if the offset _needs_ to be in the file metadata. Even though the "sensor fixed metadata" is written with each image capture, I believe it should be stored somewhere like https://github.com/terraref/sensor-metadata/blob/master/sensors/scanner3D/sensor_fixed_metadata.json or in the geostreams sensor database; @craig-willis please advise

[2017-01-06 15:59] dlebauer opened #72 "Add hyperspectral indices to BETYdb variables table"
There is a list of indices we are computing here https://github.com/terraref/documentation/blob/master/spectral_indices.md

These need to be added to the variables table in BETYdb at betydb.org and copied to terraref.ncsa.illinois.edu/bety

This is required for https://github.com/terraref/computing-pipeline/issues/183

- [x] get feedback on defining indices
- [ ] add to variables tables